[2015-05-08 09:12] mariobehling opened #1 "Please help to fill in the Readme.md with the info discussed"

[2015-05-24 04:10] championswimmer commented on #1
I have updated the README.md, please check, if I need to add further info.

[2015-05-24 04:12] championswimmer commented on #1
@mariobehling Will the scope of the webapp also include complete replacement of the functionality of the main website ?

[2015-05-24 07:26] mariobehling commented on #1
Which main website are you referring to? The best would be an app that works on desktop and mobile. We only have the orga server. This server is not intended to work for event participants. The idea is to get a JSON from the orga server and generate a web app. Does this make sense to you?

[2015-05-25 19:52] championswimmer opened #2 "fetch data from api"

[2015-05-25 19:54] championswimmer opened #3 "create initial layout"
create basic layout of the app, decide on top level navigations, details shown in lists, and details in expanded view etc.

[2015-05-25 19:54] championswimmer opened #4 "make responsive for all screen sizes"

[2015-05-28 19:47] championswimmer opened #6 "setup config.json or config.js files to declare title, api and other org specific data"

[2015-06-03 14:12] #2 closed

[2015-06-03 14:12] #3 closed

[2015-06-03 14:12] #6 closed

[2015-06-03 14:17] championswimmer opened #7 "show all fields from fetched data."
indent/style them to look good

[2015-06-03 14:24] championswimmer opened #8 "Save the data in sessionStorage or localStorage"
right now it re-fetches data on each page change which is undesirable

[2015-06-03 14:31] championswimmer opened #9 "Save the data in sessionStorage or localStorage"
right now it re-fetches data on each page change which is undesirable

[2015-06-03 14:37] championswimmer opened #10 "configure deployment with minified css and js files"

[2015-06-07 13:04] #8 closed

[2015-06-07 17:27] championswimmer opened #12 "show a loader while the json data gets fetched"
right now the `{{ codeblocks}}` look ugly untill the whole json is loaded.

Google Drive (which also uses Angular) greys out screen and shows a loader until the essential data needed to show basic ui elements are ready

[2015-06-09 07:55] championswimmer opened #13 "parse iso8601 dates to show start and end times in sessions"

[2015-06-09 10:17] #13 closed

[2015-06-09 10:19] championswimmer opened #14 "show social links of Speakers"

[2015-06-09 10:27] championswimmer opened #15 "move from ng-view to ui-view for routing"
ui-view provides more features and functionality compared to ng-view.
also, ui-view allows multiple views to be used in the page.

[2015-06-09 16:17] #7 closed

[2015-06-09 19:51] championswimmer commented on #15
done

https://github.com/fossasia/open-event-webapp/commit/025455fbc053f3f4f5a57fc2b7c3323acb4d28a9

[2015-06-09 19:51] #15 closed

[2015-06-09 23:53] championswimmer commented on #9
done https://github.com/fossasia/open-event-webapp/commit/468ee7d6df053915872f520f89f3c8e6fb58cafd

[2015-06-09 23:53] #9 closed

[2015-06-09 23:54] championswimmer opened #16 "use the version API, and re-fetch data that is stale"
currently it does not re-fetch data, if once it is loaded to localStorage

[2015-06-10 03:42] championswimmer opened #18 "show more info about session in popout dialog"

[2015-06-11 06:59] championswimmer commented on #16
As discussed with @creativepsyco not working on this now, as this would be over engineering of a simple webapp

[2015-06-11 06:59] #16 closed

[2015-06-11 07:00] championswimmer commented on #4
tested with screenfly to work with all types of screensizes, on different browsers and user agents.

[2015-06-11 07:00] #4 closed

[2015-06-11 07:03] championswimmer opened #19 "display sponsors"
possibly in cardviews or in gridlayout

https://material.angularjs.org/latest/#/demo/material.components.gridList

[2015-06-11 07:35] championswimmer opened #20 "maps fragment: show event location in open street maps"

[2015-06-13 16:27] championswimmer opened #21 "show session in day or track wise tabs"

[2015-06-13 18:43] championswimmer commented on #18
done here

https://github.com/fossasia/open-event-webapp/pull/22

[2015-06-15 13:44] #18 closed

[2015-06-15 15:37] #14 closed

[2015-06-18 11:48] #19 closed

[2015-06-19 21:01] championswimmer commented on #20
done here

https://github.com/fossasia/open-event-webapp/pull/26

[2015-06-19 21:04] championswimmer opened #27 "show more details (and format it) in the session dialogs"
we need show start,end times, duration, speakers, etc.

[2015-06-22 12:21] championswimmer opened #28 "put all custom styling into our own css"
right now there are inline style statements here and there in the html

[2015-06-22 12:22] championswimmer commented on #28
completed
https://github.com/fossasia/open-event-webapp/commit/4c58dcc78d9dcf05fef95474507a73ed3115449e

[2015-06-22 12:22] #28 closed

[2015-06-22 13:18] championswimmer commented on #27
done here

https://github.com/fossasia/open-event-webapp/commit/fbef5e1b60e13e7e4f6467c81f7bb07410c16f86

[2015-06-22 13:18] #27 closed

[2015-06-22 13:19] #20 closed

[2015-06-22 13:23] championswimmer opened #29 "show expanded dialogs for speakers"

[2015-06-25 11:07] championswimmer commented on #29
done here https://github.com/fossasia/open-event-webapp/pull/30

[2015-06-25 22:46] #29 closed

[2015-06-25 22:47] championswimmer opened #31 "add live dynamic search filter for sessions"

[2015-06-25 22:48] championswimmer opened #32 "add live dynamic search filter for speakers"

[2015-06-28 06:09] championswimmer commented on #32
Considering to use
https://github.com/mauriciogentile/angular-livesearch

[2015-07-06 23:07] #32 closed

[2015-07-06 23:08] #31 closed

[2015-07-06 23:08] championswimmer opened #35 "create provision for organiser to select color theme"

[2015-07-06 23:09] championswimmer opened #36 "create separate api adapters for testapi, static api, dynamic server api etc"

[2015-07-15 01:18] championswimmer opened #40 "write basic docs - how organiser can host/deploy the webapp"

[2015-07-25 19:21] #40 closed

[2015-07-25 19:22] championswimmer commented on #36
Currently works with testapi and staging/production api

[2015-07-25 19:22] #36 closed

[2015-07-25 19:43] championswimmer commented on #10
https://github.com/fossasia/open-event-webapp/pull/42

doing via this pull request

[2015-07-31 10:35] #10 closed

[2015-07-31 10:36] championswimmer opened #43 "provision in url to link to sessoins or speakers directly"
something like webapp/#/speakers/<speakerID>

[2015-08-09 13:17] mariobehling opened #46 "Increase sizes of social media buttons in speaker profile and other places"
Buttons are too small for mobile users.

[2015-08-09 13:54] championswimmer commented on #46
Done here https://github.com/fossasia/open-event-webapp/pull/47

[2015-08-09 14:02] mariobehling opened #48 "Implement clearer sorting of events unclear"
What is the sorting of sessions here? http://fossasia.github.io/open-event-webapp/#/sessions

A simple, but efficient way here as an example: http://2015.opentechsummit.net/programm.html

[2015-08-09 14:23] mariobehling opened #49 "Avoid popups and implement expansion instead"
Popups on phones result in additional clicks, e.g. speaker info - I have to close it in order to continue. Saving the user time is better.

Please implement expansion below the item instead. How expansion can work see here: http://2015.opentechsummit.net/programm.html

![screenshot from 2015-08-09 16 21 14](https://cloud.githubusercontent.com/assets/1583873/9155270/e3a38e4e-3eb2-11e5-89ec-9d57bd20

[2015-08-09 14:27] mariobehling opened #50 "Sidebar issues"
Not working
* [ ] back button to reduce sidebar
* [ ] slide sidebar to the left by tapping on it

[2015-08-09 14:32] mariobehling opened #51 "Improve map view in app"
Please check out how others are implementing map views e.g. Google.
Issues below. Please find more:
* [ ] use area on top, left and right in app view
* [ ] expand map to button area and avoid sidebar scrolls if it is not needed

[2015-08-09 14:56] championswimmer commented on #50
The sidebar is always open on screens wider than 960px

It can be closed when screen is smaller than that.

On 9 August 2015 at 19:57, Mario Behling <notifications@github.com> wrote:

[2015-08-09 15:18] mariobehling commented on #50
This issue relates to mobile phone usage.

[2015-08-12 02:02] creativepsyco opened #52 "Grouping Sessions by Speakers?"
### Requirements

I think when I go to speakers panel, I should be able to see what sessions that they are delivering in the event.

If there are a lot of sessions, it becomes rather difficult to see it very clearly.

[2015-08-12 20:00] championswimmer commented on #49
@creativepsyco @mariobehling

Should I remove popups for both speakers and sessions, or only speakers ?

For sessions, if I remove popups, and make expandable lists, we will lose the option to have direct URL links to sessions
like example : https://events.google.com/io2015/schedule?sid=ab8c9f91-b6d4-e411-b87f-00155d5066d7#day1/ab8c9f91-b6d4-e411-b87f-00155d5066d7

[2015-08-13 06:30] mariobehling commented on #49
I think we need to consider, what is the best interface and test on different platforms. Let's move this question to later and focus on other things first.

[2015-08-13 06:33] championswimmer commented on #43
moving to M4 as it is linked to the issue about popups vs expando

[2015-08-13 06:45] mariobehling commented on #46
I see you have the republica test data now. Good! However there are not any social media buttons now.

[2015-08-13 06:53] mariobehling opened #54 "Speakers: Implement thought through sorting, info, photo and other features"
* [x] Standard sorting of speaker should be alphabetically. Currently I do not understand what is the sorting.
* [ ] Photo missing in detail view of speakers
* [ ] No links and social channels are given
* [ ] Link to organization missing in all views
* [ ] Sessions of the speaker missing
* [ ] No sharing of social media links
* [ ] Speakers overview starts with a comma
![screenshot from 2015-08-13

[2015-08-13 06:59] mariobehling opened #55 "Tracks are not working"
No clicking possible, no information.
http://fossasia.github.io/open-event-webapp/#/tracks

[2015-08-13 07:00] mariobehling opened #56 "No sponsors info provided"
If there is no sponsors info in redata file, please add sample data. If there are sections missing, please propose.
http://fossasia.github.io/open-event-webapp/#/sponsors

[2015-08-13 07:05] mariobehling opened #57 "Map and Location Info"
Can you confirm, that you get the map info from the redata file of republica? What additional location info is provided?

How can additional info be provided, possibly in subtabs?
* [x] address
* [ ] how to get there
* [ ] possible links to public transport
* [ ] link to the venue home page
* [ ] microlocations with layout and additional information e.g. address/how to get there

[2015-08-13 07:10] mariobehling opened #58 "grouping and sorting of sessions"
The overview misses important information.
* [x] date
* [x] speakers (+link to speaker)
* [x] language
* [x] type
* [x] level

What is the sorting of sessions?
* [x] They could be sorted by time and date. Currently, I do not recognize what is the sorting.

Please compare with RP:
![screenshot from 2015-08-13 09 07 52](https://cloud.githubusercontent.com/assets/1583873/9244371/dfcf1b22-419a-11e5-95

[2015-08-13 07:16] mariobehling opened #59 "Detail View of Sessions lacking info"
Missing info:
* [x] Type
* [x] Date
* [ ] Microlocation
* [ ] Social Sharing links
* [ ] Speaker info and photo, link to website

As an example please compare with:
![screenshot from 2015-08-13 09 13 28](https://cloud.githubusercontent.com/assets/1583873/9244453/9a8afa9e-419b-11e5-99be-40a0664572a0.png)
https://re-publica.de/session/purpose-entry

[2015-08-13 08:33] championswimmer commented on #46
Because the data returned from the json doesn't have the social links
anymore.
On 13-Aug-2015 12:15 pm, "Mario Behling" <notifications@github.com> wrote:

[2015-08-13 08:35] championswimmer commented on #57
Re data has a couple of PNG files for data about locations INSIDE the
venue.

The main location data is only name of place and lat,long
On 13-Aug-2015 12:35 pm, "Mario Behling" <notifications@github.com> wrote:

[2015-08-13 08:45] mariobehling commented on #57
Thanks for the info. Please ensure, that the relevant data is shown on the app. Please also refer to the original FOSSASIA app to see what kind of data is displayed. It is important that participants see how to get to each session.

[2015-08-13 08:47] mariobehling commented on #46
The relevant data is shown on the republica site. I wonder where the data comes from. If these fields are missing, please propose a change to the redata format and create a fork implementing necessary changes.

[2015-08-15 20:30] championswimmer commented on #58
The overview wouldn't have detail data like speaker name, location etc. But it needs to be grouped and sorted properly.

[2015-08-15 20:31] championswimmer commented on #48
It is addressed here
https://github.com/fossasia/open-event-webapp/pull/61

[2015-08-15 20:32] championswimmer commented on #21
addressed here https://github.com/fossasia/open-event-webapp/pull/61

[2015-08-15 20:32] #21 closed

[2015-08-16 02:21] creativepsyco opened #62 "Loaders are cheap, use `em"
After adding re:Data format, the payload has suddenly increased, the web app client hangs a bit when switching from Sessions to Speakers and so on.

* Page the API to retrieve X items and then keep refreshing when the person scrolls to bottom.
* Show a loader progress circular bar, to tell the user that a refresh is ongoing
* On switching tabs, perhaps cancel the request to load?

[2015-08-16 04:05] mariobehling commented on #58
Sure, the overview needs details like location and time. It does not need the detailed description. Please see the RP example.

[2015-08-16 04:08] mariobehling commented on #46
This issue has not been solved. Please cooperate with @rafalkowalski until the data is displayed.

[2015-08-16 04:10] mariobehling commented on #48
Has this been deployed? Please describe how this has been implemented and provide a screenshot. I do not see that this is fixed on the test site.

Additional point: It is loading very slow.

[2015-08-16 09:04] championswimmer commented on #48
I'll update the test site.

For loading I'll open a new issue. Mohit has already mentioned that in his
comment and suggested a way to do it. I'll do so accordingly.
On 16-Aug-2015 9:40 am, "Mario Behling" <notifications@github.com> wrote:

[2015-08-16 14:56] championswimmer commented on #58
Yes but Google IO shows only Event title. It shows details only on clicking the session and opening dialog.

Why do we have to make the UI exactly like re:Publica ?

[2015-08-16 16:24] mariobehling commented on #58
It's not about the UI. As you can see Google IO also has info about date and time and additional features like adding talks to a list. What cool features are in the web app? Hope to see something.

[2015-08-16 16:34] championswimmer commented on #48
@mariobehling

Updated here http://fossasia.github.io/open-event-webapp/#/sessions

Segmentation by day is done. Loading is still slow, it'll improve once we
have pagination done. :)

On 16 August 2015 at 14:34, Arnav Gupta <championswimmer@gmail.com> wrote:

[2015-08-19 17:54] championswimmer commented on #12
done here https://github.com/fossasia/open-event-webapp/pull/64

[2015-08-19 17:54] #12 closed

[2015-08-19 17:54] championswimmer commented on #62
implemented here https://github.com/fossasia/open-event-webapp/pull/64

[2015-08-19 19:44] championswimmer commented on #58
sorting is implemented via this https://github.com/fossasia/open-event-webapp/pull/65

[2015-08-19 19:45] championswimmer commented on #54
sorting is implemented via pull req https://github.com/fossasia/open-event-webapp/pull/65

[2015-08-19 19:46] championswimmer commented on #48
https://github.com/fossasia/open-event-webapp/pull/65

[2015-08-19 19:46] #48 closed

[2015-08-19 19:47] championswimmer commented on #57
merging https://github.com/fossasia/open-event-webapp/issues/51

Please check out how others are implementing map views e.g. Google.
Issues below. Please find more:
* [ ] use area on top, left and right in app view
* [ ] expand map to button area and avoid sidebar scrolls if it is not needed

[2015-08-19 19:48] championswimmer commented on #51
merged into https://github.com/fossasia/open-event-webapp/issues/57

[2015-08-19 19:48] #51 closed

[2015-08-24 20:57] championswimmer opened #67 "sessions are blank after refreshing website once"

[2015-08-24 20:59] championswimmer commented on #67
fixed via https://github.com/fossasia/open-event-webapp/pull/68

[2015-08-24 21:07] creativepsyco commented on #67
please dont close issues if the the PR is not merged yet.

[2015-08-24 21:41] championswimmer commented on #59
type and date added here https://github.com/fossasia/open-event-webapp/pull/69

[2015-08-24 21:42] championswimmer commented on #58
language type and level added here https://github.com/fossasia/open-event-webapp/pull/69

[2015-08-24 21:42] championswimmer commented on #54
details of speaker in speaker dialog being added here https://github.com/fossasia/open-event-webapp/pull/69

[2015-08-24 22:29] #67 closed

[2015-08-28 19:48] championswimmer commented on #59
speaker names added here
https://github.com/fossasia/open-event-webapp/pull/70

[2015-08-28 19:48] championswimmer commented on #58
speaker name added here https://github.com/fossasia/open-event-webapp/pull/70

[2015-08-28 20:13] #50 closed

[2015-08-28 20:41] championswimmer commented on #56
sponsor info is available in sample data

http://fossasia.github.io/open-event-webapp/#/sponsors

[2015-08-28 20:41] #56 closed

[2015-08-28 20:54] championswimmer commented on #35
solved via https://github.com/fossasia/open-event-webapp/pull/72

[2015-08-28 20:55] #35 closed

[2015-08-28 21:48] championswimmer commented on #58
location support will be added when orga-server supports location data

[2015-08-28 21:48] #58 closed

[2015-09-12 08:43] SaptakS commented on #55
I would like to fix this bug. I have seen that it is not possible to click and there is no information either. Where do I get the information to be put there and will an accordion be fine?

[2015-09-12 10:05] championswimmer commented on #55
An array of sessions is saved in the $sessionStorage.sessions object. We
need to get sessions from there, and filter then according to the track.

On 12 September 2015 at 14:13, Saptak Sengupta <notifications@github.com>
wrote:

[2015-09-12 18:48] SaptakS commented on #55
You mean, when I click a track, I need to show only the sessions corresponding to the track?? Something like that??

[2015-09-12 19:04] championswimmer commented on #55
Yes exactly.

note: for later:
Also I want to revisit the way we save the data. Maybe it is not the most
efficient, but yes for now, showing the sessiosn that have the given track
X in it's "tracks" field should be shown when we click on a track

On 13 September 2015 at 00:19, Saptak Sengupta <notifications@github.com>
wrote:

[2015-09-12 19:25] SaptakS commented on #55
Ok.. I will send a pull request after I do it. I will ask again if I face any problem.

[2015-09-13 04:06] SaptakS commented on #55
I have one more doubt. As I see, the sessions have a title, a type, language and a speaker.. I don't see anything related to tracks. So what exactly do I need to match with the track? Should I add a category all together to the sessions which I can compare with the tracks?

[2015-09-13 15:49] leto commented on #55
Howdy,

The API JSON response data for a session should contain some kind of
session identifier which tells the track that the session is a part of. If
not, it should.

Hope that helps,

Duke

On Sat, Sep 12, 2015 at 9:06 PM, Saptak Sengupta <notifications@github.com>
wrote:

--
Jonathan "Duke" Leto <duke@leto.net>
Leto Labs LLC http://letolabs.com
209.691.DUKE http://duke.leto.net
@dukeleto http:

[2015-09-13 18:04] championswimmer commented on #55
http://openevent.championswimmer.in/api/v1/event/1/sessions/page/2

Yeah currently they are all coming out to be null.

I think you this needs be an issue flagged up on
https://github.com/fossasia/open-event-orga-server

On 13 September 2015 at 21:19, Duke Leto <notifications@github.com> wrote:

[2015-09-24 06:11] SaptakS commented on #55
on updating bower and deploying the project, i get this error:
Error: [$injector:modulerr] Failed to instantiate module openevent due to:
[$injector:modulerr] Failed to instantiate module leaflet-directive due to:
[$injector:modulerr] Failed to instantiate module nemLogging due to:
[$injector:nomod] Module 'nemLogging' is not available! You either misspelled the module name or forgot to load it. I

[2015-09-24 06:50] SaptakS commented on #55
Fixed the issue. Needed to add angular-simple-logger as a dependency.

[2015-09-24 18:08] SaptakS commented on #55
I am facing a problem. Though the above issue has been resolved in the above mentioned repo, but when I deploy my local repo, it still doesn't show any change.

The values have changed here http://openevent.championswimmer.in/api/v1/event/1/sessions
But when I open the website, it still shows null track. Am I missing something?

[2015-09-24 23:01] SaptakS commented on #55
fixed here https://github.com/fossasia/open-event-webapp/pull/75

[2015-10-01 12:05] SaptakS commented on #52
We can show the sessions every speaker is addressing in the popup.

[2015-10-06 03:51] creativepsyco commented on #52
@SaptakS yes please go ahead. Do you have a screenshot?

Lazily loading a div below the speaker bio to show what he/she is presented in the form of small cards. Also will be better if we can make it a separate controller that way we can place it wherever we show speaker information. Shall I assign this ticket to you?

Something like
![image](https://cloud.githubusercontent.com/assets/547235/102997

[2015-10-06 04:56] SaptakS commented on #52
What I have made is something like this:
![screenshot from 2015-10-06 10-24-41](https://cloud.githubusercontent.com/assets/9530293/10300483/8dd6d8ce-6c14-11e5-9c79-8ad47ec8279a.png)
What you are saying can also be done. I would be happy if you assign it to me.

[2015-10-06 07:20] creativepsyco commented on #52
Cool! Sounds good @SaptakS. I think just a small card layout with session title and time is okay. And upon clicking it sends you to the linked session.

[2015-10-06 07:30] SaptakS commented on #52
Ok. Sounds good to me.

[2015-10-06 14:33] SaptakS commented on #52
For the time being there is no image corresponding to sessions. So I am only showing the title.

[2015-10-06 14:46] creativepsyco commented on #52
Sounds good to me.

[2015-10-06 14:48] SaptakS commented on #52
https://github.com/fossasia/open-event-webapp/pull/77 Please check.

[2015-11-26 14:47] SaptakS commented on #55
I guess this issue is fixed?

[2015-11-26 14:49] SaptakS commented on #52
I think this issue was fixed..

[2015-11-27 01:57] creativepsyco commented on #52
ok closing it down. Cheers!

[2015-11-27 01:57] #52 closed

[2015-11-27 01:58] creativepsyco commented on #55
This has been fixed by @SaptakS.
Cheers!

[2015-11-27 01:58] #55 closed

[2015-11-29 10:34] championswimmer opened #79 "let organiser chose his font"
Ideal case : Organiser should be able to set font in one place in config, and it gets changed everywhere

For now: Just extend the main css with coverage for all main classes and apply fonts on them.
Changing fonts will have to work by Find&Replace All across the css.

[2015-11-29 10:37] championswimmer opened #80 "add support as hosted webapp"
We'll be needing webmanifests to make this supported as a hosted webapp.

There are three ways "hosted" webapps are packaged.
Firefox uses manifest.webapp
Chrome uses manifest.json

And there is an upcoming w3c standard for manifest.webmanifest that is to support progressive webapps.

[2015-11-29 10:57] creativepsyco commented on #80
Why is it needed, is it for the purpose of packaging it as a stand alone app?

[2015-11-29 10:59] creativepsyco commented on #79
I think we probably need a simplified styling approach: fonts, colors, headings etc. all can be defined by a config file which can be injected into Sass etc during css generation & would make for a better approach. What do you think? Is it achievable? I kind of feel the styles on the website could use a little bit of uplift.

[2015-11-29 12:41] championswimmer commented on #80
I feel it will have a good thing to have. Having the said manifests, make
the app "look like" its a packaged app.

If the user goes to the site twice, Chrome asks 'Do you want to add a
shortcut to Desktop'. Firefox OS will do the same. Opera and Safari on iOS
supports too.

Basically it's taking a cue from the Progressive Web Apps article Mario
shared some time back.
It allows partial features of

[2015-11-29 13:09] mariobehling commented on #80
Yes, I think it is a great idea.

[2015-11-29 21:23] leto commented on #79
:+1: to making the font configurable easily in a config file. Also we may want to look into including the iconic font Font-Awesome by default: https://fortawesome.github.io/Font-Awesome/icons/

[2015-11-30 02:04] creativepsyco commented on #79
Sounds good :+1:

[2015-11-30 05:00] SaptakS commented on #79
I would like to do this fix.

[2015-11-30 18:16] nikunjness commented on #80
I'm including task for this in GCI task list.

[2015-12-06 13:41] SaptakS commented on #79
Should I generate a separate .css file from sass or should I change in the leaflet.css using sass?

[2015-12-06 13:45] creativepsyco commented on #79
upto you, whichever you think is easier to implement and has more impact, you can imagine that one one organization can organize multiple events, so I would suppose that sass can help, using some variables etc.

[2015-12-06 14:12] SaptakS commented on #79
Yeah I am doing in sass/scss for the purpose. I will read from the config.js the theme they want and then accordingly set the variables in sass. And then inject using gulp. Sounds ok?

[2015-12-06 14:24] creativepsyco commented on #79
yep sounds okay.

[2015-12-06 16:35] championswimmer commented on #80
@nikunjness  Have you added to task list ? Could you add me as mentor to it too

[2015-12-06 16:37] nikunjness commented on #80
@championswimmer yes, I did. I will add you as a mentor.

[2015-12-06 18:14] championswimmer commented on #79
@SaptakS  leaflet.css is for the leaflet module. We are using main.css for our webapp. Do not modify any css we are importing from the modules.

[2015-12-06 18:38] championswimmer opened #81 "provision to add event logo"
Top left, beside the event name.

[2015-12-06 23:03] SaptakS commented on #81
Isnt this same as https://github.com/fossasia/open-event-orga-server/issues/98 ?

[2015-12-09 02:20] MaxBorsch opened #83 "Unnecessary Margins in Sessions/Speakers details"
<b>Summary</b>
When you navigate to the Sessions or Speakers page and then select one of the listed speakers/sessions, extra details will pop up. The details view has an extra empty h2 tag that adds unnecessary margins above and below itself. I noticed that the Track details also has this, however the h2 tag in the Track details has text in it, so the margins look OK. I have included images showin

[2015-12-12 18:06] aayusharora commented on #83
Hi @MaxBorsch I want to work on this bug. Can you assign it to me ?

[2015-12-12 18:11] MaxBorsch commented on #83
Ok, how do you assign an issue? (I¹m not very familiar with GitHub)

From:  aayusharora <notifications@github.com>
Reply-To:  fossasia/open-event-webapp
<reply+002ca029781f652778424c384a841f1bff911fdb2664d99c92cf000000011284242d9
2a169ce073889ef@reply.github.com>
Date:  Saturday, December 12, 2015 at 1:06 PM
To:  fossasia/open-event-webapp <open-event-webapp@noreply.github.com>
Cc:  Max Borsch <ma

[2015-12-12 18:13] nikunjness commented on #83
Hi @aayusharora,

@mariobehling or @creativepsyco will be able to assign this to you. Are you GCI student? because there's task to fix this bug in GCI.

[2015-12-12 18:23] aayusharora commented on #83
No,I am not a GCI student .

[2015-12-12 22:20] PiotrKowalski commented on #83
I'd like to do it. But I've got claimed another task. What should I do it? Wait to review claimed task?
I've just solved problem only thing is to pull request

[2015-12-12 22:42] PiotrKowalski commented on #83
Indeed, you think about it? http://scr.hu/3e1h/ryii6
 I will repair this. Give me a sec.

[2015-12-12 23:52] MaxBorsch commented on #83
I have it fixed (hopefully) and pull requested. You probably shouldn't spend time on tasks that you haven't claimed yet. Also it wasn't the CSS that was the problem, you had to do a small angular fix.

[2015-12-12 23:56] PiotrKowalski commented on #83
Oh, okey. Could you tell me where you fixed ? You know I would like to know where I should have repaired it

[2015-12-12 23:58] MaxBorsch commented on #83
You can check what I changed by looking at my pull request and clicking "Files Changed" it will show you what I changed.

[2015-12-13 10:39] championswimmer opened #88 "make this available via bower and npm"
would be cool to have it that way

[2015-12-16 10:27] championswimmer commented on #80
This is at a nominal level done. The webapp works as a hosted webapp. Some rough edges are there, and more metadata needs to be added to the manifests, but I am closing the issue

[2015-12-16 10:27] #80 closed

[2015-12-20 16:36] championswimmer opened #94 "When installed to home screen (via Chrome on Android), it launches in landscape mode"
Should not be frozen to landscape mode, and rotate with the device.

[2015-12-21 13:48] aayusharora commented on #49
Hi, @mariobehling ,I want to work on this bug. Can u assign it to me?

[2015-12-21 19:09] championswimmer commented on #49
You can work on this regardless of who it is assigned to ;)

On 21 December 2015 at 19:19, aayusharora <notifications@github.com> wrote:

[2015-12-21 19:19] aayusharora commented on #49
Thanks @championswimmer ,can you describe about the problem we are facing in removing popup from sessions?

[2015-12-23 05:40] SaptakS commented on #49
I agree with @championswimmer that if we use expansion instead of popups for sessions, we wont be able to give direct url links to a particular session.

[2015-12-23 18:56] aayusharora commented on #49
Hi @championswimmer  ,should it be done same for other pages ..like speakers .Also what about the sponsor page ,it is also like them ,should it also be changed?

[2015-12-23 18:58] aayusharora commented on #49
I totally agree @SaptakS  ,but we can keep it as a design as suggested by @mariobehling .

[2016-01-04 10:37] shiftsayan opened #100 "Improve visibility of search box's label after being selected"
<img width="955" alt="screen shot 2016-01-04 at 4 00 16 pm" src="https://cloud.githubusercontent.com/assets/8451336/12087928/f8e3594c-b2fc-11e5-8594-c3c54edcc029.png">

The text above search box "Search by Title" is not visible on the white background because of the yellow font colour.

Similarly for Day 2, Day 3, etc.

[2016-01-04 10:43] shiftsayan opened #101 "Remove additional scroll bar in the sessions column"
<img width="969" alt="screen shot 2016-01-04 at 4 09 52 pm" src="https://cloud.githubusercontent.com/assets/8451336/12088011/a9ab0298-b2fd-11e5-9deb-0e72d87877e6.png">

There are 2 scroll bars in the sessions column. One of them only scroll down to hide the search bar, and not navigate through the entire schedule. Navigating through them can be difficult, especially on touch screen devices. It cou

[2016-01-04 10:50] shiftsayan commented on #101
Could leave you in this condition:
<img width="1280" alt="screen shot 2016-01-04 at 4 19 55 pm" src="https://cloud.githubusercontent.com/assets/8451336/12088195/1005b730-b2ff-11e5-96d6-5c708c4f25a5.png">

[2016-01-05 15:53] abhibansal530 commented on #101
Do we have to remove external scroll bar?

[2016-01-06 08:48] shiftsayan commented on #101
I guess, so that we have a scroll bar for the posts and as static search bar.

[2016-01-06 14:30] abhibansal530 commented on #101
But there's no issue if we use chrome.

[2016-01-06 14:36] shiftsayan commented on #101
I was using Chrome for OS X

[2016-01-06 15:04] abhibansal530 commented on #101
But as u can see in image it works fine on my system(Ubuntu).

[2016-01-06 15:06] shiftsayan commented on #101
I am assuming that is due to the screen size. You must be having a larger display than I do.

[2016-01-06 15:40] abhibansal530 commented on #101
So what to do for this issue?

[2016-01-06 18:10] shiftsayan commented on #101
I guess we could improve on the viewport mechanics.

[2016-01-06 18:17] abhibansal530 commented on #101
Sorry,but i did not get you?What do you mean by viewport mechanics?

[2016-01-06 18:18] shiftsayan commented on #101
Since the problem is occuring on smaller screens, this would be due to the mobile optimisation, which can be improved.

[2016-01-06 18:22] abhibansal530 commented on #101
Are you on irc?I would like to talk to u there.

[2016-01-13 14:03] #100 closed

[2016-01-14 18:24] shiftsayan commented on #101
Hey @abhibansal530
Sorry for the late response. I am on IRC. What is your name?

[2016-01-15 13:02] abhibansal530 commented on #101
@shiftsayan my nickname is abhibansal53

[2016-01-24 09:32] creativepsyco opened #106 "Accept rating for talk."
Allow user to rate a session and provide feedback.

Will require some sort of authentication, fb, google, twitter etc.

[2016-02-03 06:02] SilentFlame commented on #94
@championswimmer
Anyone working on this issue?

would like to work.

[2016-02-03 08:27] SaptakS commented on #106
I would like to work on this. I guess the authentication part will be done using the open-server repo if I am not wrong.

[2016-02-03 08:31] SaptakS commented on #88
Yeah. I agree. This will require signing up [https://www.npmjs.com/signup](here) I think. Would love to add this.

[2016-02-04 14:52] vjs3 opened #107 "Day header is overlapping the slider"
In the sessions tab of the web app header named Day 2 is overlapping the smaller slider.I have seen this issue in google chrome (in linux).
I am attaching screenshot for more clear understanding of the issue.
![openevent - google chrome_002](https://cloud.githubusercontent.com/assets/11405622/12818478/0e7d2452-cb7d-11e5-9f71-0834a678b9a6.png)

[2016-02-05 21:26] tarun14110 commented on #101
@shiftsayan  Are you still working on this issue ? I would like to work on this.
.

[2016-02-05 21:44] tarun14110 commented on #107
I think this is intentionally done. So that a user can scroll without caring to remember the day. At any point of time he can have a look over above and get an idea, where he is.

[2016-02-05 21:46] vjs3 commented on #107
Yes I know but my issue is different, it says that day header is
overlapping the scrollbar itself which should not happen.

[2016-02-10 13:06] NRDa27 commented on #54
I would really like to work on implementing these features.

[2016-02-11 11:01] aayusharora commented on #107
@vjs3 ,I got your issue.Working on it.

[2016-02-11 11:06] aayusharora commented on #107
fixed here ,#108

[2016-02-11 11:28] rajansavaliya commented on #107
Please tell me how to open .js file. I am opening it in chrome and it is not displaying as you put photo. It is just displaying code

[2016-02-16 11:56] AmayAgrawal commented on #106
I think that we can first log in the user using any ine of the above option.Is authentication be done here or the open-server.

[2016-02-16 12:15] creativepsyco commented on #106
you can login the person through any means on the client side, be it
google-auth, or github/twitter etc. but the server should only care about
the email address, that's unique enough for the identification of the
review/rating.

[2016-02-16 23:03] AmayAgrawal commented on #106
I have almost done this .I have added a functionality which authenticates user using google and redirects to new page where the user can rate the individual talk and provide feedback.After this what I have to do.I have to directly put into database or what this feedback and rating??

[2016-02-17 04:11] creativepsyco commented on #106
Here is a diagram of how all this fits together

The server does not care how you authenticate the user, it is just interested in the session review and the email of the user which is submitted via the client only after the user has authenticated through some means at the client side. It can be github, google, or any other form of oauth 2.0 relevant signin. I am sure there are packages and open so

[2016-02-17 08:04] AmayAgrawal opened #109 "Empty details of speaker"
![screenshot from 2016-02-17 13 32 29](https://cloud.githubusercontent.com/assets/12967238/13103271/f9d861d0-d57a-11e5-88fe-40fb8f668132.png)

As can be seen in the above screenshot in most of the speaker details, Sessions and the social links field is still empty.

[2016-02-17 09:19] SaptakS commented on #109
That is because the json data served from the server doesn't have any session or social link data associated with that specific speaker.

[2016-02-17 18:15] AmayAgrawal commented on #109
So this is basically be done after open server one adds the json data to it.Am i right??

[2016-02-17 20:02] SaptakS commented on #109
Yes.

[2016-02-19 14:44] AmayAgrawal opened #112 "Not able to see title"
![screenshot from 2016-02-19 20 10 53](https://cloud.githubusercontent.com/assets/12967238/13178453/fcfea290-d744-11e5-84ed-ca498c903877.png)

As can be seen from above screenshot ,when we open a particular session having large amount of information then we can see data like abstract ,speakers,description etc by scrolling up and down but in such cases we are not able to view title at all.

[2016-02-19 14:48] #112 closed

[2016-02-19 17:50] AmayAgrawal commented on #54
almost all the things have been updated here #111 .Only speaker sessions is left.

[2016-02-19 17:51] AmayAgrawal commented on #46
I have added much data here #111 .

[2016-02-19 17:54] AmayAgrawal commented on #49
So basically we have to remove pop-up or let it be as it is.

[2016-02-20 05:18] sudheesh001 opened #113 "Update sponsors test data with the new google logo"
This is a beginner bug to help the new contributors get started to the open-event-webapp codebase. The sponsors page contains the logo of mozilla and google.

Replace the logo with the latest logo.

Reference line: https://github.com/fossasia/open-event-webapp/blob/4f9a7463e4a1bcf78ad36a32544657d2a0fb04e2/testapi/event/1/sponsors#L6

Easy patch.

[2016-02-20 07:08] #113 closed

[2016-02-20 07:36] sudheesh001 opened #115 "Add gitter room link as banner in the readme"
Gitter room: https://gitter.im/fossasia/open-event-webapp

Add it as a banner. Here's a banner cheatsheet http://ricostacruz.com/cheatsheets/badges.html

Banner should look like
[![Gitter chat](https://badges.gitter.im/fossasia/open-event-webapp.png)](https://gitter.im/fossasia/open-event-webapp "Gitter chat")

[2016-02-20 07:48] daminisatya commented on #115
@sudheesh001 I found the banner link in the read me section.
![selection_014](https://cloud.githubusercontent.com/assets/6227784/13195277/64d4040c-d7d4-11e5-9a9f-c5a1ff31863c.png)

[2016-02-20 08:55] #115 closed

[2016-02-20 08:56] sudheesh001 commented on #115
False report sorry. Missed looking at it.

[2016-02-20 11:54] daminisatya commented on #83
I din't get the exact bug. PFA.
![selection_022](https://cloud.githubusercontent.com/assets/6227784/13196539/90bf5040-d7f6-11e5-8fdc-418da52ccd68.png)
![selection_023](https://cloud.githubusercontent.com/assets/6227784/13196540/97606682-d7f6-11e5-94da-13c9f2422ef3.png)

The dialog box in tracks section has an extra space between the crumbs and the title. It was left out for subtitle. But I put an

[2016-02-20 18:09] #83 closed

[2016-02-20 19:04] AmayAgrawal commented on #57
I think that you are talking for something lke this.
https://re-publica.de/en/getting-there

[2016-02-20 19:29] SaptakS commented on #49
That is what we were discussing on. Would really like to know your viewpoint as well. @championswimmer @mariobehling any further thoughts on this issue?

[2016-02-21 00:00] AmayAgrawal commented on #49
I think also the pop-up looks good as we can direct url to particular session.We can implement something new particularly for mobile.Otherwise from pc point of view it sounds good.

[2016-02-21 12:29] championswimmer commented on #49
I personally feel from a UX point of view, the popups are better. Plus
direct URLs work.

On 21 February 2016 at 05:30, Amay Agrawal <notifications@github.com> wrote:

[2016-02-22 13:17] SaptakS commented on #49
@championswimmer +1 on that

[2016-02-23 12:30] AmayAgrawal commented on #59
So from where can I get the location that where a particular session is going to held.I have seen the microlocation file.At present it consists of three locations "stage 2","stage 7","hall 3".So can u please let me know how to implement this.Also I am working on option of social link sharing.

[2016-02-23 18:13] daminisatya opened #116 "Inconsistency among the scroll bar's position"
When you check out the sessions page, speakers page and tracks page. The scroll bars seem to be dependant on the other page's scroll position. When you scroll the bar to a particular position in one page, the position of the scroll bars in the other two are changed inconsistently.

Steps to reproduce
------------------------
1. Make sure all the scroll bars are at the top.
2. Go to sessions page a

[2016-02-24 07:13] SaptakS commented on #79
I guess this issue has already been resolved during GCI. #89

[2016-02-24 07:25] SaptakS commented on #116
I think this is because the scroll is in the entire right container and not particular to the controllers being loaded. For Session page we can handle this by hidding overflow in the parent container and letting the md-content loaded from session have the overflow. For Speakers, Tracks, we need to change the format of md-content to achieve this. @championswimmer @creativepsyco opinion?

[2016-02-24 12:52] AmayAgrawal opened #118 "Left Navigation Bar not proper."
![screenshot from 2016-02-24 17 57 57](https://cloud.githubusercontent.com/assets/12967238/13285408/74a07312-db20-11e5-95e8-e529449f9ac1.png)

As seen in the above screenshot I am at present in the sessions section.Now in the second  image I swap to the track section.

![screenshot from 2016-02-24 17 58 56](https://cloud.githubusercontent.com/assets/12967238/13285812/de6144a0-db22-11e5-805a-1d417a

[2016-02-26 11:56] AmayAgrawal commented on #49
I think that direct URL's of speaker as well as sessions is very useful.Because if we are seeing a information about particular session,then in the speaker section it should contain the speaker name as well as on clicking the link it should take on the information page about that speaker.

[2016-02-26 18:33] aayusharora opened #120 "Error in Terminal ,figure out one basic sass error in gulp"
![Uploading error.png…]()

[2016-02-26 18:46] #120 closed

[2016-02-26 18:49] aayusharora opened #121 "Error in Terminal ,figure out one basic sass error in gulp"
![1](https://cloud.githubusercontent.com/assets/12194719/13361947/c1c7276c-dce7-11e5-9ff8-3c16e7f25a36.png)

[2016-02-27 14:12] aayusharora opened #123 "UX issue in search By Title, Search By Speaker"
![2](https://cloud.githubusercontent.com/assets/12194719/13373314/3a3163fa-dd8a-11e5-8618-1d22716a382e.png)

[2016-02-27 14:16] aayusharora commented on #123
Is their a need to show Day3 , Day4, even if the search item is in Day2 only. I think only the valid information should be there. For example: Here String match is only with Day 2 ,so Day3 and Day4 must be hidden.

[2016-02-27 15:03] SaptakS commented on #123
I guess we shouldn't show the info which is not required. @creativepsyco

[2016-02-29 19:46] aayusharora commented on #123
Solved here #124

[2016-02-29 19:47] aayusharora commented on #123
![correct](https://cloud.githubusercontent.com/assets/12194719/13406777/5bd375b2-df4b-11e5-8707-2acd6095ad21.png)

[2016-02-29 19:50] aayusharora commented on #121
solved here #122

[2016-03-03 06:49] aayusharora opened #126 "Apple IPhone4 Responsivity check failed"
![apple iphone4](https://cloud.githubusercontent.com/assets/12194719/13486795/3305162c-e13a-11e5-80e7-262e084f162d.png)

[2016-03-03 06:50] aayusharora commented on #126
Overlapping of Language with Type and Level

[2016-03-05 14:42] championswimmer opened #127 "Port to Angular2"
Just putting this here. Let's just first discuss this. This will be **MAJOR WORK** so no jumping the gun on this. Plus it won't be considered acceptable to lose any functionality that the existing Angular1 app already has

[2016-03-05 14:48] aayusharora commented on #127
@championswimmer,I was having the idea to shift the app to Angular2.After research ,I found out Angular Material which is used here with Angular 1 is still in development phase I'm Angular2.

[2016-03-05 15:09] championswimmer commented on #127
It is not imperative to **have to** use the same UI.
It is important to match up the feature set only

[2016-03-06 12:53] SilentFlame commented on #118
@AmayAgrawal can you please tell me how to run the app locally, as I have made changes as per to resolve this issue but unable to test if I'm right or not.
Please help.

[2016-03-06 13:00] aayusharora commented on #118
@SilentFlame, after cloning the repository, go to open-event-webapp and run command gulp ,if you don't have dependencies installed ,you have to first take them through gulp.

[2016-03-06 13:00] #79 closed

[2016-03-06 13:16] SilentFlame commented on #118
@aayusharora facing problem in setting gulp.
on
`$> npm install gulp-install` I got
[code]
and on
`$> gulp` I got
[code]

Unable to understand.

[2016-03-06 13:27] championswimmer commented on #118
sudo npm install -g gulp

That way you can use gulp as a command

On 6 March 2016 at 18:46, Vinay Singh <notifications@github.com> wrote:

[2016-03-06 13:40] SilentFlame commented on #118
@championswimmer thanks as gulp now is set.
but got this output on running that.
[code]
and terminal stopped at a halt.
and on ` http://localhost:8080` its `unable to connect`.
can you please have a look.

[2016-03-06 13:41] championswimmer commented on #118
Reinstall sass on your system.

Issue with your node plugins

On 6 March 2016 at 19:10, Vinay Singh <notifications@github.com> wrote:

[2016-03-06 13:44] aayusharora commented on #118
@championswimmer ,@SilentFlame ,there is no issue with the plugins ,I got the same one at first time ,marked it here Error in Terminal ,figure out one basic sass error in gulp #121.

[2016-03-06 13:46] aayusharora commented on #118
It will be solved after merging of PR #122, @SilentFlame ,you can continue ,it will not hamper.

[2016-03-06 13:47] SilentFlame commented on #118
@aayusharora yes I saw that, but is it resolved as in the PR i saw some comments not conforming that.
@championswimmer  still the problem pertains, after reinstalling the `sass` via npm.

please provide suggestions.

[2016-03-06 22:14] manipalsingh013 opened #129 "Unable to close some sessions dialog box"
When right slider is not at top, unable to close some sessions as close button is not in screen view and there isn't any way to scroll it up.

To reproduce:
1. Go to Sessions
2. Click on some session, I tried "Finding Europe: Collaborative Journalism in Times of Crisis"

Found this in Firefox when the zoom level is set to 100%
![screenshot from 2016-03-07 03 37 06](https://cloud.githubusercontent.

[2016-03-06 22:21] manipalsingh013 commented on #129
Basically I'm unable to scroll with the dialog box open. So some text is also not viewable, in this case can't see any Speakers name(although when I zoom out to like 30%, 5 speakers were there).

[2016-03-07 04:13] aayusharora commented on #123
@championswimmer ,Its good to close , PR merged already #124

[2016-03-07 10:45] AmayAgrawal commented on #129
@manipalsingh013 Try it on the http://fossasia.github.io/open-event-webapp/#/sessions.I know that u must have tried it on your local server but by some reasons it is not display properly in local server but it is properly displaying here.You can check it out whichever session u want on the main link given above.

[2016-03-07 11:18] manipalsingh013 commented on #129
@AmayAgrawal I tried it on the link that you gave and yes its working fine there, any possible reason for such behavior on localserver? is it using some different branch?

[2016-03-07 16:41] ashutoshsaboo commented on #81
@championswimmer Hi! Is this issue fixed? I would like to work towards solving this! :)

[2016-03-08 08:19] ashutoshsaboo commented on #46
Is this issue solved @mariobehling ? Can I work towards this?

[2016-03-08 08:24] ashutoshsaboo commented on #118
@SilentFlame You can try executing `sudo npm install` in the directory of the cloned repo of `open-event-webapp`. Also, did you attach `sudo` to all commands while installing gulp and other modules? Try doing with `sudo` once maybe.

[2016-03-08 09:51] SaptakS commented on #46
@AmayAgrawal you can change the data in testapi for testing purpose but I guess that doesn't solve the problem of why the data is not available if its shown in republica site.

[2016-03-08 10:29] aayusharora commented on #118
@SilentFlame ,the comments there are not remove one file main.css which gets generated automatically on starting gulp.Otherwise ,the pull-request and issue looks perfect to me.
@championswimmer suggestions please.
PR to consider: #122

[2016-03-08 17:07] SilentFlame commented on #129
@manipalsingh013
Works fine for me locally too.
![picci](https://cloud.githubusercontent.com/assets/9693795/13609264/2f2a691a-e57e-11e5-9271-3e0d51ea3f1b.png)

Either you may have Zoom more than 100% or might something else.

[2016-03-08 17:55] ashutoshsaboo commented on #46
@mariobehling Please have a look at this PR - https://github.com/fossasia/open-event-webapp/pull/130 . Please suggest in case if any other changes are required. Thanks. :smile:

[2016-03-08 17:56] ashutoshsaboo commented on #54
@mariobehling Please have a look at this PR - https://github.com/fossasia/open-event-webapp/pull/130 . Please suggest in case if any other changes are required. Thanks. :smile:

[2016-03-08 19:55] SilentFlame commented on #118
I guess the nav bar is on **right**.  :smiley:
or can say depends upon which view you consider.  :wink:

[2016-03-08 19:56] SilentFlame opened #132 "scrolling behaves differently on speakers page."
Sometimes it works something similar to sessions like:
![right](https://cloud.githubusercontent.com/assets/9693795/13614184/454f8ee8-e595-11e5-966d-b6a6885b59d4.png)

but sometimes doesn't like :
![wrong](https://cloud.githubusercontent.com/assets/9693795/13614189/4a615556-e595-11e5-949f-e218b74cc607.png)

this all happens in alternate clicks on speakers tab on left.
also the top header of search

[2016-03-08 20:00] SilentFlame commented on #118
@AmayAgrawal  please review the PR #131  so as to check as have I done all what is needed to resolve this issue.

[2016-03-09 06:38] chanakaDe opened #133 "Speakers view all cards doesn't feel like clickable."
When we move cursor on the speakers card, it's just normal cursor. Not the clickable pointer icon.
Have to change

[2016-03-09 06:44] chanakaDe commented on #133
Fix the issue and made a pull request

[2016-03-09 07:56] ashutoshsaboo commented on #118
@SaptakS @joerx @daminisatya @mariobehling @jig08 @AmayAgrawal @championswimmer I have pushed a PR - https://github.com/fossasia/open-event-webapp/pull/135 which resolves this issue. Could someone review the PR, please! Thanks! :smiley:

[2016-03-09 07:56] ashutoshsaboo commented on #132
@SaptakS @joerx @daminisatya @mariobehling @jig08 @AmayAgrawal @championswimmer I have pushed a PR - https://github.com/fossasia/open-event-webapp/pull/135 which resolves this issue. Could someone review the PR, please! Thanks! :smiley:

[2016-03-09 07:56] ashutoshsaboo commented on #116
@SaptakS @joerx @daminisatya @mariobehling @jig08 @AmayAgrawal @championswimmer I have pushed a PR - https://github.com/fossasia/open-event-webapp/pull/135 which resolves this issue. Could someone review the PR, please! Thanks! :smiley:

[2016-03-09 08:04] ashutoshsaboo commented on #109
@AmayAgrawal @SaptakS You can check out this PR - https://github.com/fossasia/open-event-webapp/pull/130 . It solves most of these issues. So, Can this be merged to close this issue and mark this issue as solved?

[2016-03-09 08:06] ashutoshsaboo commented on #123
So, Can this issue can be closed? Since, I  guess the PR #124 is merged already! @championswimmer

[2016-03-09 08:09] ashutoshsaboo commented on #129
@manipalsingh013 Yes, it works fine everywhere, as @SilentFlame pointed out. please check your zoom level - You can press `Ctrl+0` to reset the zoom level to `100%` and then check. :smiley:

[2016-03-09 10:40] AmayAgrawal commented on #109
Yes Sir definitely.I have also made some PR regarding  this in  Update speakers #111 .Can u please check this also.And I have also created some sharing sharing buttons also and PR'd  it also

[2016-03-09 12:46] VivekProHacker commented on #129
No its not working fine on the given link also. [http://fossasia.github.io/open-event-webapp/#/sessions](http://fossasia.github.io/open-event-webapp/#/sessions) .

It should work with all zoom level.
![open event](https://cloud.githubusercontent.com/assets/10754928/13635605/ed64eb36-e622-11e5-9454-6c37aa03a4a3.png)

[2016-03-09 18:39] SilentFlame commented on #129
unable to understand the issue now, as it works fine on all levels of zoom for me.
I think I'm unable to follow you on this, can you please be elaborate on the issue you are facing?

[2016-03-09 21:35] SilentFlame commented on #94
@championswimmer unable to reproduce on my android phone.
Either this is resolved or I/m unable to understand exactly what you are trying to say.

[2016-03-09 21:55] SilentFlame opened #136 "position of `Day-bar` is not proper when open in android."
It looks and works all-right when in `portrait` like:
![screenshot_2016-03-10-03-03-25](https://cloud.githubusercontent.com/assets/9693795/13651877/53f06118-e66f-11e5-93d3-6a5a42888ffe.png)
![screenshot_2016-03-10-03-03-43](https://cloud.githubusercontent.com/assets/9693795/13651876/53eb14ce-e66f-11e5-9f1e-4b087683779b.png)

but the day bar starts to come in center when used in `landscape` mode li

[2016-03-10 12:31] aayusharora commented on #106
@SaptakS ,@AmayAgarwal,How much is left with this issue,I have already in middle for the client side part of it ,the rating part .Is it done or should I do it ?

[2016-03-10 13:54] ashutoshsaboo commented on #59
Hi @championswimmer @mariobehling

I pushed a PR - https://github.com/fossasia/open-event-webapp/pull/130 . It resolves the last point. It adds the Speaker photo, info and link to website. Please review the PR and merge it.

Thanks! :smile:

[2016-03-11 18:57] AmayAgrawal commented on #106
I did it .The PR is not  been verified yet but.

[2016-03-12 17:38] sakshamsaxena commented on #88
On NPM, I'd suggest no. On Bower, maybe yes. On Docker, hell yes.

[2016-03-13 10:53] SilentFlame commented on #133
@chanakaDe I guess this is done, have a look again, and please close the issue if it works as you expect.

[2016-03-13 11:15] SilentFlame commented on #46
@ashutoshsaboo
just a humble suggestion, please before creating a PR check the directory in which you have changed files,
there might be soem files open for editing which creates a file `filename.extnsn~` , which is added while you commit with the original changes.
delete that file before pushing.

[2016-03-16 21:28] SilentFlame opened #137 "The look of the test version not reflected on the main github repo."
I just fetched from upstream.
Its is not like as of the test version.
The test version looks something like this:
![test_version](https://cloud.githubusercontent.com/assets/9693795/13829243/f43dd606-ebeb-11e5-86f5-b37b096ef542.png)

and the main app looks like.
![session](https://cloud.githubusercontent.com/assets/9693795/13829254/0b153748-ebec-11e5-8f51-20deaa58e31a.png)

I'm updating the changes

[2016-03-16 21:37] aayusharora commented on #137
@SilentFlame ,we can select the color and logo which seems changed, also there is uneven styling in the hosted app which I have already marked on gitter few days earlier
All are aware about it .

[2016-03-16 21:39] SilentFlame commented on #137
@aayusharora
That sounds great. so need to close It I guess.
Thanks

[2016-03-16 21:41] aayusharora commented on #137
@SilentFlame ,yes :)

[2016-03-16 21:45] SilentFlame commented on #137
@aayusharora so are all aware of the functionalities missing which are visible in the test version.?

like social links and all.

[2016-03-17 07:00] SilentFlame commented on #121
needs to be closed now as now no such error is happening atleast for me.
![shot](https://cloud.githubusercontent.com/assets/9693795/13838683/f4d0e5fe-ec3b-11e5-8679-48dc1953dc78.png)

@aayusharora you can close this issue.

[2016-03-17 07:09] aayusharora commented on #137
@championswimmer ?

[2016-03-17 09:07] SilentFlame opened #138 "Updating the map location."
@championswimmer
i was trying to change the map pointing location to the current Event, but unable to do so.
I tried to change the details in the `event` directory with `id=1`.
can you tell me where to edit to achieve the desired results.

as of the trial version map doesn't displays the map though.

[2016-03-17 10:07] SilentFlame commented on #43
@championswimmer I think this has been achieved, better to close the issue if you think so.

[2016-03-17 16:09] SilentFlame commented on #101
@championswimmer @mariobehling  this can be closed once we merge PR #131.
as it handles all mentioned in this issue.

[2016-03-17 16:45] SilentFlame commented on #138
@championswimmer
can you tell me where are the data files regarding this years event.
as need to integrate them to the current app just for testing purposes.

[2016-03-17 21:56] #138 closed

[2016-03-18 13:46] rajat1994 opened #140 "Fossasia favicon is not there"

[2016-03-18 20:20] SilentFlame opened #141 "unable to load data using new twitter wall"
@aayusharora can you please explain why such thing is happening.? have a look at the screenshot.
![shot](https://cloud.githubusercontent.com/assets/9693795/13891108/2ed293bc-ed75-11e5-942f-26683c7e479c.png)

[2016-03-18 20:41] championswimmer commented on #137
The test version is built from fossasia16 branch

I am setting it back to master

[2016-03-18 20:41] championswimmer commented on #81
This is, for now, done

[2016-03-18 20:41] #81 closed

[2016-03-18 20:52] SilentFlame commented on #141
seems loklak.org is also down.

[2016-03-18 20:56] SilentFlame commented on #137
would be better for us to test.
@championswimmer  is loklak.org is down from last few hours?

[2016-03-20 20:12] aayusharora opened #146 "Report for Errors in Twitter Wall"
After the merge , some errors are there in the section

-  Unknown Provider for the Tweet directive
-  Loader has a wrong path
-  XMLHttpRequest cannot load http://loklak.org/api/search.json?q=fossasia. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://fossasia.github.io' is therefore not allowed access. The response had HTTP status code 503.

All these a

[2016-03-20 20:14] aayusharora commented on #146
![1](https://cloud.githubusercontent.com/assets/12194719/13906828/66a90b1c-ef06-11e5-9c4d-98bc9e70973f.png)

[2016-03-20 20:20] aayusharora commented on #146
@championswimmer ,solved " Unknown Provider for the Tweet directive ", Here #147

[2016-03-20 20:32] aayusharora commented on #146
@championswimmer ,solved Loader has a wrong path Here #148

[2016-03-21 11:34] aayusharora commented on #146
@championswimmer ,solved Cross Domain Problem Here  #149

[2016-03-21 12:46] aayusharora commented on #146
All done , Closing this

[2016-03-21 12:46] #146 closed

[2016-03-21 12:48] aayusharora commented on #141
@SilentFlame , error solved , Check and close this :)

[2016-03-21 19:24] SilentFlame commented on #141
@aayusharora sorry but the error still persists.
![shot](https://cloud.githubusercontent.com/assets/9693795/13931268/8c3afc10-efc8-11e5-999a-a4526e8aab8a.png)

would you like some help here? as I was also working on the web-app only. :)

[2016-03-21 20:48] aayusharora commented on #141
@SilentFlame ,new code is not hosted , try running in your local.

[2016-03-21 21:37] SilentFlame commented on #141
ok thanks.

[2016-03-24 05:54] PMArtz92 opened #151 "Sponsor tab getting twitterwall error"
![capture](https://cloud.githubusercontent.com/assets/11062030/14009545/f25a1a9e-f1b2-11e5-8275-0128e66c1808.PNG)

Anyone know about this??

[2016-03-25 20:23] aayusharora commented on #151
@PMArtz92 ,sorry for the late reply , I am running the same fine on my local machine.

[2016-03-25 20:26] aayusharora commented on #151
@PMArtz92 , By seeing your error ,I can suggest you to
1. Check if oe.twitterwall is present in your app.js.

[2016-03-25 20:53] aayusharora opened #152 "UX issue : Binding Variables without Data Binding"
![123](https://cloud.githubusercontent.com/assets/12194719/14053771/b31e5028-f2f9-11e5-8121-4d957c7756a3.png)

[2016-03-25 20:54] aayusharora commented on #152
Whenever the webapp loads , for some fraction of seconds this comes up ( snap shot above)

[2016-03-26 03:15] PMArtz92 commented on #151
@aayusharora ill check that :)

[2016-03-26 07:18] championswimmer commented on #152
Let it be. No possible solution, because we have to take name from config
file
On 26-Mar-2016 2:24 am, "@angularboy" <notifications@github.com> wrote:

[2016-03-26 08:35] aayusharora commented on #152
@championswimmer ,Check this #153
We can not do it for the page title but yes we can stop angular to show its data-binding till it binds the variables using ng-cloak.

[2016-03-27 19:59] #121 closed

[2016-03-28 08:36] aayusharora opened #154 "Deploying issue"
@championswimmer , kindly deploy the new version , it seems that the Twitter Wall merge commits are not deployed.
It is same as it was earlier .

[2016-03-28 08:37] #123 closed

[2016-03-28 08:38] aayusharora commented on #123
PR already merged #124

[2016-03-28 09:12] aayusharora commented on #151
@PMArtz92 , is it good to close ?

[2016-03-29 14:25] aayusharora commented on #141
@SilentFlame ,can we close this ?

[2016-03-29 16:04] SilentFlame commented on #141
@aayusharora  yes.

[2016-03-29 19:14] aayusharora commented on #151
check this http://aayusharora.github.io/

[2016-03-29 19:15] aayusharora commented on #141
@SilentFlame , Check this hosted one http://aayusharora.github.io/ , if it is working fine we can close it.

[2016-04-02 07:58] #141 closed

[2016-04-02 09:29] championswimmer opened #156 "set up Travis integration for building and deploying to gh-pages"
Should help prevent people making issues like this https://github.com/fossasia/open-event-webapp/issues/154 :stuck_out_tongue_closed_eyes:

[2016-04-05 17:43] aayusharora commented on #152
@championswimmer , I have changed the PR #153 , now changes are in main.css.
I can close this issue after the review of the PR .

[2016-04-05 17:44] aayusharora commented on #154
Closing it , after considering #156. :+1:

[2016-04-05 17:44] #154 closed

[2016-04-05 17:55] aayusharora commented on #137
@SilentFlame ,the issue is same as of #154 , and will be resolved after  #156.This can be closed.

[2016-04-05 20:43] aayusharora commented on #152
Closing it , its merged :)

[2016-04-05 20:43] #152 closed

[2016-04-06 19:43] championswimmer commented on #137
I'm thinking I'll deploy to bitballoon or something like that.

Force pushing to github pages is little hacky from Travis
On 05-Apr-2016 23:25, "@angularboy" <notifications@github.com> wrote:

[2016-04-06 23:03] aayusharora commented on #137
@championswimmer , agree , I have tried it now for my personal project, it worked like a charm .

[2016-04-06 23:29] aayusharora commented on #136
@SilentFlame , not having this problem on my end .
Tested on : Nexus 5 , Samsung Galaxy and some more.
I am not sure if it is particular to one handset(less probable).
Check the new code once.

[2016-04-07 20:13] championswimmer opened #157 "differentiate source and dist properly"
It is bit of a mess now.

put all source into src directory. generated files go to /dist
webserver with livereload runs on /dist and NOT from source.

[2016-04-07 23:21] championswimmer opened #158 "problems with twitterwall layout"
![screenshot from 2016-04-08 04 42 53](https://cloud.githubusercontent.com/assets/1327050/14369799/8f675d86-fd45-11e5-8985-efbbf17fd019.png)

Doesn't look good. and only one row.

[2016-04-07 23:51] #157 closed

[2016-04-07 23:53] championswimmer opened #160 "favicon not being distributed with dist folder"
has been resolved by https://github.com/fossasia/open-event-webapp/pull/159

[2016-04-07 23:53] #160 closed

[2016-04-07 23:55] championswimmer opened #161 "refactor app/components -> components"
needless nested directory

[2016-04-07 23:57] championswimmer commented on #137
made manual update. working on travis+bitballoon now.

[2016-04-07 23:57] #137 closed

[2016-04-07 23:58] championswimmer commented on #140
PR #159 has solved it

[2016-04-07 23:58] #140 closed

[2016-04-07 23:59] championswimmer commented on #129
tested on ubuntu/windows on firefox/chrome

works on all zoom levels.

[2016-04-07 23:59] #129 closed

[2016-04-08 00:00] championswimmer commented on #94
has been resolved

[2016-04-08 00:00] #94 closed

[2016-04-08 05:22] aayusharora commented on #158
@championswimmer , I have checked that , it's working fine . Can you please check it once again may be the loklak server was slow at that time to return the response.

[2016-04-08 05:31] aayusharora commented on #158
![1](https://cloud.githubusercontent.com/assets/12194719/14374900/1b341312-fd79-11e5-8e8d-b5912126b72c.png)

[2016-04-08 09:18] SilentFlame commented on #161
on it.

[2016-04-08 11:01] SilentFlame commented on #161
@championswimmer  If i got it correctly, we need to just remove the `nestedness` and the reflect the same wherever such links are used in the app?

[2016-04-08 11:24] championswimmer commented on #161
Yes, that's correct.

Preferrable name the folder appComponents
On 08-Apr-2016 16:31, "Vinay Singh" <notifications@github.com> wrote:

[2016-04-08 20:57] #161 closed

[2016-04-08 22:25] #132 closed

[2016-04-09 18:24] aayusharora commented on #158
@championswimmer ,any update?

[2016-04-09 18:49] aayusharora commented on #133
@championswimmer , its already done and can be closed.

[2016-04-09 19:01] aayusharora commented on #116
@ashutoshsaboo , Please remove the conflicts so that it can be merged.

[2016-04-09 19:02] aayusharora commented on #151
@championswimmer , You can close this ,if it seems go to close.

[2016-04-10 07:08] aayusharora commented on #136
@SilentFlame ,update?

[2016-04-10 08:43] SilentFlame commented on #136
@aayusharora now the `session` section doesn't display any information only the `search by tile` and `search by Speaker` is visible here.
can you please have a look and let me know.

[2016-04-10 11:31] aayusharora commented on #136
@SilentFlame , looking fine here
![screenshot_2016-04-10-16-32-05](https://cloud.githubusercontent.com/assets/12194719/14409898/dfbf4998-ff3d-11e5-8796-6c5b6adc8709.png)

[2016-04-10 19:26] aayusharora commented on #158
@championswimmer , After checking again and again ( 1 out of 20 attempts), I got the same error as you
got , it seems a loklak error , any idea how to remove it.

![1](https://cloud.githubusercontent.com/assets/12194719/14412422/2073c35a-ff80-11e5-932d-e69a301630f8.png)

[2016-04-11 13:59] aayusharora commented on #156
@championswimmer Can we close this ?

[2016-04-11 16:54] championswimmer commented on #156
Not quite. Still need to write bitballoon uploader :P
On 11-Apr-2016 19:29, "@angularboy" <notifications@github.com> wrote:

[2016-04-12 08:27] aayusharora opened #166 "Uneven timing for loading tweets"
It seems that the even number tweets load very fast compare to  odd number  tweets.
Example : Tweet 1 comes , image rotate full and then disappears.
                 Tweet 2 comes and the image disappears with half rotation.
                ....

[2016-04-12 08:38] aayusharora commented on #166
@championswimmer , I have solved it here  #167

[2016-04-13 05:23] PMArtz92 commented on #151
yes this is fine, sorry i was away from computer.

[2016-04-13 05:23] #151 closed

[2016-04-13 09:01] #166 closed

[2016-04-13 17:47] aayusharora opened #169 "Hyperlinks are not rendered in tweets"
The data coming from Loklak is scraped , hence the hyperlinks in tweets are not rendered.

[2016-04-15 12:35] juslee opened #172 "chore: update dependencies to the latest versions and fix any failures"
Update all npm dependencies to the latest versions. Fix any build errors that happens when the npm dependencies are updated.

[2016-04-15 12:36] juslee opened #173 "chore: reduce lint issues"
Reduce the lint issues to < 100 issues. Both on codacy and codeclimate.

[2016-04-15 17:05] aayusharora commented on #172
Solved here #174

[2016-04-16 12:46] aayusharora opened #175 "Sessions section not working after last update"
![1](https://cloud.githubusercontent.com/assets/12194719/14581045/4580dc72-03ff-11e6-96f4-3e14dbbeb05f.png)

[2016-04-16 21:05] aayusharora commented on #175
@juslee  , it will be solved after the merge of #171 , missed the 'strict mode' , All working fine now.
![1](https://cloud.githubusercontent.com/assets/12194719/14583608/f9c376fa-0444-11e6-99bd-853d78dac7c2.png)

Closing this , if anybody finds this error , please reopen :)

[2016-04-16 21:05] #175 closed

[2016-04-16 21:09] aayusharora commented on #172
@juslee , can we close this ?

[2016-04-17 05:45] aayusharora opened #176 "jshint is not understanding angular"
jshint is showing error , for some of the best Angular styles ["John Papa"](https://github.com/johnpapa/angularjs-styleguide) or [Todd Motto](https://github.com/toddmotto/angularjs-styleguide)" , Infact some errors are like this
![1](https://cloud.githubusercontent.com/assets/12194719/14585329/9e30dcbc-048d-11e6-97f6-0a06e1231dfe.png)

@juslee , Please consider this http://stackoverflow.com/questi

[2016-04-17 07:55] championswimmer commented on #176
Some are due to these lint frameworks optimised for nodejs these days,
where you cannot use a var without declaring.

Here you can ignore the 'used before declared' warnings as long as the
required js files are included in index.html
On 17-Apr-2016 11:15, "@angularboy" <notifications@github.com> wrote:

[2016-04-17 09:56] aayusharora commented on #176
Thanks @championswimmer , I agree but we can include angular as well by creating .jshintrc file .
@juslee , consider #177

[2016-04-17 13:46] #176 closed

[2016-04-17 20:46] aayusharora commented on #176
Not fixed Still

[2016-04-17 21:06] aayusharora commented on #176
@juslee , Tried this may be it would work  #179

[2016-04-20 11:01] SaptakS opened #181 "UI Design & Template"
We need to improve the UI for the webapp so that it is more user friendly. I think we should go with material design.

These templates can be modified to suit the needs I feel:
http://flatfull.com/themes/materil/angular/#/app/dashboard
http://shapebootstrap.net/item/1524963-evento-free-music-event-template/live-demo

Give your proposals below.

[2016-04-21 12:39] juslee opened #182 "chore: Getting more done in GitHub with ZenHub"
Hola! @juslee has created a [ZenHub](http://www.zenhub.io) account for the **fossasia** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboardin

[2016-04-26 12:55] #172 closed

[2016-04-26 13:02] juslee opened #184 "chore: enable unit testing"
Look into using mocha or some unit testing framework and start the initial unit tests. This is to enable code coverage later.

[2016-05-06 08:59] #136 closed

[2016-05-06 09:00] #133 closed

[2016-05-08 21:10] oren opened #187 "Errors when running the web app"
The first error in the console is `      if (scope.tweetNumber !=== 90) {
` which make sense since !=== is not valid. (https://github.com/fossasia/open-event-webapp/blob/master/src/appComponents/twitterwall/singletweet.js#L58) I fixed it to !== but no I see this error:
[code]

Steps to reproduce:
[code]

[2016-05-08 21:20] oren commented on #88
I can help dockerizing the app if there is any interest in doing it.

[2016-05-08 23:16] aayusharora commented on #187
@oren , check this #188

[2016-05-09 00:26] oren commented on #187
thanks!

[2016-05-09 00:26] #187 closed

[2016-05-09 06:08] aayusharora opened #189 "Best way to integrate the webapp with gentelella"
Hi ,
As [gentelella](https://github.com/puikinsh/gentelella)  was accepted as a theme by everyone , What should be the best way for the integration ?

As gentelella is jquery based , it does not follow MVC architecture of Angular JS . Hence a best modular approach is needed .
The snapshot is the MVC architecture we follow in the webapp .
![3](https://cloud.githubusercontent.com/assets/12194719/151

[2016-05-09 08:29] aayusharora commented on #181
[gentelella](https://github.com/puikinsh/gentelella) is the decided theme .

[2016-05-09 08:29] #181 closed

[2016-05-09 15:35] aayusharora commented on #189
@championswimmer , Now it will be clear to you .

[2016-05-12 13:55] aayusharora opened #190 "Removing Codacy and continuing with Codeclimate"

[2016-05-12 13:57] #182 closed

[2016-05-12 13:57] #173 closed

[2016-05-12 13:57] #184 closed

[2016-05-12 14:53] juslee commented on #190
@aayusharora and @championswimmer please justify why codeclimate is better than codacy.

[2016-05-12 15:18] championswimmer commented on #190
![screenshot from 2016-05-12 20 47 25](https://cloud.githubusercontent.com/assets/1327050/15219824/d52587f0-1882-11e6-9769-91eb32e72b49.png)
Basically issues like this thrown by Codacy.

we have to use mixed quotes so that inner quotes are escaped from the outer ones.

[2016-05-12 15:20] championswimmer commented on #190
![screenshot from 2016-05-12 20 49 11](https://cloud.githubusercontent.com/assets/1327050/15219876/06061e5c-1883-11e6-90e7-d948b02fb970.png)
Codeclimate is also smarter. Tells stuff like when codeblocks have a lot in common (so you can refactor away some functionality into a function)

[2016-05-12 15:37] aayusharora commented on #190
Some issues are very irrelevant like
![2](https://cloud.githubusercontent.com/assets/12194719/15220553/8ba2cd6a-1885-11e6-94c6-6221a1b06332.png)

and

![3](https://cloud.githubusercontent.com/assets/12194719/15220562/92f32556-1885-11e6-8124-161e237fc608.png)

[2016-05-12 15:40] aayusharora opened #191 "Integrating Karma with Travis"

[2016-05-12 19:03] aayusharora opened #192 "Errors while loading karma start , need dependency for package.json and bower.json"

[2016-05-12 19:03] aayusharora commented on #192
![error](https://cloud.githubusercontent.com/assets/12194719/15226891/59316888-18a2-11e6-846d-2f2425150163.png)

[2016-05-12 19:20] aayusharora commented on #192
@juslee ,solved here #193

[2016-05-12 20:19] aayusharora commented on #191
@juslee , solved here Travis with Karma #194

[2016-05-13 07:24] #1 closed

[2016-05-13 07:24] #43 closed

[2016-05-13 07:24] #46 closed

[2016-05-13 07:24] #49 closed

[2016-05-13 07:24] #54 closed

[2016-05-13 07:24] #57 closed

[2016-05-13 07:24] #59 closed

[2016-05-13 07:24] #62 closed

[2016-05-13 07:24] #88 closed

[2016-05-13 07:24] #101 closed

[2016-05-13 07:24] #106 closed

[2016-05-13 07:24] #107 closed

[2016-05-13 07:24] #109 closed

[2016-05-13 07:24] #116 closed

[2016-05-13 07:24] #118 closed

[2016-05-13 07:24] #126 closed

[2016-05-13 07:24] #127 closed

[2016-05-13 07:24] #156 closed

[2016-05-13 07:24] #158 closed

[2016-05-13 07:24] #169 closed

[2016-05-13 07:25] #191 closed

[2016-05-13 07:26] #192 closed

[2016-05-13 23:56] championswimmer opened #195 "Write the Swagger API"
To begin with at least - make swagger API, publish the YAML file on http://github.com/fossasia/open-event under gsoc2016, and treat it is the canon by server and client guys.

[2016-05-13 23:59] championswimmer commented on #195
Once we are swagger-compliant, the webapp can use this https://github.com/swagger-api/swagger-js

[2016-05-14 05:09] aayusharora opened #196 "Updating Readme.md"
- Updating Angular version

- Writing to run Karma test command

[2016-05-14 11:43] aayusharora commented on #196
@juslee ,Solved here #197

[2016-05-15 14:46] #196 closed

[2016-05-15 14:46] juslee commented on #195
shouldn't this be under open-event-orga-server?

[2016-05-15 18:33] championswimmer commented on #195
Or under open-event umbrella.
It's common to everyone really
On 15-May-2016 20:16, "Justin Lee" <notifications@github.com> wrote:

[2016-05-15 18:34] championswimmer commented on #195
What do you suggest? Move it to server or open-event
On 16-May-2016 00:03, "Arnav Gupta" <championswimmer@gmail.com> wrote:

[2016-05-17 11:15] aayusharora opened #198 "Removing Material Dependencies and creating dashboard by gentelella"
@juslee  , The work will include lot of code addition and removal hence should be kept in a different branch .

[2016-05-17 13:48] aayusharora commented on #198
Solve here #199 , I think we should carry this in a separate branch .

[2016-05-18 06:57] mariobehling commented on #198
@aayusharora I did not see a discussion about the integration of gentelella here and I am not sure, if it is the best approach. Currently I am missing screenshots of where we are heading.

Also, probably following the web app of this year's FOSSASIA and OpenTechSummit will give us a basis that works already.

Currently there are a number of open issues e.g. to add audio files to the schedule of OT

[2016-05-19 07:11] mariobehling opened #200 "Create a Feature List and User Stories"
The first version of the web app had some nice features like search but unfortunately was slow. For FOSSASIA we developed a simple web app and we extended features for the OpenTechSummit schedule. In order to understand where we are heading next, please formulate a user story. Our new starting point for a web app should be the FOSSASIA/OpenTechSummit web app for now.

User Stories for the Web app:

[2016-05-19 07:16] mariobehling opened #201 "Propose suitable technologies"
For FOSSASIA and OpenTechSummit we used the open event scraper, where a JSON file is used to generate the a web app. We want to continue in this way and generate events with this script. Another goal is to make the web app themable. An organizer user could choose a theme and color and the app is generated with this theme. The app can then be downloaded as a zip file or as done with the Open Event

[2016-05-19 07:25] mariobehling opened #202 "Propose theming options for Web App"
As organizers might want to integrate the web app in their website, we could offer a zip that they could download and deploy on their server. In order to stick to the organizers website design, it would be good to offer theming for the web app. As discussed in #201 an organizer user could choose a theme and color and the app is generated with this theme.

@aayusharora @championswimmer: Please prop

[2016-05-19 07:31] mariobehling commented on #189
Before getting more into depth here, please propose theming options https://github.com/fossasia/open-event-webapp/issues/202 and goals in user story https://github.com/fossasia/open-event-webapp/issues/200.

[2016-05-19 08:01] mariobehling opened #203 "Create Simple First Version for Web App Generator"
The web app generation can be bundled with the orga server, but it should also be possible to generate web apps just by getting the data from a JSON file. As a first step we need a simple web page, where an organizer can choose to upload a JSON file and generate the app that can be downloaded as a zip file. The first version is similar to a graphical implementation of the Open Event Scraper (https

[2016-05-22 05:01] championswimmer commented on #195
Started making it here https://github.com/championswimmer/openevent-api
The live version will be here
http://championswimmer.github.io/openevent-api

[2016-05-22 05:25] mariobehling commented on #200
@championswimmer Please chime in.

[2016-05-22 05:27] mariobehling commented on #195
@championswimmer I am also a bit confused. Please move this issue to the server component.

At the moment I am not clear what is your proposal. Please let us get some clear ideas first, what we want to achieve. We want to avoid developing lots of stuff, that will not get ready to be used. First step, please improve the scraper. We can use it as a basis.

And also right now, please help to define a

[2016-05-22 05:27] #195 closed

[2016-05-22 05:30] aayusharora commented on #200
@mariobehling , @championswimmer , I have already started it .

[2016-05-22 05:36] mariobehling commented on #200
@aayusharora Please use a Google doc, where we can see the progress and add ideas: https://docs.google.com/document/d/1rR-GoS61Tq9WhiDlwLEu6whCf4SZ12uChXHClvK6eis/edit

We can then publish the outcome here.

[2016-05-22 05:38] aayusharora commented on #200
Do we want something like that https://docs.google.com/document/d/1P_ezcjD11l4T22BjicGWPTq1K0gbpsPgQbhLoR699cY/edit?usp=sharing

[2016-05-22 06:07] aayusharora commented on #200
@mariobehling , According to me the frontend will be the combination of Editor( orga server UI ) and
a viewer ( Webapp itself ) which will work in cohesion . Do I have to add features of only Webapp in the document . Please correct me if I am wrong .

[2016-05-22 06:37] championswimmer commented on #195
Ok continuing discussion on #200

On Sun 22 May, 2016 10:57 Mario Behling, <notifications@github.com> wrote:

[2016-05-22 18:05] championswimmer commented on #202
@aayusharora @mariobehling
I suggest we create one basic bootstrap based theme (and later work on making more themes)

Like the open-event-scraper works, we'll make a theme in form of a jade/handelbars template, so that when the generator runs the json via it, a complete webpage is generated.

[2016-05-23 19:04] championswimmer opened #204 "Lack of clarity on scope of "webapp" and "dashboard""
Calling in everybody here for this discussion
@juslee @mariobehling @aayusharora @niranjan94 @rafalkowalski @aviaryan

So I and Aayush want to get some clarity on a few questions basically that'll help us create a roadmap for the webapp more clearly.

1. When we say "Webapp" that means the view-only client side part right ?

2. Since @juslee mentioned "dashboard UI" in our feature focus, we want t

[2016-05-23 19:23] championswimmer opened #205 "Cleanup unused/obsolete branches"

[2016-05-23 19:59] aayusharora opened #206 "Creating Flow for the Webapp ."
Once #204 is clear , I will be able to make the flow of webapp .

[2016-05-24 03:54] aviaryan commented on #204
I believe both android app and web app should be client side apps, read-only, **audience or attendees oriented** with optional feature to add reviews, mark attendence and so on.

My vote goes to Orga-Server having it's own HTML rendered views (like it has currently) and the client apps should fetch data from server and display to user in nicely formatted manner.

[2016-05-24 03:57] championswimmer commented on #201
First question to answer will be if or not to be a single-page-application.

Pros of SPA are -
 - No need of generator
 - Won't need any computer to run on to generate. Can be hosted on github pages or bitballoon
 - Use cache manifest to cache all js css html files, so only data is loaded from second visit.
 - Can leverage the localStorage and localDb browser apis to cache data for offline viewing

[2016-05-24 04:09] championswimmer commented on #204
@aviaryan

Do keep in mind even for purely client sided apps, certain user-based update actions have to be there - like for example putting upvotes on sessions.
For those cases the server needs to expose an ACL-protected api endpoint.

[2016-05-24 04:33] aviaryan commented on #204
Yup. The same goes with features like session reviews. We can run authentication of identity on the server side to validate these types of actions. https://github.com/fossasia/open-event-orga-server/issues/367 is about that.

BTW, I think it will be more clear if we divide our userbase into 2 groups -
1. Event hosts (admins, organizers, speakers, managers etc)
2. Public (Audience, Attendees, users

[2016-05-24 06:54] niranjan94 commented on #201
+1 for a SPA.

As for the framework, I found [Vue.js](http://vuejs.org/) to be quite good. Vue.js along with [webpack](https://webpack.github.io) would be a good choice. It is very light (so much more lighter than Angular and has a much better performance even with large datasets) and has most of the core reactive features of React. And there is [vuex](https://github.com/vuejs/vuex) similar to Flu

[2016-05-24 08:05] aayusharora commented on #201
+1 for a SPA .
According to my views , I can have some options
1. SHIFTING FRAMEWORK
PROS
   1) React can have good scope for large projects .
   2) I have gone through various articles online and find out that React is for larger projects and Angular is for fast development .

2. NOT SHIFTING FRAMEWORK , REUSING CODE
 PROS
   a) Continuing with Angular is advantageous , to reuse some of the code

[2016-05-24 10:58] juslee commented on #201
To paraphrase @mariobehling:

- Read a JSON file (either from the REST APIs or from a downloaded file)
- Web App to read the JSON and display a standard UI and layout
- Web App to have color schemes

Web App to have 2 modes - Hosted (on our servers), and On Prem (downloaded and hosted on their servers).

Does that make sense? @championswimmer and @aayusharora

[2016-05-24 11:11] juslee commented on #204
1. Web App will have 2 modes - Hosted and On-Prem. as discussed in #201

2. Web App will take care of 4 states which is determined by server backend
- Calling for Papers (getting speakers which is a 1 page which can be redirected back to the server),
- Pending Event Schedule (close getting speakers),
- Schedule is out (display schedule and other user features TO BE EXPANDED if there's time),
- Eve

[2016-05-24 11:16] juslee commented on #203
To paraphrase @mariobehling:

- Give me a UI/User flow ASAP
- Construct with a UI and layout (genetella)
- Read a JSON and display the data
- Allow me to download the entire web app project in a zip with the JSON (which is the EASIEST once you have DONE the UI/User flow)
- Call from a REST API URL later for hosted mode

@championswimmer @aayusharora understand?

[2016-05-24 11:17] juslee commented on #206
Create the flow. It is clear now. @aayusharora

[2016-05-24 12:47] championswimmer commented on #203
@juslee
**gentelella** is a "Admin template" suitable for making dashboards, analytics panels etc
For the client-side webapp (that will be *viewed* by attendees), why do we need to use gentelella?

[2016-05-24 13:02] championswimmer commented on #201
@juslee That makes sense now much more than before.

We will start working on the basic version that satisfies these three points ASAP.

[2016-05-24 13:07] championswimmer commented on #204
Ok for now this clears most of the doubts.

We will focus as of now immediately on making a webapp that satisfies states 3 and 4 (whether it is hosted on server or on-prem).

@aayusharora Please reopen if you have any remaining issues to be cleared.

[2016-05-24 13:07] #204 closed

[2016-05-24 13:27] juslee commented on #203
@championswimmer then suggest a new theme to use. Otherwise, use it first for consistency. You can refactor and replace the theme later. You should be able to easily refactor with a bit of work to use a new bootstrap theme. Code that in mind.

[2016-05-24 13:30] juslee commented on #200
Create an issue for each user story. Break down the user story to more user stories if you cannot finish it in 1 day.

Update the user stories with what was understood in the previous discussions in the other issues.

[2016-05-25 16:08] aayusharora commented on #200
@juslee , I will do it .

[2016-05-26 22:21] mariobehling commented on #205
Please proceed. What are you waiting for?

[2016-05-26 22:32] mariobehling commented on #203
@championswimmer I do hope we will get started with this now. Please separate this issue into issues that can be done in a single day. We can use the part of the current Open Event Scraper to generate an app from a JSON. Then generate a schedule just like http://2016.opentechsummit.net/programm/ Once this is working you can change it to gentelella or another bootstrap theme, but please do start to

[2016-05-27 04:30] championswimmer commented on #203
@mariobehling

Yes will get started right away

On Fri 27 May, 2016 04:02 Mario Behling, <notifications@github.com> wrote:

[2016-05-27 13:37] championswimmer commented on #205
I am also making master -> gsoc2015
And starting a new orphan master.

[2016-05-27 13:42] championswimmer commented on #205
Also @aayusharora Please make PRs from your own repo. Do not create branches in this repo to make PRs.

[2016-05-27 13:42] #205 closed

[2016-05-27 16:34] championswimmer commented on #201
I have had a call with @aayusharora today.

We have concurred on division of labour this way -
I'll be taking up everything coming under labels [config](https://github.com/fossasia/open-event-webapp/labels/component%3A%20config%2Fdeploy) and [dataapi](https://github.com/fossasia/open-event-webapp/labels/component%3A%20dataapi) now.
@aayusharora will be working on [displaying data](https://github.c

[2016-05-27 16:34] #201 closed

[2016-05-27 17:00] aayusharora commented on #206
![flow](https://cloud.githubusercontent.com/assets/12194719/15615216/9aef768a-2445-11e6-8807-3ca3c1b42504.png)

[2016-05-27 17:01] aayusharora commented on #206
@juslee , @mariobehling  , This will be the flow for the app .

[2016-05-27 18:04] championswimmer opened #208 "create basic app directory structure"
document the purpose of all directories and where what will go.

[2016-05-27 18:04] championswimmer commented on #208
commits -
 - initial directory structure - https://github.com/fossasia/open-event-webapp/commit/e948244b4eff44f3c73e3b5fe28bf62684e87062

[2016-05-27 19:28] championswimmer commented on #208
@aayusharora

I am using this as a reference to set it up
https://github.com/mgechev/angular2-seed

[2016-05-27 20:16] aayusharora opened #209 "Add Wireframe for Speaker Section"

[2016-05-27 21:05] aayusharora commented on #209
![5](https://cloud.githubusercontent.com/assets/12194719/15621200/f0958a1c-2467-11e6-9fcc-893db0e88d52.png)

[2016-05-27 21:06] aayusharora commented on #209
@juslee ,@championswimmer , is it okay to start with ?

[2016-05-27 21:10] championswimmer commented on #208
I have made a PR here
https://github.com/fossasia/open-event-webapp/pull/210

It is not ready it. I will get the basic skeleton structure corresponding to what Open Event needs (Sessions, Speakers etc)

[2016-05-27 21:31] aayusharora commented on #209
After the Click
![6](https://cloud.githubusercontent.com/assets/12194719/15621703/825da1e8-246b-11e6-8cd9-693f5438eec6.png)

[2016-05-28 13:24] aayusharora opened #212 "Creating a selectbox for Search by Speaker and Search By Title"

[2016-05-28 15:01] aayusharora commented on #208
@championswimmer , got it .

[2016-05-28 16:29] aayusharora opened #213 "Creating the Wireframes for Session section"

[2016-05-28 16:34] aayusharora opened #214 "Removing Unnecessary Dependencies of gentellela"
1 .The theme has various dependencies which we don't need now .
2. The features or all the working with gentellela will be in the form of reusable Angular Directives . For reference  TwitterWall has three directives , singletweet.js , width.js , backgrounddirective.js which are reusable .
@mariobehling , Do you have something more to add here . Please elaborate .

[2016-05-28 16:42] mariobehling commented on #214
I am not clear on this. We also want to be able to copy/paste newer versions in future. Another point is, as Justin Lee mentioned, we can also use another bootstrap theme in future.

So, I would not really spent a lot of time on this right now. What we hope to see is - code that makes the app work. We can also clean up later.

[2016-05-28 16:46] aayusharora commented on #214
@mariobehling  ,we have already discussed to make it work in that way , i.e the theme concept . I am clear with it . Let me add it to different Milestone than .

[2016-05-28 21:37] aayusharora opened #216 "Make Service for API calls or JSON for Speaker section"

[2016-05-28 21:41] aayusharora commented on #212
@juslee  , Done here #215 , closing this .

[2016-05-28 21:41] #212 closed

[2016-05-28 21:44] aayusharora opened #217 "Directive For searchbox"
Use the UI ( Already done ) in #215  , and add functionalities in dropdown menu like sort by current sessions

[2016-05-29 20:30] aayusharora commented on #206
@juslee , can I close it .

[2016-05-30 03:58] championswimmer commented on #203
@mariobehling

https://github.com/OpenTechSummit/open-event-scraper has audio support now.
It is in a state to be used to generate simple schedule page with sessions and speakers.

For the purpose of having a generated static html based website for events, we have it now.

[2016-05-30 18:20] aayusharora opened #218 "Updating bower"
Add **jquery , bootstrap** to bower.json ,and call from bower_components instead of vendor.

[2016-05-30 22:12] aayusharora commented on #218
Merged #219 , Closing this :)

[2016-05-30 22:12] #218 closed

[2016-05-31 05:59] aayusharora opened #221 "Creating View for Speaker section"

[2016-05-31 10:15] aayusharora opened #222 "Side bar Fix for gentelella"
Gentelella shows sidebar which is not fixed with scroll , gives bad view , You can see the whitespace in the image .

![6](https://cloud.githubusercontent.com/assets/12194719/15671100/b322ea86-2731-11e6-8e37-fba9ecf37c44.png)

[2016-05-31 12:36] aayusharora commented on #222
@juslee , solved by PR #222.
After solving
![8](https://cloud.githubusercontent.com/assets/12194719/15674451/6bf99d4e-2745-11e6-99bb-46b619a4c6c9.png)

[2016-05-31 14:31] mariobehling commented on #203
@championswimmer What is the status on this? When do we have a UI to generate the web app?

[2016-05-31 15:25] mariobehling commented on #203
See sample here:
![screenshot from 2016-05-31 17 18 23](https://cloud.githubusercontent.com/assets/1583873/15680096/9588934a-2754-11e6-8fb8-b039d7ae3707.png)

[2016-05-31 19:17] aayusharora opened #223 "Branch Cleanup"
Clear Unuseful Branches :

1. GSOC16/ui

2. Gentella

3 . gsoc16/milestone2

[2016-05-31 19:18] aayusharora commented on #223
Done :)

[2016-05-31 19:20] aayusharora commented on #216
@juslee , Solved here  #220

[2016-05-31 19:21] aayusharora commented on #221
Solved here , #220

[2016-06-01 07:47] mariobehling opened #224 "Implement Different Schedule Views"
A web app can generate different views:
* [x] view schedule according to tracks and time
* [x] view schedule according to rooms
* [x] view schedule according to speakers

[2016-06-01 07:49] mariobehling commented on #198
As we are moving away from the first version web app, I am closing this issue. We should have a separate issue for the V2.

[2016-06-01 07:49] #198 closed

[2016-06-01 07:52] mariobehling commented on #222
Moving away from web app V1. Closing this issue therefore.

[2016-06-01 07:52] #222 closed

[2016-06-01 07:52] mariobehling commented on #221
Please provide screenshots in future in the issue.

[2016-06-01 07:52] #221 closed

[2016-06-01 07:53] #214 closed

[2016-06-01 09:13] mariobehling commented on #217
The newer version will not have a search box for the moment.

[2016-06-01 09:13] #217 closed

[2016-06-01 09:28] aayusharora commented on #189
Closing this :) , it is for Webapp v2.

[2016-06-01 09:28] #189 closed

[2016-06-01 10:58] aayusharora commented on #216
We are not focussed on it for now.

[2016-06-01 10:58] #216 closed

[2016-06-02 08:10] aayusharora commented on #223
@championswimmer  , Should I clear branches like GSOC16 , GSOC15 , gh-pages , Fossasia

[2016-06-03 20:00] aayusharora commented on #223
Cleared the branches , @mariobehling  @championswimmer  Closing this .

[2016-06-03 20:00] #223 closed

[2016-06-06 18:11] aayusharora opened #225 "Cleaning up master"
We should have  a **generator** folder inside the **src folder** of master branch in which we will keep all our files  , hence delete all irrelevant folders .

[2016-06-06 18:23] #206 closed

[2016-06-06 18:28] #200 closed

[2016-06-06 18:29] #209 closed

[2016-06-06 18:30] #208 closed

[2016-06-06 18:30] #213 closed

[2016-06-06 19:36] aayusharora commented on #203
View
![9](https://cloud.githubusercontent.com/assets/12194719/15835091/1d7d59ca-2c37-11e6-9478-8e6f4ef07717.png)
Solved here #227 , will be opening issues for adding functionality .

[2016-06-06 20:03] championswimmer commented on #225
Done

[2016-06-06 20:03] #225 closed

[2016-06-06 20:04] championswimmer opened #228 "Add mock jsons to test generator with"
To start with, using jsons from here https://github.com/OpenTechSummit/2016.opentechsummit.net/tree/gh-pages/programm/json because we know the current generator works with it

[2016-06-06 20:13] championswimmer opened #230 "Webapp Generator Component 2: Add the generator backend"
- [x] get this [file](https://github.com/OpenTechSummit/open-event-scraper/blob/master/schedule/generator.js) into src/generator
- [x] make arguments/parameters for endpoint, color, event name in generator.js
- [x] create a simple express app with a single endpoint to call generator.js
- [x] fix the lint errors (as per hound/codacy) on the generator script

[2016-06-06 20:22] championswimmer opened #231 "fix codacy, travls and codeclimate for master branch."
we are starting afresh, so redo the configs afresh

[2016-06-06 21:13] championswimmer commented on #230
Done point 1 and 3 already here https://github.com/fossasia/open-event-webapp/pull/233
Working on 2

[2016-06-07 09:57] mariobehling opened #234 "Webapp Generator Component 3: Create a Script to generate a web app"
The script to generate the web app can be based on the open event scraper.

[2016-06-07 09:59] mariobehling opened #235 "Webapp Generator Component 4: Implement function to call or trigger the script to build"
Implement function to call or trigger the script to build and the web app after upload of JSON files

[2016-06-07 10:00] mariobehling opened #236 "Webapp Generator Component 5: Allow user to download the entire web app as a zip"
Allow user to download the entire web app as a zip to deploy it to a location where the user wants.

[2016-06-07 10:03] mariobehling opened #237 "Webapp Generator Component 6: Additionally offer option to call from a REST API URL"
Additionally offer option to call from a REST API URL later for hosted mode instead of uploading JSON files

[2016-06-07 11:52] mariobehling opened #238 "Webapp Generator Component 1: Create a Web Page with Form Elements to upload."
The first version of this page can be very simple without css etc. Please include:
* [ ] Email
* [ ] Apps Name
* [ ] JSON for speakers, sessions, tracks, locations etc.
* [ ] Generate and Download Button

![selection_032](https://cloud.githubusercontent.com/assets/6565270/15830700/6f7881dc-2c37-11e6-8c84-df1aa4f83f62.png)
(Compare to Android App Generator: https://github.com/fossasia/open-event-an

[2016-06-07 16:32] championswimmer commented on #228
Closing this, as the mock jsons are included in the repo now.

[2016-06-07 16:32] #228 closed

[2016-06-07 16:59] aayusharora commented on #238
![4](https://cloud.githubusercontent.com/assets/12194719/15867118/461c7e70-2cea-11e6-9a9a-2d358a79eb95.png)

[2016-06-07 17:05] aayusharora commented on #238
![9](https://cloud.githubusercontent.com/assets/12194719/15867265/23e400ca-2ceb-11e6-8fac-92e8e3cead14.png)

[2016-06-07 17:33] aayusharora commented on #238
Solved here https://github.com/fossasia/open-event-webapp/pull/241

[2016-06-08 05:23] aayusharora opened #242 "Post call on click of button"
There will be a POST call , to transfer input data as an object to backend .

[2016-06-08 09:16] championswimmer commented on #234
This is done via PR #240

[2016-06-08 09:16] championswimmer commented on #235
This is also addressed by PR #240
(Pressing submit button starts the generator, and you get to download the zip)

[2016-06-08 09:23] #234 closed

[2016-06-08 09:23] #235 closed

[2016-06-08 09:26] championswimmer opened #244 "bug: [generator] The zip files shows some files as folders"
When you extract the zip, it's all fine. But when browsing the zip, the css files etc show up as folders.

Need to see if it's an issue with _adm-zip_ module. Can use _easy-zip_ or _archiver_ instead then.

[2016-06-08 09:51] aayusharora commented on #238
@mariobehling  It is done  Closing it :)

[2016-06-08 09:51] #238 closed

[2016-06-08 10:30] aayusharora opened #245 "Changing Color of Webapp"
The color of the webapp is hardcoded as Orange . The idea is to have the color according to user's choice . Use SASS or something similar to do the same .

[2016-06-08 17:45] aayusharora commented on #245
@mariobehling  @juslee @championswimmer  solved here #246

[2016-06-08 17:50] aayusharora commented on #231
@championswimmer  Solved here #247 , only travis remaining .

[2016-06-08 18:53] aayusharora opened #248 "Add a dropdown button with two options "Light Theme" and "Dark Theme""
@mariobehling  @championswimmer  @juslee  Solved here  #251

[2016-06-08 19:34] aayusharora opened #249 "Optimize markup by removing unnecessary divs."
@mariobehling @championswimmer @juslee  Covered in it #251

[2016-06-09 06:34] aayusharora opened #252 "Rewrite schedule.css by using SASS ."

[2016-06-09 06:38] aayusharora opened #253 "Send theme as "light" or "dark" in POST request"
@championswimmer  @mariobehling  Solved here #254

[2016-06-09 07:24] aayusharora commented on #245
Merged , Closing this :)

[2016-06-09 07:24] #245 closed

[2016-06-09 07:31] #249 closed

[2016-06-09 07:32] aayusharora commented on #242
@mariobehling  @championswimmer  solved here https://github.com/fossasia/open-event-webapp/pull/243 , closing this :)

[2016-06-09 07:32] #242 closed

[2016-06-09 07:33] aayusharora commented on #248
Merged , Closing this :)

[2016-06-09 07:33] #248 closed

[2016-06-09 16:51] aayusharora opened #256 "Shifting scss folder outside assets ."
The folder assets is zipped and is given to user , hence it should not contain scss files .

[2016-06-09 21:25] championswimmer commented on #256
done :) thanks

[2016-06-09 21:25] #256 closed

[2016-06-09 21:25] championswimmer commented on #244
fixed in https://github.com/fossasia/open-event-webapp/pull/260

[2016-06-09 21:25] #244 closed

[2016-06-09 21:25] championswimmer commented on #236
done in this https://github.com/fossasia/open-event-webapp/pull/260

[2016-06-09 21:25] #236 closed

[2016-06-09 21:26] championswimmer commented on #231
done travis in this https://github.com/fossasia/open-event-webapp/pull/260

[2016-06-09 21:26] #231 closed

[2016-06-10 10:36] aayusharora opened #261 "Updating Readme"

[2016-06-10 11:49] championswimmer commented on #202
Closing this as we already have started implementing our theming.

[2016-06-10 11:49] #202 closed

[2016-06-10 11:51] championswimmer opened #262 "Webapp: Allow users to see live preview of the webapp before they download it"
- [x] copy everything to dist
- [x] add an express path `app.get('./dist')` in runtime to the live version
- [x] open that in a new tab/window for preview

[2016-06-10 12:16] championswimmer opened #263 "Generator: Refactor out the folding code into a separate js file"
Should make generator.js cleaner and easier to understand.

[2016-06-10 12:19] championswimmer opened #264 "fix the layout of the buttons"
@aayusharora The buttons have gotten a bit muddled up, please fix the layout on it
![screenshot from 2016-06-10 17-49-00](https://cloud.githubusercontent.com/assets/1327050/15964006/bd2f1dc4-2f33-11e6-8e93-98be14789dbd.png)

[2016-06-10 13:19] aayusharora commented on #264
@championswimmer , doing it

[2016-06-10 13:40] aayusharora opened #265 "Add a button to upload logo for the webapp"

[2016-06-10 14:01] aayusharora opened #266 "Bootstrap not loading when zip is downloaded giving bad layout"
The issue is because of '//' included in CDN in index.html which is required in hosting and will not work on the local machine .

[2016-06-10 15:55] mariobehling commented on #265
What is this about? The logo is already defined in the JSON.

[2016-06-10 15:55] #265 closed

[2016-06-10 16:52] aayusharora commented on #265
@mariobehling  , it was decided today in the discussion , that we need this  @championswimmer, if the json contain the logo itself than we can take it from there.

[2016-06-10 17:06] mariobehling commented on #265
@aayusharora Which discussion? Which issue?

[2016-06-10 17:25] aayusharora opened #268 "View schedule according to tracks and time"
![7](https://cloud.githubusercontent.com/assets/12194719/15990095/9d37a026-3092-11e6-83bf-362ce6910182.png)
@mariobehling, @championswimmer, @juslee I want to work for this mockup, Its bit challenging when we have to do it with tpl. But, I will try to have something like this .

Details about Mockup
1. Tracks are denoted by colors.
2. On  click, of each track, description of the track is shown.

-

[2016-06-10 17:26] aayusharora opened #269 "View schedule according to rooms"
@championswimmer  @mariobehling This is a list of tasks.
- [x] Prepare Mockup for this.
- [x] Make a file rooms.tpl and make it compile and available in Zip.
- [x]  Make Microlocations.json available in generator.js
- [x]  Make Markup
- [x] Write SASS in application.scss

[2016-06-11 12:31] mariobehling commented on #268
Please provide a description and screenshots before you implement it. So others can give feedback first.

[2016-06-11 12:41] aayusharora commented on #268
@mariobehling , working on it .

[2016-06-11 17:29] championswimmer commented on #265
Ok we can take it from here
https://github.com/fossasia/open-event-webapp/blob/master/mockjson/event.json#L58

[2016-06-11 17:35] championswimmer commented on #264
Is done. Closing

[2016-06-11 17:35] #264 closed

[2016-06-11 18:04] championswimmer opened #273 "Deploy to open-event-generator on heroku when master branch is updated"

[2016-06-11 18:05] championswimmer commented on #273
Done

[2016-06-11 18:05] #273 closed

[2016-06-11 18:13] championswimmer commented on #230
Closing this. This is done now.

[2016-06-11 18:13] #230 closed

[2016-06-11 18:52] aayusharora commented on #263
Solved here https://github.com/fossasia/open-event-webapp/pull/271 :)

[2016-06-11 18:52] #263 closed

[2016-06-11 18:53] aayusharora commented on #252
Done here https://github.com/fossasia/open-event-webapp/pull/255

[2016-06-11 18:53] #252 closed

[2016-06-11 18:55] championswimmer commented on #261
Done here
https://github.com/fossasia/open-event-webapp/pull/274

[2016-06-11 18:55] #261 closed

[2016-06-12 06:27] aayusharora opened #275 "Implement feature to deploy the webapp online directly from generator page"
* [ ] Implement UI and backend to enter Github credentials and deploy to Github Pages https://github.com/fossasia/open-event-webapp/issues/506
* [x] Deploy to web server via ftp

[2016-06-12 10:36] mariobehling commented on #268
Ok, great. Looks like, we can also use it in the server then. Cheers.

[2016-06-12 10:39] aayusharora opened #276 "Component 1: Make a file tracks.tpl and make it available in ZIP"
Please check #268 for reference.

[2016-06-12 11:19] aayusharora commented on #276
Solved here #277.

[2016-06-13 06:37] aayusharora opened #279 "Component 2: Make a Markup for tracks"

[2016-06-13 07:02] aayusharora opened #280 "Write Styling for track page in application.scss"

[2016-06-13 07:13] aayusharora opened #281 "Component 3: Add an anchor on navigation bar for tracks page."
![4](https://cloud.githubusercontent.com/assets/12194719/16148973/03f1f99a-3496-11e6-9815-b7b6b86e593e.png)

[2016-06-13 16:19] championswimmer opened #283 "Generator: Compile the css from sass in the generator in runtime"

[2016-06-13 17:16] championswimmer commented on #266
done via
https://github.com/fossasia/open-event-webapp/pull/284

[2016-06-13 17:16] #266 closed

[2016-06-13 17:53] championswimmer commented on #237
The REST endpoint works.
In this PR https://github.com/fossasia/open-event-webapp/issues/285 I have added instructions on using it too

[2016-06-13 17:53] #237 closed

[2016-06-13 17:53] championswimmer commented on #203
All done

[2016-06-13 17:53] #203 closed

[2016-06-13 18:37] #283 closed

[2016-06-13 19:15] aayusharora commented on #253
Its done #282

[2016-06-13 19:15] #253 closed

[2016-06-13 19:16] aayusharora commented on #276
Merged #277

[2016-06-13 19:16] #276 closed

[2016-06-14 04:21] championswimmer commented on #275
We will take this in two steps.

- [ ] write docs on how user can manually upload the zip contents to gh-pages.
- [ ] created automated interface to upload to gh-pages (will ask user to sign-in via github)

[2016-06-14 06:09] mariobehling commented on #275
Why do we need docs how a user can manually upload to gh-pages? Isn't there enough documentation on GitHub already?

[2016-06-14 08:40] aayusharora opened #286 "Creating the details of tracks, on click as shown in Mockup."
Consider this for reference https://github.com/fossasia/open-event-webapp/issues/268
![7](https://cloud.githubusercontent.com/assets/12194719/15990095/9d37a026-3092-11e6-83bf-362ce6910182.png)

[2016-06-14 15:12] championswimmer opened #287 "Generator: write schedule.html and tracks.html paralelly instead of nested callback"
Follow up on PR #278

[2016-06-14 20:22] championswimmer commented on #275
At least we should link to such documentation in our README.

[2016-06-14 22:36] aayusharora opened #292 "Refactoring and Optimization for tracks.tpl"
- [x] Add jQuery to seperate file
- [x] Write classes in application.scss.
- [x] Optimise the code.

[2016-06-14 22:39] aayusharora opened #293 "Data Binding for tracks.tpl Pop-over"
Bind the data in track.tpl pop-over .
Data can be speakers for the track , sessions , location of track , timing etc.

[2016-06-14 22:43] aayusharora commented on #280
@mariobehling  @championswimmer Solved by #278

[2016-06-14 22:43] #280 closed

[2016-06-14 22:44] aayusharora commented on #279
@mariobehling @championswimmer  solved by #278

[2016-06-14 22:44] #279 closed

[2016-06-14 22:45] aayusharora commented on #286
@championswimmer  Solved here #291

[2016-06-15 10:41] championswimmer commented on #287
Done

[2016-06-15 10:41] #287 closed

[2016-06-15 10:41] championswimmer commented on #262
Done

[2016-06-15 10:41] #262 closed

[2016-06-15 10:44] aayusharora opened #294 "heroku not loading bootstrap"
@championswimmer see this for reference :
![5](https://cloud.githubusercontent.com/assets/12194719/16076993/d94730c2-32fe-11e6-8466-faf1478d2fa2.png)

Error in Console
![6](https://cloud.githubusercontent.com/assets/12194719/16077069/45a1d538-32ff-11e6-9976-2960836513e9.png)

[2016-06-15 15:42] aayusharora opened #295 "Clicking on last track hides the box"
**Steps to reproduce**
(https://drive.google.com/file/d/0BylUgB3l8Lc6Y3ZHd3ZISFg2cmc/view)

[2016-06-15 15:47] aayusharora commented on #295
Solved here https://drive.google.com/file/d/0BylUgB3l8Lc6OGZHa1lvaXpHVW8/view

[2016-06-16 08:47] aayusharora commented on #295
Solved here #291

[2016-06-16 08:47] #295 closed

[2016-06-16 08:48] aayusharora commented on #293
Solved  here #291

[2016-06-16 08:48] #293 closed

[2016-06-16 15:20] championswimmer opened #298 "Generator: Make the script download the images and audio in API response"
If an API endpoint is given, it will have audio and speaker image urls in the json response.
Make the generator.js download and save them locally to assets/audio and assets/img folders.

FUTURE: Make this optional with a checkbox in the generator.
option1 : Download and save images and audio with the webapp (makes huge zip)
option2: Always live-load audio and images from remote URLs. (may not work

[2016-06-16 15:20] championswimmer commented on #298
@mariobehling Take a look. Does this make sense. Anything to add or improve in this feature ?

[2016-06-16 19:37] championswimmer commented on #294
![screenshot from 2016-06-16 20-52-36](https://cloud.githubusercontent.com/assets/1327050/16122341/4d8445f0-3404-11e6-8686-795165739ff0.png)

Working in the OR #297

[2016-06-16 19:37] #294 closed

[2016-06-16 19:43] championswimmer opened #299 "tracks view: [bug] content going under the titlebar"
![screenshot from 2016-06-17 01-12-09](https://cloud.githubusercontent.com/assets/1327050/16130844/98dbcc70-3428-11e6-876c-f9398ef4cd4b.png)

OS : Ubuntu 16.04
Browser: Firefox 46.0.1

[2016-06-16 19:43] championswimmer commented on #299
@aayusharora please check this out

[2016-06-16 21:20] aayusharora commented on #299
@championswimmer please check this now https://github.com/fossasia/open-event-webapp/pull/296 it seems that CSS is not loaded in your browser.

[2016-06-16 21:23] aayusharora commented on #299
After the loading of CSS it will get margin-top as 8%

[2016-06-17 00:59] championswimmer commented on #299
solved

[2016-06-17 00:59] #299 closed

[2016-06-17 05:28] mariobehling commented on #298
Good idea. Yes, make this optional.

[2016-06-17 06:21] #286 closed

[2016-06-17 06:29] aayusharora opened #301 "Responsivity of Tracks page"
It should support the break points

(min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ }
(min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
( min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
 (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands deskt

[2016-06-17 08:24] aayusharora commented on #281
Solved here #300

[2016-06-17 08:29] aayusharora commented on #268
@mariobehling  @championswimmer  All done with PR #296 #300. UI improvement still needed.

[2016-06-17 08:29] #268 closed

[2016-06-17 12:20] aayusharora opened #302 "Use track.json to bind the color associated with each track"
Currently session.json is used to take out the information of tracks. But, it does not contain data such as **track color** which will be decided by the organizer.
Hence, binding of the color is not done yet.

- [x]  Parse track.json
- [x] Extract data and bind colors to track.tpl.

[2016-06-17 22:14] aayusharora commented on #302
@championswimmer @juslee Solved here https://github.com/fossasia/open-event-webapp/issues/302

[2016-06-18 05:16] championswimmer commented on #302
Awesome.  Looks good!

On Sat 18 Jun, 2016 03:44 @angularboy, <notifications@github.com> wrote:

[2016-06-18 06:04] championswimmer opened #304 "Media Download : Add speaker images and media files into the mockjson folder as well"
To be able to test that the download script will work

[2016-06-18 06:06] championswimmer opened #305 "Generator [frontend]: Make the json link and json upload either/or options"
Either organiser links to the the event API
Or he uploads the jsons manually

We need to make it a radio button. Either a link to JSON is given or the jsons are uploaded manually.
(Right now both options are open)

[2016-06-18 06:08] championswimmer opened #306 "Write tests for the folding script"
We need tests for the functions in `fold.js`

We can test them using the mockjson folder (as a source of example jsons).

[2016-06-18 17:11] championswimmer opened #308 "images and audio not working in schedule page"
because we relatively link them to audio/ and speakers/ folders which we do not have in this repo

for the time-being, will cross-link them to original locations in OTS repo

[2016-06-18 17:12] championswimmer commented on #308
Done here https://github.com/fossasia/open-event-webapp/pull/307

[2016-06-18 17:12] #308 closed

[2016-06-18 19:44] #302 closed

[2016-06-18 19:44] #281 closed

[2016-06-18 20:10] championswimmer commented on #305
- [ ] make a radio selection in form for mock json, json upload and API
- [ ] make generator handle these three options

[2016-06-18 20:23] aayusharora commented on #306
@championswimmer , What we are using for it ? I am finding Jasmine as a suitable option.

[2016-06-18 20:26] championswimmer commented on #306
@aayusharora Was thinking the same.
Was evaluating mocha vs jasmine. We can go with jasmine. Is looking suitable to me

[2016-06-18 20:56] aayusharora opened #311 "Error page for handling wrong JSONS or endpoint"
Use Cases
 A user may upload
    1. wrong file format.
    2. incomplete files.
    3. Wrong end point

In all these cases or similar cases. a frontend Error page should handle this and provide a button to go to the index page again.

[2016-06-19 11:48] aayusharora opened #313 "Images not coming in pop-over track"

[2016-06-19 11:49] championswimmer commented on #313
src fields are blank. gotta fix track folding

[2016-06-19 11:50] aayusharora commented on #313
are you working for the same already ?

[2016-06-19 11:51] championswimmer commented on #305
done

[2016-06-19 11:51] #305 closed

[2016-06-19 11:51] aayusharora commented on #313
I am not seeing it corrected after fixing the jsons

[2016-06-19 11:56] championswimmer commented on #313
I will do this. You can work on the other views. I have to look at the JSON formats for v2 migration, and also for downloading of images and audios anyway.

[2016-06-19 11:58] aayusharora commented on #313
cool :)

[2016-06-19 15:16] aayusharora commented on #301
Solved here #312.

[2016-06-19 16:21] championswimmer commented on #301
Done.

[2016-06-19 16:21] #301 closed

[2016-06-19 19:59] aayusharora opened #314 "Top comes Undefined and pop-up not appear"
**Steps to reproduce**
While testing, I found sometimes hovering/clicking on Track gives pop-up while hovering/clicking on track-name
give error "top not defined".
![7](https://cloud.githubusercontent.com/assets/12194719/16179537/7cf165a6-3671-11e6-9c82-241c531b06a6.png)

[2016-06-19 20:27] aayusharora commented on #314
@championswimmer @juslee  Solved here #315

[2016-06-19 20:54] aayusharora opened #316 "Replacing Hover with Click to view pop-over below screen-size 768px"
Hover is not suitable for Mobile view, On desktop it works perfect.

Use Case

- [x] If Screen size is greater than 768 px , hovering on track should show pop-over.

- [x] If Screen size is lesser than 768px means smaller screens, Clicking on track should Show pop-over.

[2016-06-19 21:10] aayusharora commented on #316
@championswimmer @juslee Solved here https://github.com/fossasia/open-event-webapp/pull/315

[2016-06-19 21:41] aayusharora commented on #292
Solved By #318

[2016-06-20 18:12] championswimmer opened #320 "moment and bootstrap not loading from zip in tracks.html"
Again because they are not full paths. We need to add https:// to those paths

[2016-06-20 18:23] aayusharora commented on #316
Done !!!

[2016-06-20 18:23] #316 closed

[2016-06-20 18:23] aayusharora commented on #314
Done !!!

[2016-06-20 18:23] #314 closed

[2016-06-20 18:25] aayusharora commented on #320
#321 Done !!!

[2016-06-20 18:25] #320 closed

[2016-06-20 18:26] championswimmer opened #322 "popBox() funciton in tracks not working in Firefox"
In firefox it gives 'event is not defined' error.

Known Firefox problem. event is not global in Firefox HTML api. Have to pass event as a variable into the popBox() function

[2016-06-20 20:01] aayusharora commented on #322
Done !!!

[2016-06-20 20:01] #322 closed

[2016-06-20 20:21] aayusharora commented on #292
Done !!

[2016-06-20 20:21] #292 closed

[2016-06-20 20:30] aayusharora commented on #311
Done !!

[2016-06-20 20:30] #311 closed

[2016-06-20 21:07] aayusharora opened #324 "Add view-port and Title to webapp generator page"
@championswimmer    Solved here #325

[2016-06-20 22:12] aayusharora commented on #306
Tasks to be done

- [ ] Set up Jasmine with node-jasmine.

- [ ]  Run the tests for fold.js and app.js

[2016-06-20 22:14] aayusharora opened #326 "Set up Jasmine with Jasmine-node"
Checkpoint 1 : Issue #306

[2016-06-20 23:38] aayusharora commented on #306
@championswimmer @mariobehling  Setup done #326

[2016-06-21 11:45] aayusharora opened #328 "Mockup for schedule according to Rooms"
![18](https://cloud.githubusercontent.com/assets/12194719/16232433/36d64c04-37d3-11e6-9d4e-a4a2ed45e0f8.png)
@mariobehling @championswimmer  Any other suggestions ?

[2016-06-21 14:20] mariobehling commented on #328
Sorry, but I do not understand it. It should be a table.

[2016-06-21 14:30] aayusharora commented on #328
@mariobehling, ok Let me clear the design
1. Each session has a start date which is there at left side of card.
2. The right side of card contains the room information, currently I don't have much to relate with [microlocation.js](https://github.com/fossasia/open-event-orga-server/tree/development/samples/ots16).
3 . The Cards are sorted according to date and time.
Do we want simple than that, jus

[2016-06-21 18:27] championswimmer commented on #328
| Day/Time   | Hall 1   | Hall 2   | Hall 3   | Hall 4   |
|------------|----------|----------|----------|----------|
| Day1: 9am  | Session1 | Session2 | Session3 | Session4 |
| Day1: 10am | Session5 | Session6 |          |          |
| Day2: 9am  |          | Session7 |          | Session8 |
| Day2: 10am | Session9 |          |          |          |
| Day2: 1pm  |          |          |

[2016-06-21 18:27] championswimmer commented on #328
@aayusharora, I think @mariobehling means a format like this ^

Am I right @mariobehling  ?

[2016-06-21 18:36] championswimmer opened #329 "app fails to run on heroku"
It is because `connect-domain` module is not installed

[2016-06-21 18:37] championswimmer commented on #329
solved here https://github.com/fossasia/open-event-webapp/pull/330

[2016-06-21 18:37] championswimmer commented on #329
done

[2016-06-21 18:37] #329 closed

[2016-06-21 19:20] aayusharora commented on #324
Work Perfectly now on Mobile #325 Merged

[2016-06-21 19:20] #324 closed

[2016-06-21 22:02] aayusharora opened #332 "Run the first test for fold.js and app.js"
Parent Issue #306

[2016-06-21 23:08] aayusharora opened #333 "Center buttons on mobile"
Center the buttons and make proper gap between them.

![7](https://cloud.githubusercontent.com/assets/12194719/16249396/2a0ad0ee-381e-11e6-896c-394ed46c9b72.png)

[2016-06-22 05:45] championswimmer commented on #326
Done. Thanks @aayusharora

[2016-06-22 05:45] #326 closed

[2016-06-22 06:06] championswimmer opened #334 "API: Migrating to the new server API"
Sample json files for V2 are availabel here
https://github.com/fossasia/open-event-orga-server/tree/development/samples/ots16

We have to start with modifying out fold.js functions to suit the new format. The differences aren't too many.

[2016-06-22 09:19] aayusharora commented on #334
Yup, I will also contribute to this

[2016-06-22 09:36] aayusharora commented on #328
@mariobehling @championswimmer I am still in doubt, if this design is suitable.
Reason 1. The number of halls mentioned as Hall 1 etc in horizontal <thead> will increase. Hence a scrollbar will have to be there on xaxis.

[2016-06-22 16:44] aayusharora commented on #333
Solved by #335

[2016-06-22 18:02] aayusharora commented on #333
Solved !!!

[2016-06-22 18:02] #333 closed

[2016-06-22 18:31] mariobehling opened #336 "Adopt import to import zip with all JSON files"
In the Orga-Server we changed the JSON import/export into a zip file with all files inside. Please implement this for the app generator too. So users can import a the zipped JSON files instead of single files.

[2016-06-22 18:57] championswimmer commented on #336
A zip containing all the JSON files ?

[2016-06-22 19:06] aayusharora commented on #336
@championswimmer , it's like only one option to upload => and then admin zip will extract multiple files.
Now only one button from frontend to upload JSON's.

[2016-06-22 20:05] aayusharora commented on #332
Please divide #306 to generate more issues. This can be closed.

[2016-06-22 20:05] #332 closed

[2016-06-22 20:05] aayusharora commented on #313
Thanks @championswimmer  Solved #338

[2016-06-22 20:05] #313 closed

[2016-06-22 20:24] aayusharora opened #339 "Remove Dead functions from generator.js"
Some functions like speakerWithOrg are duplicated in generator.js as well as fold.js. Please remove the duplicity and clean the code.

[2016-06-23 05:34] aayusharora commented on #339
@championswimmer  @mariobehling  Solved #340.

[2016-06-23 09:28] the-dagger commented on #336
@championswimmer @aayusharora How do you plan to upload the zip file to the server?
Since on the Android side, we are using an Apache server, I couldn't find any specific resources for it.

[2016-06-23 09:33] aayusharora commented on #190
@juslee @championswimmer  Whats the decision for it ? Are we continuing with Codacy or codeclimate?

[2016-06-23 09:35] aayusharora opened #341 "Fixing UI for track page"

[2016-06-23 09:56] championswimmer commented on #190
Only @juslee can do it, as codacy is authorised via his account I believe

[2016-06-23 10:02] championswimmer commented on #334
Since fold.js needs significant rewrite for this, we can look at offloading some work to frontend js files ?

[2016-06-23 10:04] championswimmer commented on #334
Like I had mentioned before, we can make a openevent.js library for frontend. The .json files will be present along with index.html anyway, so the clientside js lib can live-load the data (like we do in Angular like webapps)

[2016-06-23 10:07] aayusharora commented on #334
I like the idea for Openevent.js library and directly accessing its functions on front-side. But, can we make this an issue for later milestone. This will require significant changes on both Frontend and Backend.

[2016-06-23 10:16] aayusharora opened #342 "Button to Upload JSON"
@championswimmer, Should we replace all upload buttons with a single button name "Upload Zip"

[2016-06-23 10:31] #341 closed

[2016-06-23 10:57] aayusharora commented on #339
Its done #340 !!!

[2016-06-23 10:57] #339 closed

[2016-06-23 14:24] aayusharora commented on #328
![4](https://cloud.githubusercontent.com/assets/12194719/16306730/5fc4e464-3967-11e6-927e-5e0128cc08cb.png)

[2016-06-23 14:28] aayusharora commented on #328
@championswimmer @mariobehling  Can you please check this table format ? Here there are two columns one is session name and second column is Room Information with time.

[2016-06-23 16:39] aayusharora opened #344 "Make rooms.tpl to create room.html"
When user Download the zip, a file room.html should be available.

[2016-06-23 16:40] aayusharora commented on #344
Solved here #343

[2016-06-23 16:42] aayusharora commented on #344
It's merged !!! Closing this.

[2016-06-23 16:42] #344 closed

[2016-06-23 16:53] aayusharora opened #345 "Make Microlocation.json available in generator.js"
- [x] Take data from microlocation.json.
- [x] Bind data with rooms.html

  we don't have any code in generator.js that takes microlocation.json from user.
Make microlocation.json available and use it to generate room.html.

[2016-06-23 18:36] mariobehling commented on #328
@aayusharora Please proceed as outlined by @championswimmer Cheers.

[2016-06-23 19:32] aayusharora commented on #328
Ok @mariobehling  Thanks

[2016-06-23 21:00] aayusharora opened #346 "Add the tuples microlocation in sessions.json according to V2 API"
Consider this to update sessions.json present in mockjson folder.
https://github.com/fossasia/open-event-orga-server/blob/development/samples/ots16/sessions.json

[2016-06-23 21:40] aayusharora commented on #346
@mariobehling  @championswimmer  Solved here #347

[2016-06-23 22:04] mariobehling commented on #346
I cannot look right now at the details of this commit, but just to be sure: Are you sticking to the JSON/Api outline here? https://github.com/fossasia/open-event-orga-server/blob/master/docs/API.md

There is a dedicated API for microlocations. More details are also here: https://open-event.herokuapp.com/api/v2/

Please confirm that you are implementing the 7 APIs/JSONs now.

[2016-06-23 22:08] aayusharora commented on #346
@mariobehling , I have followed the guidelines of the V2 API , Currently I have only added the microlocations according to https://github.com/fossasia/open-event-orga-server/blob/development/samples/ots16/sessions.json . so that I can start with Room page.Yes I will stick to the links provided above.

[2016-06-24 00:50] aayusharora commented on #345
@championswimmer @mariobehling Solved here https://github.com/fossasia/open-event-webapp/pull/348

[2016-06-24 05:24] championswimmer commented on #346
That's right @aayusharora , i prefer this approach too

[2016-06-24 05:27] championswimmer opened #349 "add rooms link to nav header"

[2016-06-24 05:28] championswimmer opened #350 "write common nav header tpl"
we are hardcoding into each schedule.tpl, rooms.tpl and tracks.tpl right now.

we can move nav header into a nav.tpl so we need to define only once

[2016-06-24 05:33] championswimmer commented on #328
If you think it'll take too much horizontal space, make it like this

| Day/Time   | <   Hall1   >  |
|------------|----------------|
| Day1: 9am  | Session 1      |
| Day1: 10am | Session 2      |
| Day2: 9am  |                |
| Day2: 10am | Session 3      |

| Day/Time   | <   Hall2   >  |
|------------|----------------|
| Day1: 9am  | Session 4      |
| Day1: 10am |                |
| Day2: 9

[2016-06-24 05:34] championswimmer commented on #328
@mariobehling does that look better

[2016-06-24 05:43] championswimmer commented on #328
| Day/Time   | Session   |
|------------|-----------|
| *Hall 1*   |           |
| Day1: 10am | Session 1 |
| Day2: 9am  | Session 5 |
| Day2: 10am | Session 6 |
| *Hall 2*   |           |
| Day1: 9am  | Session2  |
| Day2: 10am | Session3  |
| Day2: 11am | Session4  |

[2016-06-24 08:54] aayusharora commented on #346
Thanks Its done #347 Closing this :)

[2016-06-24 08:54] #346 closed

[2016-06-24 21:48] aayusharora opened #351 "Write CSS for Room page"
@championswimmer  Solved here #354

[2016-06-24 21:49] #328 closed

[2016-06-24 22:01] aayusharora opened #352 "ERROR in running test"
![error](https://cloud.githubusercontent.com/assets/12194719/16351712/64032252-3a70-11e6-8347-377d09990d04.png)

[2016-06-25 01:45] aayusharora commented on #352
@championswimmer Solved here #353

[2016-06-25 06:37] championswimmer opened #356 "fix audio not downloaded on heroku"
fixed in #355

[2016-06-25 07:08] championswimmer opened #358 "app crashes on launch on heroku"
noted a few issues -

mockjson does not contain microlocations.json, so using mockjson option crashes

also, there is console.log line that expects dist folder to be present
but dist folder is not present when launched

[2016-06-25 07:08] championswimmer commented on #358
fixed here #357

[2016-06-25 10:48] aayusharora opened #359 "App crashes with Live/Preview Option"
Solved here #360

[2016-06-25 12:11] #359 closed

[2016-06-25 12:12] #358 closed

[2016-06-25 12:13] aayusharora commented on #356
Merged #355

[2016-06-25 12:13] #356 closed

[2016-06-25 12:14] aayusharora commented on #352
Merged #353

[2016-06-25 12:14] #352 closed

[2016-06-25 14:29] aayusharora commented on #351
Merged #354

[2016-06-25 14:29] #351 closed

[2016-06-25 14:29] aayusharora commented on #345
Merge #348

[2016-06-25 14:29] #345 closed

[2016-06-25 14:30] aayusharora commented on #269
Its Done for now, Closing this :)

[2016-06-25 14:30] #269 closed

[2016-06-25 16:37] aayusharora opened #362 "Layout Fix Room Page"
Please fix the bad layout that results when there is no session for a particular Room.
![5](https://cloud.githubusercontent.com/assets/12194719/16357905/84c2e800-3b0c-11e6-898b-09f249638d4e.png)

[2016-06-25 16:39] aayusharora commented on #362
Solved here https://github.com/fossasia/open-event-webapp/pull/361

[2016-06-25 17:12] championswimmer opened #364 "rooms page should have a little more margin to left"
some items have almost 0 margin on left
![screenshot from 2016-06-25 22-41-15](https://cloud.githubusercontent.com/assets/1327050/16358068/0f7fb41e-3b26-11e6-8f40-01dd9fed2b9b.png)

[2016-06-25 17:17] aayusharora commented on #364
Solved with PR #361

[2016-06-25 17:17] #364 closed

[2016-06-25 17:17] #362 closed

[2016-06-25 17:55] aayusharora opened #365 "jQuery loads page slow and hence encounter improper state"
It happen when the page is loaded slowly because of background processes like audio file download.
Solution : Hide pop-boxes in CSS rather than jQuery because CSS will load fast.
![4](https://cloud.githubusercontent.com/assets/12194719/16358251/f3bcf002-3b16-11e6-9702-0157e6cff52e.png)

[2016-06-25 18:38] aayusharora commented on #365
Solved here https://github.com/fossasia/open-event-webapp/pull/366

[2016-06-25 19:41] aayusharora commented on #365
Closing it, its done!!!

[2016-06-25 19:41] #365 closed

[2016-06-25 19:42] aayusharora opened #368 "Room Page Not Responsive"
Please fix the Mobile and Tablet view.
![responsve](https://cloud.githubusercontent.com/assets/12194719/16358748/160e3b16-3b26-11e6-93e1-c666cf207534.png)

[2016-06-25 19:51] aayusharora commented on #368
Solved here #369

[2016-06-25 20:35] aayusharora commented on #368
Done !!!

[2016-06-25 20:35] #368 closed

[2016-06-25 20:41] championswimmer commented on #304
all portions of this is completed via this https://github.com/fossasia/open-event-webapp/pull/370

[2016-06-25 20:41] #304 closed

[2016-06-25 20:42] championswimmer commented on #298
completed all features via this https://github.com/fossasia/open-event-webapp/pull/370

[2016-06-25 20:42] #298 closed

[2016-06-25 22:23] aayusharora opened #371 "View Schedule According to Speakers"
- [x]  Make speakers.html available in Zip.
- [x]  Add anchor on top of page for Speaker's page
- [x]  Write Markup for Speaker page
- [x]  Write SASS for Speaker page

[2016-06-25 23:33] aayusharora commented on #371
@mariobehling  @championswimmer  All solved here #372

[2016-06-27 04:05] championswimmer commented on #371
Done :+1:

[2016-06-27 04:05] #371 closed

[2016-06-27 04:06] championswimmer opened #373 "on chrome/chromium the assetmode selector is not working"

[2016-06-27 04:19] championswimmer commented on #349
this has been resolved

[2016-06-27 04:19] #349 closed

[2016-06-27 04:23] championswimmer opened #375 "refactor the .tpl files into a template folder."
now we have 3 .tpl files at root level
best to make a template folder for that

[2016-06-27 05:32] championswimmer commented on #350
Done

[2016-06-27 05:32] #350 closed

[2016-06-27 05:33] championswimmer opened #377 "write common template for footer"
just like this
https://github.com/fossasia/open-event-webapp/issues/350

[2016-06-27 08:21] aayusharora opened #378 "Make Speakers page Responsive"
Solved by #379

[2016-06-27 20:45] aayusharora commented on #377
@championswimmer solved here #380

[2016-06-27 20:46] aayusharora commented on #375
done !!!

[2016-06-27 20:46] #375 closed

[2016-06-28 09:12] #378 closed

[2016-06-28 09:15] #224 closed

[2016-06-28 12:04] aayusharora opened #381 "Add Speakers description in speakers page"
Solved here #382

[2016-06-28 14:04] aayusharora opened #383 "Add Social Media links to speakers profile"

[2016-06-28 14:06] aayusharora commented on #377
Done !!!

[2016-06-28 14:06] #377 closed

[2016-06-28 20:59] aayusharora opened #385 "Optimize SASS with nesting"
Modify Speakers page SASS with nesting

[2016-06-28 21:16] aayusharora commented on #385
@mariobehling @championswimmer Solved by #384

[2016-06-28 21:17] aayusharora commented on #383
Solved by #384

[2016-06-29 12:19] aayusharora opened #386 "Fix Logo"
The logo seen on the page is broken image. Debug the code to extract right image.

- [x] Make logo image download in img folders if assetmode is download.
- [x] Liveload logo if assestmode is link.

[2016-06-29 18:22] #385 closed

[2016-06-29 18:22] #381 closed

[2016-06-29 20:11] aayusharora opened #387 "Change speakers.json according to V2 API and make suitable changes in speaker.hbs"
@mariobehling  @championswimmer  Solved here #388

[2016-06-29 21:49] aayusharora opened #389 "Edit sessions.json according to V2 API and make changes in fold.js"
Solved here #390

[2016-06-30 15:29] aayusharora opened #392 "Edit sponsor.json according to V2 API"
Please make suitable changes in fold.js,schedule.hbs

[2016-06-30 18:52] aayusharora opened #393 "Edit tracks.json according to V2 API"
Please do suitable changes in fold.js and generator.js.

[2016-06-30 18:57] aayusharora opened #395 "Fix Audio Links in Sessions.json"
After the change of V2 API, this will get affected we have to repeat the same procedure we have done earlier to change audio link with http URL's

[2016-07-01 11:08] #383 closed

[2016-07-01 11:09] aayusharora commented on #395
Solved by #390

[2016-07-01 13:01] aayusharora opened #396 "Choosing the downloading option doesn't load images"
Images get successfully downloaded but come on the page on refresh.
![22](https://cloud.githubusercontent.com/assets/12194719/16522204/e0092f38-3fb9-11e6-84c4-667064967b71.png)
![23](https://cloud.githubusercontent.com/assets/12194719/16522208/e46a7f3c-3fb9-11e6-8d8a-4ebeb53387d9.png)

[2016-07-01 21:52] championswimmer commented on #396
They are not present first time ?
They come after refresh ?

Does it work if hosted with `http-server` or `python -m SimpleHTTPServer` ?
I think this happens only when working on file:// mode

[2016-07-01 21:58] championswimmer commented on #334
@aayusharora will assign the frontend library-fication on a later milestone, correct !

[2016-07-01 22:01] aayusharora commented on #334
Yeah correct @championswimmer.

[2016-07-01 22:41] aayusharora opened #397 "Session info not coming on schedule page"
Please change {{description}} to variable {{long_abstract}} in schedule.hbs.

[2016-07-02 00:14] championswimmer commented on #393
done :)

[2016-07-02 00:14] #393 closed

[2016-07-02 00:14] championswimmer commented on #392
done :+1:

[2016-07-02 00:15] championswimmer commented on #389
done :+1:

[2016-07-02 00:15] #389 closed

[2016-07-02 00:15] #392 closed

[2016-07-02 00:15] championswimmer commented on #387
done :+1:

[2016-07-02 00:15] #387 closed

[2016-07-02 00:15] championswimmer commented on #373
fixed

[2016-07-02 00:15] #373 closed

[2016-07-02 05:53] championswimmer opened #398 "discrepancy in session start times in rooms.html"
<img width="783" alt="screen shot 2016-07-02 at 11 22 28 am" src="https://cloud.githubusercontent.com/assets/1327050/16538617/5b1c2ad0-4047-11e6-893d-5d14db75365c.png">
How can so many sessions start all at 0930 in  the same room ?

[2016-07-02 18:07] aayusharora commented on #398
@championswimmer  Please check sessions.json, most of it is marked with start_time 7:30 with after a 'utf-2' comes out to be 9:30.

[2016-07-02 20:00] aayusharora commented on #395
Done !!!

[2016-07-02 20:00] #395 closed

[2016-07-02 20:01] aayusharora commented on #397
Already Covered !!!

[2016-07-02 20:01] #397 closed

[2016-07-02 20:20] aayusharora opened #399 "Change event.json according to V2 API"
- [x] move to `social_links` from `services`

[2016-07-02 21:45] aayusharora commented on #386
Solved here #400

[2016-07-03 12:58] #386 closed

[2016-07-03 16:03] championswimmer opened #402 "fix lint issues in generator and fold"
many code formatting and lint issues have creeped into these after recent changes.

[2016-07-03 16:11] championswimmer opened #403 "Test ticket from Code Climate"

[2016-07-03 16:11] #403 closed

[2016-07-03 16:15] championswimmer commented on #190
done

[2016-07-03 16:15] #190 closed

[2016-07-03 19:39] aayusharora commented on #398
Can we close this ? @championswimmer

[2016-07-03 21:16] aayusharora commented on #398
Please reopen if you find it a bug @championswimmer .

[2016-07-03 21:16] #398 closed

[2016-07-03 21:19] #342 closed

[2016-07-03 22:02] aayusharora opened #407 "Better UX : Scrollbar only when Card is hovered"
In speaker page, currently cards which contain long description are having scrollbars.

For better UX, scrollbars should come only when the card hovers.
@championswimmer  Suggestions ?

[2016-07-03 22:05] aayusharora commented on #407
Solved here #408.

[2016-07-04 02:49] championswimmer commented on #342
Yes that would be correct to do

On Mon, Jul 4, 2016, 02:49 @angularboy <notifications@github.com> wrote:

[2016-07-04 04:33] #402 closed

[2016-07-04 07:55] #407 closed

[2016-07-04 08:02] championswimmer commented on #407
This UX looks much better now!

On Mon, Jul 4, 2016, 03:35 @angularboy <notifications@github.com> wrote:

[2016-07-04 17:46] championswimmer opened #410 "[v2 event.json] move services -> social_links"
new api
![screenshot from 2016-07-04 23-16-16](https://cloud.githubusercontent.com/assets/1327050/16567530/599d3490-423d-11e6-92be-9b41107431e1.png)

old api
![screenshot from 2016-07-04 23-16-22](https://cloud.githubusercontent.com/assets/1327050/16567531/59a65318-423d-11e6-82aa-5ea69598a644.png)

[2016-07-04 18:48] aayusharora commented on #336
@championswimmer  I am working for this .

[2016-07-04 20:16] aayusharora commented on #336
Solved by PR #411

[2016-07-04 20:16] #336 closed

[2016-07-04 20:56] mariobehling commented on #410
Please give us text instead of screenshots of code. You can use markup, if you want it to look different.

[2016-07-05 17:48] championswimmer commented on #396
@aayusharora can you check again ?

I just tried, and it seems to work

[2016-07-05 21:47] championswimmer opened #414 "app crashing on heroku"
because adm-zip is not in package.json

[2016-07-05 21:48] championswimmer commented on #414
fixed here https://github.com/fossasia/open-event-webapp/pull/412

[2016-07-05 21:48] #414 closed

[2016-07-05 23:11] #410 closed

[2016-07-06 16:17] #399 closed

[2016-07-06 16:17] aayusharora commented on #334
all done !!!

[2016-07-06 16:18] #334 closed

[2016-07-06 16:46] aayusharora opened #418 "App crashing using Download option"

[2016-07-06 16:51] aayusharora opened #419 "Delete all mock json files and add json zip folder"

[2016-07-07 11:39] aayusharora commented on #419
solvd

[2016-07-07 11:39] #419 closed

[2016-07-07 11:41] aayusharora commented on #396
Works fine on Heroku .

[2016-07-07 11:41] #396 closed

[2016-07-07 11:41] aayusharora commented on #418
Its working after the last PR merge

[2016-07-07 11:41] #418 closed

[2016-07-07 15:23] aayusharora opened #421 "No need for mockjson option"
1. We can import the zip now.
2. API endpoint is working to test webapp if we don't have JSONS to import.

[2016-07-07 17:26] championswimmer commented on #421
mockjson must remain, to test the server without having to upload zips

[2016-07-07 17:27] championswimmer opened #422 "generator on heroku crashes on using default mock json option"
we should not have moved to the mockjson.zip without making appropriate changes to generator.js

[2016-07-07 17:29] aayusharora commented on #421
@championswimmer In that case we have to keep mockjsons files ( WITH MOCKZIP) in the folder.

[2016-07-07 17:30] aayusharora commented on #422
@championswimmer  Please refer https://github.com/fossasia/open-event-webapp/issues/421.

[2016-07-07 17:32] championswimmer commented on #422
done

[2016-07-07 17:32] #422 closed

[2016-07-07 17:33] championswimmer opened #424 "add codecov badge to show coverage percentage"
codecov is configured to show coverage percentage now.

[2016-07-07 17:41] #421 closed

[2016-07-07 17:59] jainaman224 opened #425 "Error while generating preview."
I am receiving following error when I generated and preview web app using mock json.

{ [Error: EISDIR: illegal operation on a directory, open '/home/jainaman224/open-event-webapp/src/generator/backend/../../../dist/img/speakers/']
  errno: -21,
  code: 'EISDIR',
  syscall: 'open',
  path: '/home/jainaman224/open-event-webapp/src/generator/backend/../../../dist/img/speakers/' }

[2016-07-07 18:08] championswimmer commented on #425
Which assetmode option you used ? Link or Download ?

[2016-07-07 18:11] jainaman224 commented on #425
Download locally with website.

[2016-07-07 18:11] championswimmer commented on #424
done

[2016-07-07 18:11] #424 closed

[2016-07-07 18:12] jainaman224 commented on #425
I am getting following error.
![Error window](https://cloud.githubusercontent.com/assets/13117482/16664130/67381352-449c-11e6-929e-5a94f0b3198f.png)

[2016-07-07 18:27] aayusharora opened #427 "Update readme.md for adding zip info"
Please update the user with the format of the JSON files and the files to be kept in ZIP.

[2016-07-07 18:27] championswimmer opened #428 "document the required jsonfiles.zip format in the generator frontend"
We need to tell the user what files and filenames must be present int the single zip file he uploads

[2016-07-07 21:08] jainaman224 commented on #425
What data do you want inside folder dist/img/speakers/ . Do tell me, this data is missing from this folder.

[2016-07-07 21:12] aayusharora commented on #425
@jainaman224  Inside this path, images are downloaded by the URL of images provided in speakers.json.

[2016-07-08 08:12] aayusharora opened #429 "Customization in Dark Theme"
@championswimmer  @mariobehling  Solved by PR #430

[2016-07-08 09:07] jainaman224 opened #432 "Title should be user defined"
Currently project is having html title "OpenTechSummit 2016 Schedule" whereas it should be defined by user what title they want. For this I have taken title as `name` from `event.json`. But I think there should be another field in each json named `title` for each page. So that user has more control over the content.

I have made a pull request #431 depicting basic improvement for this issue.

[2016-07-08 11:45] aayusharora commented on #432
Merged #431

[2016-07-08 11:45] #432 closed

[2016-07-08 15:25] championswimmer opened #433 "code cverage is not showing bodies of functions"
I am considering moving to mocha, it shows function bodies with istanbul

[2016-07-08 16:53] jainaman224 opened #434 "Image can be uploaded"
Currently there is just one option that image would be downloaded from a url. Instead we should ask for images inside zip file and extract them from there or via upload option.

[2016-07-08 17:35] championswimmer commented on #434
That'd make for a huge zip needed to be uploaded. Ideally for such cases we'll be usning the orga-server to create events

[2016-07-08 17:57] jainaman224 commented on #434
Ok :+1:

[2016-07-08 18:19] #434 closed

[2016-07-08 20:10] championswimmer commented on #429
awesome ! this is done now

[2016-07-08 20:10] #429 closed

[2016-07-08 20:49] aayusharora opened #435 "Adjust the top-margins on the room and tracks page"
![roomsdark](https://cloud.githubusercontent.com/assets/12194719/16701117/79cd3eea-457b-11e6-9dce-f9ab05ca1dd5.png)

![tracksdark](https://cloud.githubusercontent.com/assets/12194719/16701143/88dc89d6-457b-11e6-9ba8-47e1afa37f64.png)

[2016-07-08 20:55] aayusharora opened #436 "Optimize SASS and make mixins to remove repeatations"

[2016-07-08 20:56] aayusharora opened #437 "Indentify URL in speakers description"
Identify the URL's inside text and point them to exact location.

[2016-07-08 21:04] aayusharora opened #438 "Fix UI for light theme"
After the last merge, this got affected
![3](https://cloud.githubusercontent.com/assets/12194719/16701460/934cd8b0-457d-11e6-8d28-88b5dd5d5a65.png)

[2016-07-09 13:11] aayusharora commented on #438
Solved here #439

[2016-07-09 13:11] #438 closed

[2016-07-09 17:01] #437 closed

[2016-07-09 17:04] aayusharora commented on #437
Solved here #440

[2016-07-09 21:47] #433 closed

[2016-07-09 21:48] aayusharora commented on #436
Done here #441

[2016-07-09 21:48] #436 closed

[2016-07-09 21:59] championswimmer opened #443 "drop .json suffix from mockjson files"
That should make them the same as orga-server API endpoint. For consistency

[2016-07-09 22:06] championswimmer opened #445 "using orga-server API endpoint option doesn't work"
One of the reasons is that orga-server API does not have a .json suffix on the endpoints (understandably).

So we need to drop that in our mockjson api #443

[2016-07-09 22:43] championswimmer commented on #445
done

[2016-07-09 22:43] #445 closed

[2016-07-09 22:43] championswimmer commented on #443
done

[2016-07-09 22:43] #443 closed

[2016-07-09 22:58] aayusharora commented on #425
@jainaman224 Followed by gitter discussion, I have rechecked the code and as I suggested earlier the error was due to broken links of images in speakers.json. This is only a mockjson. Links like https://raw.githubusercontent.com/OpenTechSummit/2016.opentechsummit.net/gh-pages/programm/speakers/Andr\u00e9_Rebentisch.jpg are broken.There are 11 such links hence 11 errors in console.

[2016-07-09 22:58] #425 closed

[2016-07-09 23:22] aayusharora opened #447 "Fix Sponsors section on Small screen"
![12](https://cloud.githubusercontent.com/assets/12194719/16710804/1431e8f8-465a-11e6-9aa8-1724c6e0e357.png)

[2016-07-09 23:27] aayusharora opened #448 "Heading not shown in Schedule Dark theme"

[2016-07-09 23:27] aayusharora commented on #448
![4](https://cloud.githubusercontent.com/assets/12194719/16710816/cc7a1d72-465a-11e6-8288-0edcc6086575.png)

[2016-07-10 18:17] aayusharora commented on #448
Solved here #449

[2016-07-10 18:17] #448 closed

[2016-07-10 18:17] aayusharora commented on #435
Solved here #449

[2016-07-10 18:17] #435 closed

[2016-07-10 23:33] aayusharora opened #451 "Add headings to Rooms, Speakers, and Tracks page"

[2016-07-11 00:26] aayusharora commented on #451
Solved by #450

[2016-07-11 03:37] championswimmer opened #452 "Add new features to the webapp"
@mariobehling @aayusharora

Let us jot down some more new features that we can add to the webapp in the next few milestones.

[2016-07-11 03:38] championswimmer commented on #451
Done. LGTM :)

[2016-07-11 03:38] #451 closed

[2016-07-11 04:20] #306 closed

[2016-07-11 08:01] aayusharora commented on #452
1. Infinite Scroll on speakers page
Features such as this can be implemented only when the data is fetched from the front-end side.
@championswimmer what's your suggestion ?

[2016-07-11 08:38] championswimmer commented on #452
We can use js to load from the json (the jsons are avaialble in the zip file)

[2016-07-11 13:00] mariobehling opened #454 "Get rid of themes and only use one theme that works"
Keep light theme only and delete option for different theme.

![screenshot from 2016-07-11 14 58 50](https://cloud.githubusercontent.com/assets/1583873/16731384/10a3a89c-4778-11e6-97de-a424ce8089d6.png)

[2016-07-11 13:04] mariobehling opened #455 "Only store files locally and do not give other options"
As mentioned - many - times the goal of this app is to enable organizers to store data locally. Therefore we currently do not need options for external data storage even if it is big. Please stop adding more confusing choices for the user.

![screenshot from 2016-07-11 15 01 10](https://cloud.githubusercontent.com/assets/1583873/16731501/b5682588-4778-11e6-9b1b-3a018cde5283.png)

[2016-07-11 15:25] championswimmer opened #458 "add track colors on the rooms page"

[2016-07-11 15:44] aayusharora commented on #458
Doing it

[2016-07-11 18:19] aayusharora opened #460 "Fix Links and make them active on click"

[2016-07-11 19:25] championswimmer opened #462 "Support multiple users generating simultaneously"

[2016-07-11 20:40] championswimmer opened #463 "Support multiple webapps generated by single user as well"
*should have different webapp names

[2016-07-11 20:48] championswimmer commented on #455
done

[2016-07-11 20:48] #455 closed

[2016-07-11 20:48] championswimmer commented on #454
done

[2016-07-11 20:48] #454 closed

[2016-07-12 08:32] aayusharora opened #466 "Zip not working on local but working fine on hosted version"
@championswimmer , in local the zip is having 0 bytes audio and 0 bytes images

[2016-07-12 09:01] #462 closed

[2016-07-12 10:22] aayusharora opened #467 "Using Compression Middleware"
@championswimmer @mariobehling The side is slow because of 65.2 MB of data that browser loads.
This is not constant number and will increase as the amount of audio files and images increases.

Proposed solution
I have gone through some links for best practices https://expressjs.com/en/advanced/best-practice-performance.html and find out the compression middleware.

I hope it will improve performan

[2016-07-12 11:01] mariobehling commented on #467
Why does the browser need to load all audio files even if they are not clicked?

[2016-07-12 11:44] aayusharora commented on #467
@mariobehling  Whenever we generate the webapp the links of photos and audio files are fetched from JSONS and a folder dist/audio and dist/images are made in which these files ( along with other files)  are saved.
the route /live/preview serves us a standalone folder which has all audio files and images. The images and audio are linked from the folders. Hence the browser loads all audios linked to

[2016-07-12 18:40] championswimmer commented on #467
Using compression middleware would be a good idea

[2016-07-12 18:42] aayusharora commented on #460
Done !

[2016-07-12 18:42] #460 closed

[2016-07-12 18:51] hpdang opened #471 "Implement standard project workflow"
Please implement the standard project workflow with a development branch.
* [x] Keep the master dev branch to deploy to heroku.
* [x] Add a deployment to heroku from the dev branch.
* [x] Increase code coverage. (Why is it only 30%?)

[2016-07-12 19:06] aayusharora commented on #458
Done !!

[2016-07-12 19:06] #458 closed

[2016-07-12 20:36] aayusharora opened #472 "Bug: Make audio files preload attribute none"
To boost the webpage the audio player preload should be set to "none"

[2016-07-12 21:16] aayusharora commented on #472
@championswimmer @mariobehling  This was the major bug. It is resolved.
Page upload now will be < 1 min.

Previous
![fail](https://cloud.githubusercontent.com/assets/12194719/16783908/f01a7768-48a3-11e6-89d3-1e4f098e0692.png)
 Now
![pass](https://cloud.githubusercontent.com/assets/12194719/16783920/ffc2f8ca-48a3-11e6-88a9-d8c81f725669.png)

[2016-07-12 21:27] #472 closed

[2016-07-12 21:39] aayusharora opened #474 "Fix Bugs in Track Page"
- [x] Change Speakers in popup to sessions
- [x] Fix Responsiveness
- [x] Add home in navbar to go back to webapp generator page.

- [x] Sessions according to each track with the color.
- [x] On hovering each session a pop-over appear.
- [x] Pop over contains
        1. header with option to share session.
        2. body which shows all speakers of the selected session.
        3. footer showing

[2016-07-13 08:26] championswimmer commented on #471
@hpdang @mariobehling
First two points are already done

https://open-event-generator.herokuapp.com - for master
https://opev-webgen-dev.herokuapp.com - for dev

[2016-07-13 08:27] championswimmer commented on #467
done

[2016-07-13 08:27] #467 closed

[2016-07-13 08:27] championswimmer commented on #466
taking a look into this today

[2016-07-13 08:27] championswimmer commented on #463
done

[2016-07-13 08:27] #463 closed

[2016-07-13 08:29] championswimmer opened #475 "setup separate badges in README for dev and master branches"

[2016-07-13 08:37] aayusharora opened #476 "App Crashed after merging Connection Middleware"
@championswimmer  Please check this.

[2016-07-13 08:47] championswimmer commented on #476
fixed

[2016-07-13 08:47] #476 closed

[2016-07-13 08:48] championswimmer commented on #476
@aayusharora I've added you as collaborator on heroku

get toolbelt.heroku.com, then you can do `heroku logs` to see heroku logs ;) You can push to heroku too .

[2016-07-13 10:02] aayusharora opened #477 "Fix Cross Domain errors"
Take jQuery and Bootstrap within the zip folder instead of CDN
- [x] Fixed Cross Origin Errors
- [x] Make the button-collapse work on room page.
- [x] Transfer JS from footer file.
- [x] Fix errorn console "Unexpected expression"
- [x] Remove extra file moment.min.js. No need for it in client side.

[2016-07-13 10:22] mariobehling commented on #471
@championswimmer Thanks for adding the Heroku badge.

Please do add a "deploy to heroku" badge. It is not there. Second point is not done.

Please also include documentation in the /docs folder.

[2016-07-13 10:27] mariobehling opened #478 "Add documentation and installation information"
There is a folder /docs now. Please add detailed information how to set up the app
* [x] locally
* [x] On a server
* [x] On Heroku
* [x] Also include screenshots
* [x] Update screenshots to latest app version
* [x] remove generator subdir in src, and de-nest the structure

[2016-07-13 16:40] aayusharora opened #480 "Button Collapse Not Working in Rooms page"
Solved by PR #481

[2016-07-13 17:43] #480 closed

[2016-07-13 17:44] aayusharora commented on #477
Done PR #481

[2016-07-13 17:50] #477 closed

[2016-07-13 21:47] aayusharora opened #483 "Add speakers Social links and Bio on sessions page"
The information is missing as compared with OTS16 website.

[2016-07-14 13:54] aayusharora opened #484 "Make Fonts-Awesome local"
The google page speed test suggests that the CDN used in font-awesome is making webapp slow. Replacing CDN and make it available in local folder.

[2016-07-14 14:51] aayusharora commented on #484
@mariobehling @championswimmer Solved by PR #481

[2016-07-14 17:36] aayusharora commented on #484
Done !!

[2016-07-14 17:36] #484 closed

[2016-07-14 18:06] championswimmer commented on #471
@mariobehling done point 2 now

[2016-07-14 18:11] #483 closed

[2016-07-14 18:12] aayusharora commented on #483
Done !!

[2016-07-14 23:14] championswimmer commented on #471
@hpdang 56% is covered. In the next few days will cover even more.

Please close the issue if all looks good :)

[2016-07-15 09:45] aayusharora opened #487 "Wrong information of date and time on rooms page"
- Optimise the Rooms page code
- Add correct information for date and time.
- Test it with  mockjson by changing dates.

[2016-07-15 15:06] jig08 opened #488 "Erroneous app link in README"
In `README` the link mentioned for usage as [https://open-event-generator.herokuapp.com](https://open-event-generator.herokuapp.com) seems erroneous.

![screenshot from 2016-07-15 11 12 19](https://cloud.githubusercontent.com/assets/9291400/16878768/e11a39d6-4a7b-11e6-84d9-97f01fbc6222.png)

Also, I believe this is the link to generate events by importing JSON Files ?

[2016-07-15 15:11] aayusharora commented on #488
Hi, @jig08 the URL is changed yesterday, updating in the readme in a minute
Development branch : opev-webgen-dev.herokuapp.com
Master Branch : opev-webgen.herokuapp.com

[2016-07-15 15:14] jig08 commented on #488
@aayusharora Thanks !

[2016-07-15 18:53] championswimmer commented on #488
@jig08 @aayusharora fixed

[2016-07-15 18:53] #488 closed

[2016-07-15 18:56] championswimmer commented on #466
unable to reproduce the issue. @aayusharora please reopen if you can still see this error

[2016-07-15 18:56] #466 closed

[2016-07-15 18:57] championswimmer commented on #475
this has been done

[2016-07-15 18:57] #475 closed

[2016-07-17 17:58] championswimmer commented on #478
add server deployment info here
https://github.com/fossasia/open-event-webapp/pull/495

[2016-07-17 18:22] mariobehling commented on #471
Thanks! Good job.

[2016-07-17 18:39] #471 closed

[2016-07-18 06:17] championswimmer opened #497 "URL encode the images and audio we download"
speaker images are not downloading correctly because some have spaces and nonASCII characters

[2016-07-18 06:28] aayusharora commented on #447
Done !!

[2016-07-18 06:28] #447 closed

[2016-07-18 10:41] aayusharora commented on #487
done !!!

[2016-07-18 10:41] #487 closed

[2016-07-19 15:49] aayusharora opened #500 "Make Dynamic Footer with popup dissimilar to sched.org"
The footer used by sched.org are not dynamic which causes basic problem for the last item to take its height
![13](https://cloud.githubusercontent.com/assets/12194719/16956759/4ddd16b4-4df7-11e6-83df-99665a616c9f.png)

This will make a problem as it will not provide the pop-over height to take its space on page.

[2016-07-19 22:36] aayusharora opened #501 "UX Improvement Track page"
- [x] Fix Responsiveness
- [x] Add speaker organisation and social links along with image
- [x] Change popover box to close on un-hover state rather than click as sched.org
- [x] Implement Dynamic Footer
- [x]  UX :Add Hover state to track hovered

[2016-07-20 01:56] #474 closed

[2016-07-21 09:43] aayusharora commented on #501
@mariobehling  @championswimmer  Solved with PR #502

[2016-07-21 09:44] aayusharora commented on #500
@mariobehling @championswimmer done with #502

[2016-07-21 09:52] aayusharora opened #503 "Add website links to speaker page"
- [x] Wrong Markup in speaker page for twitter links
- [x] Add website links with other social links

[2016-07-21 09:54] mariobehling commented on #500
@aayusharora It would be good to provide a link from now on to the sample webapp. Could you do that, please?

[2016-07-21 10:11] aayusharora opened #504 "Add Track names with their color codes on room page"
The roompage has colorful session names but it's not written anywhere that which color is from which track. This is confusing for a user to go back to track page and check the room page again.
Please make the information available on room page as sched.org does.

- [x] Add title of track with the color it belongs too.
- [x] Make the portion work well on small screens as sched.org

[2016-07-21 10:22] mariobehling commented on #501
Please provide a screenshot in future.

[2016-07-21 10:26] mariobehling opened #505 "Deploy test site to gh-pages branch"
Please add a sample event into the repo. The relevant link for the deployment will be http://fossasia.github.io/open-event-webapp/ then.

[2016-07-21 11:10] mariobehling commented on #504
Please ensure, you are using the color defined in the tracks.json. You can see an example here https://github.com/fossasia/open-event/blob/master/sample/OTS16/tracks.json

[2016-07-21 11:11] mariobehling commented on #452
Closing this issue. If you propose new features, please create an issue with a specific feature proposal.

[2016-07-21 11:11] #452 closed

[2016-07-21 11:12] mariobehling commented on #427
What is this info about? Please define it or close it.

[2016-07-21 11:13] mariobehling commented on #428
Why is this necessary? The zip should be generated by the server and should just have it all.

[2016-07-21 11:13] #428 closed

[2016-07-21 11:20] mariobehling opened #506 "Generator: Implement UI and backend to enter Github credentials and deploy to Github Pages"
Parent Issue: https://github.com/fossasia/open-event-webapp/issues/275

Please enable the user to deploy the website directly from the generator page to their github pages repository.
* [ ] Ensure the user can choose the repository and
* [ ] Check if it is possible that the user can create a repository when connecting the app with Github.
* [ ] Propose a UI and implement it
* [ ] Implement the bac

[2016-07-21 11:22] mariobehling opened #507 "Generator: Implement UI and backend to enter credentials and deploy website via ftp"
Parent Issue: https://github.com/fossasia/open-event-webapp/issues/275

Discuss the challenge to implement this and estimate the time required.

Please enable the user to deploy the website via ftp
* [x] Ensure the user can choose the folder and
* [x] Check if it is possible that the user can create a folder
* [x] Propose a UI and implement it
* [x] Implement the backend so several users could use

[2016-07-21 12:05] mariobehling opened #508 "Web Generator: Ensure preview files/sites do not conflict with several users using app at same time"
Previously preview apps were saved at http://opev-webgen-dev.herokuapp.com/live/preview/ . They are now save at http://opev-webgen-dev.herokuapp.com/live/preview/emailaddress@email.com/eventname/

Even though it is unlikely that there are conflicts, there could be still conflicts. Please ensure that there are no conflicts if there are several users using the app at the same time. How do you ensure

[2016-07-21 16:52] aayusharora commented on #504
@mariobehling Yes, definitely all colors are coming from tracks.json.

[2016-07-21 18:21] mariobehling opened #509 "Send out an email with a download link after website is generated"
The Android app generator already offers this and it would be great if we could have it implemented in the same way in both app generators.

Please implement:
- [x] Send out an email with a unique download link
- [x] Use a hash to make the download link unique
- [x] The download should be possible for 72 days after that the apk gets automatically deleted from the server
- [x] Document it in `dosc/

[2016-07-22 04:12] championswimmer commented on #508
If an app is being created at abc@xyz.com/eventone
Then if someone tries to create with same parameters
email = abc@xyz.com
app = eventone

We will give them an error saying an app using these names is already being generated, wait till it is built.

[2016-07-22 07:49] aayusharora commented on #501
Sure @mariobehling , closing this its done #502

[2016-07-22 07:49] #501 closed

[2016-07-22 07:50] aayusharora commented on #500
Will be providing link ahead. This is merged and good to close.

[2016-07-22 07:50] #500 closed

[2016-07-22 09:20] aayusharora commented on #503
@championswimmer  Its done here #511

[2016-07-23 03:39] mariobehling opened #515 "Avoid internal page scroll bars"
A number of areas have internal scroll bars, e.g. speakers page and on scroll over session information on tracks page etc.

List all pages with internal scroll bar here and implement a style without scroll bars.

[2016-07-23 04:15] mariobehling opened #516 "Test pages, images, links, design, on page"
Before you implement more features, please test the whole site in detail, e.g.
* [x] images are not shown (no need for explanation, rather open an issue and outline a solution)
* [x] Check all links, e.g. home screen not linking to defined home
* [x] Rethink usability, why are there different font sizes in dropdown menu?
* [x] Pages in small resolution are not using full width and breaking style s

[2016-07-23 04:18] mariobehling opened #517 "Use FOSSASIA event sample"
The OTS sample served well. To go into more detail, please use the FOSSASIA 16 sample for more detailed tests of events going over several days.

Event sample data: https://github.com/fossasia/open-event/tree/master/sample/FOSSASIA16

[2016-07-23 04:21] mariobehling commented on #508
yeah, sounds good.

[2016-07-23 09:45] aayusharora commented on #515
Hi,@mariobehling
Areas having scrollbars
1. Pop-overs
2. Speaker section
Internal Scrollbars are not necessity but requirement. For example let's say the the speaker section. We don't want the cards to be of unequal sizes. So we fix the max-height of each card and if the speakers description exceeds the height we give a scrollbar to prevent overflow text.
Hence you can see for better UX
1. No scro

[2016-07-23 10:57] mariobehling commented on #515
Ok, thanks for the listing. Now please implement

* [ ] No scroll bars in 1. Pop-overs
* [ ] Design with no scroll bars in 2. Speaker section (make a screenshot how it will look like.
* [ ] Ensure all works well in mobile

[2016-07-23 11:03] mariobehling opened #518 "Fix Scroll bar issues and implement design without scroll bars"
Parent Issue: https://github.com/fossasia/open-event-webapp/issues/515#issuecomment-234709757

In the below screenshot you can see 4 scroll bars. There should only be one scroll bar, the one to scroll from top to down.

* [x] Ensure no scroll bars in the scroll over content
* [x] Ensure the page does not scroll from left to right
* [x] Ensure all is working well on mobile screens

![screenshot fro

[2016-07-23 11:35] mariobehling opened #519 "Propose and implement a design with no scroll bars in the speaker section"
Parent Issue: https://github.com/fossasia/open-event-webapp/issues/515#issuecomment-234709757

Propose and implement a design with no scroll bars in speaker section (make a screenshot how it will look like.

[2016-07-23 23:14] aayusharora opened #520 "Image Folder in Zip ( instead of URL's)"
@championswimmer, @mariobehling the JSON's we were using were containing the http URL's to fetch images.
But the user can also upload images and audio files in zip.While testing Fossasia16 data I encountered this problem.

- [x] Make the code work when user upload a folder name "images" in zip.
- [x] Make the code work when user upload audio as a folder name "audio" in zip.

[2016-07-24 00:27] aayusharora commented on #505
@mariobehling This is done :)

[2016-07-24 00:27] #505 closed

[2016-07-24 00:28] #503 closed

[2016-07-24 06:12] championswimmer commented on #520
@aayusharora @mariobehling
This might involve a huge time for uploading the zip, please keep that in mind.

[2016-07-24 06:29] championswimmer opened #522 "Suport for images/audio in zip, in api and as external links"
So we need to support all three cases here

- [x] images/audio are relative paths in the API itself and we have to download
- [x] images/audio are external links that we have to download (already supported)
- [x] images/audio are uploaded with the zip file (sub-issue #520)

[2016-07-24 06:31] championswimmer commented on #522
we will have case 3 done when this issue https://github.com/fossasia/open-event-webapp/issues/520 is solved

[2016-07-24 06:34] mariobehling opened #523 "Document images import and resizing"
Document how images are imported and changed (resized, cropped) and describe ways to change this configuration in `docs/CONFIGURATIONS.md`.

[2016-07-24 06:57] championswimmer commented on #523
@aayusharora @mariobehling
Let's discuss the ideal size and format of
 1. speaker images
 2. audio files

[2016-07-24 06:58] championswimmer commented on #523
What I have in mind is

### speaker images
256x256 pixel (max). (if lower, we will upsample them)
Speaker's face should be in the centre, as they will be centre-cropped on the sessions page.
format = png or jpg

### audio files
format = ogg or mp3 or m4a
max size = 50mb

[2016-07-24 07:08] championswimmer commented on #517
assigning this to myself. I will take responsiblity of this

this is partly depending on this https://github.com/fossasia/open-event-orga-server/issues/1787 being resolved. once done, we might either have to make the .json suffix exception in our code, or if the suffix is dropped by server guys, we can go ahead and directly test.

[2016-07-24 07:36] mariobehling commented on #523
We need different sizes for different areas, e.g. on speakers page the size should be bigger than on sessions page.

Github has 100MB max size for normal uploads. So, let's use that one.

Regarding configuration: Could we have on file somewhere that holds all the configuration option of the system, e.g. image, audio sizes, email configuration and whatever comes up?

[2016-07-24 08:11] aayusharora commented on #517
@championswimmer i have already done this..  Will be pushing it today

On 24-Jul-2016 12:38 pm, "Arnav Gupta" <notifications@github.com> wrote:

being resolved. once done, we might either have to make the .json suffix
exception in our code, or if the suffix is dropped by server guys, we can
go ahead and directly test.

[2016-07-24 08:31] championswimmer commented on #517
@aayusharora please wait for that issue to resolve. do not make changes before we have a solution on whether or not we will use .json extension

[2016-07-24 08:38] championswimmer commented on #516
assigning @aayusharora because he has worked on the styling of the pages mostly.

[2016-07-24 10:04] mariobehling opened #524 "Create an event front page similar to the public event page on the orga server"
There was a discussion about this before and we are now at the stage where this should be included.

* [ ] Please ensure all details are added to the page
* [ ] If info in the JSON are empty the specific area should not be generated

[2016-07-24 17:14] championswimmer commented on #516
@mariobehling wanted a quick clarification.

The "home" button should link to ? The "event_url" in the json or the sessions page ?

[2016-07-24 17:40] mariobehling commented on #516
It depends on how we define it. At the moment it neither directs to the event_url nor the app start directory. The logo correctly links to the event URL. So, I think this is fine and we make the "Home" button direct to the "app root"

[2016-07-24 18:16] championswimmer commented on #516
thanks! will do the same

[2016-07-24 20:24] championswimmer commented on #523
@mariobehling So we just need to document the configuration, or do we need to provide a json file to let user to configure what size he wants ?

[2016-07-24 21:59] aayusharora opened #526 "Download Sponsor images in images/sponsors"
The images of sponsors are still linked and are not downloaded in the images/ folder.

- [x] Create a folder images/sponsors
- [x] Download the images inside the folder
- [x] Make the app work is user gives sponsor images in zip like speakers.

[2016-07-24 22:32] mariobehling commented on #523
Yes, if a JSON file could enable the config, then that would be good. We need to be able to adapt this later to our needs. Please create a JSON config then.

[2016-07-25 22:14] aayusharora commented on #504
Done here #527

[2016-07-26 06:59] championswimmer commented on #524
@aayusharora let's make this page index.html and the sessions page sessions.html

Sounds right @mariobehling  ?

[2016-07-26 07:00] championswimmer commented on #524
Noting down what all we need to generate this -

1. event banner
2. event title
3. event tagline (optional)
4. google map container with event location
5. event address box

[2016-07-26 07:53] aayusharora commented on #524
@championswimmer Something like eventbrite does https://www.eventbrite.com/e/demo-event-tickets-26243339535?aff=ehomecard

[2016-07-26 07:58] #504 closed

[2016-07-26 08:05] mariobehling commented on #524
@championswimmer Sounds good. Thank you.

[2016-07-26 12:29] abhishek97 opened #528 "Move to ES6 on node side"
I was just reading through the source code and thought code readability can be greatly improved by using ES6 for all the backend code(although some ES6 is in use already at some random places), this will help make the code more readable and all the goodness ES6 has to offer.

Ex:
[code]

would be like

[code]

I think that instead of just randomly droping ES6 syntax anywhere , we should define som

[2016-07-27 04:39] championswimmer commented on #528
@abhishek97 If you want you can work on converting all the backend side code to ES6.

Please ensure that this can run on Node v5 and above.

Use this table to ensure we are using only those ES6 features that Node 5 supports
https://kangax.github.io/compat-table/es6/#node5

[2016-07-27 04:41] championswimmer commented on #516
home page link done here
https://github.com/fossasia/open-event-webapp/pull/530

[2016-07-27 04:42] championswimmer commented on #524
@aayusharora, that event brite layout looks good to me. that's the type we have to make here too

[2016-07-27 07:04] mariobehling commented on #524
@aayusharora @championswimmer As the title of this issue says "page similar to the public event page on the orga server", e.g. https://open-event-dev.herokuapp.com/e/9/

Additionally to eventbrite, it shows sponsors and speakers. Please move this info to the start page as well.

[2016-07-27 16:21] aayusharora commented on #522
@championswimmer Case 3 is done https://github.com/fossasia/open-event-webapp/pull/521

[2016-07-27 16:23] aayusharora commented on #520
@championswimmer  We can close this after merging https://github.com/fossasia/open-event-webapp/pull/521

[2016-07-27 16:25] aayusharora commented on #497
@championswimmer  All the images which are null in JSON are replaced by generic image. Please check and reopen if some images are still not shown.

[2016-07-27 16:25] #497 closed

[2016-07-27 20:38] aayusharora commented on #518
@mariobehling  This will be solved after merging  #529 Please check
![1234](https://cloud.githubusercontent.com/assets/12194719/17191514/d293b1b2-5467-11e6-96e5-b3b75f295ec7.png)
![1236](https://cloud.githubusercontent.com/assets/12194719/17191582/2bf4e2ee-5468-11e6-9aa6-e29c7547e52a.png)

[2016-07-27 21:37] aayusharora commented on #516
Null images replaced by generic image, Track page style not breaking now solved here #529
![1234](https://cloud.githubusercontent.com/assets/12194719/17193378/60d5117a-5470-11e6-9665-e4b68e3ed255.png)

[2016-07-28 15:57] aayusharora opened #532 "Sort sessions on Track and Room Page according to date"
The sessions are not sorted in JSON when tested with fossasia data. Hence we need sorting on client side too.

[2016-07-28 15:59] championswimmer commented on #516
Okay, images with links like this
`photo.jpg?quality=89&w=800`
are not working correctly

[2016-07-28 16:00] championswimmer commented on #517
FOSSASIA sample data is working except images of speakers.

[2016-07-28 16:02] championswimmer commented on #517
![screenshot from 2016-07-28 21-31-09](https://cloud.githubusercontent.com/assets/1327050/17219882/b5944aa6-550a-11e6-8fda-251ac5d13a39.png)
![screenshot from 2016-07-28 21-31-25](https://cloud.githubusercontent.com/assets/1327050/17219883/b597a160-550a-11e6-8c82-4d2044c60fda.png)

[2016-07-28 16:03] aayusharora commented on #517
@championswimmer It is working fine but images of Speakers will be available after merging #521 as images are uploaded in ZIP itself.

[2016-07-28 16:10] aayusharora commented on #517
1. Also All Tracks here are of same color because the colors in JSON is same.
2. Tracks are not sorted for which I am working on #532 will be generating a PR in a minute.
3. The above navbar should have a fixed height as the number of tracks that are on different date increases the navbar height will also increase which will create the problem for the heading to be visible.

Please report any othe

[2016-07-28 20:58] aayusharora opened #534 "Pop-over not working on IPhone"
No popover appears when we click on track in IPhone. It is working on all mobile devices except that.

[2016-07-29 05:35] championswimmer commented on #517
Okay. So I am closing the issue, because the images have to be covered in the existing issue https://github.com/fossasia/open-event-webapp/issues/520

[2016-07-29 14:27] aayusharora commented on #516
@championswimmer  It is done and can be closed

[2016-07-29 14:29] aayusharora commented on #534
@championswimmer Solved by #535

[2016-07-29 17:29] aayusharora commented on #526
@championswimmer  @mariobehling  Done here #537

[2016-07-29 17:50] aayusharora commented on #534
It is Done !!

[2016-07-29 17:50] aayusharora commented on #532
It is Done !!

[2016-07-29 17:50] #532 closed

[2016-07-29 17:52] aayusharora commented on #520
It is Done !!

[2016-07-29 17:52] #520 closed

[2016-07-29 18:50] aayusharora commented on #519
@mariobehling After taking lot of examples I think we should rethink this issue once
**Points to be considered**
1. We should have **fixed height** for each card otherwise it will give a very bad layout.
Example
![badlayout](https://cloud.githubusercontent.com/assets/12194719/17259656/28d9e2ca-55ea-11e6-9050-cb07693c5066.png)
![badlayout2](https://cloud.githubusercontent.com/assets/12194719/172596

[2016-07-29 19:39] #427 closed

[2016-07-29 19:42] aayusharora commented on #526
Done!!

[2016-07-29 19:42] #526 closed

[2016-07-30 19:41] championswimmer opened #542 "Open the live preview in new tab instead of same tab"
done via PR https://github.com/fossasia/open-event-webapp/pull/541

[2016-07-30 19:42] championswimmer opened #543 "path to json folderi is broken when uploading zip manually"
it uses `json` and not `/json` as path

[2016-07-30 19:42] championswimmer commented on #543
done in this PR https://github.com/fossasia/open-event-webapp/pull/540

[2016-07-30 21:24] aayusharora commented on #519
@mariobehling I have tried  orga-server UI as it is without scrollbar. The UI does not seems good to me to deal with large text. I have tried **stress testing** and the results are not so good. There is no check of overflow which I am explaining here with scrollbars. Please check snapshot in the condition the data is increased. I have tested this with some random data.
Stress Testing 1
![123](http

[2016-07-30 22:09] aayusharora opened #544 "Speaker page fixes"
- [x] Overflow fixes
- [x] Visibility of text inside description

[2016-07-30 22:31] aayusharora commented on #522
@championswimmer  Can you please help me in this  **images/audio are relative paths in the API itself and we have to download** ?

[2016-07-30 23:11] aayusharora commented on #516
@championswimmer I am closing this, Please open another issue if you still find some images not working.

[2016-07-30 23:11] #516 closed

[2016-07-30 23:42] aayusharora commented on #544
Done #545

[2016-07-30 23:42] #544 closed

[2016-07-30 23:42] aayusharora commented on #543
Done !! Thanks

[2016-07-30 23:42] #543 closed

[2016-07-30 23:43] aayusharora commented on #542
Done!!

[2016-07-30 23:43] #542 closed

[2016-07-31 07:52] aayusharora opened #546 "Sections in event page"
- [x] Add sponsors in the page
- [x] Add speakers in the page
- [x] Add Map
- [x] Add tweets on right hand side
- [x] Event description

[2016-07-31 07:54] aayusharora opened #547 "Validate the fields of generator page"
Client-side validation should be added to the fields of generator page.

[2016-07-31 14:42] abhishek97 opened #549 "Preview and Download buttons pop early then they should"
The `Preview` and `Download` buttons pop up before the generator has completed the tasks.

Don't know why this is happening , but am pretty sure it has something to do with [this](https://github.com/fossasia/open-event-webapp/blob/development/src/generator/backend/generator.js#L80-L173).

[2016-07-31 22:02] aayusharora commented on #549
@abhishek97  Yes this is a bug, Do you want to work for this ?

[2016-07-31 23:16] aayusharora commented on #534
@championswimmer Can you please checkout this. I have tried various solutions. Its working in Chrome Inspector for IOS but not in the mobile. Apart from IOS its working in all other devices.

[2016-07-31 23:46] aayusharora opened #551 "Add Sponsors according to levels on Homepage"

[2016-08-01 03:51] abhishek97 commented on #549
Yes, i'd like to work on this

[2016-08-01 08:46] aayusharora commented on #549
@abhishek97 ok, Go ahead :)

[2016-08-01 12:43] championswimmer commented on #509
@mariobehling heroku does not provide persistent storage

files are valid only till the server sleeps next time

also websites generated can be 500mb in size (OTS16 with audio is 532mb). such large websites cannot be saved in large numbers on server

[2016-08-01 13:05] mariobehling commented on #509
Please use the FOSSASIA sample. We are using Heroku for development. The final apps should work on the cloud or normal server. File storage should use Amazon S3 just like the server. I see two ways we need it a) Integrate the web app with Amazon storage itself. b) Access the S3 Storage of the server probably through an internal API. Please open issues for required components.

[2016-08-01 14:38] mariobehling commented on #509
Please also check the options in the admin settings (https://open-event-dev.herokuapp.com/admin/settings/). Actually, there is the choice of local storage or S3. In any case, you should use whatever is the choice in the settings.

![screenshot from 2016-08-01 16 37 15](https://cloud.githubusercontent.com/assets/1583873/17297536/63b874ec-5806-11e6-87f0-f11744013b84.png)

[2016-08-01 14:41] championswimmer commented on #509
Okay ! Will set it up using S3 then

On 1 August 2016 at 20:08, Mario Behling <notifications@github.com> wrote:

[2016-08-01 14:50] championswimmer commented on #509
@mariobehling but these keys can be available to webapp generator only when used as a microservice of orga-server

But if used without the orga-server, then I'll have to ask each user for amazon s3 key every time they generate ?

[2016-08-01 14:53] championswimmer commented on #524
thanks @aayusharora
this is done now

[2016-08-01 14:53] #524 closed

[2016-08-01 15:21] mariobehling commented on #509
Yes, there needs to be an internal API for you to access. Please file an issue on the server for that.

You need to set up a test server and create an Amazon bucket for the service, not every user needs one.

The details for that should be in the config file I asked about a few days ago.

[2016-08-01 17:22] mariobehling commented on #517
Why has this issue been closed? I do not understand. The sample is still not here: http://fossasia.github.io/open-event-webapp/

Issues should be closed when they are solved. What kind of understanding of issues is it.

[2016-08-01 21:39] aayusharora opened #555 "API endpoint not working"
@championswimmer After last merge something has broken I am using https://open-event-dev.herokuapp.com/api/v2/events/9/sessions and its throwing me the error.
![error](https://cloud.githubusercontent.com/assets/12194719/17309840/8198dec2-585e-11e6-8b15-ba19ebd9191a.png)

[2016-08-01 21:41] aayusharora commented on #551
Ok solved by PR #554 Screenshots added in PR

[2016-08-01 21:41] #551 closed

[2016-08-02 08:14] championswimmer commented on #555
This is a malformed JSON file

https://open-event-dev.herokuapp.com/api/v2/events/9/sessions

Check using JSONLint

[2016-08-02 08:15] championswimmer commented on #555
I'll still take a look at what might be wrong

[2016-08-02 08:17] championswimmer commented on #549
No it is not those set of lines

We are downloading images and audio asynchronously. We never wait for them to finish.
When we say "live render ready", it means everything except images and audio is ready.

We need to fix this bug. I think though, we can show the live render at the current stage. But we should allow download only after images and audio has finished downloading.

[2016-08-02 08:18] championswimmer commented on #517
@mariobehling I thought this issue meant only that generator will work with FOSSASIA.

Ok I'll upload the formed website to gh-pages too.

[2016-08-02 10:22] aayusharora commented on #555
@championswimmer Zip is working correctly , I will merge development into master https://github.com/fossasia/open-event-webapp/pull/552 when the endpoint work correctly. Can we check any other endpoint if https://open-event-dev.herokuapp.com/api/v2/events/9/sessions is malfunctioned ?

[2016-08-02 10:53] abhishek97 commented on #549
@championswimmer however, the preview & download buttons pop up even before we have "live render ready" , right after "Cleaning the dist folder".

also i notice something weird when you set a breakpoint [here](https://github.com/fossasia/open-event-webapp/blob/development/src/generator/backend/generator.js#L182) .

[2016-08-02 11:22] championswimmer commented on #549
That happens because the front end animation is slow  (blinking text)

The buttons show up only after the live.ready event is received in socket,
not before that

On Tue 2 Aug, 2016 16:23 Abhishek Gupta, <notifications@github.com> wrote:

[2016-08-02 11:43] abhishek97 commented on #549
so what should be the remedy? , change frontend code to be in sync with the events emitted rather than the blinking animation?

[2016-08-02 12:08] championswimmer commented on #549
That'll spoil the UX. It wont look good. Let me figure out.

On Tue 2 Aug, 2016 17:13 Abhishek Gupta, <notifications@github.com> wrote:

[2016-08-02 13:34] championswimmer commented on #555
@aayusharora
https://raw.githubusercontent.com/fossasia/open-event/master/sample/OTS16 this is working for me. have a look ?

[2016-08-02 13:40] championswimmer commented on #555
https://open-event-dev.herokuapp.com/api/v2/events/9/speakers this does not even exist : (

[2016-08-02 13:57] aayusharora commented on #555
Ok thanks @championswimmer this is not the problem from our site.

[2016-08-02 13:57] #555 closed

[2016-08-02 14:43] championswimmer commented on #522
point no.1 done here https://github.com/fossasia/open-event-webapp/issues/522

[2016-08-02 14:44] #522 closed

[2016-08-02 15:49] championswimmer commented on #517
@mariobehling
I have uploaded here http://fossasia.github.io/open-event-webapp

there are a few bugs here and there... like the #track-name links are wrong. we'll fix them and close this issue

[2016-08-02 16:32] mariobehling commented on #517
Anything that is wrong in the sample, can be fixed in the sample. It is a simple JSON in a repository, so you can simply go ahead and work on it where necessary.

[2016-08-02 16:36] aayusharora commented on #517
@mariobehling I will work for this.

[2016-08-02 17:15] championswimmer commented on #547
done and merged

[2016-08-02 17:15] #547 closed

[2016-08-02 18:49] aayusharora commented on #546
@mariobehling @championswimmer Please check #558 for this.

[2016-08-02 19:11] championswimmer opened #559 "navbar track links (#track) links are incorrect"
earlier sessions was at index.html

no it is on sessions.html so should handle that properly

[2016-08-02 19:25] aayusharora commented on #559
Ok thanks @championswimmer  it's merged

[2016-08-02 19:25] #559 closed

[2016-08-02 22:09] aayusharora opened #563 "Add speaker pop-over same as Track page"

[2016-08-03 21:07] aayusharora opened #564 "Don't Create Objects for same speakers"
@championswimmer In the current approach, If a speaker is taking sessions of two different session-type described in JSONS as two objects having same speaker name but all other things like microlocation different.
It is creating two objects and hence we see repeated speaker photos.

The correct approach may be is to not create such objects again. What should be the unique key. Should I not create

[2016-08-03 21:29] mariobehling commented on #564
Please fix the original sample JSON instead of implementing a work around. There is an issue here https://github.com/fossasia/open-event/issues/57 Please help to resolve it.

[2016-08-03 21:36] aayusharora commented on #564
@mariobehling This issue is different from fossasia/open-event#57. It is quite possible that a speaker is associated with many sessions. In that case the code should be written such that it will map all sessions associated with the speaker under one speaker name.Currently, it is creating multiple entries even if JSON is correct.

[2016-08-03 21:44] championswimmer commented on #564
as per the folding code, even if one speaker has multiple session, his name
should be present only once in the speaker page. is it not happening the
same right now ?

On 4 August 2016 at 03:06, @angularboy <notifications@github.com> wrote:

[2016-08-03 21:46] championswimmer commented on #564
the speaker page should have exactly as many speakers as there are objects
in the /speaker endpoint.

right ?

On 4 August 2016 at 03:14, Arnav Gupta <championswimmer@gmail.com> wrote:

[2016-08-03 21:53] aayusharora commented on #564
Exactly, but it is working to /sessions endpoint Taking all speakers from sessions data and than mapping each with speaker information.
The bug here is
 "session_type": {
            "id": 19,
            "name": "Workshop, 1/2 h"
        },
        "short_abstract": "",
        "signup_url": null,
        "slides": null,
        "speakers": [
            {
                "id": 27,

[2016-08-04 08:13] championswimmer commented on #564
@aayusharora yeah that sounds right to me

[2016-08-04 09:39] aayusharora commented on #564
@mariobehling  @championswimmer Solved in #562

[2016-08-04 09:39] aayusharora commented on #563
@mariobehling @championswimmer Solved in #562

[2016-08-04 09:40] aayusharora commented on #519
@mariobehling Solved in #562

[2016-08-04 09:47] aayusharora opened #565 "Adding Information inside Speaker Pop-over"
- [x] Speaker Biography
- [x] Social Links
- [x] Sessions associated to each speaker
- [x] Room information

[2016-08-04 19:11] championswimmer commented on #563
done

[2016-08-04 19:11] #563 closed

[2016-08-04 19:11] championswimmer commented on #519
done

[2016-08-04 19:11] #519 closed

[2016-08-04 19:12] #564 closed

[2016-08-04 19:25] championswimmer opened #566 "generator not working on heroku with fossasia16 github sample"
When using this as an API endpoint `https://raw.githubusercontent.com/fossasia/open-event/master/sample/FOSSASIA16` the webapp generator is not working on heroku

But I just tried on DigitalOcean, and it worked flawlessly and generated a website.

[2016-08-05 15:17] championswimmer opened #569 "redo the REST API and document it"
after moving to socket.io based model, the old rest api does not work anymore

so we need to re-add rest api support and document it's usage.

[2016-08-05 15:55] mariobehling opened #570 "Pop over info usually off-screen"
Implement solution that shows pop-over info on screen always.

![screenshot from 2016-08-05 17 46 05](https://cloud.githubusercontent.com/assets/1583873/17442371/caf05116-5b35-11e6-8f00-c25a8ed231cf.png)

[2016-08-05 16:01] mariobehling opened #571 "No proper layout in sponsor section"
Please implement a proper layout, e.g. compare the following:

![screenshot from 2016-08-05 17 57 24](https://cloud.githubusercontent.com/assets/1583873/17442491/5977f5d8-5b36-11e6-932c-8e367d051e5c.png)

And
![screenshot from 2016-08-05 18 00 28](https://cloud.githubusercontent.com/assets/1583873/17442545/85a75f36-5b36-11e6-87d6-ed162cc30d08.png)

[2016-08-05 16:05] mariobehling opened #572 "Improve design of speaker section"
Desired look should be more professionally looking e.g. like FOSSASIA event site.

![screenshot from 2016-08-05 18 03 58](https://cloud.githubusercontent.com/assets/1583873/17442681/1780d0a4-5b37-11e6-9ce3-4d82c90184c0.png)

[2016-08-05 16:06] mariobehling opened #573 "Implement a featured speaker section"
Something similar to this one.

![screenshot from 2016-08-05 18 06 10](https://cloud.githubusercontent.com/assets/1583873/17442720/59f1e4d2-5b37-11e6-96a4-dd0a9dc1e662.png)

[2016-08-05 16:12] mariobehling opened #575 "Add event description to top area similar to Eventbrite pages"
Compare here:

![screenshot from 2016-08-05 18 10 51](https://cloud.githubusercontent.com/assets/1583873/17442872/1c87f95a-5b38-11e6-93ad-11b64ed416f6.png)

[2016-08-05 16:12] championswimmer commented on #508
this feature exists.

[2016-08-05 16:12] #508 closed

[2016-08-05 16:19] aayusharora commented on #573
@mariobehling @championswimmer This should be on Homepage right and the speakers page should be designed with pop-overs ?

[2016-08-05 16:20] aayusharora commented on #575
@mariobehling  This is already added here by following orga UI https://github.com/fossasia/open-event-webapp/pull/568 Please merge this.

[2016-08-05 16:39] mariobehling commented on #573
Pop-over offers more info. Just implement in this style. I would just ask you to stick to the FOSSASIA style of the former events now as the designs have numerous issues so far.

[2016-08-05 16:43] championswimmer commented on #573
@aayusharora

On event main page :
 - Show speakers which have featured : true
 - Show bio along with name and organisations (like photo posted by @mariobehling )

On speakers page:
 - Show all speakers
 - Show details of bio, sessions etc in popbox (like you have already implemented in front page)

[2016-08-05 16:45] aayusharora commented on #573
@championswimmer  Thanks that clears the confusion

[2016-08-05 16:55] aayusharora opened #576 "Dealing with images that do not have correct ratio"

[2016-08-05 16:56] aayusharora opened #577 "Sorting According to date and time everywhere"
- [x] Remove confusion at all places regarding sorting
- [ ] Apply sessions speakers room pages inside dropdown name 'Schedule'

[2016-08-05 16:59] mariobehling opened #578 "Missing speakers and tracks color not reflected in session"
Please compare the details of http://2016.opentechsummit.net/programm/ with http://fossasia.github.io/open-event-webapp/sessions.html

Several items are missing
* [x] Names of speaker missing
* [x] Colors of tracks not reflected in time field

![screenshot from 2016-08-05 18 54 37](https://cloud.githubusercontent.com/assets/1583873/17444086/667f7a3c-5b3e-11e6-8e9f-85802963962d.png)

[2016-08-05 17:08] mariobehling opened #579 "Map zoom not suitable and address missing"
As here the zoom level is not suitable:
![screenshot from 2016-08-05 19 06 38](https://cloud.githubusercontent.com/assets/1583873/17444357/d4c3d1d6-5b3f-11e6-8aa5-0abe69653f0f.png)

Address can be next to map as well as contact information, if provided.

![screenshot from 2016-08-05 19 07 47](https://cloud.githubusercontent.com/assets/1583873/17444385/f58cd30e-5b3f-11e6-95fe-97b6970092cd.png)

[2016-08-05 17:19] mariobehling opened #580 "Rename Sessions to Tracks"
Actually in the current implementation "Sessions" and "Tracks" is the same. All sessions are sorted according to tracks.

So, please take out tracks (delete) and rename "sessions" to "tracks".

[2016-08-05 17:21] mariobehling opened #581 "Implement Schedule"
The app is still missing a schedule similar to sched.org where all sessions that are taking place at the same time show up in the list.

![screenshot from 2016-08-05 19 20 10](https://cloud.githubusercontent.com/assets/1583873/17444722/cfca4640-5b41-11e6-8d49-92229095ab4a.png)

![screenshot from 2016-08-05 19 23 40](https://cloud.githubusercontent.com/assets/1583873/17444775/249f9b7a-5b42-11e6-864

[2016-08-05 19:46] aayusharora opened #583 "Images not working when we upload them in zip as Images/speakers and images/sponsors"

[2016-08-05 20:01] #580 closed

[2016-08-05 20:44] championswimmer commented on #566
got fixed for now after fixing the image uploads.

[2016-08-05 20:44] #566 closed

[2016-08-05 21:40] mariobehling opened #586 "In Tracks Page make session name background in track color"
For the new track page (former session page) make the color of the session name in track color similar to sched.org.

![screenshot from 2016-08-05 23 35 07](https://cloud.githubusercontent.com/assets/1583873/17451290/f286cc3e-5b65-11e6-94d4-d3ab953b287c.png)

[2016-08-05 21:46] mariobehling opened #587 "Implement updates and a better Rooms Page"
* [x] Add dates on top of page (not in the menu)

![screenshot from 2016-08-05 23 22 39](https://cloud.githubusercontent.com/assets/1583873/17451397/c9aa8c78-5b66-11e6-9d52-fc16e6dbcebd.png)

* [x] Rename Rooms Page to "Venue" (there can be locations that are not rooms)
* [x] Change table to better reflect sorting by rooms similar to below

![screenshot from 2016-08-05 23 37 21](https://cloud.gith

[2016-08-05 21:58] mariobehling commented on #575
Good first step, but let's focus more on details. Implement as shown in the screenshot. Include:
* [ ] Overlap, link and Ticket Link
* [ ] Description in "readable" color

[2016-08-05 22:52] aayusharora commented on #583
@mariobehling Solved here #588

[2016-08-06 09:53] aayusharora commented on #570
@mariobehling **"Implement solution that shows pop-over info on screen always"**
What does it exactly mean. The popovers behave same as sched.org.
![123](https://cloud.githubusercontent.com/assets/12194719/17456097/63d82e36-5be9-11e6-80ae-b62786245c32.png)
Just need to adjust some left margin here.
According to the issue It seems we want all info in the window view without scrolling from browser.