[2016-08-06 17:05] mariobehling commented on #478
What about this issue? When will you remove the generator subdir in src, and de-nest the structure?

[2016-08-06 17:06] #517 closed

[2016-08-06 17:12] mariobehling opened #590 "Implement twitter section using loklak"
* [x] Use code of https://github.com/fossasia/fossasia-loklak-webtweets
* [x] Develop section (background gray, font black) instead of sidebar
* [x] Include link to twitter page

![screenshot from 2016-08-06 19 09 04](https://cloud.githubusercontent.com/assets/1583873/17458119/5e538a4e-5c09-11e6-88b4-11a090b318d7.png)

[2016-08-06 17:20] championswimmer commented on #478
I put the PR twice. But there is always some PR or other pending, and
conflict arises and other high priority comes, so I keep it for later.

Since it changes the whole directory structure, that PR will conflict with
any other PR that is pending at that point of time.

On 6 August 2016 at 22:35, Mario Behling <notifications@github.com> wrote:

[2016-08-06 19:03] mariobehling commented on #478
Ok, got it. So, just make a PR for that change only and merge yourself right away.

[2016-08-06 23:55] aayusharora commented on #583
This is done!!

[2016-08-06 23:55] #583 closed

[2016-08-06 23:59] aayusharora opened #592 "Footer working with popover on Speaker page"
Same as previous Track page we need a dynamic footer that works with popover.

- [x] Implement a solution same as previous Track page to get footer working.
- [x] Make Speaker page work on Mobiles

[2016-08-07 07:58] mariobehling commented on #592
Please stick to the feature of issue and follow best practices: How is the speaker section related to the footer?

Which previous track page? Screenshot?

[2016-08-07 08:34] mariobehling opened #594 "Frontpage bug report"
The goal of the web app project is to have a generic solution to generate a website for an event. Events can be small or big with lots of tracks. Sometimes they do not have speakers or event a logo. We need to cater for the different events in order to have a successful outcome. The open-event repo already provides three different samples that should be continuously tested.

There are a number of

[2016-08-07 09:03] aayusharora commented on #592
@mariobehling The poovers comes with absolute height which is not known to the browser. Hence footer remain fixed and popover goes till the end.
According to UX, footer should always be at the bottom of the page whatever the situation is.
Consider the wrong layout
![22](https://cloud.githubusercontent.com/assets/12194719/17461497/d0287d80-5cab-11e6-8aa1-67bee2ada792.png)

 https://github.com/fossa

[2016-08-07 09:43] mariobehling opened #595 "Upload zip in background and show progress bar for upload"
Currently the user does not get any info, if uploads of files work successfully. Please implement:
* [x] Upload of zip in background right after zip file has been chosen
* [x] a progress bar to show upload (next to the file uploader for example or substituting it)
* [ ] an x-cross to cancel upload if desired
![screenshot from 2016-08-07 11 42 22](https://cloud.githubusercontent.com/assets/1583873/

[2016-08-07 18:55] championswimmer commented on #594
@mariobehling @aayusharora
I have solved some issues in #597 , #598 , #599

Please check and merge

[2016-08-07 18:58] championswimmer commented on #590
@mariobehling at bottom of the page ?

[2016-08-07 18:59] championswimmer commented on #569
this is done

[2016-08-07 18:59] #569 closed

[2016-08-07 21:48] mariobehling commented on #590
Before footer maybe. We can move the sections later. For now it is important to get the feature.

[2016-08-07 23:07] aayusharora commented on #573
@mariobehling  Please see the snapshot you have given contains all speakers with small descriptions/bio. Hence it looks fine. But when I done this with long descriptions the layout was disturbed.
Test Case 1
![123456](https://cloud.githubusercontent.com/assets/12194719/17465960/3bccc6a2-5d21-11e6-91ac-54356b0dff85.png)
Test Case 2
![12345](https://cloud.githubusercontent.com/assets/12194719/174659

[2016-08-07 23:48] aayusharora commented on #572
Its Done!! #591

[2016-08-07 23:48] #572 closed

[2016-08-07 23:50] aayusharora commented on #546
Its Done!!

[2016-08-07 23:50] #546 closed

[2016-08-07 23:50] aayusharora commented on #571
Its Done!!

[2016-08-08 00:45] mariobehling commented on #573
@aayusharora Yes, looks good, but please limit the number of words to match the height of the image and show the complete text on scroll over.

[2016-08-08 08:27] aayusharora commented on #575
Done !!

[2016-08-08 08:27] #575 closed

[2016-08-08 18:33] mariobehling commented on #571
Please fix: Sponsor images not aligned in middle of row (but in top of row). Expected is: Middle of Row.

[2016-08-09 07:32] mariobehling opened #603 "Speakers Page bug scaling and no html rendered"
* [x] In smaller screen resolution the images are not always in a ratio 1:1 as a square
* [x] html is not rendered in the description when provided
* [x] description is off-screen on standard mid-size screen resolution

![screenshot from 2016-08-09 09 28 29](https://cloud.githubusercontent.com/assets/1583873/17508179/f723fc0c-5e13-11e6-94d2-5a3c6399035e.png)

![screenshot from 2016-08-09 09 23 23]

[2016-08-09 09:37] the-dagger opened #604 "Broken download link is sent when there are spaces in app's name"
I tried sending `name` with spaces in it via the API but that resulted in invalid download link.
Input <br>
![screenshot-area-2016-08-09-150411](https://cloud.githubusercontent.com/assets/6565270/17511917/d7e30318-5e42-11e6-8e07-2152232df1ca.png)
email <br>
![screenshot-area-2016-08-09-150650](https://cloud.githubusercontent.com/assets/6565270/17511928/ee1136a0-5e42-11e6-9663-59df6eb65b53.png)

[2016-08-09 12:37] championswimmer commented on #604
Thanks for pointing out. Will fix it

[2016-08-09 20:02] aayusharora commented on #573
This is done #600

[2016-08-09 20:02] aayusharora commented on #571
Solved here #602

[2016-08-09 22:13] aayusharora commented on #594
@championswimmer @mariobehling  **Description is difficult to read and does not render HTML properly** Solved #605

[2016-08-10 07:23] championswimmer commented on #595
@mariobehling doing point 1 is faulty. if user wants to change zip file (if he selects wrong zip by mistake) then ?

[2016-08-10 13:28] #571 closed

[2016-08-10 14:22] #518 closed

[2016-08-10 14:23] #515 closed

[2016-08-10 19:58] championswimmer commented on #478
Done via
https://github.com/fossasia/open-event-webapp/pull/608

[2016-08-10 19:58] #478 closed

[2016-08-10 20:35] championswimmer commented on #506
I have experimented with the github api today, and the github 'contents' api ( https://developer.github.com/v3/repos/contents/) provides no method to "force push"

To be able to host gh-pages, we need force-push functionality.

[2016-08-11 08:06] championswimmer commented on #604
fixed now

[2016-08-11 08:06] #604 closed

[2016-08-11 08:07] championswimmer commented on #576
@aayusharora I think this can be dealt with in CSS itself ?

[2016-08-11 08:08] championswimmer commented on #570
@mariobehling do we need to keep this issue open ?
popups are like sched.org only as @aayusharora has mentioned

[2016-08-11 08:09] championswimmer commented on #528
@abhishek97 are you working on this ?

[2016-08-11 08:10] aayusharora commented on #576
@championswimmer Yes, Maintained a 1:1 ratio in all screen sizes

[2016-08-11 08:10] championswimmer commented on #549
closing this issue for now. functionally, the buttons are working, even if they come a few seconds earlier.

[2016-08-11 08:10] #549 closed

[2016-08-11 08:13] championswimmer commented on #603
fixed via https://github.com/fossasia/open-event-webapp/pull/611

[2016-08-11 08:13] #603 closed

[2016-08-11 08:59] aayusharora commented on #576
Its Done!!

[2016-08-11 08:59] #576 closed

[2016-08-11 10:57] aayusharora commented on #578
Done here #612

[2016-08-11 15:03] championswimmer commented on #587
point 1 done here https://github.com/fossasia/open-event-webapp/pull/613

[2016-08-11 19:13] #578 closed

[2016-08-12 06:51] abhishek97 commented on #528
@championswimmer yes , will be sending pr by the end of this week 👍

[2016-08-12 09:55] aayusharora opened #616 "Bad layout Rooms page on Mobile"
![123](https://cloud.githubusercontent.com/assets/12194719/17619112/f4f8e944-60a0-11e6-9cf6-79c21668dc96.png)

[2016-08-12 11:04] rafalkowalski opened #617 "Send notification to orga-server if web app is generated to proper user"
@championswimmer @aayusharora If Web App is generated please send a notification to orga server

I've created notification API:

http://127.0.0.1:8001/api/v2/#!/notifications/post_user_notifications.

[2016-08-12 12:04] aayusharora commented on #594
@championswimmer Can you check Sponsor Images sub-issue . The container is still shown with empty data. Not able to figure out the problem.Checked with EhealthAfrica data.
![12345](https://cloud.githubusercontent.com/assets/12194719/17621718/f02a12be-60b2-11e6-8cbc-6097d9dcae03.png)

[2016-08-12 16:26] aayusharora commented on #590
@championswimmer @mariobehling Working for this

[2016-08-12 18:38] championswimmer commented on #617
I believe you mean `open-event-dev.herokuapp.com` and not `127.0.0.1` @rafalkowalski  ?

[2016-08-12 20:06] championswimmer commented on #595
addressed this here
https://github.com/fossasia/open-event-webapp/pull/618

[2016-08-12 20:07] championswimmer commented on #594
@aayusharora I'll take a look

[2016-08-12 20:48] mariobehling opened #619 "Implement Footer with bottom menu"
Please follow the style below (from FOSSASIA):
![screenshot from 2016-08-12 22 40 37](https://cloud.githubusercontent.com/assets/1583873/17636508/d622ae0a-60dd-11e6-8b7a-56810dc8478b.png)

Implement:
* [x] Instead of "About" in the middle show here copyright info
* [x] In the left menu show following links
   * [x] About -> Links to description
   * [x] Tickets -> to Ticket page
   * [x] Tracks

[2016-08-12 20:51] mariobehling opened #620 "Improve styling of top bar"
Desired style as below:
![screenshot from 2016-08-12 22 47 33](https://cloud.githubusercontent.com/assets/1583873/17636667/f8327aa6-60de-11e6-927b-44379f0bb74d.png)

Major changes include:
* [x] Change background color of top bar to white
* [x] align menu and icons right
* [x] reduce social media size of icons and distance between them
* [x] Make top menu items capital and do not make them bold
*

[2016-08-12 21:08] rafalkowalski commented on #617
Exactly, sorry for mistake ;)

[2016-08-12 22:46] aayusharora opened #623 "Background Image not working with zip upload"
Checked all cases, it is working in every case like API but not when uploaded in zip

[2016-08-13 04:23] championswimmer commented on #623
done

[2016-08-13 04:25] championswimmer commented on #594
moving last point to https://github.com/fossasia/open-event-webapp/issues/620

[2016-08-13 04:25] #594 closed

[2016-08-13 06:39] aayusharora commented on #616
Done #621

[2016-08-13 06:40] #616 closed

[2016-08-14 04:54] championswimmer commented on #586
@mariobehling we made the session times according to track color instead

[2016-08-14 04:54] #586 closed

[2016-08-14 08:32] aayusharora opened #627 "display progressbar after button click"
We should display the progress bar only after the generator button is clicked. Currently, it is shown empty on page load

[2016-08-14 22:41] aayusharora opened #629 "Do not show sections like speakers, tracks, if those jsons are not available"
Parent Issue #620

- [x] Pages in footer
- [x] Pages in Navbar
- [x] Sponsor section

[2016-08-14 22:43] aayusharora commented on #629
@championswimmer This needs to be solved first, Can you help in this?

[2016-08-15 08:59] #627 closed

[2016-08-15 09:01] aayusharora commented on #620
Issue #629 for it. All covered except this

[2016-08-15 11:07] championswimmer opened #631 "background image field is wrong and app fails if it is undefined"
solved here https://github.com/fossasia/open-event-webapp/pull/630

[2016-08-15 14:13] aayusharora opened #633 "Logo Fix and Twitter bug"
- [x] Fix logo that is not shown now
- [x] Tweets with handle _ like eHealth_africa are not working.

[2016-08-15 16:44] #631 closed

[2016-08-15 17:03] #633 closed

[2016-08-15 17:05] aayusharora commented on #629
@championswimmer  Please help in the issue with sponsor section. I have tried this but can't able to figure out the problem.

[2016-08-15 17:50] championswimmer commented on #507
done here https://github.com/fossasia/open-event-webapp/pull/632

[2016-08-15 17:50] championswimmer commented on #629
ok I'm taking a look now

[2016-08-15 18:38] mariobehling commented on #619
Please ensure all icons have the same color.

[2016-08-15 18:41] #507 closed

[2016-08-15 18:44] mariobehling commented on #623
Thanks, it is added now, but should be centered vertically in the middle if it is not cropped. Currently we see the top area of the fossasia photo in the sample with parking cars - not so interesting.

[2016-08-15 18:56] mariobehling opened #637 "Schedule showing up buggy"
Please find out what is the cause of the issues with wrong displays and solve them. Starting point could be the sample file and sorting by the generator.
* [x] Lots of demo sessions show up, where there should not be a demo session
* [x] Times are wrong, e.g. wrong order and wrong times like lunch at 10.16 AM

http://fossasia.github.io/open-event-webapp/tracks.html

![screenshot from 2016-08-15 20

[2016-08-15 18:56] aayusharora commented on #623
Will do it now @mariobehling

[2016-08-15 19:11] mariobehling commented on #590
Please increase section to 100% width as shown in example.

[2016-08-15 19:36] championswimmer commented on #637
This seems to be because the JSON does not have timestamps with timezones.
I will update the JSON with singapore timezones

[2016-08-15 19:39] aayusharora commented on #619
- [ ] Make section gray
- [ ] Correct layout
- [ ] Find out reason for copyright info and solve it

[2016-08-15 19:39] mariobehling commented on #637
Ok, but it does not explain why there are different times on the different pages generated by the web app.

[2016-08-15 20:37] mariobehling commented on #623
The overlay is also too dark. Can hardly see the image below.

[2016-08-15 21:18] aayusharora commented on #623
Done

[2016-08-15 21:18] #623 closed

[2016-08-16 09:43] aayusharora opened #641 "Fix Sponsor section with more than 3 levels"
After new change in Open-event Fossasia sample. Sponsor section result in bad layout when number of levels increased to five.
Please implement a solution that works in all cases.

[2016-08-16 09:44] aayusharora commented on #641
@championswimmer I am working for this.

[2016-08-16 20:32] aayusharora commented on #641
Ok so after thinking how can we make this implementation possible so that the sponsor section become flexible with levels.

1. We have to calculate the number of sponsors at each level for this.
     a) **Level 1** => Sponsors should be large in size **Max-height: 120px**
        Case 1: Number of sponsors is 1 and 2
        Implementation: Make it centered in the row/container containing them.

[2016-08-16 23:16] mariobehling commented on #641
Just keep it as it is at the moment and focus on other tasks to make the application work. Also improve design e.g. 100% width of sponsorship section.

[2016-08-17 00:39] aayusharora commented on #641
@mariobehling
It is disturbed at the moment because of levels added in Fossasia JSON. It will not work like that, From my side both of the above-mentioned designs are ready and will not take more than 1 min to generate PR. Please suggest the better one from them.
I am focussing on other tasks as well.

[2016-08-17 01:15] aayusharora commented on #590
Done !!

[2016-08-17 06:37] mariobehling commented on #641
Ok, just follow the second approach maybe.

[2016-08-17 08:31] championswimmer commented on #590
done now

[2016-08-17 08:31] #590 closed

[2016-08-17 13:04] mariobehling commented on #595
The user currently has to wait a long time and does not see any progress of the upload. Also when the user wants to generate the app, it stays at 0% for a long time - cause probably because the upload is still going on. But: There is no visual feedback.

So, the progress bar of the app generation currently does not provide so much value, if we do not have an instant upload in the background and a

[2016-08-17 13:05] championswimmer commented on #595
Ok I'll add progress times for uploading too

On 17 August 2016 at 18:34, Mario Behling <notifications@github.com> wrote:

[2016-08-17 18:45] aayusharora commented on #592
done !!

[2016-08-17 18:45] #592 closed

[2016-08-17 20:50] #641 closed

[2016-08-17 21:08] championswimmer commented on #595
done via https://github.com/fossasia/open-event-webapp/pull/646

[2016-08-17 22:00] championswimmer opened #647 "documentaion and distribution todos"
- [x] add docs for AWS, GC and DO deployment
- [x] remove mockjsons
- [x] link to open-event FOSSASIA sample
- [x] improve and correct text in Readme, add choice of technologies

[2016-08-18 11:41] championswimmer commented on #647
thank you so much @mariobehling for doing points 1 and 4

[2016-08-18 12:45] mariobehling commented on #647
@championswimmer I think this is a misunderstanding. Those points are not done entirely. I just added some documentation and empty mds to draw the path.

[2016-08-18 12:58] aayusharora opened #650 "New Upload functionality not working with large zip"
Not able to generate Webapp with larger zip.
The fossasia sample works for me sometimes, but sometimes it completes blue bar and the button remains deactivated.
I have already mentioned this in https://github.com/fossasia/open-event-webapp/pull/646
@championswimmer Please confirm and check this issue.
![45](https://cloud.githubusercontent.com/assets/12194719/17774567/e1f65572-6571-11e6-98e1-05c37f

[2016-08-18 16:12] championswimmer commented on #650
let me try disabling the animations on the frontend and see.

[2016-08-18 20:36] #565 closed

[2016-08-18 20:37] championswimmer commented on #506
@mariobehling can we close this for now ?
I saw github apis (link in above comment), and it is not possible to force push to gh-pages.
I am not sure without that, how we can implement this functionality.

[2016-08-18 20:37] aayusharora commented on #619
Done #649

[2016-08-18 20:37] #619 closed

[2016-08-18 20:38] championswimmer commented on #528
I'm  closing this now
Please feel free to reopen when you have the PR ready for it
@abhishek97

[2016-08-18 20:38] #528 closed

[2016-08-18 21:50] aayusharora opened #654 "Render HTML in Tracks page"
The speaker Bio in Track page does not render HTML. Implement it same as done in other pages like Speaker page popover so that it can understand HTML tags.

[2016-08-18 22:02] #650 closed

[2016-08-18 22:03] aayusharora commented on #654
Done !!

[2016-08-18 22:03] #654 closed

[2016-08-19 10:12] mariobehling commented on #595
Current implementation is not logic yet. The progress bar is below the ftp form?

You are part of the discussion in this issue: https://github.com/fossasia/open-event-android/issues/548#issuecomment-240404879

There was an example that shows a standard implementation of many web services.

On the top you see the "Choose a file" field.

After the file is chosen, it displays a progress bar.

![scree

[2016-08-19 11:49] rafalkowalski commented on #617
@championswimmer Please check how to connect with API. I've explained it in andoid app https://github.com/fossasia/open-event-android/issues/585

[2016-08-19 17:17] championswimmer commented on #617
Thank you!

On Fri 19 Aug, 2016 17:19 Rafał Kowalski, <notifications@github.com> wrote:

[2016-08-19 17:47] aayusharora commented on #579
@mariobehling I have solved this here #656

[2016-08-19 18:53] mariobehling commented on #579
Please make the area width 100% and take out "Get me there.

[2016-08-19 18:55] mariobehling commented on #579
Zoom level still not suitable. The visible area should be as below.

![screenshot from 2016-08-19 20 54 54](https://cloud.githubusercontent.com/assets/1583873/17820894/43e51b50-664f-11e6-8389-18928d9d7f57.png)

[2016-08-19 19:01] aayusharora commented on #579
Ok , need more zooming doing it @mariobehling

[2016-08-19 19:04] the-dagger opened #657 "Allow user to upload zip files only"
As of now, the user is allowed to upload any file to the server.
This is a blocker as uploading a file which is not `zip` breaks the build and the progressbar gets stuck on "Copying JSON files"
I have already fixed this in the android generator [https://github.com/fossasia/open-event-android/pull/615](https://github.com/fossasia/open-event-android/pull/615) and found out that the webapp generator

[2016-08-19 19:57] championswimmer commented on #637
pending discussion on this
https://github.com/fossasia/open-event-orga-server/issues/2234

[2016-08-19 20:17] mariobehling opened #660 "Add information about components and technology stack to Readme.md"
Please outline the stack in the Readme.md and give pointers for developers interested to try out and join the project.

https://github.com/fossasia/open-event-webapp#components-and-technology

[2016-08-19 22:58] the-dagger commented on #657
@championswimmer If you wan't i can send a PR fixing this.
I did it already in the android generator.

[2016-08-19 23:01] aayusharora commented on #657
@the-dagger Please go ahead :)

[2016-08-19 23:33] #657 closed

[2016-08-20 10:06] aayusharora opened #662 "Zip Loader work on local but not working on Heroku"
@championswimmer Checked it with Fossasia Zip, due to this https://opev-webgen.herokuapp.com/ is not longer working. I guess @mariobehling was talking about same problem and now I realised that.
Is this heroku specific?

[2016-08-20 12:44] mariobehling commented on #662
@aayusharora Please test on the dev version: http://opev-webgen-dev.herokuapp.com

But did not work for me yet here neither.

[2016-08-20 13:59] aayusharora commented on #587
@mariobehling @championswimmer Taking this

[2016-08-20 16:52] mariobehling opened #665 "Screencast gif is too big"
Screencast is a nice thing, but 3+ MB is too big. Please try to make a smaller one about 1MB if possible. You could reduce the size and length.

[2016-08-21 20:04] aayusharora opened #668 "Web generator not working with endpoint"
After last merge, something got broke, web app throwing errors with endpoint http://open-event-dev.herokuapp.com/api/v2/events/9

[2016-08-21 20:19] aayusharora commented on #668
Solved here #669

[2016-08-21 20:23] aayusharora commented on #577
@mariobehling  Do we need the second point

[2016-08-21 20:28] #668 closed

[2016-08-21 20:29] aayusharora commented on #662
Solved

[2016-08-21 20:29] #662 closed

[2016-08-21 20:34] mariobehling commented on #570
Other testers told me they have the same issue. We need to think about a solution, but apparently there are other issues on the list as well. So we can come back to this afterwards.

[2016-08-21 20:36] mariobehling commented on #577
I don't understand it. Do you have a screenshot?

[2016-08-21 20:37] mariobehling commented on #579
Cannot see this closed in the test page.

[2016-08-22 04:13] mariobehling commented on #573
This is not visible in the demo site. I am not sure, if the JSON needs to be adapted, but the start page still shows all speakers.

[2016-08-22 04:19] mariobehling opened #670 "Use standard style in speakers page"
The speakers page has a different style to the other pages. It is unclear why. Please use the same style in all pages, e.g. white background in middle space, same size of fonts as in other pages, same heading etc.

[2016-08-22 04:27] mariobehling opened #671 "Rooms page bugs: Missing date links, session time confusing, no session info"
The rooms page is still missing basic information including
* [x] no date top links (like in tracks page)
* [x] no expanded session info on click (like in tracks page)
* [x] confusing time format - it should be the same as on tracks page
* [x] Room name Dalton Hall repeating

[2016-08-22 04:30] mariobehling opened #672 "Line break in footer"
Please ensure automatic line breaks in location in footer.

![screenshot from 2016-08-22 06 28 20](https://cloud.githubusercontent.com/assets/1583873/17843731/d32ce9e4-6831-11e6-8599-00cecd56a9f9.png)

[2016-08-22 15:01] mariobehling commented on #672
@aayusharora At http://fossasia.org the center column of the footer is a bit longer and the right part moved more to the right. It looks more natural. Could you implement that in this footer as well, please?

[2016-08-22 15:06] mariobehling opened #674 "Make top bar semi-transparent"
Please make the top bar semi-transparent like at the FOSSASIA site.

[2016-08-22 15:10] mariobehling opened #675 "Document how to change outcome of final html"
As the final html is generated by the generator, contributors cannot simply change the html of the final page, but need to change the generator.

Please make it easy for beginning contributors like Google Code-In students to understand which files to change in order to change the outcome of the generated website.

Add relevant information into the Readme.md

[2016-08-22 15:19] mariobehling opened #676 "Speakers information does not show session location and no link to session on tracks page"
![screenshot from 2016-08-22 17 15 36](https://cloud.githubusercontent.com/assets/1583873/17860087/744ae59c-688c-11e6-8e28-bf312bb3c6fa.png)

* [x] Does not show session location
* [x] Does not link to session information on tracks page with expanded section

[2016-08-22 15:22] mariobehling opened #677 "Rooms page errors of time and rooms"
![screenshot from 2016-08-22 17 21 07](https://cloud.githubusercontent.com/assets/1583873/17860210/f0d6c7de-688c-11e6-9214-9c935f3ce838.png)

Please move times back to left side of the table and ensure room only shows up once.

[2016-08-22 17:13] championswimmer commented on #573
done via https://github.com/fossasia/open-event-webapp/pull/679

[2016-08-22 17:17] #573 closed

[2016-08-22 17:37] championswimmer commented on #660
done via https://github.com/fossasia/open-event-webapp/pull/681

[2016-08-22 17:37] #660 closed

[2016-08-22 17:55] championswimmer commented on #665
screencast is 831kb in size now.

[2016-08-22 17:55] #665 closed

[2016-08-22 18:10] championswimmer commented on #674
it's done

[2016-08-22 18:10] #674 closed

[2016-08-22 18:30] championswimmer commented on #577
we have sessions speakers and rooms page separately now. no need for links in dropdown

[2016-08-22 18:30] #577 closed

[2016-08-22 18:35] aayusharora commented on #672
Yes doing it @mariobehling

[2016-08-22 18:43] aayusharora commented on #579
@mariobehling Its done :+1:

[2016-08-22 19:17] championswimmer commented on #677
@aayusharora will you take a look at this ? your earlier PR moved the times into the boxes.

[2016-08-22 19:21] championswimmer commented on #637
times are fixed and start from 09:30 now.

![screenshot from 2016-08-23 00-50-15](https://cloud.githubusercontent.com/assets/1327050/17868239/ac59ed90-68cb-11e6-8192-f22bb4506aaf.png)
![screenshot from 2016-08-23 00-50-24](https://cloud.githubusercontent.com/assets/1327050/17868240/ac5eb3ac-68cb-11e6-9c3a-c32ca9f77b72.png)
![screenshot from 2016-08-23 00-50-32](https://cloud.githubusercontent.com/

[2016-08-22 19:21] #637 closed

[2016-08-22 20:22] championswimmer commented on #595
upload gets cancelled if user selects different file using browse button. so cancelling functionality works too.

[2016-08-22 20:22] #595 closed

[2016-08-22 21:30] championswimmer commented on #647
installation docs added

[2016-08-22 21:30] #647 closed

[2016-08-22 21:48] aayusharora commented on #629
@championswimmer Done!!

[2016-08-22 21:49] #629 closed

[2016-08-22 21:50] aayusharora commented on #677
@championswimmer Working for this

[2016-08-22 23:15] championswimmer commented on #677
thanks, done via https://github.com/fossasia/open-event-webapp/pull/685

[2016-08-22 23:24] aayusharora commented on #677
Rooms still repeating

[2016-08-23 00:10] aayusharora commented on #677
@championswimmer Figured that out Please check the spaces in front off Dalton hall in data https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16/sessions#L48 This is the reason for creating two objects. Can you remove this?

[2016-08-23 01:35] aayusharora commented on #676
@mariobehling @championswimmer Taking this

[2016-08-23 01:36] aayusharora commented on #676
@mariobehling Solved via #686

[2016-08-23 06:10] championswimmer commented on #677
done https://github.com/fossasia/open-event/pull/92

[2016-08-23 06:10] #677 closed

[2016-08-23 17:49] aayusharora commented on #671
@mariobehling @championswimmer Taking this

[2016-08-23 20:22] championswimmer commented on #675
done via https://github.com/fossasia/open-event-webapp/pull/687

[2016-08-23 20:22] #675 closed

[2016-08-23 21:09] aayusharora commented on #671
Closed via #688

[2016-08-23 21:10] aayusharora commented on #587
Closed via #688

[2016-08-23 21:10] #587 closed

[2016-08-23 22:22] mariobehling opened #690 "Necessary Design Fixes - Use same design, font, width on all pages"
* [x] On Front page make order as follows: 1. Description, 2. Featured Speakers, 3. Twitter area, 4. Sponsors, 5. Map Area, 6. Footer

* [x] On Front page ensure all text areas stick to the same area width and distances including header logo/text and footer area

![screenshot-fossasia github io 2016-08-23 23-45-26](https://cloud.githubusercontent.com/assets/1583873/17911494/137448d2-698e-11e6-8858

[2016-08-24 09:23] championswimmer commented on #690
@mariobehling so twitter and maps section should not be full width you want to say ?

but you only wanted them to be full width
(point no 2)

[2016-08-24 10:59] championswimmer commented on #690
@mariobehling also, header on front page as same area width as content area

<img width="1192" alt="screen shot 2016-08-24 at 4 27 38 pm" src="https://cloud.githubusercontent.com/assets/1327050/17928337/de06c956-6a17-11e6-86ab-16d06b690e26.png">

[2016-08-24 11:01] championswimmer commented on #690
also heading is same, because we use the same template for header on all pages.

[2016-08-24 11:24] mariobehling commented on #690
@championswimmer This issue is about the text/content width, not about the full width of sections. Please compare to the recent fossasia event sites or any other standard design implementations. It seems like you are using a different style on each page. Use the same css across all pages.

[2016-08-25 13:34] rafalkowalski commented on #617
@championswimmer  have you tried to send notifications?

[2016-08-25 18:24] aayusharora commented on #672
![56](https://cloud.githubusercontent.com/assets/12194719/17980963/403d9f66-6b1f-11e6-8096-421773d90e89.png)

[2016-08-25 18:26] #672 closed

[2016-08-25 18:43] #523 closed

[2016-08-25 20:55] championswimmer commented on #581
done

[2016-08-25 20:55] #581 closed

[2016-08-25 21:39] aayusharora opened #695 "Issues in New Schedule Page"
- [x] The link Home gets active instead of schedule on schedule page
- [x] Speaker tag still shows when there is no speaker info.
- [x] HTML not rendering in speakers Description.
- [x] Time Headings are bolder and not responsive in mobile view

[2016-08-26 07:36] aayusharora commented on #695
Done !!

[2016-08-26 07:36] #695 closed

[2016-08-26 08:35] the-dagger opened #697 "Label for the zip upload missing"
In the app generator website, when user selects the option to upload a zip, there is no `Hint Text` as compared to the case when he selects the option to enter `API Endpoint`.
Current UI :
====
![screenshot_20160826_140359](https://cloud.githubusercontent.com/assets/6565270/17999208/f7e80676-6b95-11e6-99f7-9ea3d65e5814.png)
![screenshot_20160826_140345](https://cloud.githubusercontent.com/assets/6

[2016-08-26 13:05] mariobehling commented on #579
Please make
* [ ] the area 100% as discussed here https://github.com/fossasia/open-event-webapp/issues/579#issuecomment-241104235 (Please compare to the fossasia event sites map area e.g. here http://2016.fossasia.org )
* [ ] Increase height

![screenshot from 2016-08-26 15 02 49](https://cloud.githubusercontent.com/assets/1583873/18006144/80855d64-6b9e-11e6-9240-d53bee73140f.png)

[2016-08-26 13:08] mariobehling opened #699 "Tweet Area: Use standard color and increase height of area"
Currently the area is a bit squeezed and colors are not matching. Please:
* [x] use standard gray color and css
* [x] Increase height of area (compare to fossasia event sites)

![screenshot from 2016-08-26 15 06 31](https://cloud.githubusercontent.com/assets/1583873/18006224/deadf626-6b9e-11e6-8324-303e6866f9ef.png)

[2016-08-26 13:13] mariobehling opened #700 "Erroneous Line Breaks in Track Info Areas"
There are breaks right after the colored dots in the track info areas, that should not happen.

![screenshot from 2016-08-26 15 12 03](https://cloud.githubusercontent.com/assets/1583873/18006413/a547f660-6b9f-11e6-814b-c89f671dc7c3.png)

[2016-08-26 13:14] #697 closed

[2016-08-26 13:17] mariobehling opened #701 "Footer menu links not working on all pages"
* [x] About page not correctly linked from all pages
* [ ] Ticket link should link to "ticket area" on start page
* [x] Scroll to top should use scrolling feature

![screenshot from 2016-08-26 15 15 15](https://cloud.githubusercontent.com/assets/1583873/18006474/fa905bbc-6b9f-11e6-8dec-3ccb619f593b.png)

[2016-08-26 13:21] mariobehling commented on #670
Heading still different to other pages.

[2016-08-26 13:24] aayusharora commented on #579
@mariobehling This will contradict with https://github.com/fossasia/open-event-webapp/issues/690 second point. The content area for map can not be 100% ? Section area is already 100%.

[2016-08-26 13:32] aayusharora commented on #699
@mariobehling

Do we want something like this just with increased height?
![45](https://cloud.githubusercontent.com/assets/12194719/18006941/9db9cca0-6bbf-11e6-9860-0bfb4a0726a4.png)

[2016-08-26 15:26] mariobehling commented on #579
no, because this is not a text area. Please compare to fossasia event sites.

[2016-08-26 15:28] mariobehling commented on #699
black font -> standard gray font. Don't change background.

[2016-08-26 15:44] aayusharora commented on #579
ok .. thanks

[2016-08-26 15:57] mariobehling commented on #676
Please ensure style as in sample style is followed:
* [ ] Text below images: Align left and keep same height of both a) speaker name b) company/project
* [ ] Text area on overlay: Ensure speaker description text is in standard gray color

![screenshot from 2016-08-26 17 55 41](https://cloud.githubusercontent.com/assets/1583873/18011714/9213d0ca-6bb6-11e6-97dd-47411680a781.png)

[2016-08-26 15:59] mariobehling commented on #620
* [ ] Please ensure top menu text has the same gray color as in example. Compare to fossasia event sites.

[2016-08-26 16:08] mariobehling commented on #671
Thank you, good progress. Now, please ensure the implementation on the page stay within out design and follow the content display of other pages, e.g. the tracks page

* [ ] Ensure in the un-expanded session you show the same information as on the unexpanded version of the tracks pages, e.g. Show: A Funny Thing Happened On My Way To The Science Centre, Harish Pillay (RedHat), Keynote of 20 minutes

[2016-08-26 16:44] mariobehling opened #702 "Fix syntax errors on all pages"
Looks like there are a number of syntax errors. Please fix them.

![screenshot from 2016-08-26 18 43 26](https://cloud.githubusercontent.com/assets/1583873/18013129/122ea93c-6bbd-11e6-849c-e04eb8d2cffd.png)

[2016-08-26 16:49] mariobehling opened #703 "Ensure all section headings in same style use the same class"
Different sections in the same kind of style are using different div classes or setup. Please ensure all are using the same.

Looking good for example is the area "proudly.."

![screenshot from 2016-08-26 18 46 48](https://cloud.githubusercontent.com/assets/1583873/18013307/bd70ec10-6bbd-11e6-97a8-96f936e1b70d.png)

The section "featured speaker" should follow the same style/implementation:

![scr

[2016-08-26 20:40] aayusharora commented on #620
Done via #704

[2016-08-26 22:17] #620 closed

[2016-08-26 23:18] aayusharora commented on #579
Done !

[2016-08-26 23:18] #579 closed

[2016-08-26 23:20] aayusharora commented on #699
Done via #706

[2016-08-27 08:38] championswimmer commented on #703
has been done at PR #707

[2016-08-27 13:59] aayusharora commented on #703
Closed via #708

[2016-08-27 14:31] aayusharora commented on #670
Heading 333( Hex) On speaker page After PR #708

[2016-08-27 14:40] aayusharora commented on #676
@mariobehling @championswimmer Taking this :)

[2016-08-27 14:56] aayusharora commented on #702
Done Via #709 I do not find this much errors, find only one in console which I have solved, Please reopen if this is not yet solved.

[2016-08-27 14:56] #702 closed

[2016-08-27 15:32] mariobehling commented on #703
Thank you. Please see comment here https://github.com/fossasia/open-event-webapp/pull/708#issuecomment-242923728

Please only close issues after PRs have been merged and confirmed solved.

[2016-08-27 19:08] championswimmer commented on #670
ok now it is done @mariobehling

[2016-08-27 19:15] #699 closed

[2016-08-27 21:15] aayusharora commented on #703
@mariobehling @championswimmer  Button also aligned now. Please close this.

[2016-08-27 21:19] aayusharora commented on #676
Both task done @championswimmer @mariobehling  It can be closed now via #712

[2016-08-27 21:54] shubham-padia commented on #700
@mariobehling @aayusharora  #713 intends to resolve this issue , please review that.

[2016-08-27 22:14] aayusharora commented on #700
@shubham-padia Please check my comment here #713

[2016-08-27 22:47] aayusharora commented on #700
@mariobehling @championswimmer Solved by PR #714

[2016-08-28 06:36] mariobehling commented on #703
With section heading - same style - it was not related to the alignment. The main goal is to have a consistent font and distance above and below the heading.

Please compare this to FOSSASASIA event sites. There are different alignment, but all section headings have the same height.

Event site:
![screenshot from 2016-08-28 08 35 33](https://cloud.githubusercontent.com/assets/1583873/18032065/7cf4

[2016-08-28 06:41] mariobehling opened #715 "Schedule Page: Text not aligned, no link to speaker"
Please see screenshot below:
* [x] Text not aligned in one line
* [x] No link to speaker implemented
* [x] Name of track missing (Please add.)
![screenshot from 2016-08-28 08 53 30](https://cloud.githubusercontent.com/assets/1583873/18032166/f3aa4bc4-6cfc-11e6-8c9c-9b3443a5b14c.png)

![screenshot from 2016-08-28 08 38 27](https://cloud.githubusercontent.com/assets/1583873/18032090/383ff29a-6cfb-11

[2016-08-28 06:49] mariobehling opened #716 "Footer: Align location icon and address info on same line"
Please align location and address info on the same line (top).

![screenshot from 2016-08-28 08 46 41](https://cloud.githubusercontent.com/assets/1583873/18032127/4aeed0ae-6cfc-11e6-9922-cc8144ce6f18.png)

[2016-08-28 06:57] mariobehling opened #717 "Link to speaker missing"
The speaker page has a link to the session track, but the "Schedule, Tracks, Room" page do not have a link to the speaker. Please help to fix this.

E.g. make the speaker name and picture link to the speaker on the speakers page with bigger photo.

![screenshot from 2016-08-28 08 55 44](https://cloud.githubusercontent.com/assets/1583873/18032177/74dfcd04-6cfd-11e6-8a46-c3a1e58acd28.png)

[2016-08-28 07:02] mariobehling commented on #676
Seems like color has been changed on speakers page. The company info was in a lighter gray. Let's keep that.

Expected look:

![screenshot from 2016-08-28 09 00 46](https://cloud.githubusercontent.com/assets/1583873/18032197/30277a6c-6cfe-11e6-8c35-300207815ab5.png)

[2016-08-28 07:08] mariobehling commented on #671
Please use our gray color set for text.

![screenshot from 2016-08-28 09 07 04](https://cloud.githubusercontent.com/assets/1583873/18032215/ef93b2b2-6cfe-11e6-9efb-5f3ec065cdf8.png)

[2016-08-28 07:10] mariobehling opened #718 "On tracks page implement same style as on rooms page"
We had started with the style on the tracks page, but it has evolved since then. Please implement the same style on the tracks page therefore as on the rooms page to keep the app style consistent.

(First solve the design issues/bugs on the rooms page, please.)

[2016-08-28 07:19] #700 closed

[2016-08-28 08:47] #670 closed

[2016-08-28 09:28] #676 closed

[2016-08-28 11:50] shubham-padia commented on #716
@aayusharora can i work on this, i'd like to contribute ?

[2016-08-28 14:00] aayusharora commented on #716
Yes @shubham-padia go ahead

[2016-08-28 15:17] shubham-padia commented on #716
@aayusharora  please review #721

[2016-08-28 16:27] #716 closed

[2016-08-28 16:28] aayusharora commented on #717
Its Done !!

[2016-08-28 16:29] aayusharora commented on #715
Solved via #720

[2016-08-28 18:35] mariobehling opened #723 "Ensure left side bar in schedule and rooms page is same style"
As below the left area of the schedule page should use the same style/width like the rooms page.

Please change the schedule page to the same as the rooms page.

![screenshot from 2016-08-28 20 25 55](https://cloud.githubusercontent.com/assets/1583873/18035874/a3fa0cd8-6d5e-11e6-9be9-de0b661ca89e.png)

[2016-08-28 18:43] aayusharora commented on #671
Completed this via #719 #722

[2016-08-28 18:43] #671 closed

[2016-08-28 20:32] aayusharora commented on #690
@mariobehling  there is no delay on my system, @championswimmer Can you please check and close this if all looks good.
Everything covered except that.

[2016-08-28 20:33] mariobehling opened #724 "Autogenerate sample site after each commit in github pages branch"
Autogenerate a sample site after each commit in [github pages branch](http://fossasia.github.io/open-event-webapp/) using the current version of the FOSSASIA sample at
https://github.com/fossasia/open-event/tree/master/sample/FOSSASIA16 .

[2016-08-28 21:10] shubham-padia commented on #701
@championswimmer Can i work on this ?

[2016-08-28 21:14] shubham-padia commented on #701
@championswimmer Can I work on this ?

[2016-08-28 21:22] shubham-padia commented on #701
@championswimmer I've implemented a solution for this issue, should I send a Pull Request for review ?

[2016-08-28 22:23] mariobehling commented on #690
Will be testing and closing this after I have tested in detail.

Please continuously upload new versions to the test site to ensure we always test the latest version.

[2016-08-29 08:39] championswimmer commented on #703
done at #726

![screenshot from 2016-08-29 14-08-42](https://cloud.githubusercontent.com/assets/1327050/18045779/2c79a814-6df2-11e6-9437-b2c7f70e3526.png)

[2016-08-29 09:00] championswimmer opened #727 "add feature to generate from command line (without the frontend webpage)"
this would be needed for automated deployments like https://github.com/fossasia/open-event-webapp/issues/724

[2016-08-29 09:34] aayusharora opened #729 "Dsturbed Overlay on Homepage"
Please correct overlay on Home page
![89](https://cloud.githubusercontent.com/assets/12194719/18047309/dbd5b2ba-6df9-11e6-869a-b32de95f39de.png)

[2016-08-29 09:37] mariobehling commented on #703
There are different alignment, but all section headings have the same height.

* [ ] The last change also seems to have the area of "Proudly supported" increase more than required.
* [ ] Alignment should be as on fossasia event sites: Featured speakers should be left aligned. Alignment should be in line with the respective design.

[2016-08-29 09:39] mariobehling commented on #703
Please compare to http://2016.fossasia.org/

![screenshot from 2016-08-29 11 39 13](https://cloud.githubusercontent.com/assets/1583873/18047435/426af250-6ddd-11e6-90ef-2876e6d4788c.png)

[2016-08-29 09:40] mariobehling commented on #703
![screenshot from 2016-08-29 11 40 26](https://cloud.githubusercontent.com/assets/1583873/18047465/663cef62-6ddd-11e6-8f25-c2fffd15de2b.png)

[2016-08-29 09:44] mariobehling commented on #723
@aayusharora Does not seem solved in latest test version. Left side bar still has different width.

[2016-08-29 10:24] mariobehling commented on #717
* [ ] On tracks page, please only make the speaker name itself into a link. Click on a white area next to the speaker currently open the link. Expected behaviour is, that this white area expands the section

![screenshot from 2016-08-29 11 51 02](https://cloud.githubusercontent.com/assets/1583873/18048569/34c01396-6de3-11e6-9bb2-a008e9aef40d.png)

* [ ] On schedule page after scroll over the "hand

[2016-08-29 10:39] mariobehling opened #730 "Reduce empty white areas between middle and right block"
On rooms page

* [x] Expand middle block
* [x] Move right block to the right a bit

![screenshot from 2016-08-29 12 36 09](https://cloud.githubusercontent.com/assets/1583873/18048940/75327fa2-6de5-11e6-81df-4712eba813ad.png)

[2016-08-29 10:44] mariobehling opened #731 "Share button links to wrong domain"
* [ ] The share button should always link to the respective domain location, but it is hard-coded to "opentechsummit.net".
* [ ] Share buttons should be available at all areas - sessions in tracks, schedule, rooms - and to speakers

![screenshot from 2016-08-29 12 41 41](https://cloud.githubusercontent.com/assets/1583873/18049088/5332f53e-6de6-11e6-82de-ab0c750cbf8a.png)

![screenshot from 2016-08

[2016-08-29 11:13] championswimmer commented on #731
@mariobehling there is a problem here. How do we know where the user will host it ? the link will change based on which location it is hosted at
ok, i think we can use window.location then. that should work
Mario Behling
@mariobehling
16:28
@arnav why can't we just link within the folder structure?
e.g. ./tracks.html/#3
Arnav Gupta
@championswimmer
16:36
@mariobehling internal links cannot be shar

[2016-08-29 11:13] championswimmer commented on #731
@mariobehling there is a problem here. How do we know where the user will host it ? the link will change based on which location it is hosted at
ok, i think we can use window.location then. that should work
Mario Behling
@mariobehling
16:28
@arnav why can't we just link within the folder structure?
e.g. ./tracks.html/#3
Arnav Gupta
@championswimmer
16:36
@mariobehling internal links cannot be shar

[2016-08-29 13:55] shubham-padia commented on #701
@mariobehling @championswimmer Please review #733 .

[2016-08-29 14:11] championswimmer commented on #701
@shubham-padia no it means ticket should link to index.html#ticketbutton

[2016-08-29 14:13] championswimmer commented on #731
ok implemented what we discussed. it is working on http://opev-webgen-dev.herokuapp.com now. so closing this

[2016-08-29 14:14] #731 closed

[2016-08-29 14:35] championswimmer commented on #731
on heroku
![screenshot from 2016-08-29 19-55-07](https://cloud.githubusercontent.com/assets/1327050/18055025/f1110060-6e23-11e6-8733-f26d92c75ef8.png)

on ghpages
![screenshot from 2016-08-29 20-05-06](https://cloud.githubusercontent.com/assets/1327050/18055026/f1139384-6e23-11e6-8e12-f8c02c6dbfc0.png)

[2016-08-29 14:48] championswimmer commented on #717
doing via https://github.com/fossasia/open-event-webapp/pull/734

[2016-08-29 14:52] aayusharora commented on #729
Corrected #728

[2016-08-29 14:52] #729 closed

[2016-08-29 15:00] shubham-padia commented on #701
@championswimmer  please review #735 for ticket link.

[2016-08-29 15:06] championswimmer commented on #717
all 3 points covered

[2016-08-29 15:19] championswimmer commented on #717
deployed to gh-pages,can be tested

[2016-08-29 15:19] #717 closed

[2016-08-29 15:21] championswimmer commented on #723
this is done now, and up on gh-pages. can be checked.

http://fossasia.github.io/open-event-webapp/rooms.html
http://fossasia.github.io/open-event-webapp/schedule.html

[2016-08-29 15:21] #723 closed

[2016-08-29 15:34] mariobehling commented on #715
All text should be in one ligne. The solution provided only aligns bottom text of the area.

[2016-08-29 15:36] mariobehling commented on #715
![screenshot from 2016-08-29 17 35 09](https://cloud.githubusercontent.com/assets/1583873/18057158/1dd520f0-6e0f-11e6-94e6-fbe1d42c504d.png)

[2016-08-29 15:43] #701 closed

[2016-08-29 15:46] championswimmer commented on #690
@mariobehling can you test and let us know if there any places that looks slow ? I tests and everything feels fast and responsive enough

[2016-08-29 16:39] mariobehling opened #738 "Rooms page - event dates - links not using scroll effect"
Tracks and Schedule pages are using the scroll effect but the rooms page date links do not.

* [ ] Please implement the scroll effect for date links
http://fossasia.github.io/open-event-webapp/rooms.html

[2016-08-29 17:12] #738 closed

[2016-08-29 17:15] championswimmer commented on #738
deployed  http://fossasia.github.io/open-event-webapp/rooms.html

@mariobehling  you have to wait till the whole page loads before the scrolling functionality works (it is in js, so scroll.js must load, untill it loads, normal href-id linking works).

[2016-08-29 17:16] aayusharora commented on #715
Verified this with http://fossasia.github.io/open-event-webapp/schedule.html  app. Looking fine now

[2016-08-29 17:20] championswimmer commented on #715
@aayusharora, looks good to me as well

[2016-08-29 17:20] #715 closed

[2016-08-29 19:33] alexagr opened #741 "Rooms page incorrectly groups sessions for the 2nd and 3rd day"
Rooms page works just fine for the 1st day.
But for the 2nd and 3rd day sessions are grouped incorrectly - e.g. "Google Summer of Code" session that happens in Dalton Hall is shown under Lewis Lab.

[2016-08-29 21:17] alexagr opened #742 "Duplicate entries in Rooms page's "tracks legend""
At the bottom of the Rooms page there is a "legend" of all tracks and their colors. This list contains duplicate entries for each track - 3 copies of each (presumably because of the "slug" which is built for each day).

[2016-08-30 09:45] aayusharora commented on #730
Done !!

[2016-08-30 14:48] mariobehling commented on #730
Please reduce the space between middle block and right block. Currently on some resolutions the right block is slightly overlapping with the edge on its right. Please:
* [ ] Slightly expand middle block
* [ ] Slightly move right block more to the left

![screenshot from 2016-08-30 16 44 46](https://cloud.githubusercontent.com/assets/1583873/18093812/83927f88-6ed1-11e6-8198-98ec0e48aa0e.png)

[2016-08-30 15:00] mariobehling opened #751 "Implement a more standard conform generated site"
Currently the site has a folder "dependencies" with different files. When the site is generated, please move files to more standard conform folders as follows.

From dependencies folder in generated sites move:
* [ ] css to `/css`
* [ ] the folder `fonts` to into the root directory
* [ ] js files into `/js`
* [ ] avatar.png into the folder `images`

Finally, please
* [ ] delete folder/do not gener

[2016-08-30 17:25] alexagr opened #752 "Rooms page is too wide on mobile device"
When viewed on mobile device (Android 5.1, latest Chrome version, FHD resolution) Rooms page is too wide - so there is horizontal scroll and icon-bar is not visible unless you scroll to the right. This happens only on Rooms page - other pages are rendered just fine (without horizontal scroll).

[2016-08-30 17:31] alexagr opened #753 "Header problems on mobile device"
- when navbar is wider than a single line (as in FOSSASIA example that has many social links) it overlays the page title
- when days do not fit on a single line (as in FOSSASIA example on FHD screen) the day displayed on the 2nd line partially overlays the day displayed on the 1st line

[2016-08-30 18:34] aayusharora commented on #742
Thanks @alexagr  Working on it :)

[2016-08-31 05:36] aayusharora commented on #742
Done!

[2016-08-31 05:36] #742 closed

[2016-08-31 09:33] #741 closed

[2016-08-31 15:48] Princu7 opened #759 "JSON files uploader input element looks little constricted in its appearance."
The default input element which pops up after selecting the Upload JSON files radio button has somewhat constricted appearance. Made a js fiddle for it. Here is how it looks after making small change
https://jsfiddle.net/7q2efwdz/

[2016-08-31 16:10] mariobehling commented on #759
Any screenshot what you mean?

[2016-08-31 16:16] Princu7 commented on #759
This is how the original JSON files upload element look like
![screenshot from 2016-08-31 21-43-08](https://cloud.githubusercontent.com/assets/8847265/18136937/24310cd2-6fc4-11e6-9351-7979087fde36.png)
And after dong a small change it looks like the above js fiddle link.

[2016-08-31 16:21] aayusharora commented on #759
Current snapshot in Chrome
![09](https://cloud.githubusercontent.com/assets/12194719/18137072/9dd1cd92-6fc4-11e6-9ac0-b1fe072770c4.png)
Current Snapshot of Fiddle  in chrome
According to me, it is a browser issue in Firefox.

@Princu7 Please check your fiddle on chrome, it look like it shift above in Chrome while it was right earlier.

[2016-08-31 16:27] Princu7 commented on #759
Sorry. Don't have chromium installed as of currently. Currently downloading it but it will take some time. But most probably it is the problem with the browser itself.

[2016-08-31 16:37] #752 closed

[2016-08-31 20:14] aayusharora commented on #753
Thanks @alexagr It is solved.

[2016-08-31 20:14] #753 closed

[2016-08-31 21:02] mariobehling opened #760 "Schedule Page: Align name, organization left and track left"
In some long name cases name and organization could look broken. Also alignment of track should be left.

On schedule page please align:
* [ ] name left
* [ ] organization left
* [ ] track left

![screenshot from 2016-08-31 22 59 05](https://cloud.githubusercontent.com/assets/1583873/18146260/fc6a5c20-6fce-11e6-8dc6-f3ff415bd936.png)

[2016-08-31 23:43] shubham-padia commented on #760
@mariobehling @aayusharora Could not quite understand what is meant by name left and organization     left. If the following result suffices, please merge #761

![after](https://cloud.githubusercontent.com/assets/13910561/18150209/9f82327a-6fd4-11e6-8d7d-e6985e2cec60.png)

[2016-09-01 02:28] #760 closed

[2016-09-01 06:03] alexagr opened #762 "Use expandable text on Schedule page instead of pop-ups (similar to Rooms page)"
Expandable text layout - as currently implemented on Rooms page - looks and feels much better on mobile than pop-ups. Moreover it works across all mobile platforms - both Android and iOS. The suggestion is to implement expandable text layout on Schedule page, similar to Rooms page.

[2016-09-01 06:11] alexagr commented on #762
I've hacked initial implementation of the idea - take a look at http://limmudfsu.org.il/test
It seems to work perfectly fine (to my taste) on all tested platforms, namely:
- Chrome (Windows 7)
- Firefox (Windows 7)
- Mobile Chrome (Android 5.1)
- Safari (iOS 9)

![schedule1](https://cloud.githubusercontent.com/assets/12842507/18157115/167b02e0-7024-11e6-9adf-11e2a8961847.png)

[2016-09-01 06:14] alexagr commented on #762
![sched2](https://cloud.githubusercontent.com/assets/12842507/18157193/8a9e9038-7024-11e6-8e7e-34df3b93d7ef.jpg)

[2016-09-01 06:17] alexagr commented on #762
And that's what it'll look like on mobile

![sched3](https://cloud.githubusercontent.com/assets/12842507/18157242/daf79624-7024-11e6-88aa-289e7a391515.jpg)

[2016-09-01 06:18] aayusharora commented on #762
@alexagr It looks nice to me. We can have this. It is good implementation to replace popovers. Thanks
Please generate the PR.

[2016-09-01 06:31] alexagr opened #764 "Improve long track name display in Rooms page"
Long track names on Rooms (and new Schedule :) ) pages display should be improved.
(sorry for a screenshot in Russian - but hopefully the problem is clear)

![sched4](https://cloud.githubusercontent.com/assets/12842507/18157519/bbd0f04a-7026-11e6-8cbe-a755510d91a5.jpg)

[2016-09-01 07:02] alexagr opened #766 "Clean up HTML code on Rooms page"
Rooms page HTML code alignment is not clean - should be fixed to improve future maintainability.

[2016-09-01 07:45] #764 closed

[2016-09-01 07:46] #762 closed

[2016-09-01 07:47] championswimmer commented on #759
We can still increase the height a little for accomodate for both browsers

[2016-09-01 07:50] championswimmer opened #767 "Create issues keeping GCI in mind"
We need to create some issues for GCI. We need to keep the following in mind
1. Participants are school kids. 13 year olds. So difficulty should be appropriate
2. Task should be doable in 3-4 days max
3. Task should be properly documented (steps to do, screenshots, required links to read).

Make such tasks, and add the **newcomer/entry** and **GCI task** labels.

[2016-09-01 08:47] #766 closed

[2016-09-01 08:57] mariobehling opened #770 "Implement two image versions for speakers and sponsors: Icon and Thumbnail"
The orga server already offers two image sizes a) Icon and b) Thumbnail.

We also need two versions in the web app site.

We also need two versions in the web app site for the different areas.

In order to achieve this we could implement/add the different files sizes into the sample file. Alternatively we can scale the image sizes in the generator, which might be the more suitable for the time bei

[2016-09-01 10:43] alexagr opened #771 "Fix layout on Speakers page"
The following problems are currently present on the Speakers page and must be fixed:
- speakers are not sorted by name
- speaker name is aligned to the left - which looks bad for speakers that lack photo (see screenshot below)
- avatar is not displayed for speakers that lack photo on Firefox browser (see screenshot below)

![sched5](https://cloud.githubusercontent.com/assets/12842507/18164721/0c3b

[2016-09-01 10:58] Princu7 commented on #759
That's a good idea. I will work on the issue.

[2016-09-01 16:53] #771 closed

[2016-09-02 00:57] mariobehling opened #773 "App getting stuck at Compiling the HTML pages from templates with latest FOSSASIA sample"
I updated the latest FOSSASIA samples, but there are probably still inconsistencies in the file.

This might result in the latest build with the FOSSASIA zip getting stuck at 70%.

Please provide logs and info.

![screenshot from 2016-09-02 02 54 09](https://cloud.githubusercontent.com/assets/1583873/18189207/049dad4e-70b9-11e6-9bc9-a1b308051d14.png)

[2016-09-02 11:10] Princu7 commented on #759
Sorry for the little delay. So I searched on the net regarding this problem but failed to find something substantial. So I played around a little more to get the input element to behave the same across the two browsers.I ended up changing some properties and now the button looks the same across both the browsers.
Here is the js fiddle.
https://jsfiddle.net/7q2efwdz/1/
And here are the screenshots

[2016-09-02 12:17] aayusharora commented on #759
Thanks @Princu7 Please generate the PR.

[2016-09-04 06:49] alexagr opened #775 "Add tracks legend to Schedule page"
Add tracks legend to Schedule page - similar to the Rooms page

[2016-09-04 06:49] alexagr commented on #775
![sched7](https://cloud.githubusercontent.com/assets/12842507/18229515/d9e2bc52-7284-11e6-9a04-079ab9a037d4.png)

[2016-09-05 05:04] alexagr commented on #773
This sometimes happens for me too; but if I click again on "GENERATE WEBAPP" this
disappears and the app gets fully generated. I assumed that it has something to do with the attempt to send e-mail (that fails due to lack of proper key).

[2016-09-05 07:00] #775 closed

[2016-09-05 07:36] aayusharora commented on #759
Thanks @Princu7 :)

[2016-09-05 07:36] #759 closed

[2016-09-05 17:20] #773 closed

[2016-09-05 17:20] #730 closed

[2016-09-05 17:21] #570 closed

[2016-09-05 17:21] #506 closed

[2016-09-05 17:21] #275 closed

[2016-09-05 17:22] #690 closed

[2016-09-05 17:23] mariobehling commented on #534
As we are using another effect now, I am closing this.

[2016-09-05 17:23] #703 closed

[2016-09-05 17:38] mariobehling opened #780 "Venue page: Add more info details"
On venue page, e.g. in the sample http://fossasia.github.io/open-event-webapp/rooms.html show more information

On a second line below the session title show information in smaller font as follows:
- [x] Picture of speaker
- [ ] Name of speaker
- [x] In brackets: organization/project
- [x] Type of session
- [x] Link icon that shows link on click ![screenshot from 2016-09-05 19 32 18](https://cloud

[2016-09-05 17:42] mariobehling opened #781 "Propose and implement way to generate smaller html files and offline caching mechanisms"
If the schedule is large the app generates relatively large html files, that can be larger than 1MB. Please propose and implement more efficient html file implementations and efficient caching mechanisms of the site.

[2016-09-06 03:03] mbad0la commented on #781
@mariobehling if I may put my opinions.

Currently the website is being rendered by a template, which is directly fed the data through a relevant source. In such a case, the **current implementation** (which is static) **will grow proportional** to the the **schedule** size no matter what.

From what I know, you might have to ingest your json data into a database and program scripts to retrieve th

[2016-09-06 04:38] Princu7 commented on #780
I would like to work on this issue. Also can you please clarify your last point? Does link icon refers to icons of github, twitter and linkedIn?

[2016-09-06 05:52] mariobehling commented on #780
Thank you. With link icon I mean the functionality that is on the current tracks page: [screenshot from 2016-09-05 19 32 18](https://cloud.githubusercontent.com/assets/1583873/18262985/b9cd6a88-7406-11e6-8f0f-369b2486b344.png) (see current tracks page)

[2016-09-06 07:01] alexagr commented on #781
FWIW simply enabling compression in Web server settings reduces the size of transferred data by almost 90%, bringing size of, for example, rooms.html from 1.6 MB to 229 KB.

[2016-09-06 07:18] mariobehling opened #783 "Show name, affiliation and link on dropdown speakers info"
When the dropdown info of the speaker is shown it does not show the speaker's name and affiliation.

Please add the info into the gray area and a share link ![screenshot from 2016-09-05 19 32 18](https://cloud.githubusercontent.com/assets/1583873/18264844/e5169a0a-7412-11e6-9794-f6a8337d5b0a.png)

![screenshot from 2016-09-06 09 16 14](https://cloud.githubusercontent.com/assets/1583873/18264852/e8

[2016-09-06 07:49] mariobehling opened #784 "Speakers Page: Generate several web icon links if they are in the speakers profile"
Currently the web app generates links to social media and websites. In the specification of the JSON format it is possible, that there are several websites, twitter accounts etc. specified, but the web app generator only generates one link.

Please
- [ ] Show several icons of an item if there are several links, e.g. there can be two website links in the speakers profile and therefore there should

[2016-09-06 08:00] mariobehling commented on #781
@alexagr Let's suppose we use github pages. Any suggestions for this case?

[2016-09-06 08:23] alexagr commented on #781
@mariobehling GZIP compression is automatically enabled on GitHub pages

[2016-09-06 09:57] Abhi2424shek commented on #727
I got an idea, can I work on it @championswimmer. Sending a post request from cmd with the required files as parameters could help right!

[2016-09-06 10:24] championswimmer commented on #727
No I would prefer you write a cli.js file that requires generator.js and runs the functions. Why make a http-server when not needed.

[2016-09-06 10:24] championswimmer commented on #727
You can work on the issue if you wish to :)

[2016-09-06 11:06] alexagr commented on #534
Speakers page still uses pop-up and doesn't work on iOS devices. Reopening this.

[2016-09-06 16:21] shubham-padia commented on #727
@championswimmer I'm thinking of a different approach , which would create a `cli.js` with a socket.io-client instance and accept an open-event api endpoint , i've implemented  a `cli.js` for that [here](https://github.com/shubham-padia/open-event-webapp/blob/7e0d052c39dece8a5b0f0b6c7a524651985e017d/cli.js) which works fine in my travis and local setup till the mailing step due to the lack of send

[2016-09-06 17:49] shubham-padia commented on #724
@mariobehling @championswimmer @aayusharora  I would like to work on this,
I've implemented a rough implementation of this feature at this branch [here](https://github.com/shubham-padia/open-event-webapp/tree/auto-gh) . Click [here](https://shubham-padia.github.io/open-event-webapp/) for the auto-generated sample site and its gh-pages branch [here.](https://github.com/shubham-padia/open-event-weba

[2016-09-06 19:13] aayusharora commented on #724
@shubham-padia I don't know why the image in the end point http://open-event-dev.herokuapp.com/api/v2/events/179/speakers  you are using is https://opevbucketname.s3.amazonaws.com/events/179/speakers/1263/photo/MFhNSk9yRU/HansBakker_111.jpg whose content type seems to be 'binary/octet-stream' instead of image/png. Its orga endpoint issue, Can you please confirm by checking another endpoint.

[2016-09-06 21:21] shubham-padia commented on #724
@aayusharora I tried changing the endpoint to http://open-event-dev.herokuapp.com/api/v2/events/171 ,  but as seen [here](https://shubham-padia.github.io/open-event-webapp/) , images are still not being downloaded.

[2016-09-07 13:02] shubham-padia commented on #783
@mariobehling Can i work on this ?

[2016-09-07 15:07] shubham-padia commented on #783
please review #785 .

[2016-09-07 18:34] aayusharora commented on #784
@mariobehling @championswimmer I was just going through the current JSON and find out the keys are not unique. Two website keys should not be there, Instead of this a website Array makes more sense and is more correct according to me.

![yu](https://cloud.githubusercontent.com/assets/12194719/18323587/e0c7eeec-7555-11e6-84b7-81baacee4975.png)

[2016-09-07 18:48] aayusharora opened #786 "Make Line-Width Less on Hover ( Mobile Screen)"
When Menu items are hovered on Small Screens or Tablets, the line width looks bad.
Please decrease the line width, say below Tracks in snapshot
![7](https://cloud.githubusercontent.com/assets/12194719/18324361/bb4e76be-7559-11e6-9109-e4f371dbd325.png)

[2016-09-07 20:45] Princu7 opened #787 "Json parsing converts html tags to escape sequence"
Screenshot of problem caused due to it.
![screenshot from 2016-09-08 02-12-48](https://cloud.githubusercontent.com/assets/8847265/18327857/0a53f06c-756a-11e6-9547-f1961049c140.png)

[2016-09-08 15:29] aayusharora opened #789 "Links not working on Tracks page Speakers name to redirect to particular Speaker"
http://fossasia.github.io/open-event-webapp/speakers.html#1 Links like that are not working now.
Steps To Reproduce
1. Go to sample site tracks page http://fossasia.github.io/open-event-webapp/tracks.html
2. Click the name of any speaker like Mario Behling (OpenTech Society) in the card. The link http://fossasia.github.io/open-event-webapp/speakers.html#2 will redirect on Speaker page but not poin

[2016-09-08 15:45] #783 closed

[2016-09-08 17:47] mariobehling commented on #789
Where is that needed? Please try the latest version and feel free to upload the latest generated version. No need to submit issues for old versions.

[2016-09-08 17:52] mariobehling opened #791 "Enhance speaker box"
Please always follow British/US style of punctuation, e.g. no space before a full stop etc.

![screenshot from 2016-09-08 19 45 38](https://cloud.githubusercontent.com/assets/1583873/18360171/3c4ad804-75fd-11e6-9543-8045a8792b12.png)

On speakers page please implement the following:
* [ ] Make name bold
* [ ] Use full width of available area for name and company
* [ ] Don't leave space within brac

[2016-09-08 17:54] aayusharora commented on #789
@mariobehling Added Steps to reproduce

[2016-09-08 18:22] shubham-padia commented on #791
@mariobehling Sorry for the punctuation mistakes. Name and organisation widths were kept in such a  way, so that they do not overflow to the next line.
Please review #792

[2016-09-09 20:39] tadityar commented on #789
I can confirm this issue, the link in the speaker's name does not point to the correct anchor (the picture does, though). Will create a PR to resolve this.

[2016-09-09 20:43] aayusharora commented on #789
@tadityar Thank you Please go ahead :)

[2016-09-09 20:53] aayusharora commented on #789
Done !!

[2016-09-09 20:53] #789 closed

[2016-09-09 22:54] shubham-padia opened #795 "XSS vulnerabilities introduced on rooms page"
XSS vulnerabilities introduced on rooms page due to #788 .

e.g. on inserting `<script>alert('this is an xss bug')</script>` in `long_biography` section of a speaker in `speakers` json.

![screenshot from 2016-09-10 04-17-22](https://cloud.githubusercontent.com/assets/13910561/18405263/58e7c9c4-770e-11e6-9e79-e99a15bafb36.png)

[2016-09-10 05:39] #795 closed

[2016-09-10 06:33] tadityar opened #797 "Add .codeclimate.yml"
I got curious about the 1.5 Codeclimate GPA and noticed a lot of warning about using ES6 syntax. Since we're using ES6 anyway (in eslint) why don't we set the `esnext` of codeclimate to true and eliminate a lot of issues at once? :D

[2016-09-10 09:08] aayusharora opened #798 "Suggest best way to Implement HTML rendering"
{{{....}}} can lead to XSS vulnerabilities but using this {{..}} instead of {{{..}}} will not allow HTML to render on the page.
Reverting  #788 is not the only solution. These {{{...}}} are used for escaping everywhere in the code when we want to render HTML from JSON.
Please implement a solution for the replacement of {{{...}}}.

One option I can suggest is using https://github.com/yahoo/secure-h

[2016-09-10 09:09] aayusharora commented on #798
@shubham-padia What's your views?

[2016-09-10 12:20] shubham-padia commented on #798
- https://github.com/yahoo/secure-handlebars sounds like a good solution as it is made for handlebars specifically.
- If you want  to specify the tags you want to permit, and the permitted attributes for each of those tags https://github.com/punkave/sanitize-html can also be used. So if we do not want the user placing an img tag in a textual description, this module can be more useful.

So. if we

[2016-09-10 13:32] Abhi2424shek commented on #727
@championswimmer the thing I mentioned is something cool, its simple and easy plus secure all you want to do is that what the browser does for you on the click of a button

[2016-09-10 13:50] Princu7 commented on #798
Sorry for being off the radar for some time. I agree with the opinion to use secure-handlebars.  Most of the html tag will be for specifying the link of some website as seen in the json so using sanitize html won't be too bad of a option either.

[2016-09-11 05:51] mbad0la commented on #798
@aayusharora @shubham-padia @Princu7 if the website is generated through a json file and as such there isn't any user input into the generated webapp, I don't follow how the website is XSS vulnerable.

There has to be some form of client-side code injection into the webapp for the app to be vulnerable. Am I missing something?

[2016-09-11 07:21] Princu7 commented on #798
I might be wrong but JSON file itself is given by the user who wants to generate the event website.

[2016-09-11 07:38] mariobehling opened #799 "Implement simple search capabilities of app"
Implement simple search capabilities of app similar to https://github.com/OpenNews/srccon-schedule (Website here http://schedule.srccon.org/#_show-all)

Type in keyword and get only show list of items that match below.

![screenshot from 2016-09-11 09 35 11](https://cloud.githubusercontent.com/assets/1583873/18415915/4731c8ce-7803-11e6-9adb-8bca7020cfb5.png)

@championswimmer You had done somethin

[2016-09-11 08:10] Princu7 commented on #780
@mariobehling I am having a hard time figuring out a way to include the type of session. It's a bit difficult to describe the problem but I'll give it a try.
On the rooms page, the sessions are categorized according to the date and the venue of the event.Now the object which contains the date and the list of sessions on that day along with their venue doesn't include the type of the sessions. The

[2016-09-11 08:28] mariobehling opened #800 "Schedule/Venue Page: Box area not always linkified"
Some areas of box areas on rooms/venue and schedule are not linkified to allow expansion on click.

![screenshot from 2016-09-11 10 25 38](https://cloud.githubusercontent.com/assets/1583873/18416107/65c05038-780a-11e6-9bf3-762419c209ab.png)

[2016-09-11 10:14] aayusharora commented on #798
@mbad0la @Princu7  Yes the user provides the JSON itself

[2016-09-11 11:29] mbad0la commented on #798
@Princu7 @aayusharora as the only input that goes into the app is of the person who provides the data for the generation of **his** app, shouldn't he be completely familiar with the "malicious code" that might get generated onto the website?
I think this is something which we shouldn't worry about because having an XSS vulnerable site and creating a malicious site (which doesn't even hold here bec

[2016-09-11 11:39] mariobehling opened #801 "Fix and clean up html/css on speakers page"
On speakers page

* [x] Take out implementation of designs from html page and if required implement as css or better: reuse existing style
* [x] Align all text and elements on one line
* [x] Minimize the use of different font styles, sizes and colors
* [x] Reduce height of empty white space at bottom

![screenshot from 2016-09-11 13 33 04](https://cloud.githubusercontent.com/assets/1583873/1841699

[2016-09-11 11:48] mariobehling opened #802 "Speakers Page: On small screens left align pop up text in same way as on big screen"
Currently the pop-up texts of speaker info on small screen are centered. Please use the same style as on big screens and do not change alignment.

![screenshot from 2016-09-11 13 45 41](https://cloud.githubusercontent.com/assets/1583873/18417064/5e7e70cc-7826-11e6-9c25-ff4398d2adc1.png)

[2016-09-11 12:11] mariobehling commented on #797
@tadityar Would be great, if you work on this.

[2016-09-11 12:14] mariobehling commented on #791
Got closed automatically, but above points are not fully implemented yet.

[2016-09-11 12:59] tadityar commented on #797
ok I'll work on this then

[2016-09-11 13:17] Princu7 commented on #802
I have found the bug. I will send in a pull request soon.

[2016-09-11 13:57] tadityar commented on #797
welp I just realized how old the last passing development build on codeclimate is. This is due to the error caused by `no-extra-parens` config in .eslintrc. After removing some extra options on this config, the build passed and there were no es6 errors reported (although we still have other errors)

[2016-09-12 04:47] shubham-padia commented on #798
@mbad0la Although the person will be providing the data for generation of his own app, consider an example where the event organiser without any technical knowledge is collecting data from each of the speaker, and one of the speaker tries to have some fun and injects some js code into the json. Well in this case the organiser will just think the generator has some fault in it and switch to some ot

[2016-09-12 05:51] mbad0la commented on #798
@shubham-padia I completely agree with your first point, but it would be tough (or near impossible) to identify what qualifies as malicious code during generation. ( It might be possible that some of the **\<script\>** tags refer to some malicious code and some may not )

Although, I'm quite certain that the generated files won't be able to meddle with the server as they are just generated and nev

[2016-09-12 05:52] mbad0la commented on #801
@mariobehling can I try to get this resolved?

[2016-09-12 05:59] mariobehling commented on #801
@mbad0la Would be great. Thank you.

[2016-09-12 06:38] aayusharora commented on #800
It works fine for me. @mariobehling Can you please specify browser and OS. It seems to be a browser specific issue.

[2016-09-12 06:55] shubham-padia commented on #798
@mbad0la My bad, I got the second part wrong.

For the first point though, as long as the user is not denied the basic html tags, there seems no harm in ensuring that the generated site provided to the user is free from known potential xss vulnerabilities.
Also , i see no point in allowing user to enter script tags in his description or any other such fields.
If the user wishes to do so, he may as

[2016-09-12 07:02] mariobehling commented on #800
Tried it on different browser (Chrome/FX) and Linux. Please try all areas and different sessions by moving the cursor slowly. Please ensure that all areas linkified.

[2016-09-12 19:42] Princu7 commented on #800
@aayusharora  @mariobehling  I have tried it on firefox and can confirm the bug. I have been on it for some time but couldn't exactly pinpoint the cause of the bug.Same css class is used for all the rooms which set the cursor to pointer when someone hovers on them. But still some of them works fine and others don't. Any ideas regarding what could cause it?

[2016-09-12 19:56] Princu7 commented on #798
@aayusharora  @shubham-padia  @mbad0la  Your arguments are excellent. I definitely agree about the script part. I think users should only be allowed to enter some basic html tags like <a> or <ul>. There is no need of allowing any javascript lines into them.
Also I was going through the different template files and I could still see some variables which were unescaped. What do we do now for them? S

[2016-09-13 01:24] shubham-padia commented on #800
@mariobehling The issue is caused by track names on the right as seen in the screenshot below.
![screenshot from 2016-09-13 06-34-02](https://cloud.githubusercontent.com/assets/13910561/18458265/5c41fc54-797d-11e6-8e80-d451e5c39fca.png)

I've tried to fix this in #806. Please review it.

[2016-09-13 06:18] Princu7 commented on #780
Ok. The work is almost done now. Here is how it looks.
![screenshot from 2016-09-13 11-44-02](https://cloud.githubusercontent.com/assets/8847265/18463450/e414df96-79a7-11e6-8b1b-e5f2f59dc1f9.png)
![screenshot from 2016-09-13 11-44-19](https://cloud.githubusercontent.com/assets/8847265/18463454/ebd48790-79a7-11e6-96bd-10a57037c6af.png)
VIews?

[2016-09-13 08:44] mariobehling commented on #780
Can we try it out somewhere? Could you set it up on your own repo as gh-pages, please?

[2016-09-13 09:27] #800 closed

[2016-09-13 11:32] Princu7 opened #807 "Cursor does not behaves properly on the tracks page"
It doesn't change to pointer. And sometimes it changes to text selection. Not sure whether it is done deliberately or not. The user will not know that on clicking there, more detailed description of the session will display.
![screenshot from 2016-09-13 16-58-25](https://cloud.githubusercontent.com/assets/8847265/18472220/b5ad3686-79d3-11e6-8d74-8ca1075cb0f7.png)

The bug is quite simple to fix an

[2016-09-13 15:38] Princu7 commented on #780
@mariobehling I have not worked with github pages before so apologies in case of some mistake.
Anyways, Take a look at the page here
https://princu7.github.io/websiteTest/rooms.html

[2016-09-13 15:38] jainaman224 opened #809 "Disable tab in navbar"
Would it be better to disable tab in navbar for current page rather reloading it...?
Currently, if we click on same tab it reloads the page.

[2016-09-13 15:43] #791 closed

[2016-09-13 19:28] mariobehling commented on #780
Ok, thank you. Looks good. Two questions:
* [ ] Any way to reduce the height and keep the look and feel good.
* [ ] The expansion effect on my browsers is a bit slow. Any way to make it fast?

[2016-09-13 20:28] Princu7 commented on #780
@mariobehling Thanks.
1. I tried experimenting with the height of the container but reducing it only seemed to clutter up the contents and make it look less tidy. The current display format of session title followed by the picture of speaker and his/her information doesn't really allow us for a shorter height variant of the container which will keep the neat and tidy look. All what I can think of

[2016-09-13 20:54] mariobehling commented on #807
Yes, please send a PR. Thank you.

[2016-09-13 21:16] mariobehling commented on #780
Ok, thanks. Please make a PR and we try to go from there. Let's ask others for ideas to speed up the effects. Cheers.

[2016-09-14 19:53] aayusharora commented on #809
@jainaman224 Which tab . Can you please provide steps to reproduce.

[2016-09-15 04:00] aayusharora commented on #797
this is done !! Thanks @tadityar

[2016-09-15 04:00] #797 closed

[2016-09-15 09:46] jainaman224 commented on #809
Talking about this code.

[code]

If we are on same page. It will be better if we add any class to it to disable that 'li' tag. Instead of reloading that page or we can use it as go to top.

[2016-09-15 12:26] jainaman224 opened #813 "Html minifier should be included in docs"
While running npm, I discovered that html-minifier does not come pre installed in npm. We need to add it explicitly. Therefore, isn't it better to include in documentation to assist developers...?
Link I referred to install html-minifier is https://www.npmjs.com/package/html-minifier.

[2016-09-15 13:26] aayusharora commented on #813
I don't understand this. Please check you have npm install  first. It's already here https://github.com/fossasia/open-event-webapp/blob/development/package.json#L35.

[2016-09-15 13:26] #813 closed

[2016-09-15 14:06] jainaman224 commented on #813
Ohh ok sorry, I have not seen that you have update package.json. Still I will see, why it was not installed itself. May be there is a conflict.

[2016-09-15 16:02] #807 closed

[2016-09-15 20:40] aayusharora commented on #802
This is done #805

[2016-09-15 20:40] #802 closed

[2016-09-15 20:43] aayusharora opened #815 "Bad Layout Speakers page on Mobiles"
By some previous PR's , Speaker page layout is disturbed on Small screens.
![4](https://cloud.githubusercontent.com/assets/12194719/18566800/f984df04-7bb2-11e6-84f2-15470c036fea.png)
- [ ] Shift popover exactly below the image.
- [ ] Remove X-axis scrollbar

[2016-09-16 07:19] Princu7 commented on #815
In the current implementation, on small screen the pop-up box is displayed from the centre of the image. So we have added a class which adds a necessary left margin to make the pop-up box shift to the left to make it coincide with the image.  The problem with that is that the different small screen sizes will require different left margin for perfect overlap. So we have to add various more screen

[2016-09-16 10:25] Princu7 commented on #815
@aayusharora Not exactly the same thing as asked, but please do check out this page I made after doing some changes . Run it on different screen sizes and it should not look bad in general.
https://princu7.github.io/websiteTest/speakers.html
There are some cases where we don't want to shift the popovers exactly below the image. Suppose the width of the screen is 700px then only one picture of widt

[2016-09-16 10:33] aayusharora commented on #815
@Princu7 The second view is destroyed badly. To improve
Follow the first view.

[2016-09-16 11:05] Princu7 commented on #815
@aayusharora Ah. My bad. No problem. I will implement keeping the first view in mind. Will Ping you as soon as I am done with it. Thanks for the feedback.

[2016-09-16 15:52] Princu7 commented on #815
@aayusharora I am sorry but I got confused after your edit. We are supposed to go with the first view or second view?

[2016-09-16 16:17] Princu7 opened #816 "Text difficult to read on some colours"
For example in the room page, the black text is difficult to read and looks unaesthetic on some colours.
Example
![screenshot from 2016-09-16 21-40-11](https://cloud.githubusercontent.com/assets/8847265/18592921/c5c6cfac-7c56-11e6-8d56-586f2fadab50.png)
![screenshot from 2016-09-16 21-40-53](https://cloud.githubusercontent.com/assets/8847265/18593082/682aab9c-7c57-11e6-9be3-04d3b7c5b8dc.png)

I th

[2016-09-16 16:41] #809 closed

[2016-09-17 10:54] jainaman224 commented on #801
I would also like on this ...? @mbad0la can we work together on this issue...?

[2016-09-17 10:58] mbad0la commented on #801
@jainaman224 I'm done with the code locally. I just have to test it out once.
The delay is due to my mid-semester exams this coming week. I'll let you know though, if some problem comes up.

[2016-09-17 12:11] jainaman224 commented on #799
I would like to work on this issue, If given a chance.

[2016-09-17 13:02] mariobehling commented on #799
Great. Thank you.

[2016-09-18 12:40] aayusharora commented on #816
@Princu7  What are your plans ?
1. Taking classes or div's whose Track Colors are brown and make their text color to light/ white by using Javascript can be done.
2. I am not sure the UI issues that will arrive, Can you provide a prototype ?

[2016-09-18 12:43] aayusharora commented on #815
@Princu7 I am convinced for this on Tablets or only for some CSS breakpoint range. Thanks

[2016-09-18 12:46] aayusharora commented on #798
@mariobehling @championswimmer  Whats your suggestion about this ?

[2016-09-18 12:50] aayusharora commented on #780
@Princu7 What's the status for this issue ?

[2016-09-18 13:07] mariobehling commented on #799
Please have a look below, where the search bar could be.
![screenshot from 2016-09-18 14 17 40](https://cloud.githubusercontent.com/assets/1583873/18615876/9c8d1018-7db1-11e6-94e7-6b2eeea4d75e.png)

[2016-09-18 13:15] jainaman224 commented on #799
Okay, I will implement it and send a PR for both these pages.
Is search bar on speaker page is good enough or require some styling...?

[2016-09-18 13:31] mariobehling commented on #799
* [ ] Please just use "Search" instead "Search name, organization, session and description".
* [ ] Add "Search" into the search box instead of outside. So, if people click on it, "Search" disappears and they can add their search terms.

[2016-09-18 13:32] mariobehling commented on #799
Also, let's keep it gray only. Red should be reserved for other functions/links etc.

[2016-09-18 14:28] Princu7 commented on #815
@aayusharora Thanks. I will send a request soon.

[2016-09-18 14:29] Princu7 commented on #780
@aayusharora The first four points have been implemented and tested successfully. I am having some problem in solving the fifth point. Need some guidance on how to incorporate the link icon that shows the link on click from the tracks page to. I tried to copy the same code on the rooms page but it didn't work the way I expected it to be.

[2016-09-18 15:36] Princu7 commented on #816
@aayusharora
1. I have an alternative solution. There are maybe 15 distinct colours used for the sessions. In the template files in which the div's are being generated, we get their colours from the _`color`_ property stored in the sessions object.If we could add another property named "text-colour" to the sessions object, then we can directly set the font-colour by writing _`font-color:{{{text-co

[2016-09-19 08:33] mariobehling commented on #799
Please keep the search bar very simple and unintrusive.

See this example:

![search_none](https://cloud.githubusercontent.com/assets/1583873/18626263/2c57e3e2-7e54-11e6-8088-6dce4683d309.png)

Also check, that UI works in all resolutions. See issue below:

![screenshot from 2016-09-19 10 31 59](https://cloud.githubusercontent.com/assets/1583873/18626295/652c62b0-7e54-11e6-9e67-6c972ea9a04f.png)

[2016-09-19 12:23] jainaman224 commented on #799
@mariobehling Can you please review https://jainaman224.github.io/open-event-webapp/speakers.html and https://jainaman224.github.io/open-event-webapp/rooms.html.

[2016-09-19 13:22] mariobehling commented on #799
Good job! Please make a PR.

After that, next steps are:
* tracks/venue page
* Make the search bar in the same line with date line (currently it is not exactly the same line - see screenshot below) and enhance mobile screen view

![screenshot from 2016-09-19 15 20 42](https://cloud.githubusercontent.com/assets/1583873/18633483/d55a629e-7e7c-11e6-9d51-891f63708b34.png)

[2016-09-19 13:25] mariobehling commented on #799
Oh, just realized: In your test setup the track info sidebar disappears. Please check. It should be there as below:

![screenshot from 2016-09-19 15 24 24](https://cloud.githubusercontent.com/assets/1583873/18633569/3ee8c264-7e7d-11e6-8297-6cadac4bb278.png)

[2016-09-21 14:02] mariobehling opened #819 "Add error information in case build fails"
![screenshot from 2016-09-21 15 55 27](https://cloud.githubusercontent.com/assets/1583873/18713985/92123b58-8014-11e6-98a7-b374cc52efb2.png)

Please add a simple triangle in the area "copying assets".

Expected behaviour: After the login is finished or failed the user can see the log info.

There can be a triangle button with the log info that can be expanded by the user, if wanted, something like

[2016-09-21 14:05] mariobehling opened #820 "Reduce empty white area in generator site"
Please see below which white areas height to reduce.

![screenshot from 2016-09-21 15 56 38](https://cloud.githubusercontent.com/assets/1583873/18714146/22842f34-8015-11e6-9d46-681535cae21b.png)

![screenshot from 2016-09-21 15 56 19](https://cloud.githubusercontent.com/assets/1583873/18714156/2774a8ac-8015-11e6-8ae2-a595a0521474.png)

[2016-09-21 15:00] mariobehling opened #822 "Avoid internal scroll bars in small resolutions/mobile screens"
On the start page there is an internal scroll bar, which is ok in large resolutions but not suitable for mobile/small screens. Please see below.

Expected behaviour: Instead of scroll bars area is expanded.

![screenshot from 2016-09-21 16 48 48](https://cloud.githubusercontent.com/assets/1583873/18716374/e3639436-801c-11e6-8f80-54f3ede002c1.png)

[2016-09-21 15:03] mariobehling opened #823 "Start Page: Increase space to map"
The address text is attached directly to the edge of the map. Please increase the indent/space in this area.

![screenshot from 2016-09-21 17 01 41](https://cloud.githubusercontent.com/assets/1583873/18716494/50f3a108-801d-11e6-9f7a-45f4b9d329ff.png)

[2016-09-21 15:37] jainaman224 commented on #820
I would like to work on this.

[2016-09-21 16:01] aayusharora commented on #820
Go for it @jainaman224

[2016-09-21 21:07] Princu7 commented on #823
@mariobehling  How does this look?
![screenshot from 2016-09-22 02-34-46](https://cloud.githubusercontent.com/assets/8847265/18728999/82632a88-806d-11e6-84fa-121c0251b175.png)

[2016-09-22 10:34] jainaman224 commented on #820
@mariobehling @aayusharora how does this look now...?

![screenshot from 2016-09-22 15-59-49](https://cloud.githubusercontent.com/assets/13117482/18744923/9d74d1bc-80dd-11e6-90e0-1f725df2e5aa.png)

![screenshot from 2016-09-22 16-01-14](https://cloud.githubusercontent.com/assets/13117482/18744947/d38f4124-80dd-11e6-8b21-f8d21ea77afb.png)

[2016-09-22 10:39] jainaman224 commented on #799
Reference for this issue: #817 #824 #827

[2016-09-22 15:47] mariobehling commented on #820
Thank you. Yes, this is the way to go.

Could you make the distance between the areas same, so:
* [ ] Same space between email field and next field; same space between App's Name and Choose your source; same space between API endpoint and Link to Open Event API and so forth?
* [ ] Please also move up the "Generate Webapp" button and reduce the height of the area with the build info

[2016-09-22 15:53] mariobehling commented on #823
Good.

[2016-09-25 14:11] jainaman224 commented on #822
@mariobehling I am unable to find this internal scroll bar.

![screenshot from 2016-09-25 19-40-51](https://cloud.githubusercontent.com/assets/13117482/18815805/04010064-8358-11e6-8327-df4ea4c57045.png)

[2016-09-25 14:15] jainaman224 opened #829 "Navbar on small devices"
@mariobehling @aayusharora navbar on small devices can be improved by some social media icons.

![screenshot from 2016-09-25 19-40-51](https://cloud.githubusercontent.com/assets/13117482/18815816/5cf923d6-8358-11e6-888a-6e74894097b0.png)

[2016-09-25 14:21] jainaman224 commented on #822
@mariobehling There should be scroll bar to see full description about speaker.
![screenshot from 2016-09-25 19-49-03](https://cloud.githubusercontent.com/assets/13117482/18815837/2248ee3c-8359-11e6-8e8f-efb478c7faa2.png)
I am unable to find a way to read full description on devices that do not support touch.

I would like to work on removing outer scroll bar on small devices.

[2016-09-25 19:00] mariobehling commented on #822
ok, great.

[2016-09-26 15:24] Princu7 commented on #816
@mariobehling  @aayusharora
I apologize for a little delay in tackling this issue. So I made some changes in the server side code as in the above mentioned way to make the colours look more neat and tidy. Here are the screenshots comparing the differences.
Old
![old1](https://cloud.githubusercontent.com/assets/8847265/18839769/d2685dea-8429-11e6-8767-0e4268b9ee92.png)
New
![new1](https://cloud.git

[2016-09-26 15:41] Princu7 opened #830 "Problem with speaker and the session links"
On clicking on the speaker pictures on the schedule, rooms and the tracks page, it just takes us to the speakers page. That is, it doesn't matter which speaker picture you want to click it will take you to the top of the speaker page rather than the desired behaviour of taking us to the actual position where the speaker that we have clicked is situated.
Also on the speakers page, when we click on

[2016-09-26 16:30] Princu7 opened #831 "Date not clickable and break into two parts on small screens"
Here is the screenshot demonstrating the issue.
![screenshot from 2016-09-26 21-57-36](https://cloud.githubusercontent.com/assets/8847265/18842923/5d7e6e88-8434-11e6-8f32-3e3316a1921d.png)
I played around with it and this is how it looks after some change
![screenshot from 2016-09-26 21-58-11](https://cloud.githubusercontent.com/assets/8847265/18842940/6e0d7d3e-8434-11e6-892e-a505519cdaf8.png)

@m

[2016-09-28 16:31] shubham-padia commented on #724
@mariobehling @aayusharora
I've fixed the Content-Type problem in https://github.com/fossasia/open-event-orga-server/pull/2440 and the mailing part is also not an issue now, the site is now being auto-generated successfully at each commit as seen in the demo [here](https://shubham-padia.github.io/open-event-webapp/).

Should I go ahead and generate a PR for the same ?

[2016-09-29 05:38] mariobehling commented on #724
@shubham-padia It looks like you are generating an older site. Some changes and features are missing in your site, e.g. search.

[2016-09-29 11:53] shubham-padia commented on #724
@mariobehling Was working on a different branch for that, forgot to update it :smiley: , updated it now.
Please check the  [link](https://shubham-padia.github.io/open-event-webapp/) again.
Its gh-pages branch can be seen [here](https://github.com/shubham-padia/open-event-webapp/tree/gh-pages)

[2016-09-29 23:36] mariobehling commented on #724
The schedule and tracks page have a problem with the order of sessions, e.g. starting on top with sunday or starting with wrong time.

[2016-09-30 10:40] shubham-padia commented on #724
@mariobehling
Seems that in the webapp the id of sessions is also taken into account when sorting the sessions,  changes in the id of the sessions at the orga-server is causing the problem.

The id for the sessions are changed when the sample zip is imported in the orga-server.
e.g  https://www.diffchecker.com/vnsypfTc.
- Sessions from sample: https://gist.github.com/shubham-padia/243bba827c6eec50

[2016-10-04 12:16] mariobehling opened #834 "top left logo should link to "Home" directory instead of same page"
The top left logo links to the current page at the moment. It should link to the home directory. I have missed the pull request where someone changed this as it was like that before.

![screenshot from 2016-10-04 14 06 40](https://cloud.githubusercontent.com/assets/1583873/19073788/25db408c-8a3d-11e6-8774-d5985a511ff5.png)

[2016-10-04 12:33] mariobehling opened #835 "Small Resolution: Show icons for main tabs and move social icons to hidden menu"
Right now in small screen resolutions the social icons show up as the main menu and the dropdown menu shows the links of the web app.

![screenshot from 2016-10-04 14 27 25](https://cloud.githubusercontent.com/assets/1583873/19074110/daf68c3c-8a3e-11e6-975d-d904941a61f3.png)

The main menu should show the main links instead of external social media links. Therefore please implement as follows in s

[2016-10-04 12:37] mariobehling commented on #829
Interesting point, but I do not see your suggestion, what exactly you would like to have or to do. I have opened an issue with some suggestions, but I am not sure if this is the same as what you want. I am closing this issue as there is no clear outline, what specifically needs to get done. An issue about improving the nav bar in small resolution is here: https://github.com/fossasia/open-event-web

[2016-10-04 12:37] #829 closed

[2016-10-04 13:26] jainaman224 commented on #835
I would like to work on this.

[2016-10-04 16:30] jig08 commented on #835
@jainaman224 Sure, go ahead.

[2016-10-05 06:24] jainaman224 commented on #835
@mariobehling @jig08 how does it look now...?
![screenshot from 2016-10-05 11-51-34](https://cloud.githubusercontent.com/assets/13117482/19103051/2d98ad68-8af2-11e6-88b2-d34945ae3561.png)

[2016-10-05 06:47] jig08 commented on #835
Didnt get you ?

[2016-10-05 07:35] jainaman224 commented on #835
Can you please see the first implementation, mario Sir wants i.e.

[2016-10-05 07:38] jainaman224 commented on #834
I would like to fix this bug with issue 835.

[2016-10-05 07:42] jainaman224 commented on #823
Is this issue resolved...? If not, I would like to work on this and I have done same for orga-server.

[2016-10-05 07:50] jainaman224 commented on #780
@Princu7 I would like to implement fifth point.

[2016-10-05 07:56] mariobehling commented on #780
@jainaman224 Please go ahead. Thank you.

@Princu7 The text is not aligned currently. Any idea about this?

![screenshot from 2016-10-05 09 54 38](https://cloud.githubusercontent.com/assets/1583873/19105379/ee580320-8ae1-11e6-9fe0-6e8e2233a35b.png)

[2016-10-05 08:00] mariobehling commented on #823
It was resolved, but not linked unfortunately.

[2016-10-05 08:00] #823 closed

[2016-10-05 08:02] mariobehling commented on #835
@jainaman224 Thank you, dropdown is already the way we need it now. Please deploy the sample on your github and provide links. Screenshot do not give the full picture always. Also please add icons on the top for Home, Schedule etc...

[2016-10-05 08:10] #799 closed

[2016-10-05 08:10] #820 closed

[2016-10-05 08:13] mariobehling opened #836 "Generator-Page: Take out "App's Name" and generate name from event JSON"
The Android app generator has implemented this already.

The goal is to reduce the form by one field. Instead of having the user entering a name for the app. The app's name should be taken from the event JSON, e.g. https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16/event

[2016-10-05 08:35] jainaman224 commented on #835
@mariobehling please review https://issue835.herokuapp.com/ .

[2016-10-05 08:35] jainaman224 commented on #834
@mariobehling please review https://issue835.herokuapp.com/ .

[2016-10-05 12:05] Princu7 commented on #780
@jainaman224 Thanks. I have fully implemented the above four points. I am sorry but I am not sure how to collaborate on the fifth point. Should I send in my request and then you will implement the fifth point or we send it at once?  Again, I apologize for not being familiar with the process.
@mariobehling  If you are talking about the mismatch of the session title bar with the text below, it is ar

[2016-10-05 12:28] Princu7 commented on #836
I would like to work on this one!!.

[2016-10-05 13:03] mariobehling commented on #780
@Princu7 Thanks. Yes, this is how it should look like. Cheers.

[2016-10-05 13:10] Princu7 commented on #816
@mariobehling  @aayusharora  Any reviews and suggestions on this issue? I have already completed it. Need some feedback. Thanks!!.

[2016-10-05 13:24] mariobehling commented on #816
The sample file is just - a sample. The choice of colors depends on the organizer, that is set in the organizer server. I do not see a perfect solution at the moment and for now I think the existing solution is - good enough. We have lots of other issues of higher priority. The choice of color of tracks and font, should ultimately be set by the orga server or in the json files, not by the web app.

[2016-10-05 13:30] mariobehling commented on #834
Thank you. Please provide a link to the sample github pages setup in future, if possible to help everyone save time.

Please link to "/" - home directory instead of "/index.html". Cheers.

[2016-10-05 13:31] Princu7 commented on #816
@mariobehling Makes perfect sense. Thanks for explaining!!

[2016-10-05 14:19] jainaman224 commented on #780
@Princu7 Sure I will merge both PR. :+1:

[2016-10-05 14:55] Princu7 commented on #780
@jainaman224  I am sorry but I didn't got what you are saying :smile: . Sorry for not understanding.  I will send a pull request containing the 4 points that I implemented and the recent change that the Mario sir suggested as soon as I can. Please work from that point.  I hope it is okay.

[2016-10-05 15:13] mariobehling opened #838 "Ensure columns on schedule page have same width as columns on rooms page"
The schedule page has different column widths to the rooms page. Please change the width of the column pages and ensure it matches the design of the rooms page.

[2016-10-05 17:06] Princu7 commented on #838
@mariobehling
I saw the source code of both the pages and they seemed to be using the same width of the columns. The date row was given 2 columns and the session titles were given 10 columns in both the pages. Can you please specify what specific changes in the width are we aiming for? Thanks.

[2016-10-05 17:20] mariobehling commented on #838
Please compare sample page:
http://fossasia.github.io/open-event-webapp/schedule.html and http://fossasia.github.io/open-event-webapp/rooms.html

Width of left side and middle column are different.

[2016-10-05 17:39] mariobehling opened #840 "Implement upload progress area similar to gmail upload area"
The upload area currently looks like that during upload:

![screenshot from 2016-10-05 19 36 45](https://cloud.githubusercontent.com/assets/1583873/19124343/1abf5ae8-8b33-11e6-85f9-5b91e0edef97.png)

Please implement a progress bar in the upload area similar to Gmail uploads as below.

![screenshot from 2016-10-05 19 34 07](https://cloud.githubusercontent.com/assets/1583873/19124419/6ee8861c-8b33-

[2016-10-05 18:05] Princu7 commented on #838
@mariobehling
How is this?
![screenshot from 2016-10-05 23-33-35](https://cloud.githubusercontent.com/assets/8847265/19125309/3b964396-8b54-11e6-813a-dbdac219be82.png)
Comparing with rooms page
![screenshot from 2016-10-05 23-34-34](https://cloud.githubusercontent.com/assets/8847265/19125333/558d22ce-8b54-11e6-91ee-6eabd22c61b8.png)

[2016-10-05 18:29] mariobehling commented on #838
Very good. Thank you.

[2016-10-05 19:47] aayusharora commented on #840
@mariobehling The webapp generator page is without CSS.

This will require CSS. Should we write CSS in generator's page ?

[2016-10-05 20:15] mariobehling commented on #840
Yes, I think it is the right time to add simple CSS.

[2016-10-06 00:11] championswimmer commented on #840
@aayusharora It does use Bootstrap though doesn't it ?

[2016-10-06 06:26] aayusharora commented on #801
@mbad0la Is it done ?

[2016-10-06 06:29] #787 closed

[2016-10-07 13:00] Princu7 commented on #836
@mariobehling  @aayusharora  I have done some work on this issue. Some things which I want to mention-
Current workflow-

1. We are entering the email address and name of the app in the form. Then we are checking in the dist folder for the same name and if found, deleting it.

2. Making the folder of the same name as entered in the form, and copying the uploaded files there. Then we extract inform

[2016-10-10 06:03] poush commented on #786
I would like to work on this. Also I suggest for mobile version all borders should be visible not just bottom because they are visible only when these links are clicked. May be like this
<img width="509" alt="screen shot 2016-10-10 at 11 30 52 am 1" src="https://cloud.githubusercontent.com/assets/1812082/19227892/1cafb2e6-8edd-11e6-9c1c-4d06f98df679.png">

and border bottom only will look like thi

[2016-10-10 15:42] poush commented on #831
Please close this issue if it is already solved

[2016-10-11 09:25] mariobehling commented on #835
@jainaman224 Thank you. Please make a PR. This is a good first step. Next step is to add icons in the top bar.

Please help us and make it easier for us to review: In future, please make PRs and show us the final site.

[2016-10-11 16:17] jainaman224 commented on #835
@mariobehling Sure sir, sorry for delay caused because of health concerns.

[2016-10-11 16:57] jainaman224 commented on #780
@mariobehling Can you please review for fifth point https://jainaman224.github.io/open-event-webapp/issue780/rooms.html...?
I will add it later with @Princu7 modifications.

[2016-10-12 03:59] mariobehling commented on #780
@jainaman224 Thank you. Please move the icon to the links/social media line.

![screenshot from 2016-10-12 05 59 42](https://cloud.githubusercontent.com/assets/1583873/19297011/18baa47e-9041-11e6-99a9-6a444476d959.png)

[2016-10-12 04:37] mariobehling commented on #836
@Princu7 Please have a look at the Android app generator, if we can align the process here. It is already implemented in a way here, where the App name field is not required: https://github.com/fossasia/open-event-android

Why is this necessary?
The temp project folder solution sounds good, but the directory structure is not so important as we don't use the directory listing anywhere. Or am I miss

[2016-10-12 05:34] Princu7 commented on #836
@mariobehling It seems like some misunderstanding have happened. Apologies for that. The whole process described above is not for the upload of the zip but for the event folder itself. Let me try to explain-

1. The uploaded zip is copied in a folder named '_upload_' in the project directory.

2. The project directory also has a folder named '_dist_' which contains the event folders.

3. User ente

[2016-10-12 06:45] Princu7 commented on #830
@mariobehling  @aayusharora  Sorry for the delay in dealing with this issue. The problem here is that we are using the name tag in the anchor element of the speaker and the sessions in order to link  them. But the <a> element doesn't support name attribute in HTML5 and we will have to use id instead of them. That's why it is not linking properly. I will implement it and send in a request.

[2016-10-12 14:06] mariobehling commented on #836
Please proceed and we will see how it goes. Thank you.

[2016-10-12 14:07] mariobehling commented on #836
Did you look at how this is handled in the Android app generator? Ok, let's not discuss too long. Just proceed then.

[2016-10-12 15:00] mariobehling opened #844 "Build failing npm install"
The command "npm install -g istanbul mocha" failed and exited with 1 during .

See full log here: https://s3.amazonaws.com/archive.travis-ci.org/jobs/167065453/log.txt

[2016-10-12 15:04] mariobehling commented on #844
Gladly it is passing at the second try. :-)

[2016-10-12 15:04] #844 closed

[2016-10-12 16:59] poush commented on #840
I am giving it a try.

[2016-10-12 18:08] poush commented on #840
Something like this ?
<img width="444" alt="screen shot 2016-10-12 at 11 37 18 pm" src="https://cloud.githubusercontent.com/assets/1812082/19322008/e8bd345a-90d4-11e6-9ac3-9694cd0ce125.png">

[2016-10-12 18:26] mariobehling commented on #840
Partly correct. The upload progress bar should show up exactly at the place where there is "choose file FOSSASIA16.zip". Also please add an "x"  at the end to give the user the choice to stop the process and return to the "choose file" bar.

[2016-10-12 18:28] mariobehling commented on #840
<img width="436" alt="e8bd345a-90d4-11e6-9ac3-9694cd0ce125" src="https://cloud.githubusercontent.com/assets/1583873/19322726/7468eb18-90ba-11e6-8c3d-7debd01ce4e0.png">

[2016-10-13 04:20] Princu7 opened #845 "Navbar links don't highlight properly after clicking on session of a speakers or vice versa"
@mariobehling @aayusharora
We are on the speaker page and click on one of his/her sessions. Since we are on the speakers page currently, the _speaker_ link in the navbar  is underlined.
After clicking on the session link we are redirected to the tracks page. But instead of the '_tracks_', '_home_' is highlighted in the navbar.
Some screenshots demonstrating the issue
Before the click
![screenshot

[2016-10-13 07:14] #830 closed

[2016-10-13 07:14] #845 closed

[2016-10-13 11:05] Princu7 commented on #751
@mariobehling  Can I take this up?

[2016-10-14 13:19] kartikhsr commented on #840
i want to work on this....can you help me how to do so sir

[2016-10-14 17:16] jainaman224 commented on #780
Will it be beneficial to make input box with link to be read only to avoid modification by the user...?

[2016-10-14 17:19] jainaman224 commented on #801
Please close this issue if already implemented.
Else assign me this issue please, I would like to work on this.

[2016-10-14 17:24] jainaman224 commented on #718
@mariobehling Can I work on this issue please...?

[2016-10-14 17:34] jainaman224 opened #849 "Move link icon to row of social icons on tracks page"
@mariobehling I think this looks better
![screenshot from 2016-10-14 23-02-29](https://cloud.githubusercontent.com/assets/13117482/19396764/4f8ed132-9262-11e6-93af-11f82722b3aa.png)
than
![screenshot from 2016-10-14 22-56-37](https://cloud.githubusercontent.com/assets/13117482/19396598/7ccc849c-9261-11e6-9472-7488f347922b.png)
Should I implement this...?

[2016-10-14 17:44] aayusharora commented on #849
UX points

@jainaman224 @mariobehling
**"Link"**  does not refer to social link nor it is related to speaker , it is basically related to the whole container body representing the **content as card** which is shareable. I don't think we should attach it with social links.

[2016-10-14 17:57] jainaman224 commented on #849
@aayusharora I have suggested this to keep implementation similar to rooms page. Mario Sir has asked me to add link icon with social links #780 .
@aayusharora Ok, how about giving space between social links, as depicted above...?

[2016-10-15 04:03] aayusharora commented on #849
@jainaman224  OK, I have read the issue #780, I don't think this to be a right approach to have link icon with speakers icons as I explained earlier and yeah space looks good to me.
@mariobehling  Can you check this once again?

[2016-10-15 04:07] aayusharora commented on #834
Thanks @jainaman224

[2016-10-15 04:07] #834 closed

[2016-10-15 04:34] #831 closed

[2016-10-15 04:35] #815 closed

[2016-10-15 04:58] mariobehling commented on #849
Thank you for the input. There is never a perfect implementation for everyone and all use cases. Future implementations of the app will allow theme-ability to allow different implementations. For now please continue to follow a simple UI approach, where we do not clutter the starting UI too much and follow UI designs of existing apps, that are used by a lot of people, e.g. sched.org.

@jainaman224

[2016-10-15 05:02] mariobehling commented on #849
Please move the link on tracks page as well. Cheers.

[2016-10-15 16:12] Princu7 commented on #751
@mariobehling Please test the app here
https://tranquil-temple-31388.herokuapp.com/

[2016-10-15 18:09] jainaman224 commented on #801
@mariobehling Please mark boxes which are implemented. May be there is difference between your expectation and current implementation.

[2016-10-16 13:43] Princu7 commented on #819
Can I take this up @mariobehling

[2016-10-16 14:36] mariobehling commented on #819
@Princu7 Yes, sure. Please post screenshot on how you implement it here. Thank you.

[2016-10-17 09:58] mariobehling commented on #724
@shubham-padia Are the issues still there? Would be great to get the autogenerate feature. Are you still interested in it? Should I assign you?

[2016-10-17 12:13] shubham-padia commented on #724
@mariobehling Been busy with some college work for quite some time. Yes , please assign it to me. Would start working on it in a day or two.

[2016-10-17 14:15] jainaman224 commented on #718
@mariobehling Sir, where should I add video, audio and slide section on tracks page and I am performing clean up for application.scss .

[2016-10-17 15:02] poush commented on #840
Hi @kartikhsr Actually I am in mid of this. I had some work to complete that's why it is taking time.

[2016-10-17 15:12] kartikhsr commented on #840
No issue sir...!!
I am a begineer so i am quite eager to work if guided by anyone...!!!
I can complete short and slight work easily , if you want so...i am ready to do..!! @poush

[2016-10-17 15:14] kartikhsr commented on #840
@aayusharora i can add css easily...!!
I can help you if guided by you a little..!!

[2016-10-17 15:34] jainaman224 opened #857 "Schedule Page: Add link icon"
Like speakers, rooms and tracks page. It will be better to add link icon ![Link icon](https://cloud.githubusercontent.com/assets/1583873/18262985/b9cd6a88-7406-11e6-8f0f-369b2486b344.png) on schedule page.

[2016-10-17 15:58] mariobehling commented on #857
Yes, please do. Thanks.

[2016-10-17 16:23] mariobehling commented on #718
@jainaman224 Please propose where it could be suitable.

[2016-10-18 12:46] #724 closed

[2016-10-18 16:25] mariobehling opened #861 "Auto-deploy sample of Open Tech Summit to Heroku"
The sample of the OpenTechSummit has a lot of audio files, that are too big to deploy to Github without Large File Support. Therefore please auto-deploy the sample on pull request merges to Heroku.

The sample file is here: https://github.com/fossasia/open-event/tree/master/sample/OTS16

[2016-10-18 21:13] Princu7 commented on #617
Can I work on this @mariobehling

[2016-10-18 21:41] #836 closed

[2016-10-18 21:42] mariobehling opened #863 "Search on Tracks Page not working"
Please ensure that search is working again on tracks page, e.g. http://fossasia.github.io/open-event-webapp/tracks.html

[2016-10-18 22:03] mariobehling opened #864 "UI Improvements on small screens and mobiles"
- [x] On small screens ensure the search bar is using the full width
  ![screenshot from 2016-10-18 23 52 22](https://cloud.githubusercontent.com/assets/1583873/19497729/f30635d4-958d-11e6-9539-96284c043f7c.png)
- [x] On small screens ensure the date buttons are placed next to each other
  ![screenshot from 2016-10-18 23 55 23](https://cloud.githubusercontent.com/assets/1583873/19497820/69746740-9

[2016-10-18 22:05] mariobehling opened #865 "Additional speaker info not displayed In mobile view"
There should be speakers info on click on picture of speaker in mobile view.

Please ensure that the additional info is shown, e.g. on sample site: http://fossasia.github.io/open-event-webapp/speakers.html

![screenshot from 2016-10-19 00 04 04](https://cloud.githubusercontent.com/assets/1583873/19498112/bf43de34-958f-11e6-88fc-5dcce2d81574.png)

[2016-10-18 22:07] mariobehling opened #866 "UI Bugs - sidebar line and scroll feature on clicking dates"
* [x] Ensure left sidebar line is going through without breaks on rooms and tracks page

![screenshot from 2016-10-18 23 45 11](https://cloud.githubusercontent.com/assets/1583873/19497553/21010ed8-958d-11e6-9cc3-7811e8c31d7a.png)

* [x] On tracks and rooms page ensure dates clicked use the scroll feature, e.g. test Friday and Sunday on sample site http://fossasia.github.io/open-event-webapp/tracks

[2016-10-19 02:25] jainaman224 commented on #863
@mariobehling Sir, I have already fixed it in #856

[2016-10-19 08:49] mariobehling commented on #863
@jainaman224 Must have been lost somewhere. Please check on site with latest code: http://fossasia.github.io/open-event-webapp/tracks.html Not working here.

[2016-10-19 08:53] Princu7 commented on #866
I can work on this one.
Regarding first point, does this look good? @mariobehling
![screenshot from 2016-10-19 14-17-47](https://cloud.githubusercontent.com/assets/8847265/19511929/30ee4d68-9607-11e6-8b92-5a73bf4fa036.png)

[2016-10-19 09:18] jainaman224 commented on #863
Please assign me.

[2016-10-19 12:20] #863 closed

[2016-10-19 14:21] Princu7 commented on #866
@mariobehling  I have completed the work. The second bug was quite nasty and took quite some time to find. The problem was we were using the _slug_ of a track as an _ID_ but the slug can sometimes consist of multiple words consisting of spaces which isn't the usual norm for naming an _ID_.Anyways I made some changes in the scroll.js file and it is working fine now. You can test it here.

https://p

[2016-10-20 16:58] shubham-padia commented on #861
@mariobehling  Looks like the `OTS16` sample is broken , i have implemented the solution using FOSSASIA16 sample right now. Please review #869

[2016-10-20 17:12] mariobehling commented on #861
@shubham-padia Please open an issue here for the sample and describe what is the problem: https://github.com/fossasia/open-event

Would be great if you could help to solve it. Cheers.

[2016-10-20 17:15] shubham-padia commented on #861
@mariobehling I'll start working on the issues asap. Meanwhile closing #869 .

[2016-10-20 19:28] shubham-padia opened #871 "Audio not being downloaded nor audio links being added in html for the OTS sample"
- [x] audio file not saved in the audios/ folder
- [x] links for audio tracks not added to the generated site

The generated site does not have any contents in the `audio` folder and audio links are also not added.

[2016-10-21 04:54] Princu7 commented on #617
Hello @sch00lb0y . It is suggested that you first talk to the assignees of an issue before solving it cause they might have already done some work on that issue which will be nullified and it will be a waste of time and effort. :)

[2016-10-21 06:46] mariobehling commented on #617
@Princu7 @sch00lb0y Yes, would be good to avoid double work, but let's work together now. @Princu7 Could you help to review, please? We want to get step by step to peer-review processes. Cheers.

[2016-10-21 10:20] Princu7 commented on #617
@mariobehling @sch00lb0y No problem at all. I had looked at the thread of the open event android tackling this same issue and it seems to be a two step process. First we have to login to the open event orga-server with a registered emall id. After we post our email address and password to the concerned url, we get an access token. Using that access token we have to post the notification regarding

[2016-10-21 13:08] sch00lb0y commented on #617
@Princu7 @mariobehling sorry for the inconvenience.here after it won't happen again

[2016-10-21 13:33] Princu7 commented on #617
@sch00lb0y No worries at all. Welcome to the community. :smile:

[2016-10-21 14:19] Princu7 commented on #617
@mariobehling  @sch00lb0y  Like I said, currently the server is returning an error. I put some _console.log()_ instructions to check the response of the server. Here it is-

[code]
I am currently trying to make it work using the credentials. Will notify when done!

[2016-10-21 15:13] shubham-padia commented on #861
@mariobehling The max. slug size for heroku is 300MB which is exceeded by the current build if the OTS sample site is included.

[code]
Another solution is we can auto-deploy the OTS sample to website via FTP.
Your views?

[2016-10-21 15:32] mariobehling commented on #861
@shubh1m Yes, good idea. How could we hide the ftp login data?

[2016-10-21 15:39] shubham-padia commented on #861
Travis supports custom ftp deployments and the login data can be encrypted . For more refer https://docs.travis-ci.com/user/deployment/custom/#FTP

[2016-10-21 15:47] shubham-padia commented on #861
@mariobehling If the solution seems feasible, i can try out the solution with my domain, should i go ahead ?

[2016-10-21 15:53] shubham-padia opened #872 "Modify gh auto deploy due to event name been taken from the event json"

[2016-10-21 20:26] aayusharora commented on #857
Solved by #857

[2016-10-21 20:26] #857 closed

[2016-10-22 04:48] Princu7 commented on #617
@mariobehling  @sch00lb0y There are multiple issues to be mentioned. You need to have a registered email id with permissions to login into the open-event orga server. I looked into the open-event-android and used the _harshit dwivedi's_ _email_ and _password_ which were visible in the code. Public display of email and password is not a good practise and we should do some steps to avoid it.

After

[2016-10-22 07:58] mariobehling commented on #617
@Princu7 The issue is, that there cannot be an app for an non-existing event. This feature is intended for people who use the server to run an event. Let's postpone this issue for now and come back at a later point.

[2016-10-22 13:33] sch00lb0y commented on #617
@mariobehling @Princu7 okay.

[2016-10-22 22:29] shubham-padia opened #874 "Make file download synchronous"
Right now when the image or audio files are downloaded, the function chain originating from `generator,js` to `fold.js` to `dist.js`, does not have required callbacks to ensure the files have been downloaded, Due to this, the webapp moves from `WRITING===....` stage to the next stage without waiting for the files to be downloaded. And the large file downloads which take time are not properly downl

[2016-10-22 22:30] shubham-padia commented on #874
I'm working on this.

[2016-10-23 03:58] jainaman224 commented on #835
Please suggest me icons for rooms and tracks page.

[2016-10-23 07:02] mariobehling commented on #835
@jainaman224 Please check out https://openclipart.org and tell us, what you think is suitable. Cheers.

[2016-10-23 09:17] aayusharora commented on #849
Its done :)

[2016-10-23 09:17] #849 closed

[2016-10-23 09:45] aayusharora commented on #838
closed via #854 :)

[2016-10-23 09:45] #838 closed

[2016-10-23 09:48] aayusharora commented on #861
@shubham-padia Can you please outline, how you are going to implement this ?

[2016-10-23 14:31] #861 closed

[2016-10-23 15:23] shubham-padia opened #876 "Modify design and position of the audio player"
@mariobehling @aayusharora @championswimmer Your views ?

[2016-10-23 15:24] shubham-padia commented on #871
cosing #871 via #875

[2016-10-23 15:24] #871 closed

[2016-10-23 18:35] shubham-padia opened #877 "Add an option to run the app behind a proxy"
Right now the app breaks while working behind a proxy on a local machine, whenever the `request` module is utilized.
Add a `proxy` option to config.json which the user can specify if he wishes to.

[2016-10-24 06:38] #877 closed

[2016-10-24 06:39] mariobehling commented on #876
Please propose what you think.

[2016-10-25 10:29] Princu7 commented on #819
@mariobehling I have done some work on this issue. First I have classified the log messages into three types  -
'Info' - Describes some task which is being done or started.
'Success' - Describes the successfull completion of an event or task.
'Error' -  Describes a task that has failed. It will have the option of viewing the detailed information about the error.

The logs are generated on the go i

[2016-10-28 12:49] shubham-padia commented on #876
- **For design :** Something like http://codepen.io/katzkode/pen/Kfgix can be used which looks elegant and simple, and about the position of the audio player.
- **For position:** instead of putting the audio player on the blue card ( with session heading and small description etc ), we can have a tag or a symbol on the card that indicates that audio is available for that specific card, but audio c

[2016-10-28 23:08] shubham-padia commented on #770
@mariobehling I would like to work on this. Thumbnails for speaker images are only required in the currrent implementation, which we can store in `/images/thumbnails/speakers` and i plan to use https://github.com/lovell/sharp for resizing the images.

[2016-10-28 23:09] shubham-padia commented on #751
@mariobehling Looks like this issue has been resolved via #851. Please update the issue. Thank you.

[2016-10-28 23:12] shubham-padia commented on #866
@mariobehling Looks like this issue can be closed. Please update the issue. Thank You.

[2016-10-29 07:22] aayusharora opened #882 "Code Cleanup : SASS code"
There is a lot of extra code written which can be optimized in application.scss file. KIndly remove the extra code not required for the same.

[2016-10-29 07:50] dudraj commented on #882
@aayusharora  Can I work on this Project.

[2016-10-29 11:20] #801 closed

[2016-10-29 16:30] aayusharora commented on #882
Hi @dudraj  You can pickup other issues, this is solved here #883

[2016-10-29 18:19] poush commented on #864
Search bar will be automatically fixed once #841 is merged. For other two things here is the screenshot of changes.

Grey Background on mobile screens
<img width="707" alt="screen shot 2016-10-29 at 11 47 23 pm" src="https://cloud.githubusercontent.com/assets/1812082/19831855/451d7f88-9e32-11e6-930a-7d3d2d0f8c9e.png">

and date buttons as
<img width="641" alt="screen shot 2016-10-29 at 11 47 08 pm

[2016-10-29 23:41] #874 closed

[2016-10-30 01:02] shubham-padia opened #884 "Default avatar not displayed on tracks pages"
![selection_009](https://cloud.githubusercontent.com/assets/13910561/19833732/972ab2fe-9e6a-11e6-94f0-6e38bac069d3.png)

[2016-10-30 01:13] #866 closed

[2016-10-30 01:13] #751 closed

[2016-10-30 01:15] mariobehling commented on #770
Thank you.

Two questions:

1. /images/thumbnails/speakers or maybe better /images/speakers/thumbnails ?

2. Could we include https://github.com/lovell/sharp as a submodule in Github?

[2016-10-30 01:28] shubham-padia commented on #770
@mariobehling
1. Yes, that can be done. Although i have impemented `/images/thumbnails/speakers` on https://shubham-padia.github.io/open-event-webapp ( in the tracks,rooms and schedule pages ), i will start making changes shortly to stick to the format of `/images/speakers/thumbnails`
2. `sharp` can be added as an npm dependency and no external libraries are required for it, so that's not an issue

[2016-10-30 05:58] Princu7 commented on #509
@mariobehling I am willing to give this issue a go. I may need some guidance since I have not used amazon web services before. :smile:

I was thinking of integrating the amazon web services with the webapp itself instead of depending upon an internal api from the orga server. I was searching on the net for the options and found the official aws sdk for javascript which can be used for the upload o

[2016-10-30 07:53] aayusharora commented on #884
Thanks ! I will look at it.

[2016-10-30 09:59] shubham-padia commented on #884
Nevermind :smile: , I've fixed it in #885 .

[2016-10-30 16:06] #770 closed

[2016-10-30 16:18] mariobehling commented on #509
@Princu7 Yes, it is a valid idea, but it is preferable not to depend on Amazon only here. It looks like in future we will host the service on Google Cloud, but other options are also possible and if the user chooses "local" then it should work locally as well.

Please help to implement an abstracted solution, that can be used with different services. Thank you.

[2016-10-30 16:21] mariobehling commented on #876
Ok, give me a few days to test it, please.

Yes, very good idea. Let's do it like that and then test it a while. Sounds like this is the way to go for me.

[2016-10-30 16:53] shubham-padia commented on #884
Closing this via #885 .

[2016-10-30 16:53] #884 closed

[2016-10-30 18:29] Princu7 commented on #509
@mariobehling Thanks for explaining but I am afraid that I didn't fully understood it. Would you please elaborate the problem with the proposed solution and suggest an alternative please?

We will be just using the amazon aws s3 only for storage purposes and nothing else. Considering our app is currently deployed on heroku and since heroku doesn't provide persistent storage, it is a quite good opt

[2016-10-30 18:37] aayusharora commented on #865
@mariobehling , popover appears on hover fpr speaker image. Please reverify the issue :)

[2016-10-31 15:18] mariobehling commented on #786
@poush @aayusharora Yes, for the mobile version could we go with something bigger instead of the underline? Actually, before we had a gray background for this feature, but it is not there somehow.

It would be great to get the gray background back again.

[2016-10-31 15:29] aayusharora commented on #865
Kindly reopen if it needs something more :)

[2016-10-31 15:29] #865 closed

[2016-10-31 22:19] shubham-padia commented on #727
@mariobehling Please update the issue . Looks like this issue can be closed .

[2016-10-31 22:25] #727 closed

[2016-11-01 04:33] Princu7 opened #890 "Local upload of the OTS 16 Sample doesn't generate the event folder"
@mariobehling  @aayusharora  When we try to upload the zip file of the OTS 16 sample, the event folder is not generated and the web app crashes. This is because of the large size of the OTS16 sample owing to which all the contents are not copied before they are read.
Here is an piece of the error
`Error: ENOENT: no such file or directory, open '/home/princu/open-event-webapp/src/backend/../../dist

[2016-11-01 05:19] mariobehling commented on #509
@Princu7 Ok, yes that sounds good. Sorry, I misunderstood. My first understanding was, that we will depend on mailing services of Amazon. Storage is straight forward though. Thanks for the details. Please go ahead.

[2016-11-01 10:51] shubham-padia opened #891 "Sessions not sorted in each track on the tracks page"

[2016-11-01 19:35] #876 closed

[2016-11-01 20:09] shubham-padia commented on #891
Closed via #889.

[2016-11-01 20:09] #891 closed

[2016-11-03 07:47] aayusharora commented on #890
Thanks @Princu7

[2016-11-03 07:47] #890 closed

[2016-11-03 07:47] aayusharora commented on #835
@jainaman224  Are you working on this ?

[2016-11-03 09:45] #780 closed

[2016-11-03 09:48] aayusharora commented on #816
The track colors are chosen by user, hence it is not feasible to set `text-color`. I don't think this is needed. Please reopen if you see any other use case :)

[2016-11-03 09:48] #816 closed

[2016-11-03 09:50] aayusharora commented on #718
@mariobehling I think the issue needs to be updated .

[2016-11-03 10:09] #718 closed

[2016-11-03 11:35] Princu7 commented on #840
Can I work on this? @mariobehling

[2016-11-03 12:38] poush commented on #840
This is how it looks currently
![screenflow](https://cloud.githubusercontent.com/assets/1812082/19966125/69f78332-a1f0-11e6-92ec-f7758f75c177.gif)

Any suggestions ?

[2016-11-03 12:42] Princu7 commented on #840
@poush  Looks great :+1:

[2016-11-03 19:56] mariobehling commented on #840
@poush Good job. Please make a PR.

[2016-11-04 15:36] shubham-padia commented on #822
@mariobehling Unable to recreate this issue. Cannot find internal scrollbars in small screens right now. Please recheck or add steps to recreate the issue.

[2016-11-04 15:43] shubham-padia commented on #822
@mariobehling Sorry for the inconvenience, found it .

[2016-11-04 20:54] #822 closed

[2016-11-05 05:59] jainaman224 commented on #835
@aayusharora Currently I am bit busy. I will work after 1 month, if it is ok. Sorry, for not informing.

[2016-11-05 09:53] alexagr opened #895 "Implement ability to mark favorite sessions"
Add ability for user to mark favorite sessions (e.g. with a star). The mark should be persistent across browser sessions (stored in local storage).

[2016-11-06 04:23] Princu7 commented on #509
@mariobehling @aayusharora I have almost completed this issue. As a demonstration, here is the deployed app on heroku which uses amazon s3 for storage of the event folders.

https://warm-lake-95173.herokuapp.com

When we click the Download button, event folder is automatically downloaded from the s3 storage. Here are some screenshot-
![screenshot from 2016-11-06 09-41-44](https://cloud.githubuserc

[2016-11-09 14:34] Princu7 commented on #509
@mariobehling Please review this issue. Thanks!!

[2016-11-10 02:18] mariobehling commented on #509
Thank you.

Yes, for the system, just set it up with your key quickly. We can change it then.

Yes, travis sounds good.

[2016-11-10 11:28] Princu7 commented on #895
@alexagr I am up for the implementation. Will start working as soon as I get some spare time.

[2016-11-11 13:05] Princu7 commented on #509
@mariobehling I am really sorry for not reviewing the options properly. Since our app id deployed on heroku, encrypting the secret keys in the travis won't work since the travis is only on commits and pull requests. We have to set them up as config variables on the heroku dashboard. This can only be done by a person with write access to this repository and knowledge of the heroku credentials. The

[2016-11-11 21:49] shubham-padia commented on #781
@mariobehling Can you please update the status on this issue ?

[2016-11-12 01:05] #781 closed

[2016-11-12 18:52] aayusharora opened #897 "Bug: App not creating, Generator hangs without logs"
![bug](https://cloud.githubusercontent.com/assets/12194719/20240137/00241792-a937-11e6-9e29-d27bcd56eac7.png)

The current generator is not working here with FOSSASIA Zip https://opev-webgen-dev.herokuapp.com/

[2016-11-12 18:56] shubham-padia commented on #897
@aayusharora Works fine for me. Is your sample updated ?
![selection_017](https://cloud.githubusercontent.com/assets/13910561/20240162/b2cec4aa-a937-11e6-91f2-6a0c570bd059.png)

[2016-11-13 00:53] #897 closed

[2016-11-13 05:40] aayusharora opened #899 "Logical Error: Wrong approach in copying folder"
- The current generator will not generate app when number of files are less than expected i.e if images folder is not there or session.json is missing.
- This is because the current generator make a zip folder while copying the contents
- It removes it when the number of files copied is equal to a constant variable `filesToCopy` which is hardcoded as  7 here.
- This is wrong as the user can upload

[2016-11-13 06:33] Princu7 commented on #899
@aayusharora Yes, Sorry for the mistake. In the original code, we were copying sessions, audio, images, event, tracks, speakers, sponsors, microlocations(whatever was available out of them) and not any other extra files which might be available in the zip folder. We can use the async library to accomplish this task easily without any need of counter variable. The code will be more robust and error

[2016-11-13 10:38] alexagr commented on #534
sorry - just tested this on iPhone 6 - popups are still not working, even though #896 is in

[2016-11-13 12:15] shubham-padia commented on #534
@alexagr Noticed the problem on the iphone, I had only tested in on a safari desktop as i did not have any resources to test in on the iphone at that time :smiley: .

It is working fine on safari desktop as of now, am looking into the problem why it it is not working on the iphone.

![screenshot from 2016-11-13 17-42-50](https://cloud.githubusercontent.com/assets/13910561/20245489/c57d515c-a9c8-11

[2016-11-13 12:18] alexagr commented on #534
@shubham-padia I wonder why we are not using standard "popover" functionality from Bootstrap?

[2016-11-17 02:20] DEVAbhinav opened #904 "generator require is not at the top"
Over in ['app.js' file, I noticed that generator require was not done at the top](https://github.com/fossasia/open-event-webapp/blob/development/src/app.js#L59). I'd like to update it . Is this a welcomed contribution right now?

[2016-11-18 04:08] #534 closed

[2016-11-18 12:22] Princu7 opened #906 "App currently hangs (Urgent)"
@aayusharora  @mariobehling  Currently, the app hangs on the FOSSASIA zip during the copying of the contents of zip file. This is because FOSSASIA zip file contains the video folder(which is empty by the way) and it is not in the list of files being copied. Since we don't move to the next step until all the contents of zip file are transferred and since the video folder is not mentioned in the lis

[2016-11-23 16:15] aayusharora opened #909 "Increase Code Coverage"
- Add atleast one test to `servertest.js` file  inside `test` folder and  increase code coverage
- Use mocha and chai for writing test

[2016-11-25 09:35] #906 closed

[2016-12-01 04:21] Princu7 opened #910 "Show the generated event folder without the necessary need to have the amazon s3 keys."
Currently, when the forks of the app are being deployed on Heroku, the event folder generated is not being shown because of the lack of the amazon S3 keys. Make changes in the **mailer.js** file of the project to make sure that the generated event folder is shown even if the S3 keys are not present.
![screenshot from 2016-12-01 09-45-03](https://cloud.githubusercontent.com/assets/8847265/20781772/

[2016-12-01 09:19] #904 closed

[2016-12-02 06:03] gaeun opened #911 "Mention buildLogger.js file in the documentation"
Currently, the README.md documentation for the repository does not contain information about the buildLogger.js script. Update the "Scripts" section of the documentation to include buildLogger.js.

<img width="712" alt="readme screenshot" src="https://cloud.githubusercontent.com/assets/13972732/20824437/256813b4-b8a0-11e6-99e0-6e9491aa85c9.png">

[2016-12-03 06:41] pipix51 opened #913 "Adding a Wiki for the Repository"
The current readme on the repository is long and may turn off new contributors, hence by using a wiki the documentation would be simplified and allow those who need help to find it easily. I have implemented a wiki repository on my fork (https://github.com/pipix51/open-event-webapp/wiki). Please review the wiki and suggest any changes.

[2016-12-03 06:44] #911 closed

[2016-12-03 07:13] pipix51 opened #914 "Problem Installing Webapp Generator Locally on Windows"
When I type in `npm install` for local machines (documentation link is https://github.com/fossasia/open-event-webapp/blob/development/docs/INSTALLATION_LOCAL.md), the command prompt throws an error which states that `node-gyp rebuild` fails on your system.
![error thrown by npm install](https://cloud.githubusercontent.com/assets/19341222/20857507/120e290a-b96a-11e6-948a-8fa1e572f354.png)

Even if

[2016-12-03 07:17] aayusharora commented on #914
Thanks @pipix51 Once you are able to solve your problem, generate the PR by adding in readme.md.

[2016-12-03 07:18] aayusharora commented on #899
Thanks @Princu7

[2016-12-03 07:18] #899 closed

[2016-12-03 07:20] #819 closed

[2016-12-03 08:59] pipix51 commented on #914
The pull request is at https://github.com/fossasia/open-event-webapp/pull/915

[2016-12-03 09:27] aayusharora commented on #914
Good work @pipix51 Thanks :)

[2016-12-03 09:27] #914 closed

[2016-12-04 09:02] mariobehling opened #916 "Implement additional config options"
Currently the config.json is indicating to use Sendgrid as a standard mailer and Amazon S3 for storage. Please implement additional options in the json:
* [ ] Add the option to use either Sendgrid or an SMTP mail delivery
* [ ] Add the option to use either Amazon S3 or local storage
* [ ] Also add documentation about the options into the file

[2016-12-04 19:12] Princu7 commented on #913
@pipix51 Thanks. The wiki looks good.  @mariobehling @aayusharora @shubham-padia Please give your  reviews and suggestions regarding this.

[2016-12-04 19:36] shubham-padia commented on #913
@pipix51 Thank you, this will certainly make things easier for new contributors.
@Princu7 Looks good to me :smile:

[2016-12-05 09:27] mariobehling commented on #913
Thanks for this idea. Unfortunately this will change the flow that we have been pursuing across the open event projects for now. Changes would require a longer discussion about pros and cons. Many Open Source projects keep a much longer documentation within their repository. We could also add a table of contents on top of the Readme.md. There are a number of things to consider and this is currentl

[2016-12-05 09:27] #913 closed

[2016-12-06 16:24] #910 closed

[2016-12-06 18:29] aryanbhasin opened #918 "Incorrect path of unit test in documentation"
The path of the unit test mentioned in the documentation of the repository is wrong

[2016-12-06 18:44] #918 closed

[2016-12-07 00:26] mariobehling opened #921 "Enable deployment of App on Google Cloud"
* [ ] an app.yaml file is necessary to deploy an app on google cloud using Google Cloud SDK
this file will help deploy the Open Event webapp on Google Cloud.
* [ ] Implement storage option on Google Cloud storage in config.json

[2016-12-07 19:22] aryanbhasin opened #922 "Poor documentation of deploying Open Event Web App on Google Cloud"
The current documentation is at:
https://github.com/fossasia/open-event-webapp/blob/development/docs/INSTALLATION_GOOGLE.md

This documentation does not refer to using Google Cloud Console to manage projects.
It does not give clear instructions of setting up instances, and does not make any reference to deploying the app on Google Cloud's App Engine flexible environment.
Additionally, the instruct

[2016-12-08 14:05] mariobehling commented on #922
Thanks for working and solving this issue. I would like to ask you to keep your language more positive and encouraging in future please, especially in issues. E.g. instead of saying "poor documentation" it could be "Improve documentation". This might help to get issues solved faster, if you need help in the future. Cheers. ;-)

[2016-12-08 14:05] #922 closed

[2016-12-16 06:15] Tikam02 commented on #835
sir can i contribute to this issue.

[2016-12-16 06:17] Princu7 commented on #835
@jainaman224 Are you working on this issue?

[2016-12-16 06:18] Tikam02 commented on #835
Actually in http://fossasia.org website when menu bar is clicked the page moved to left side:Like this
![foss-page](https://cloud.githubusercontent.com/assets/10548085/21253502/47372c24-c385-11e6-8b13-031feb7f7412.png)
![foss-page1](https://cloud.githubusercontent.com/assets/10548085/21253508/54421f0a-c385-11e6-8e3b-389e15ba3a54.png)
 we can do is just make a simple horizontal menu-bar and which w

[2016-12-16 06:18] Tikam02 commented on #840
i want to work on this issue.sir can i still contributeto it.

[2016-12-16 06:25] Princu7 commented on #835
@Tikam02 Thanks for pointing out the issue. Yes. You can work on the above bug. Since this is a open-event-webapp repository, you will have to create the corresponding issue in the FOSSASIA site repository. You can work from there.

[2016-12-16 06:28] Tikam02 commented on #835
Thanks 👍 i will do.

[2016-12-22 10:47] Princu7 commented on #895
@mariobehling @aayusharora
I have done a little work on this issue. I have added a star button to each session on the tracks page and the rooms page for quick bookmarking of the sessions. Below are the screenshots and the live link to the updated site
![screenshot from 2016-12-22 15-28-26](https://cloud.githubusercontent.com/assets/8847265/21421931/55b31c56-c85b-11e6-8126-db434538584b.png)
https:/

[2016-12-23 09:53] alexagr commented on #895
Very nice start!
A few comments / suggestions:
1. Right now only one session can be marked as favorite. It should be possible to mark multiple sessions.
2. Please add a toggle to the top of the page, allowing to show sessions marked as favorite only. IMO there is no need for a separate page.
3. We should have similar functionality on Schedule page as well.
4. Please consider using "3 star" score s

[2016-12-23 10:07] Princu7 commented on #895
Brilliant suggestions @alexgr. I will keep those in mind while implementing the feature. Thanks.

[2016-12-23 10:13] SrijanJha28 opened #924 "Updated gif about how to generate open-event-webapp"
There should be a video that how a person can generate the open event app

[2016-12-23 10:18] Princu7 commented on #924
@SrijanJha28 Thanks for the suggestion but we already have a GIF of the process of generating the open event webapp in the documentation. If you find something that can be improved in that, then do tell us.

[2016-12-23 10:20] SrijanJha28 commented on #924
It is a video by aayush arora in youtube which I would like to add in the readme file so that if anyone finds it difficult they may watch that video

[2016-12-23 10:30] Princu7 commented on #924
The video is really nice but a bit outdated. Most of the options are not present anymore. The current animation on the documentation page is a little more recent than that and the user doesn't have to leave the site and go to another domain. If you could make an updated GIF of the generation process, it would be really great.
@mariobehling @aayusharora Please give your opinions on having an update

[2016-12-23 10:45] SrijanJha28 commented on #924
Can you tell me from where would I get Upload your own JSON files or  API endpoint of event on OpenEvent

[2016-12-23 15:35] aayusharora commented on #924
@Princu7 I agree, we should have an updated gif. @SrijanJha28  Thanks but the video is outdated according to the previous requirement of the project. Now it is changed and hence it will be better if you can provide the video link in readme featuring current webapp version.

[2016-12-23 15:51] SrijanJha28 commented on #924
Can you send me the link of the video

[2016-12-24 09:26] aayusharora commented on #924
@SrijanJha28 There is no new updated video available. If you want to provide a video, you can create and the link in the readme.
Cheers :)

[2016-12-24 09:56] SrijanJha28 commented on #924
Can you please make a video and upload it on YouTube so that I could add it

[2016-12-25 19:48] mansikhemka opened #927 "Fixing the URL in the mail sent to the user."
The email sent to the user for the successful creation of the web app is incorrect. It lacks the %20 needed in place of spaces in the event name.

Therefore, the URL shows 404 on clicking.

(Based on the web app run on heroku.)

<img width="532" alt="screen shot 2016-12-26 at 12 17 50 am" src="https://cloud.githubusercontent.com/assets/13851011/21472450/c9ea60d2-cb00-11e6-986f-e84b028e3a7f.png">

[2016-12-25 19:56] Princu7 commented on #927
@mansikhemka Thanks for reporting the issue. Putting dash or underscore in place of the spaces would be good in my opinion. Any suggestions?
Also would you like to work on this issue?

[2016-12-25 20:07] mansikhemka commented on #927
@Princu7 Definitely, I will place %20 instead of spaces.

[2016-12-26 06:06] yashNadun commented on #835
@mariobehling can I take this?

[2016-12-26 10:12] mariobehling commented on #835
@yashNadun Sure, please go ahead.

[2016-12-26 10:12] mariobehling commented on #835
@yashNadun Please accept the invitation to the FOSSASIA team, so we are able to assign you.

[2016-12-26 14:55] Princu7 commented on #895
@mariobehling @aayusharora @alexagr So I did some more progress on this issue. I have implemented the bookmark feature on the tracks page(one star currently). Please review and test the feature here.

https://princu7.github.io/websiteTest/tracks.html

I also need some inputs on this. Where should we place the _Show Starred/Show All_ button and what should be its color? Also, regarding the 3-star s

[2016-12-26 15:03] mariobehling opened #929 "Use same standard font on search bar as elsewhere"
The search bar uses a different font to other areas of the site. Please implement the same font here.

![screenshot from 2016-12-26 16-02-08](https://cloud.githubusercontent.com/assets/1583873/21483573/d8600cdc-cb84-11e6-8c17-68f951c27b18.png)

[2016-12-26 15:12] mariobehling commented on #895
Thank you, works great!
@Princu7 Thank you.

Let's keep the design simple in plain colors like the existing UI, e.g. something along the lines like GitHub: ![screenshot from 2016-12-26 16-07-03](https://cloud.githubusercontent.com/assets/1583873/21483630/b0cce45a-cb85-11e6-99b3-af311f3786a4.png)

Could you make the button next to the dates (on the right of the dates), please in one line to save so

[2016-12-27 18:38] fatimarafiqui commented on #927
@Princu7 Should we not use encodeURI? That will be more appropriate solution.

[2016-12-28 04:44] #929 closed

[2016-12-28 04:45] Princu7 commented on #927
@fatimarafiqui Agree. That would be a better solution. Please open a pull request regarding it. Thanks

[2016-12-28 05:39] shubham-padia opened #932 "Track names listed twice on the tracks page"
![selection_031](https://cloud.githubusercontent.com/assets/13910561/21514671/ce429908-cced-11e6-8b81-2fd6b0d046e7.png)

[2016-12-28 05:54] #932 closed

[2016-12-28 09:48] aayusharora commented on #927
Nice work @mansikhemka  Thanks :)

[2016-12-28 09:48] #927 closed

[2016-12-28 09:57] fatimarafiqui commented on #927
I will open the pull request shortly @Princu7 @aayusharora

[2016-12-28 11:51] aayusharora opened #936 "Webapp hangs at Uploading JSONS"
The JSON extraction step is hanging the webapp to generate.
Tried with  E-health and FOSSASIA 16 sample.

[2016-12-28 12:04] Princu7 commented on #936
@aayusharora Weird. Seems to be working fine when I tested the samples.

[2016-12-28 12:22] aayusharora commented on #936
Thanks. Seems fine with updated zip. :) Closing this

[2016-12-28 12:22] #936 closed

[2016-12-28 12:51] aayusharora commented on #840
Solved via #934 Thanks @poush

[2016-12-28 12:51] #840 closed

[2017-01-03 18:26] mariobehling opened #939 "Improve "Show starred" and "Search" field on mobile screen"
Show starred and search fields do not show up nicely on mobile screens. Please align and expand the buttons/field to match the other areas on mobile resolutions, e.g. compare here http://fossasia.github.io/open-event-webapp/tracks.html

![screenshot from 2017-01-03 19-22-52](https://cloud.githubusercontent.com/assets/1583873/21618274/63effeae-d1ea-11e6-9336-f77f6c8cc0b7.png)

[2017-01-03 18:28] mariobehling opened #940 "Session title not always full width on small resolutions"
The colored session title is not always in full resolution in small resolutions. Please help to fix this.

![screenshot from 2017-01-03 19-27-50](https://cloud.githubusercontent.com/assets/1583873/21618359/d94aa136-d1ea-11e6-9174-deaa6d724f66.png)

[2017-01-04 19:41] geekyd commented on #940
Hello sir I would like to work on this issue.
original code
`@media (max-width: 660px) {
  .event {
    max-width: 270px;
  }
}`
The above code fixes the size of the title which does not scale well on small resolutions as it is fixed.
![screen shot 2017-01-05 at 1 06 51 am](https://cloud.githubusercontent.com/assets/12807846/21656326/aec1e420-d2e3-11e6-8606-62875c9b80c5.png)

Please check the resu

[2017-01-04 19:49] mariobehling commented on #940
Please make a pull request. So devs can review it. Thank you.

[2017-01-04 19:56] geekyd commented on #940
Sir I have made the pull request , please check.
Thank you.

[2017-01-04 21:17] geekyd commented on #939
@mariobehling sir I have tried to fix the issue, added some css to the existing code please have a look.

![screen shot 2017-01-05 at 2 34 14 am](https://cloud.githubusercontent.com/assets/12807846/21659513/1e7f5218-d2f1-11e6-8872-9a9f2da4ef77.png)

[2017-01-04 21:31] shubham-padia opened #942 "Add documentation for setting up continuous integration on GitHub pages"

[2017-01-04 22:07] #940 closed

[2017-01-04 23:14] mariobehling commented on #939
Ok, very good.

1. Could you also make "Show Starred" the same width as the event days buttons, please?
2. Could you make the Search Area the same height as the event days buttons?

[2017-01-05 03:58] geekyd commented on #939
@mariobehling sir I have made the changes you asked for, please have a look.
![screen shot 2017-01-05 at 9 26 53 am](https://cloud.githubusercontent.com/assets/12807846/21668591/4dd177c0-d329-11e6-921e-0932ec6e27a0.png)

[2017-01-05 05:21] mariobehling commented on #939
I do not see a PR to our repo from you.

[2017-01-05 09:38] aayusharora opened #945 "Bad Layout when showing starred sessions"
![layout](https://cloud.githubusercontent.com/assets/12194719/21675697/b94bfce4-d358-11e6-9e37-55f736a9d1aa.png)

[2017-01-05 09:42] aayusharora opened #946 "UX: Reset Loader when Zip is cancelled"
Whenever the user click on cancel Uploading zip , the loader should reset.
## Steps to Reproduce
- Upload Zip and click generate app
- Cancel Zip when app is generated and upload new zip

![ui](https://cloud.githubusercontent.com/assets/12194719/21675838/4b81f1cc-d359-11e6-827b-81c5ea0b534f.png)

[2017-01-05 09:44] #864 closed

[2017-01-05 11:04] Princu7 opened #947 "Automatic deployment of generated event website to the user's Github Account"
I have been working on this feature for quite some time. This will give the users the ability to publish the event website on their Github account in the form of gh-pages.

**Workflow**
* Users will generate the event website with the help of the generator.
* If they want to deploy the generated website to their GitHub account, they will press on the **Deploy** button in the form.
* After clicking

[2017-01-05 11:30] Princu7 commented on #946
@aayusharora I noticed this bug too. I will work on fixing it ASAP. Thanks.

[2017-01-05 11:45] mariobehling commented on #947
@Princu7 Awesome!

I could not try out the whole thing right now as the apps demands access to all repositories and I am not seeing a way to limit it to one repository. I would be ok to share with my personal repositories but sharing of organizations is a bit tricky. Is there a way to allow access to a specific repository or something along the lines?

![screenshot from 2017-01-05 12-41-07](https:

[2017-01-05 13:34] uttpal commented on #916
@mariobehling I would like to work on this issue,
I will add option in config to set default mailing system(either sendgrid or smtp) in config, and use that transport to send mails.

[2017-01-05 13:58] aayusharora commented on #916
@uttpal Thanks !! go ahead.

[2017-01-05 14:10] uttpal commented on #916
@mariobehling @aayusharora  which version of node are you using, and are you comfotable with promises and generators for async.

[2017-01-05 14:44] Princu7 commented on #916
@uttpal I think we are using 5.0 and promises and generators should be fine. :+1:

[2017-01-05 18:54] Princu7 commented on #947
@mariobehling I have removed the permissions which asked for access to the private repositories. Also, I have set the organizations permissions to read only. It should be sufficient, I guess.

I am sorry that I didn't elaborate on the permissions required for the app to work. To give power to the app, we have to associate certain scopes to our OAuth token. Scopes let us specify exactly what type o

[2017-01-05 21:05] CosmicCoder96 commented on #945
@aayusharora I would like to fix this, would it be okay to display the star of the starred session at the top-right corner of the box ?

[2017-01-05 23:06] CosmicCoder96 commented on #945
@aayusharora I made some changes which makes the stars align themselves towards the right.
<img width="889" alt="screen shot 2017-01-06 at 3 36 30 am" src="https://cloud.githubusercontent.com/assets/17252805/21701070/9bb5e854-d3c9-11e6-9895-b371acc4d813.png">

[2017-01-06 05:41] Princu7 commented on #916
@uttpal The code looks great. Please update your PR description with the number of this issue which you are trying to solve. Also, it would be great if we could test it out somewhere. Please deploy the app on Heroku for the same.
@mariobehling @aayusharora What should be the default option for mail delivery? SMTP or Sendgrid? @uttpal Has set the default to SMTP.

[2017-01-06 06:26] mariobehling commented on #916
@Princu7 I guess SMTP as it could be used immediately? But we need to make sure the automatic deployment still works.

[2017-01-06 07:09] uttpal commented on #916
@mariobehling @Princu7 App is live at https://openevent-app.herokuapp.com/

[2017-01-06 11:27] geekyd commented on #946
@aayusharora  I tried to solve the issue and I have got this result.
![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/12807846/21716515/e9f001d2-d430-11e6-9a6a-3d49a0842423.gif)

There is one more problem that I have noticed , while generating the app if we hit cancel it wont stop the generating process of the web app.

Check this out!

[2017-01-06 11:46] Princu7 commented on #946
@geekyd Looks great. I had also started working on the issue :smile:. In the future, before working on an issue, please ask the members who have volunteered to work on it before taking it up. This would lead to more efficient utilization of time and resources. Anyways, no problem. Please make a PR.

To cancel the generation process, placing a button next to the generation slider or a cancel button

[2017-01-06 11:49] geekyd commented on #946
@Princu7 Sorry about that, I will be more careful in the future!
I'm generating a PR.

[2017-01-06 12:08] geekyd commented on #946
@Princu7 Thank you :)

[2017-01-06 12:24] Princu7 commented on #916
@uttpal Works great. Looking at your code, it seems that you have not set user and pass in SMTP configuration to environment variables. Please do it so that we can set them as config variables on the Heroku Platform for the official app.

@mariobehling @aayusharora Is there any FOSSASIA official account from which we can send emails to the users instead of using the email address of the contributo

[2017-01-06 12:29] Princu7 commented on #946
@geekyd No problem at all. Good Work. It was a trivial issue so no harm done. Sometimes, it might happen that the other person might have invested a lot of time on the issue which would be nullified this way. Cheers :smiley:

[2017-01-06 12:34] geekyd commented on #946
@Princu7 I'm sorry about the misunderstanding. I did not mean to nullify your work.

[2017-01-06 12:36] Princu7 commented on #946
@geekyd No problem at all. No misunderstandings. You didn't do anything but great work. I was speaking from a general perspective. All is Well :smiley:

[2017-01-06 13:01] uttpal commented on #916
@Princu7 Added smtp credentials.

[2017-01-06 13:02] Princu7 commented on #916
@uttpal Please don't add credentials on Github. No. In fact, revert it immediately. What I wanted to say was to do something like this:
user: process.env.smtpusername
pass: process.env.smtppassword

[2017-01-06 13:06] Princu7 commented on #916
We would then set them(user and pass) as config variables on Heroku which will behave as environment variables for the app. This way, no one will be able to see or use your credentials and it will give other users flexibility to change it while working locally or on cloud. Sorry for the misunderstanding.

[2017-01-06 13:14] adarsh-ideal commented on #835
@mariobehling What else is needed to be done here?

[2017-01-06 13:57] uttpal commented on #916
@Princu7 Sorry for such a misunderstanding, I am removing it right away and adding environment variables.

[2017-01-06 14:07] uttpal commented on #916
@Princu7 Reverted changed and added environment variable, also updated the app at  https://openevent-app.herokuapp.com/.

[2017-01-06 14:15] geekyd opened #951 "UX : Improving the menu for small screen size & the landing page"
I noticed that the menu in the current app on small resolution does not scale properly and can be improved. I have also noticed that the buttons on the main page of the app are not aligned properly.

![screen shot 2017-01-06 at 7 35 21 pm](https://cloud.githubusercontent.com/assets/12807846/21720167/bc5e21a6-d447-11e6-8225-299e786e61f3.png)

![screen shot 2017-01-06 at 7 37 10 pm](https://cloud.gi

[2017-01-06 15:34] #945 closed

[2017-01-06 15:36] aayusharora commented on #951
@geekyd Please propose the mockup of your UI .

[2017-01-06 15:40] aayusharora commented on #946
@geekyd Nice work! You catch a crucial bug. You can create a seperate issue for that and can go ahead.
@Princu7 Do you want to work on this issue ?

[2017-01-06 15:53] geekyd commented on #951
@aayusharora here is my proposed design for the ui.
check out for live demo :)
http://open-event-web-appp.herokuapp.com

![screen shot 2017-01-06 at 7 35 31 pm](https://cloud.githubusercontent.com/assets/12807846/21723406/4c4629b8-d456-11e6-8929-8e85b87dfe48.png)

[2017-01-06 16:13] geekyd opened #952 "UX: Stop website generation when zip is cancelled"
The website generation does not stop even if the zip gets cancelled in between the generation process.

**Steps to reproduce the situation**

1. Upload the zip and hit generate app
2. Cancel the zip before the generation of the app is completed.

![ezgif com-gif-maker 1](https://cloud.githubusercontent.com/assets/12807846/21724106/ffc93ac8-d458-11e6-8f22-c74b5830222f.gif)

[2017-01-06 19:40] aayusharora commented on #951
@geekyd The UI is not correct and effective. Please consider https://fossasia.org/ navbar on small screen to come up with better UI.

[2017-01-06 19:40] #939 closed

[2017-01-06 20:18] aayusharora opened #953 "Schedule information not shown"
## Steps to reproduce

- Go to schedule page
- Click on any schedule
- Schedule div will not expand to provide schedule info.
Correct functionality on click:

![previous](https://cloud.githubusercontent.com/assets/12194719/21731632/480768d8-d47b-11e6-8b34-12d2dd7af314.png)

[2017-01-06 20:24] #786 closed

[2017-01-07 07:02] CosmicCoder96 opened #954 "Implement a nav bar for sessions/tracks"
Currently there is no navbar on sessions/tracks pages and it becomes difficult to navigate through the sessions without a navbar. We could take inspiration from eventyay navbar from the link given below, on the webapp they are datewise so there would be an option to select the date and then the navbar would display the corresponding tracks according to the selected tab on navbar.

<img width="1104

[2017-01-07 07:11] CosmicCoder96 commented on #953
@aayusharora I would like to work on this.

[2017-01-07 07:36] Princu7 commented on #953
@CosmicCoder96 Fixed. A javascript bug.

[2017-01-07 07:43] Princu7 commented on #954
@CosmicCoder96 Great idea!!.

[2017-01-07 08:20] uttpal opened #956 "App crashes when invalid zip is uploaded"
Web app crashes if the uploaded zip file is invalid (not contains required folders and files).

Steps to reproduce:

1. Go to app homepage
2. Upload any zip that does not contains /sessions or  /speakers or /event or other folders.
3. Click generate webapp
4. You can see app crashing in server logs.

![error](https://cloud.githubusercontent.com/assets/8591801/21740422/d0e77878-d4df-11e6-8a83-549fc

[2017-01-07 08:22] Princu7 commented on #916
@uttpal Nice. Please email me your credentials so we can set them as config variables on Heroku. Thanks.

[2017-01-07 08:30] Princu7 commented on #956
Sure. Thanks.

[2017-01-07 08:30] uttpal commented on #916
@Princu7 credentials mailed!

[2017-01-07 08:49] Princu7 commented on #916
@uttpal They will be added shortly. Please squash your recent commits into one, please.

[2017-01-07 08:57] Princu7 opened #957 "Slider does not progess linearly and the logs are not cleared on using another zip file"
If you generate the event site on uploading a zip file and then do the same process with another zip file, the logs of the previous attempt is not cleared. Also, the slider does not progress linearly. It goes from 95% to 90% at one instant.
![screenshot from 2017-01-07 14-28-15](https://cloud.githubusercontent.com/assets/8847265/21740644/acea3e6e-d4e5-11e6-82d3-a150ae388f07.png)
The red line denot

[2017-01-07 09:00] Abhi2424shek commented on #957
Go on @princu7 👍

[2017-01-07 09:12] uttpal commented on #916
@Princu7 Commits squashed.

[2017-01-07 09:18] Princu7 commented on #946
@aayusharora Geekyd wanted to work on it so he should go ahead. I will fix other bugs. Thanks.

[2017-01-07 12:45] Princu7 commented on #916
@uttpal I am extremely sorry for troubling you again. The number of environment variables are getting a bit high in my opinion. I think that we don't need to set anything as environment variable apart from the password. What do you suggest?

[2017-01-07 13:19] uttpal commented on #916
@Princu7 That's perfectly fine as I have already implemented fallback, if the environment does not exist it will automatically search in the config, as of now config already contains host and port,  you just need to add username and password in the environment. does this work?

[2017-01-07 13:50] Princu7 commented on #916
@uttpal Yeah. Should be fine.

[2017-01-07 14:39] aayusharora commented on #954
@CosmicCoder96 Good idea! How are you planning to do this on mobile. Where your proposed UI navbar will take 50% mobile screen when number of tracks increases.

[2017-01-07 17:10] #916 closed

[2017-01-07 17:29] Princu7 opened #959 "Zip upload not actually terminated on clicking X"
It only appears that the zip upload has been terminated. But in reality, the zip upload process continues in the background. You can best view it in action when you take a big zip file for trial.
This was mentioned in the code itself
`//TODO cancel soket ongoing uploading of file`
I will work and try to solve this issue. Thanks.

[2017-01-07 19:03] aayusharora commented on #953
Thanks @Princu7  :)

[2017-01-07 19:03] #953 closed

[2017-01-07 19:33] aayusharora opened #960 "Performance: Scale Speakers and Sponsor images before CSSOM generation"
- While generating images in a folder from user's uploaded zip, the images are directly generated or fetched from API in the folder.

## Proposed solution
- We already know the size of each sponsor image `max-height: 80px;
    max-width: 150px;` which can be scaled before CSSOM generation.
## Help Link
https://www.npmjs.com/package/node-image-resize

[2017-01-07 19:50] aayusharora opened #961 "Error Handling for Tweets"
- The webapp provide error in console if loklak server is down
- Add error handling and show the text "No Tweets Available" instead of blank area in view.
![errortwiter](https://cloud.githubusercontent.com/assets/12194719/21744681/9795ce2e-d540-11e6-9dc0-cba0605cff76.png)

[2017-01-07 20:35] Heredroky commented on #909
@aayusharora The tested file will be servertest.js?

[2017-01-07 20:52] Heredroky commented on #961
@aayn I will try to work on this

[2017-01-08 04:59] CosmicCoder96 commented on #954
@aayusharora on smaller screens, it can be a fixed width scrollable (scrollable to right or down whichever works best ) Navbar so it doesn't cover the entire screen area. How does that sound? I'm on working on one and will give you a demo as soon as I can.

[2017-01-08 06:48] Princu7 commented on #909
@Heredroky Yes.

[2017-01-08 18:18] #961 closed

[2017-01-08 18:20] aayusharora commented on #954
@CosmicCoder96 Sounds good. Suggestion is to post the proposed UI before coding it.

[2017-01-09 08:04] adarsh-ideal commented on #960
@aayusharora I would like to work on this.

[2017-01-09 08:40] uttpal commented on #956
@Princu7 @mariobehling Issue fixed have a look https://openevent-app.herokuapp.com/

[2017-01-09 08:55] divyanshu-rawat opened #965 "Image not visible"
In readme.md dependencies Image not visible .

![not visible](https://cloud.githubusercontent.com/assets/13464678/21761174/2ec06548-d677-11e6-8e82-9a65ea9da45f.png)

[2017-01-09 13:13] Princu7 opened #966 "Web app does not works properly when multiple clients generate event sites within a short window of time,"
Currently, the web app is not able to handle multiple requests around the same time. It behaves in a funny manner, delivering the wrong event site to the user.

**Steps to reproduce**

* Open two tabs in the browser which will correspond to the two different users.
* Let User1 upload a sample zip. Don't press the Generate Button yet.
* Let User2 upload a sample zip.
* Let User1 and User2  press th

[2017-01-09 13:31] #956 closed

[2017-01-09 13:48] Princu7 commented on #965
@divyanshu-rawat Hi. Thanks for noticing the bug.  Would you like to work on it?

[2017-01-09 14:49] divyanshu-rawat commented on #965
yes for sure please assign me !

[2017-01-09 16:25] geekyd commented on #952
@aayusharora I have tried to solve the issue. please check the link and give your feedback.
https://open-event-web-appp.herokuapp.com/

[2017-01-09 17:13] divyanshu-rawat commented on #965
@Princu7  It is working now !

[2017-01-09 17:52] #965 closed

[2017-01-09 18:40] Princu7 commented on #952
@geekyd Looks great. Couple of points

* Please make the generation progress bar disappear on clicking the X button
* Clear up the existing logs.

[2017-01-09 19:31] aayusharora commented on #952
Looks good @Princu7 points seems valid in terms of UX. Better if we can achieve them with a transition .5 in hiding and showing the progress bar.

[2017-01-09 19:49] aayusharora commented on #966
Thanks @Princu7. This is something that needs attention. This may be because of single folder that is being replaced again and again. This can cause problem at same time click.
Do you like to take it ?

[2017-01-09 19:53] Princu7 commented on #966
@aayusharora Yes. Thanks.

[2017-01-10 09:09] poush commented on #960
I am working on this. First tried using "sharp" module with sponsor images, it is working but the only issue is that it is cropping the images instead of resizing in resolution.
Here is the commit https://github.com/poush/open-event-webapp/commit/bc8720ab32264a6fed261a62363c32a2f26f7ff1 of it.

About that module "node-image"resize", it is not updated since 3 years supporting old version of nodejs.

[2017-01-10 14:00] adarsh-ideal commented on #909
@aayusharora I'll try to do this.

[2017-01-10 14:55] aayusharora commented on #909
@adarsh-ideal cool, we need to write many tests. Go ahead !!

[2017-01-10 20:19] CosmicCoder96 commented on #954
@aayusharora I have made a PR #967 , there is a live link to preview as well, you can see the UI there.

[2017-01-11 09:32] geekyd commented on #952
@Princu7 @aayusharora I have updated and added clearing the log feature.
But the progress does not stop as soon as the cancel but is clicked.

**Approach I have used**
- Created a variable in generator.js to maintain the status i.e if the user hits cancel or not
- Checked if the status is not false(cancel is not clicked) at start and end of each async.series function.

Can you please suggest if th

[2017-01-11 11:53] Princu7 commented on #952
@geekyd Thanks for the updates. I will look at the code and give feedback soon.

[2017-01-11 11:58] uttpal opened #969 "Progress stuck on front end if error extracting zip on backend"
If corrupted zip is uploaded or there is an error while extraction the frontend gets struck on progress without any error, while the error is thrown in backend logs.

- [ ] Send Error to user if corrupted zip
- [ ] Reset Progressbar to whenever there is an error

![struck](https://cloud.githubusercontent.com/assets/8591801/21847601/b3045416-d822-11e6-9cd2-78f0243111ba.png)

![loge](https://cloud.g

[2017-01-11 12:55] poush commented on #966
The one simple solution could be appending last 6-8 digits of timestamp to the file name. This part should be done by the server and on upload complete server can return the name of the file which will be sent to the server again when creating the web app.

[2017-01-11 12:56] Princu7 commented on #969
@uttpal Thanks. Sure, Go ahead. This might be because of this piece of code in the dist.js file which don't send the error to logger function.

[code]

[2017-01-11 13:37] #959 closed

[2017-01-11 14:27] aayusharora commented on #969
@uttpal go ahead !! Thanks

[2017-01-11 14:31] aayusharora commented on #966
@Princu7 Will the client-{id} be different for the same user generating multiple apps at a single point of time.
Are they considered as seperate clients ?

[2017-01-11 14:33] aayusharora commented on #966
@poush the idea of timestamps looks good to me.

[2017-01-11 15:07] Princu7 commented on #966
@aayusharora Yes. Whenever a connection to the server is made, an id is assigned to that socket. It is independent of the user and the time.
Here is the excerpt from app.js file
[code]

Since node has a single execution thread, we can guarantee that no two connections will ever be assigned the same id even if they make requests at the same time. There will be no race conditions.

[2017-01-11 15:22] Princu7 commented on #966
Yes. Whenever a connection to the server is made, an id is assigned to that socket. It is independent of the user and the time.
Here is the excerpt from app.js file

var id = 0;
io.on('connection', function(socket){
  id = id + 1;
  socket.userId = id; // we are using this as client-{id}
})
Since node has a single execution thread, we can guarantee that no two connections will ever be assigned the

[2017-01-11 15:43] Abhi2424shek commented on #966
The plan looks good to me @princu7 if the response will be served to the user of that section correctly.

[2017-01-11 15:59] uttpal commented on #969
@aayusharora @Princu7 @mariobehling
I have added one more task to this issue as both of them are related.
Is this fine?

[2017-01-11 19:09] geekyd commented on #966
@Princu7 We can either go with the timestamp idea or we could simply use the user id appended after the zip to differentiate the uploaded file. It may need to change the codebase but it will make the app more robust.

Something like upload_userid.zip or upload_timestamp.zip.

[2017-01-11 19:11] geekyd commented on #952
@Princu7 @aayusharora I suggest we should hide the generation progress bar if the upload gets cancelled and clear logs when the generation begins.
With hiding the bar we will stop the generation process as well this be a better user experience.

[2017-01-11 19:22] aayusharora commented on #969
@uttpal sounds reasonable. But, it will be better if the user knows the error too, currently we show event logs. Giving only useful information with bootstrap alert class can be one of the idea.

[2017-01-11 19:24] aayusharora commented on #952
@geekyd  Please take #946 also into consideration with your approaches. Both the issues will be solved by a single PR.

[2017-01-11 19:27] geekyd commented on #952
@aayusharora Yes it will solve both these issues with a single PR. Should I go ahead and implement the solution that i have suggested?

[2017-01-11 19:47] poush commented on #966
@geekyd I guess there is no user id kind of thing since we don't have user registration system.

Also to make timestamp idea, I would like to suggest one more thing which can be appended to file name to prevent files uploaded at the same moment and that thing can be username. This username can be simply fetched from email.
So by this way, Our app will make sure no overwrites happens even when two

[2017-01-11 19:55] geekyd commented on #966
@poush Great idea!
I was proposing user id from @Princu7 's example of using a variable id associated with each user. But you idea seems good as we wont have to deal with maintaining the id variable in our code base.

[2017-01-11 20:00] Princu7 commented on #952
@geekyd Please hold on for a little while. I have reviewed your code. Excellent effort. Good work.  Some points

*  Be super careful while declaring global variables in the server-side code. Remeber, Nodejs is single threaded. All the connections execute on the same thread. You have made a variable 'appStatus' to maintain the status. By default, it is true and when you click on the X button, the v

[2017-01-11 20:22] geekyd commented on #952
Thank you for you feedback @Princu7 I'm solving all the issues you have mentioned, thank you for the helping out :)

[2017-01-11 20:27] Princu7 commented on #966
@poush @geekyd Thanks so much for your suggestions :smiley: . I actually thought about using the user's email address and associate it with the zip but it was introducing several concerns like that before the user is able to upload the zip file, he should necessarily fill the email and it should be valid and so on.

That's why I adopted to go with this strategy of assigning an id or a number to ev

[2017-01-11 20:29] Princu7 commented on #952
@geekyd No problem at all. Keep up the great work :smile:

[2017-01-12 07:42] geekyd commented on #952
@Princu7 @aayusharora While addressing the issue I have noticed that the event queue places the cancel event at a later timestamp than the events triggered by the logger and the generator functions.

I have solved addressed this by placing the update percentage at 70% to the bottom , which made the cancel event to be placed before the emit callback at 70%. But the problem is the logger emit callba

[2017-01-12 09:24] #954 closed

[2017-01-12 09:44] uttpal commented on #969
@Princu7 @aayusharora Yep, taken care of that Please verify PR. Let me know if there are issues

[2017-01-12 12:33] #969 closed

[2017-01-12 13:12] Princu7 commented on #952
@geekyd This seems to be a typical problem where we are not able to find a perfect solution. Placing all logger statements together won't be a good thing to do. Also placing the update percentage below only solves a part of the problem and will break the structure of code.

I tried the app and it seems to just add a few statements after it has been canceled. That is very nice.Then I looked at the

[2017-01-12 15:37] geekyd commented on #952
@Princu7 Excellent suggestion for checking the status, the code is messy coz I was trying to figure out how the events are placed in the queue.
I was thinking the same we can simply toggle the logs and the progress bar and we clear the logs behind the scene, this way the user experience wont get hindered and we can provide a better experience for the user.
@aayusharora Please guide. Thank You!

[2017-01-12 17:54] CosmicCoder96 opened #973 "Odd layout of Search bar placeholder on safari"
The search box on the tracks and rooms pages, has a place holder. It looks fine on chrome, but is displaced on safari.

<img width="1153" alt="screen shot 2017-01-12 at 11 10 15 pm" src="https://cloud.githubusercontent.com/assets/17252805/21901513/13a0edec-d91e-11e6-9826-325ae98b837e.png">
<img width="1137" alt="screen shot 2017-01-12 at 11 10 43 pm" src="https://cloud.githubusercontent.com/assets

[2017-01-12 18:49] Princu7 commented on #973
@CosmicCoder96 Please go ahead. Thanks.

[2017-01-13 10:04] #973 closed

[2017-01-13 16:45] poush opened #976 "Improving logs block on generating web app"
I made a pull request for same. This pull request makes an auto scrolling "pre" tag based box with appropriate font size for logs shown on generating page.

See #975

<img width="1440" alt="screen shot 2017-01-13 at 10 05 42 pm" src="https://cloud.githubusercontent.com/assets/1812082/21937501/b870b0a4-d9dd-11e6-8712-d2af7dabb84b.png">

[2017-01-13 19:22] CosmicCoder96 opened #977 "Add a minimalistic scroll to top sticky button on tracks page"
When the the number of tracks and sessions is on the higher side , for instance on the fossasia'16 site generated with webapp, it becomes cumbersome to reach the top. If a user is in the midst of the page vertically, the only option is to scroll all the way to bottom and click 'back to top' link or manually scroll to the  top of the page. It can be avoided by implementing a very minimalistic scrol

[2017-01-13 19:38] CosmicCoder96 opened #978 "Buggy speakers page dialogs on small screen touch devices"
On a desktop, when the user hovers a person the extended dialog appears detailing the sessions and other details of that particular speaker. As soon as the user hovers away, the dialog closes and the user can view the details of any other speaker.
However, while using a mobile browser, there is an erratic behaviour wherein opening a dialog of a speaker(by clicking on his/her picture) opens the dia

[2017-01-14 02:15] BrainBuzzer opened #979 "Docs for Windows"
I've tried installing this app on my local machine which runs on windows and it actually fails to complete installation due to it's requirements. Sharp, a node module used itself requires Windows Build Tools and python. For setting up sharp, we need VIPS, which is yet another library. We need to create new docs separating windows installation and unix installation.

- [ ] Windows installation docs

[2017-01-14 06:47] Princu7 commented on #978
@CosmicCoder96  Great find. Please go Ahead. Thanks!!

[2017-01-14 06:48] Princu7 commented on #977
@CosmicCoder96 I agree with you. I too sometimes feel the need of a button of some sorts which would take me to the top of the page rather than manually scrolling to the top of the page. Please propose the UI for it. Thanks!!

[2017-01-14 06:49] Princu7 commented on #976
@poush Thanks!!

[2017-01-14 06:49] #976 closed

[2017-01-14 06:52] Princu7 commented on #979
@BrainBuzzer Thanks for noticing. We have not fully tested our app on the platform. Would be great if you can work on this issue and help in improving the docs in regards to its installation on Windows platform.

[2017-01-14 08:12] Princu7 opened #981 "Reduce space between progress bar and status message"
During improvement in the presentation of the build logs, the space between the generation progress bar and the status message increased a bit. Also, the layout of the preview and the Download buttons was changed. Please help it to restore to the previous version.
Before
![screenshot from 2017-01-14 13-39-34](https://cloud.githubusercontent.com/assets/8847265/21953489/ec2c4d78-da5e-11e6-874f-c1bb6

[2017-01-14 10:41] aayusharora commented on #978
Make sense @CosmicCoder96, Thanks :)

[2017-01-14 10:44] aayusharora commented on #977
Valid enhancement in terms of UX. Go ahead @CosmicCoder96

[2017-01-14 11:01] aayusharora commented on #966
Thanks @Princu7 Work accepted!!

[2017-01-14 11:01] #966 closed

[2017-01-14 13:04] uttpal opened #982 "Disable generate button while processing"
we should disable generate button while building any webapp.
I will send a PR soon.

[2017-01-14 13:35] uttpal commented on #982
@mariobehling @Princu7 @aayusharora Please review PR

[2017-01-14 13:55] uttpal opened #984 "Lots of linting issues"
We have lots of lighting issues in the backend as well as frontend. we should fix them
![lint](https://cloud.githubusercontent.com/assets/8591801/21955315/db998fa4-da8e-11e6-99e9-b65e448abb12.png)

After auto fixing
![lintf](https://cloud.githubusercontent.com/assets/8591801/21955317/eafd6c2c-da8e-11e6-9d23-e51022510122.png)

As there are no extensive tests auto fix might break things.

What are y

[2017-01-14 16:07] poush commented on #981
I will send a PR for this.

[2017-01-14 17:17] #981 closed

[2017-01-14 18:37] geekyd opened #986 "UI : Improved search bar on speakers page"
The search bar's design on the speakers page does is different from the search bar of other pages.
Currently the search bar looks like this:
![screen shot 2017-01-14 at 11 21 15 pm](https://cloud.githubusercontent.com/assets/12807846/21957140/44669262-dab6-11e6-8cb3-c4ff7b533ed4.png)

**Search bar on other pages:**
![screen shot 2017-01-14 at 11 21 21 pm](https://cloud.githubusercontent.com/assets

[2017-01-14 19:06] geekyd commented on #982
@uttpal Great work!

[2017-01-14 20:00] aayusharora commented on #982
@uttpal I am not able to understand the issue. The button is already disabled in the previous version before the webapp is generated.

[2017-01-15 05:14] geekyd commented on #986
@aayusharora Im working on this issue, and will send a new PR for this.

[2017-01-15 05:25] poush commented on #982
@aayusharora Actually it was disabled until some file was uploaded or API endpoint was provided. But during the generation process of app, I was able to click the Generate button again.

[2017-01-15 05:35] uttpal commented on #982
@poush Thanks for explaining. @aayusharora Sorry for not discussing earlier, as I thought it is an obvious bug.

[2017-01-15 06:14] geekyd opened #988 "UX : Improving the links leading to speakers page"
When any link is clicked which leads to speakers page it does not auto scroll to the required speaker.
There is no automatic scroll to the required speaker like tracks page.

Please check the link
https://www.opentest.co/share/144e74e0dae911e68531cf81a6426bba

I will be working on this.

[2017-01-15 12:46] aayusharora commented on #982
Cool !! @uttpal @poush Will check the PR.

[2017-01-15 12:49] #982 closed

[2017-01-15 13:14] aayusharora commented on #986
go ahead @geekyd sounds reasonable.

[2017-01-15 16:58] aayusharora commented on #988
cool ! go for this :+1:

[2017-01-15 17:04] aayusharora opened #990 "SASS optimizations"
- [ ] Remove redundancy by using SASS mixins
- [ ] Adding repeated values like padding, margin, colors etc to config.scss
- [x] Removing inline CSS from handlebars and adding it to SASS.

[2017-01-15 17:06] aayusharora opened #991 "Sending Email links not working for Live Preview"
## If the link is expired, Please show the info that it is expired.

[2017-01-15 17:10] #951 closed

[2017-01-17 08:29] uttpal commented on #991
@aayusharora For me its working fine. can you give steps to reproduce it?

[2017-01-17 09:00] aayusharora commented on #991
Hmm @uttpal  Strange! Can you verify for how many hours it remain active for you.

[2017-01-17 09:02] #767 closed

[2017-01-17 09:03] aayusharora commented on #895
Seems good work!! Closing this :)

[2017-01-17 09:03] #895 closed

[2017-01-17 09:34] meets2tarun commented on #991
@aayusharora @uttpal  I too faced this problem. It doesn't send the email links.

[2017-01-17 09:57] Princu7 commented on #991
@aayusharora @uttpal Sorry, I have been extremely unwell that's why not been active lately.
It is not a bug. Heroku doesn't offer persistent storage. It's erased after some time. That's why we had to upload the event folder to Amazon S3 so the user can access its generated event folder afterward.

Also, the uploaded event folders exist for only 3 days and then they are deleted automatically. I for

[2017-01-17 10:12] uttpal commented on #991
@Princu7 Thanks for Information, I think it's fine the way it is as the user would download after it is generated, and we do not need to keep files too long.

[2017-01-17 10:19] Princu7 commented on #991
@uttpal Yes. Actually, the 3 days deletion was added by me as stated by @mariobehling on the issue. It cleans up the older folders and there is no deduction of money from my debit card which might happen if the folders were not deleted regularly :smile:

[2017-01-17 12:02] aayusharora commented on #991
@Princu7 @uttpal  It seems that you misunderstood the issue, we know that this s3 storage will be clean out after 3 days. But, thinking from user perspective, it only shows Error page without much information.

[2017-01-17 12:46] Princu7 commented on #991
@aayusharora Sorry. I guess that we can provide the info in the email itself that the live preview link will be cleared almost immediately and the s3 download link will be cleared in 3 days. Would love your suggestions.

[2017-01-17 13:03] Princu7 opened #993 "App crashes in some cases"
Sometimes, when the user generates the zip file, the app will crash with the error "Error while copying file.  No (insert_any_file_name) found." It is most probably due to the asynchronous nature of node.js which might have been accidently ignored in the previous commits.

Here are the error logs:
[code]
![screenshot from 2017-01-17 18-35-45](https://cloud.githubusercontent.com/assets/8847265/2202

[2017-01-17 14:39] Abhi2424shek commented on #993
It's a file not found error basically if I am not wrong, can you give steps to reproduce the issue @princu7

[2017-01-17 14:47] Princu7 commented on #993
@Abhi2424shek
You just have to generate the event file by uploading the zip file. The error will throw up. I have almost solved the issue. It was due to the asynchronous nature of node.js. A function was reading a file after it had been deleted by another function. hence the file not found error.

[2017-01-18 08:08] geekyd commented on #988
@aayusharora Please review the app

Demo video:
https://www.useloom.com/share/c017fb40dd5311e6bb99ed2f6348f871

[2017-01-19 13:36] aayusharora commented on #988
@geekyd Cant access this. Please generate the PR to check.

[2017-01-19 13:40] aayusharora commented on #991
@uttpal There is already a 404 page made to handle errors.
 @Princu7 I think giving this information in mail itself can be best approach, so that the user is aware and download it before three days.

[2017-01-20 01:43] Princu7 commented on #991
@aayusharora Agree. I will make necessary changes to the body of the email soon and make a request soon. Thanks!!

[2017-01-20 06:00] #977 closed

[2017-01-20 09:47] geekyd commented on #988
@aayusharora sorry for the late response I was unwell , I have created a PR please review it.

[2017-01-20 11:53] CosmicCoder96 commented on #921
@mariobehling if it's okay can I work on this ?

[2017-01-20 13:21] geekyd opened #997 "Add scroll to top button on all the pages"
Currently only tracks page has the button to scroll to top, it would be great if we have it on all the pages to provide a unified and a better user experience.

@aayusharora @Princu7 we should add the button to all the pages , what do you think?

[2017-01-20 13:34] aayusharora commented on #997
Suggestion : Make it a template handlebar file like we have done header and footer and insert it in all pages in handlebars rather than coding it seperate for every file.

[2017-01-20 13:43] geekyd commented on #997
@aayusharora Thats a great idea!
I'm on it :)

[2017-01-20 17:27] CosmicCoder96 opened #998 "Implement the navbar on the rooms page"
The navbar like on tracks page can be implemented on the rooms page as well. we can add it now as rooms page has a lot of datewise content as well.
I would like to work on this.

[2017-01-20 17:36] Princu7 commented on #998
@CosmicCoder96 Go for it. :+1:

[2017-01-20 19:18] geekyd commented on #998
Awesome @CosmicCoder96 I was thinking the same!
Go for it!

[2017-01-22 04:15] karanagarwal17 commented on #784
I would like to work on this issue.

[2017-01-22 04:55] #993 closed

[2017-01-22 05:03] #960 closed

[2017-01-22 12:23] aayusharora commented on #984
No @uttpal this way it will break things. We use Hound to check lint issues and codacy to maintain code quality. Closing this.

[2017-01-22 12:23] #984 closed

[2017-01-23 04:23] geekyd opened #1000 "UI : Increase spacing between the buttons on the app screen"
The buttons on the app screen do not have proper spacing.
![screen shot 2017-01-14 at 11 20 22 pm](https://cloud.githubusercontent.com/assets/12807846/22191529/8e58a90e-e151-11e6-87a0-f14ed9a16aa9.png)

[2017-01-26 07:31] Princu7 commented on #1000
@geekyd It looks decent enough at the moment. Could you please share a mockup of the proposed UI? Thanks!!

[2017-01-27 13:32] #997 closed

[2017-01-27 14:25] geekyd commented on #988
@Princu7 @aayusharora I have solved this , please close the issue.

[2017-01-27 15:07] Princu7 commented on #988
Thanks!!

[2017-01-27 15:07] #988 closed

[2017-01-27 20:49] aayusharora commented on #1000
No need for this at the moment. Closing this.

[2017-01-27 20:49] #1000 closed

[2017-01-27 21:32] aayusharora opened #1002 "Multilingual support : Adding language support to generated Webapp"
After generating app, participant can change the language of the pages with a selectbox.
Things to Consider
1. The webapp generated are static pages that work offline.

@Princu7 @mariobehling What are your views ?

[2017-01-28 03:48] geekyd commented on #1000
Okay sir.

I saw the android app generator and it looks like this.
![screen shot 2017-01-28 at 9 13 31 am](https://cloud.githubusercontent.com/assets/12807846/22394006/4ee9a1a0-e53a-11e6-9514-5e25a3085ed0.png)

I thought the web app generator could also use the design . :)

[2017-01-28 05:00] Princu7 commented on #1002
Good idea. Maybe i18next can help in this.

[2017-01-28 06:01] geekyd commented on #1002
Its a great idea.
@Princu7 `i18next` is a good option.

[2017-01-28 16:29] geekyd opened #1005 "Hide download and preview button if X is clicked"
@aayusharora @mariobehling  @Princu7

After generating the web app if the user clicks X button, the download and preview button remain active.

Please check this link to see the demo of the situation.

https://www.useloom.com/share/68907210e57511e68456953b30d4311d

**Steps to reproduce**
1.  Generate a web app
2.  After the generation of the application is completed hit X.

**Proposal**
We should

[2017-01-28 16:36] geekyd commented on #986
This issue was solved.
I'm closing the issue
Cheers 😄

[2017-01-28 16:36] #986 closed

[2017-01-28 17:27] aayusharora commented on #1005
@geekyd What if the user wants to generate app for more than one event.

[2017-01-28 18:45] geekyd commented on #1005
@aayusharora
The buttons will get appear when an event is generated like it is getting generated. If the user presses X we will hide the download and preview buttons, If the user upload more zips the buttons will get generated in the usual manner, after the app is generated.

Please check the proposed idea at
https://open-event-web-appp.herokuapp.com/

**Steps**
1. Generate the webapp
2. Hit the X

[2017-01-29 11:22] aayusharora commented on #1002
Awesome @Princu7 @geekyd `i18next` is nice. Let me know how you are going to proceed with this ?

[2017-01-29 11:28] aayusharora opened #1007 "Bug: Generator Logs and File Upload"
- [ ] The user should not be able to upload any file if it is not `.zip` extension, show `message to upload zip extension`
- [ ] Clear all logs messages after clicking cross button
![bug](https://cloud.githubusercontent.com/assets/12194719/22403656/31b8b9c6-e644-11e6-9bb7-f088d37eb8a4.png)

[2017-01-29 11:56] poush commented on #1007
I'm on it.

[2017-01-29 12:09] poush commented on #1007
Plus I can see here logs are getting cleared on clicking the cross button in the development branch. All we need to do is hide the logs section too on pressing "cross" button

[2017-01-29 13:01] geekyd commented on #1007
@aayusharora I have noticed the same thing.
I will fix it asap :)

[2017-01-29 18:10] aayusharora commented on #1007
@poush In the current version after clicking the `choose file` when file popup opens you can change the extension on your end to .png or anything else in the file popup. I can upload a png that can produce error.
Hope you get the point.
@geekyd Sure go ahead.

[2017-01-29 18:29] geekyd commented on #1005
@aayusharora Please check the proposed UX @
https://open-event-web-appp.herokuapp.com/

[2017-01-29 18:57] Princu7 commented on #1002
@aayusharora I can currently working on some of the issues of the web app as well as the server. As soon as I finished with them, I will start working on this issue. In the meantime, I will research more about the `i18next` and the way to integrate it within the app. Thanks!!

[2017-01-29 20:30] poush commented on #1007
@aayusharora Well not in the case with macOS. I don't see any option for same here.

[2017-01-30 12:18] geekyd commented on #1007
@poush I was able to upload a non zip file from a mac, and in windows you can upload any file which is not a zip file.

[2017-01-30 18:07] geekyd commented on #1007
@aayusharora Please have a look at this :)

![ezgif com-gif-maker](https://cloud.githubusercontent.com/assets/12807846/22435061/8c9b1cd4-e744-11e6-80c3-467b24c5f767.gif)

[2017-01-31 12:45] aayusharora commented on #1007
Hi, @geekyd Awesome :+1:
There is a bug here. Please clear `Upload zip extension` whenever `Choose file`  is clicked .

[2017-01-31 13:55] geekyd commented on #1007
Okay I'm on it!
I will be sending a PR for the same.

[2017-02-01 08:05] geekyd commented on #1007
@Princu7 Thats great idea. I read the doc and I'm implementing `choose` event.

Thank you for the feedback 😄

[2017-02-04 06:39] geekyd opened #1010 "Feature : The generated web app should have share button"
The webapp generated should have buttons to share the website links to social networking websites.

@mariobehling @Princu7 @aayusharora What are your thoughts on this?

[2017-02-05 08:58] aayusharora commented on #1010
@geekyd Yeah it's great idea. Will you like to work for this ?

[2017-02-05 10:30] geekyd commented on #1010
Yes i would love to work on this 😄

What should we go with in your opinion ?
Should we add share links for all the sessions or a share button to share only event website link ?
I think we should add share button to all the sessions.

@aayusharora @Princu7 @mariobehling
What do you think?

[2017-02-06 01:41] mariobehling opened #1011 "Change sent from email address"
Please change the "sent from email" in the auto Heroku deployment to info@eventyay.com.

[2017-02-06 07:57] utkarshnath commented on #1011
@mariobehling can I fix it

[2017-02-06 10:35] Princu7 commented on #1011
@utkarshnath Please go ahead.

[2017-02-06 10:39] Princu7 commented on #1010
@geekyd Great idea. I think sharing link for the whole event rather than a particular session would be more better. Other event management systems also provide this option.

[2017-02-07 05:34] aayusharora commented on #1007
@geekyd. Any updates on this ?

[2017-02-07 05:36] #1011 closed

[2017-02-07 05:38] aayusharora commented on #998
@CosmicCoder96 Any updates on this ?

[2017-02-07 05:53] CosmicCoder96 commented on #998
@aayusharora sorry for the delay, was away on a tour. I will make the changes today itself.

[2017-02-07 07:57] geekyd commented on #1007
@aayusharora  please review the PR #1008

[2017-02-07 08:08] geekyd commented on #1010
@Princu7 thanks for the feedback
@aayusharora What do you think?

[2017-02-07 08:14] aayusharora commented on #1010
Exactly !!  sharing event sounds good :)

[2017-02-07 13:20] Princu7 opened #1014 "Website not being generated for the EHealth Africa Sample"
It seems that the app is currently hanging while generating the website of the Ehealth Africa Sample.
![screenshot from 2017-02-07 18-49-35](https://cloud.githubusercontent.com/assets/8847265/22692715/3c2c3f58-ed66-11e6-8f97-42a591cee535.png)

I am working on fixing it :)

[2017-02-08 16:15] aayusharora commented on #1014
Thanks for pointing this out and fixing this :)

[2017-02-08 16:15] #1014 closed

[2017-02-08 16:35] aayusharora commented on #1007
Thanks @geekyd

[2017-02-09 13:02] anu-007 opened #1018 "UX: Emaid input box to be autofocused"
in web app generator page the email box should be autofocused on loading the page.This will enhance the accessibility of the web app.

@aayusharora if you think that is useful I would like to work on it.

[2017-02-09 20:50] anu-007 opened #1019 "inaccessible events on schedules page via tab browsing."
for tabbed browsing user events that are on schedule page are inaccessible.

 I would like to work on it if it is important.

[2017-02-09 20:58] aayusharora commented on #1019
@anu-007 Can you please elaborate this issue.

[2017-02-09 21:22] anu-007 commented on #1019
On schedule page, if you browse it using tab key you will not able to focus on events and hence it is inaccessible.

[2017-02-10 12:50] aayusharora commented on #1018
Valid UX issue @anu-007 Go ahead !!

[2017-02-11 07:48] #1018 closed

[2017-02-11 07:49] aayusharora commented on #1018
Thanks @anu-007. Solved

[2017-02-11 07:50] aayusharora commented on #1010
@geekyd Can you update me on this :)

[2017-02-11 11:06] anu-007 opened #1021 "skip-links on different pages on generated webapp"
skip-links should be there on every page of the generated web app which takes the users to the main content of that page.

I would like to work on it.

[2017-02-11 12:57] geekyd commented on #1010
@aayusharora sorry about the delay, I had examination.
I will start working on this asap.

[2017-02-11 14:17] aayusharora commented on #1019
Ok @anu-007 Go ahead !!