[2017-02-11 18:20] geekyd commented on #1010
@aayusharora I have successfully added the share button for facebook and twitter.
Check out
https://open-event-web-appp.herokuapp.com/

I need your suggestion about where to place the social links.
One option is to provide the links on all the pages with a small slider present on every page for the social media websites.
something like this.

![screen shot 2017-02-11 at 11 48 14 pm](https://cloud.

[2017-02-12 04:23] geekyd opened #1023 "UX : Disabling generate button if the web app is generated"
@aayusharora @mariobehling @Princu7
Currently the user is able to click generate app button even after the webapp is generated.
The generate button should be disabled after the web-app is generated. In case of multiple generation of web app the generate button should be enabled for every new json uploaded.

[2017-02-12 06:07] Princu7 commented on #1023
@geekyd Valid point. Go ahead. :+1:

[2017-02-12 06:09] Princu7 commented on #1010
@geekyd Nice. Yeah. That is the standard norm.

[2017-02-12 06:44] geekyd commented on #1023
@Princu7 I have made the changes
Please check this link for the demo
https://open-event-web-appp.herokuapp.com

[2017-02-12 07:03] geekyd commented on #1005
@Princu7 @aayusharora
Currently when X is clicked by the user after the webapp is generated, the download and preview buttons are shown even after clicking X.
Also the user is able to access the download and preview buttons while generating second webapp.

**After clicking X button preview and download buttons are accessible**

![screen shot 2017-02-12 at 12 32 17 pm](https://cloud.githubuserconte

[2017-02-13 04:16] geekyd commented on #1023
Closing the issue
This issue is solved 😄

[2017-02-13 04:16] #1023 closed

[2017-02-13 07:08] Princu7 commented on #1005
@geekyd Yeah, it should be like that the first site is being generated. Go ahead!!

[2017-02-13 07:13] #998 closed

[2017-02-13 07:13] #957 closed

[2017-02-13 07:15] Princu7 commented on #946
Issue has been fixed. Closing this.

[2017-02-13 07:15] #946 closed

[2017-02-13 12:53] geekyd commented on #1005
@Princu7 Thanks I will do that asap.

[2017-02-13 14:11] mariobehling opened #1025 "Add other links defined in the JSON files to the top bar, e.g. blog"
Currently not all links are added to the UI. Please also add other links except social media, e.g. blog links.

[2017-02-13 16:12] geekyd commented on #1025
@mariobehling Sir do you mean adding links present in event json file to the header along with the other social links?

[2017-02-15 11:42] aayusharora opened #1027 "Navbar Improvements on screen"
The Nav bar shows a scroll in Mobile view which leads to bad UX.
Propose an effective solution and implement it.

- [x] Remove the scroll
- [x] Implement a solution that works on all screen sizes.
![badui1](https://cloud.githubusercontent.com/assets/12194719/22972934/d8e08304-f3a1-11e6-9011-5b297eaeb9a5.png)

[2017-02-15 14:10] utkarshnath commented on #1027
@aayusharora are you talking about the date panel ? if yes we can implement a carousel for this.

[2017-02-15 15:25] aayusharora commented on #1027
Yes @utkarshnath

[2017-02-15 22:46] anu-007 commented on #1027
@aayusharora I think we should use drop-down tabs or we should use tabs vertically instead of horizontally and show the content of each tab in form of list.

[2017-02-16 05:39] aayusharora commented on #1027
@anu-007 That can be one of the solutions but it should be with toggle, so that we can save vertical space in mobile

[2017-02-16 06:04] aayusharora commented on #1010
@geekyd We have a lot of space above search bar on right side. Can you try this mockup.
![12](https://cloud.githubusercontent.com/assets/12194719/23009388/bb959a4c-f43b-11e6-9ff7-4929d4473c1c.png)

[2017-02-16 07:43] shashanktatti commented on #1005
Hello @geekyd , can i go ahead and try to solve this issue?

[2017-02-16 12:02] geekyd commented on #1010
@aayusharora Sure we can try that.
I will create two mock-up designs and we can choose the better one, before PR.

[2017-02-16 12:03] geekyd commented on #1005
@shashanktatti I'm almost done with this issue. You can go ahead with some other issue 😄

[2017-02-16 12:09] geekyd commented on #1027
@aayusharora We can have the days as a bar and make the detailed view invisible, we can toggle the visibility whenever the user clicks any tab.

That would save us the space required and also provide a better UX.

[2017-02-16 13:33] aayusharora commented on #1010
Will be awesome @geekyd !! Looking forward :)

[2017-02-16 13:51] aayusharora commented on #1027
@geekyd That will be fine but make sure we should have no scroll bars anywhere.

[2017-02-16 16:29] geekyd commented on #1027
@aayusharora Here is the mock-up design of the navbar

<h3>Desktop View</h3>
**When the page loads for the first time**

![screen shot 2017-02-16 at 9 54 58 pm](https://cloud.githubusercontent.com/assets/12807846/23030104/c25e8940-f492-11e6-92e6-168acff6d8ef.png)

**When user clicks a navbar link**

![screen shot 2017-02-16 at 9 55 13 pm](https://cloud.githubusercontent.com/assets/12807846/2303012

[2017-02-16 17:42] geekyd commented on #1010
@aayusharora
Here are the two designs
**I think we should implement a side hover bar. What do you think?**

**Buttons**
![screen shot 2017-02-16 at 11 07 17 pm](https://cloud.githubusercontent.com/assets/12807846/23033101/e6bd9e02-f49c-11e6-984e-40e39c452874.png)

**Side hover bar**
![screen shot 2017-02-16 at 10 29 55 pm](https://cloud.githubusercontent.com/assets/12807846/23033144/ffc86b02-f49c-

[2017-02-16 21:12] aayusharora commented on #1010
@geekyd  The seconds sounds good on desktop view but the first is better on mobile UX as we can allocate space from left and right sides on mobile.
1. Implement the second view on Desktop.
2. Implement the first one on Mobile Screen.
3. Make sure the search bar must remain inline along with date nav bar.

Thanks

[2017-02-16 21:31] aayusharora commented on #1027
Hey @geekyd Thanks !! Please send the PR. Assigning this to you than :)

[2017-02-16 22:33] anu-007 opened #1029 "inactive generate-webapp button after correcting the wrong email address."
Steps to regenerate issue-
1. insert a wrong email address
2. click on Upload your own JSON files checkbox
3. upload the JSON file
4. click generate web app

a warning shows up and tells us to enter the correct email address so after inserting correct email address the generate-web app button is still inactive.

desired result-
the generate-web app button should be active after correcting the emai

[2017-02-17 05:15] aayusharora commented on #1029
Go ahead @anu-007

[2017-02-17 07:02] utkarshnath opened #1030 "Progress bar should be removed after the zip is uploaded successfully"
Zip upload progress bar should be removed after the zip is uploaded successfully

[2017-02-17 07:15] Princu7 commented on #1027
Looks Nice :)

[2017-02-17 07:18] Princu7 commented on #1030
I think it's good the way it is now. We actually already had a discussion about it earlier when the issue was opened previously. :)

[2017-02-17 07:20] #1005 closed

[2017-02-17 09:51] aayusharora commented on #1030
Thanks @utkarshnath For now I guess, we have discussion regarding this in other issues. Closing this.

[2017-02-17 09:51] #1030 closed

[2017-02-17 12:18] Princu7 commented on #909
I will add some tests :)

[2017-02-17 13:21] geekyd commented on #909
@Princu7 That would be awesome!

[2017-02-18 06:40] utkarshnath commented on #1002
@aayusharora can I work on this?

[2017-02-18 06:53] #1027 closed

[2017-02-18 08:11] shashanktatti opened #1036 "Changing the data source is not disabling the Generate WebApp Button and is not hiding preview and download button"
@aayusharora
Suppose we have ,
![upload](https://cloud.githubusercontent.com/assets/18312854/23091356/19122272-f5da-11e6-8ece-579b7e1b106d.png)

Now everything works fine until here..
next if you change your data source ,
![endpoint](https://cloud.githubusercontent.com/assets/18312854/23091380/b42bcda8-f5da-11e6-87ad-eed2028ad83e.png)
Here even if the endpoint is not given ,
1. the generate webapp

[2017-02-18 08:45] aayusharora commented on #1036
exactly thanks @shashanktatti go ahead !

[2017-02-18 08:50] aayusharora commented on #1002
Yeah @princu seems already busy in other tasks. You can go ahead @utkarshnath

[2017-02-18 10:45] geekyd commented on #1036
@shashanktatti Great find, I have noticed that the user can toggle between zip upload and api endpoint while the app is generating , it would be great if we can handle that also.

@aayusharora what do you think?

[2017-02-18 11:00] aayusharora commented on #1036
@geekyd Do you mean to disable the button of api endpoint while app generation.

[2017-02-18 11:01] geekyd commented on #1036
@aayusharora Yes, we should disable the api button while generation

[2017-02-18 11:05] aayusharora commented on #1036
While app generation
1. We need only a progress bar with a ' X'  button with all other things disabled.

[2017-02-18 11:07] geekyd commented on #1036
@aayusharora Yes I think that would be good from the UX prospective.

[2017-02-18 16:50] shashanktatti commented on #1036
@aayusharora Yes that looks good! Will implement in that fashion.

[2017-02-18 19:05] geekyd commented on #1010
@aayusharora please check http://open-event-web-appp.herokuapp.com/

[2017-02-18 19:47] shashanktatti commented on #1036
@aayusharora @geekyd why do we actually need the 'X' button in the progress bar. Before used method did not provide any sort of opportunity to the user for cancelling the progress. Then why do we actually need it here?

[2017-02-19 01:05] SparshBansal commented on #952
@Princu7 , I deployed my version of the app at heroku without altering any code that cancels upload. Now when I cancel the file upload in the middle of the process , the logs show it is still being uploaded to server. I have created a PR where you can my changes to the code and also please look into the logs of the dev app running on heroku for the same bug.
My Version of the app : https://safe-se

[2017-02-19 04:24] aayusharora commented on #1036
@shashanktatti We need it in the `file upload` bar to cancel the file upload in between and upload the new one.

[2017-02-19 07:47] Princu7 commented on #952
@SparshBansal Thanks for the request. Sorry, but I don't really understand you. :sweat_smile:

Which logs are you talking about? Yes, I tried out the test server and can see the stuck "Cancelling" text on the front end after canceling the file upload in the middle of the process. But on the back end, the file upload is canceled almost immediately. The lag on the front-end might be because of some

[2017-02-19 08:31] Princu7 commented on #952
@SparshBansal @geekyd Was working earlier on the issue and had make a prototype. It would be great if you could both work together and discuss all the problems and solve the issue. It's a bit of a tricky issue and there are many edge cases to consider. It would also be good if you would read the previous discussions in this issue for greater understanding. Thanks!!!

[2017-02-19 08:40] #978 closed

[2017-02-19 10:16] SparshBansal commented on #952
@Princu7  I uploaded the development branch to heroku and recorded the video of the logs(Its in .ogv format, so please use ubuntu video app or vlc or something)

https://drive.google.com/open?id=0B1Hhi4gJoqW8X0xfelFTTEhHTUE

[2017-02-19 10:52] Princu7 commented on #952
@SparshBansal Ok. It's weird. It's working locally but seems to be buggy on Heroku. Thank you so much for reporting :smile: Will surely look into it. Thanks!!

[2017-02-19 17:51] aayusharora commented on #1029
@anu-007 Any progress with this ?

[2017-02-20 04:18] SparshBansal commented on #952
Demo Link : https://safe-sea-55983.herokuapp.com/
And like i said the upload cannot be cancelled on heroku because it doesn't fire the event until the upload completes on heroku.
@geekyd
@Princu7
@aayusharora

[2017-02-20 04:18] utkarshnath commented on #1002
@aayusharora, @Princu7

- do you want me to change only the static content of the pg or the whole content of the pg

- should we parse the language from json, or should the user be able to choose

[2017-02-20 06:28] aayusharora commented on #1002
`do you want me to change only the static content of the pg or the whole content of the pg`
@utkarshnath All the pages generated by the generator are static, and we have to translate them.
`should we parse the language from json, or should the user be able to choose`
As mentioned, after app generation we should be able to choose this.

[2017-02-20 07:17] utkarshnath commented on #1002
@aayusharora I was talking of the contents , Like the speakers would be different for different events. i18next is not exactly a translating engine. It has a fallback language and key value pairs for all the other languages so here we have to define the key(words to be converted) beforehand

[2017-02-20 08:19] aayusharora commented on #1002
@utkarshnath Can you try jquery-translate. Its a layer on Google Translate API. We need to change each and everything on the page, hence can not give key-value beforehand.
Please also go through Google Translate API.

[2017-02-20 09:02] aayusharora opened #1043 "Webapp Improvements for Mobile"
The current UI on mobile is not user-friendly.
**Note : These UI changes must only be done for Small screens.**
 - [ ]  Make the space less around heading.
 - [ ] Make date capsules smaller and inline
 - [ ] Save as much space as possible to show main content in the first window frame.
![bug](https://cloud.githubusercontent.com/assets/12194719/23118141/0b761e7a-f779-11e6-824a-a96b5df23337.png)

[2017-02-20 09:10] utkarshnath commented on #1002
@aayusharora I tried Google Translate API

![ezgif-1-71cf920076](https://cloud.githubusercontent.com/assets/12716067/23118467/454bff88-f77a-11e6-8a7d-077b663878d3.gif)

[2017-02-20 09:13] aayusharora commented on #1002
Awesome @utkarshnath :)  I am excited to add this. Please generate a PR.

[2017-02-20 09:15] geekyd commented on #1002
@utkarshnath Great work looks nice!

[2017-02-20 09:16] aayusharora commented on #1002
@utkarshnath Also join the discussions here https://gitter.im/fossasia/open-event-webapp

[2017-02-20 09:41] utkarshnath commented on #1002
@aayusharora do you think the placement of select box is fine and I will check for internet connection
@geekyd thanks :)

[2017-02-20 12:57] aayusharora commented on #1043
@geekyd Looks good :)

[2017-02-20 13:11] aayusharora opened #1044 "Frontend: Hover on Speaker not working"
Hovering on each speakers on Speaker Page is not working as of previous version.
`Bug is in preserve3d and hoverstate ` class
- On hovering the first speaker social icons are visible but for other speakers, there is nothing visible.
![123](https://cloud.githubusercontent.com/assets/12194719/23126331/2caf34f0-f79c-11e6-87b0-579d048341a4.png)

[2017-02-20 13:13] aayusharora commented on #1044
On hovering the first speaker `social icons are visible` but for other speakers, there is nothing visible.

[2017-02-20 13:17] Princu7 commented on #1002
@utkarshnath Looks Nice. Good work :)

[2017-02-20 14:58] geekyd opened #1045 "Bugs related to app generator page"
**App generator issues**
I invite all to discuss the issues related to the app generator page.

**Generate app button**

- Enabled if email is empty
- Remains disabled if zip is uploaded before entering the email.
- Colour of alert shown if incorrect email is entered should be changed to red.

**Cancel generation**

- When user clicks X while app is generating, the generation process must stop
- D

[2017-02-20 15:32] geekyd commented on #1043
@aayusharora
Please check live demo
https://open-event-web-appp.herokuapp.com/

[2017-02-20 15:39] geekyd commented on #1044
@aayusharora I can see the social icons for every speaker while hovering.

[2017-02-20 18:05] anu-007 commented on #1029
@aayusharora working on it ,i will send a PR soon.

[2017-02-21 04:25] aayusharora commented on #1044
@geekyd Please make sure to check speakers page.

[2017-02-21 04:50] aayusharora commented on #1002
@utkarshnath it will be nice if we can find out any space on the navbar left side.

[2017-02-21 04:51] aayusharora commented on #1019
Closing this :)

[2017-02-21 04:51] #1019 closed

[2017-02-21 04:52] aayusharora commented on #1021
@anu-007 please update with the status.

[2017-02-21 05:49] SparshBansal commented on #947
@Princu7  Is there anything left in this issue to work on or is it closed.

[2017-02-21 07:05] geekyd commented on #1010
This issue has been solved.

[2017-02-21 07:05] #1010 closed

[2017-02-21 12:06] Princu7 commented on #947
@SparshBansal It's finished. There is already a PR open for it :)

[2017-02-21 13:24] Princu7 commented on #952
@SparshBansal @aayusharora @geekyd So I literally went scratching my hairs out of my head to find the cause of this error. The upload cancellation works on the localhost but doesn't seem to work on Heroku. The problem is a little hard to explain but I will try to give it a go.

The Socket-IO-file-upload library uses HTML5 FileReader API to upload the file in the browser buffer and uses socket even

[2017-02-21 13:32] Princu7 commented on #952
@aayusharora @SparshBansal @geekyd I know this is hard to explain and understand. I have made some video demonstrations to clear the issue.
The main point is the earlier we press the X button, less the data has been read in the browser buffer through the file reader API, so the lesser data will be transmitted to the server before our cancel event reaches and the upload is terminated. I made small

[2017-02-21 13:41] SparshBansal commented on #952
There is this npm module called 'formidable' that i used for uploading binary data in my server. Please check it out and let me know if it is any good?

[2017-02-21 13:47] Princu7 commented on #952
@SparshBansal I will check it out. Thanks :)

[2017-02-21 15:59] aayusharora commented on #1043
@geekyd Can you please make a PR and post the link of live demo in that. Thanks

[2017-02-21 16:31] aayusharora opened #1046 "Add npm shrinkwrap"

[2017-02-21 17:17] #1046 closed

[2017-02-21 17:17] aayusharora commented on #1046
Done :)

[2017-02-21 17:23] aayusharora commented on #1045
`Generate app button
Enabled if email is empty`
This is obvious that it should be disabled. Why enabled? @geekyd

[2017-02-21 17:39] aayusharora opened #1048 "Adding Grid View to schedule"
- [ ] Adding a select box that can help the user to see and print the grid view format of schedule.

![123](https://cloud.githubusercontent.com/assets/12194719/23176801/a0875d50-f88a-11e6-8fcc-400a80095c89.png)

[2017-02-21 17:43] #924 closed

[2017-02-21 17:45] aayusharora commented on #942
@shubham-padia

[2017-02-21 17:45] #942 closed

[2017-02-21 17:47] aayusharora commented on #979
@BrainBuzzer any updates ?

[2017-02-21 17:48] aayusharora commented on #991
@Princu7 Please update me with your progress.

[2017-02-21 18:51] aayusharora commented on #952
@Princu7 @SparshBansal  I will go through the code later, when I get some time. But, what I can suggest after reading your explanation is we need a `change` event listener to check and cancel all uploads.
Also if we use on this listener whenever `cancel ` is pressed  we can use  `instance.destroy`, it cancels all siofu work, that is going on.
Please check with https://github.com/vote539/socketio-f

[2017-02-21 19:18] Princu7 commented on #952
@aayusharora I tried doing it that way but it didn't seem to work properly.  `instance.destroy()` also destroys the `file upload input` element from the `DOM. `

I will try it again and see if it can be done this way. I am also looking at some other clean options which we can use which involve the use of streams. Will update you soon. Thanks :)

[2017-02-21 19:33] Princu7 commented on #991
@aayusharora I will send a PR tomorrow itself. Sorry for the delay.

[2017-02-21 19:43] poush commented on #1045
```Enabled if email is empty```
Don't see why it would be appropriate.

```Remains disabled if zip is uploaded before entering the email.```
Going with above point. You are trying to say to a user that till you do not enter anything or just email or both, you are good to go.

```Colour of alert shown if incorrect email is entered should be changed to red.```
Instead, I prefer the colour of input b

[2017-02-22 00:58] geekyd commented on #1045
Sorry about the confusion

Generate app button enabled if email is empty refers to the current behaviour.

It should be disabled, that's the fix.

[2017-02-22 04:16] mariobehling opened #1050 "Cannot generate app from API for FOSSASIA'17"
The following API link generates an error message: https://eventyay.com/api/v1/events/6?include=sessions,microlocations,tracks,speakers,sponsors

`INFO:Cleaning up the previously existing temporary folders
SUCCESS:Successfully cleaned up the temporary folders
INFO:Making the dist folder
SUCCESS:Dist directory made successfully
INFO:Copying Assets
SUCCESS:Assets were successfully copied
INFO:Cleani

[2017-02-22 04:18] Princu7 commented on #1050
@mariobehling I am on it :)

[2017-02-22 04:22] aayusharora commented on #1050
@princu cool.

[2017-02-22 04:22] aayusharora commented on #1050
@princu, its urgent. Kindly ask if you need any help.

[2017-02-22 04:24] Princu7 commented on #1050
@aayusharora Sure. If there are any issues, I will look out for guidance. Thank you so much :)

[2017-02-22 04:26] mariobehling commented on #1048
Please add buttons on the page a) grid view and b) list view.

[2017-02-22 04:32] geekyd commented on #1045
@poush Great suggestions. 😄

[2017-02-22 04:34] geekyd commented on #1048
@aayusharora @mariobehling Can I work on this?

[2017-02-22 04:42] geekyd commented on #952
@Princu7 yes you got it right, I was facing the same issue while solving the issue, as soon as the user cancels the generation the event is emitted with a delay.

I will also check what other options we have for solving this issue.

[2017-02-22 05:04] Princu7 commented on #1050
@mariobehling @aayusharora Okay, there were some errors in the API section of the app due to which the event site was not being generated properly. Also, there are some sessions which don't have any detail containing information like start time, end time, short abstract etc. The app was also crashing because of it. Presently, I have ignored those sessions. How should we deal with them? Also, there

[2017-02-22 05:06] Princu7 commented on #1050
Off-topic
@aayusharora Feels great to see you there on the Speakers list. Hope you deliver an amazing talk. Best of luck :heart:

[2017-02-22 05:14] mariobehling commented on #1050
@Princu7 Which PR is it?

[2017-02-22 05:16] Princu7 commented on #1050
@mariobehling I have just deployed the test server which corrects the errors in the official app. I haven't created the PR yet because of the above-outlined issues. Sorry. Should I also open a PR for it?

[2017-02-22 05:16] mariobehling commented on #1050
@Princu7 Same error message as before with: https://eventyay.com/api/v1/events/6?include=sessions,microlocations,tracks,speakers,sponsors

[2017-02-22 05:17] Princu7 commented on #1050
@mariobehling Please try with the API endpoint `https://eventyay.com/api/v1/events/6`. It is currently configured with it.

[2017-02-22 05:46] mariobehling opened #1053 "Session information unreadable - avoid shadows and gray colors."
The session information shows shadows and gray colors. Previously it was readable easily, but it was changed at some point.

Please change the font to be easily readable again:
* Take out shadows
* Use black font for all components
* No font color change on scroll over

![screenshot from 2017-02-22 13-27-48](https://cloud.githubusercontent.com/assets/1583873/23198857/52bd8bb4-f905-11e6-8f3a-60a1b6

[2017-02-22 06:02] mariobehling opened #1054 "Deploy 2017 summit on each merged PR to event page"
The event page of the 2017 summit is hosted at https://github.com/fossasia/2017.fossasia.org

Please add the schedule to the folder /app in the repository and deploy it on each merged PR using the API here: https://eventyay.com/api/v1/events/6?include=sessions,microlocations,tracks,speakers,sponsors

[2017-02-22 06:14] mariobehling opened #1055 "Change link share to become "Share" and implement sharing of link and social media"
Currently the share button below sessions has the functionality to share links. This feature can be enhanced to share more items and speaker can share their own session info here.

Please have a look at youtube and click the "Share" button below videos. They show a number of options to share.

Implement the same functionality for the share button in the web app. Change the wording from "links" to

[2017-02-22 06:15] mariobehling commented on #1010
Please have a look at the follow up issue here: https://github.com/fossasia/open-event-webapp/issues/1055

[2017-02-22 06:22] aayusharora commented on #1053
@mariobehling I will work on this.

[2017-02-22 07:17] Princu7 commented on #1054
I will do it as soon as the API endpoint problem is fixed :)

[2017-02-22 07:38] geekyd commented on #1055
@mariobehling Okay sir I will enhance the share feature. For sharing the info of speakers should we add a share button for each speaker?

[2017-02-22 08:22] aayusharora opened #1056 "Scaling Images and reducing Zip size"

[2017-02-22 09:31] anu-007 commented on #1056
@aayusharora  i would like to work on it.

[2017-02-22 09:43] anu-007 commented on #1053
@aayusharora @mariobehling this happen after this PR ( https://github.com/fossasia/open-event-webapp/pull/1035 ) which solves this issue ( https://github.com/fossasia/open-event-webapp/issues/1019 ) but changing div's to buttons simply solves the issue and gives them some native controls without hindering the UI of the app.

[2017-02-22 10:50] BrainBuzzer commented on #979
I was not working on this issue. I will start my work now.

[2017-02-22 12:01] #1021 closed

[2017-02-22 12:56] aayusharora commented on #1056
@anu-007 @Princu7 is already working for this , Check gitter discussions.

[2017-02-22 13:13] aayusharora commented on #1048
Sure @geekyd

[2017-02-22 14:14] aayusharora commented on #1053
@anu-007 Thanks for pointing out. `ul li ` under buttons does not seem to be suitable markup. @mariobehling Fixed via #1057

[2017-02-22 14:15] #1053 closed

[2017-02-22 19:46] shashanktatti commented on #1036
@aayusharora why wouldn't the upload progress bar work if a file is uploaded for the second time?
Everything else apart from this is working fine.

[2017-02-22 19:47] #1056 closed

[2017-02-23 04:40] Princu7 commented on #1054
@mariobehling @aayusharora We are presently deploying the FOSSASIA 16 sample on every PR merge against the development branch. Changing it to FOSSASIA 17 shouldn't be much difficult and should only require some changes in the code.

The issue is that all the event sites are generated in the folder named `dist` .  The generation and the deployment code has been written according to that. There is n

[2017-02-23 05:23] geekyd commented on #1044
@aayusharora Check this

![screen shot 2017-02-20 at 9 07 40 pm](https://cloud.githubusercontent.com/assets/12807846/23245916/21f68ef2-f9b6-11e6-8078-0fab485bed87.png)

[2017-02-23 06:17] Abhi2424shek commented on #1043
Is'nt this solved?

[2017-02-23 06:57] aayusharora commented on #1054
@Princu7 No worries for that. I have updated the code to work with FOSSASIA 17, we will keep the dist/ folder for now to avoid any confusion. We just have to replace the it to FOSSASIA17 sample.

[2017-02-23 07:55] geekyd commented on #1043
@Abhi2424shek Yes its solved.

[2017-02-23 10:25] geekyd commented on #1055
@mariobehling sir that would be good for the desktop app, I have made some changes please check the screenshots.

![screen shot 2017-02-23 at 3 52 26 pm](https://cloud.githubusercontent.com/assets/12807846/23255083/4a5a40da-f9e0-11e6-9961-eb48d63f6c79.png)

![screen shot 2017-02-23 at 3 52 56 pm](https://cloud.githubusercontent.com/assets/12807846/23255093/4e726526-f9e0-11e6-9296-6c4053c74e00.png)

[2017-02-23 11:26] aayusharora opened #1060 "Correct information in Email"
The mail that is received after app generation should be correct.

- [ ] Render the links
- [ ] UrlEncode the links to remove `%20`
- [ ] Add information for the period after which the link will expire.
![11](https://cloud.githubusercontent.com/assets/12194719/23257180/b05250f0-f9e8-11e6-9b32-43dc173a872e.png)

[2017-02-23 12:06] mariobehling opened #1061 "Session and speakers information not showing up on generated site from API"
Session and speakers information should be showing on the site below the session main heading. Site was generated through the API from the 2017 FOSSASIA example.

![screenshot from 2017-02-23 20-05-31](https://cloud.githubusercontent.com/assets/1583873/23258499/80e766dc-fa03-11e6-9de7-8838dfb776ff.png)

[2017-02-23 12:11] mariobehling opened #1062 "Start Page: Detailed Featured Speaker Info not showing up"
The FOSSASIA Summit 2017 site that is generated from the API does not show the detailed speakers info on the start page.

![screenshot from 2017-02-23 20-10-24](https://cloud.githubusercontent.com/assets/1583873/23258674/3b2f5b44-fa04-11e6-9614-82a159ec62e7.png)

[2017-02-23 12:15] mariobehling opened #1063 "Copyright Info missing info"
The copyright info of a page that is generated from the API file of FOSSASIA 2017 is missing a full stop and the word license.

![screenshot from 2017-02-23 20-12-35](https://cloud.githubusercontent.com/assets/1583873/23258762/a2b32b92-fa04-11e6-9650-c5b194bea665.png)

It should read "© 2017 FOSSASIA and Science Centre Singapore. The website and it's contents are licensed under the Creative Common

[2017-02-23 12:19] mariobehling opened #1064 "Schedule and Rooms Page show wrong order of Days"
Menu tab show Sunday, Friday, Saturday on schedule and rooms page. Please ensure days are sorted by weekdays instead of other sortings like alphabetical.

![screenshot from 2017-02-23 20-17-16](https://cloud.githubusercontent.com/assets/1583873/23258875/3f33f3de-fa05-11e6-978e-42bc0b2d2d72.png)

[2017-02-23 12:22] mariobehling opened #1065 "Speakers Page shows speaker twice if they give talk a) alone and b) second one together with another speaker"
The Speakers Page shows speaker twice if they give talk a) alone and b) second one together with another speaker. Expected is, that the talk shows up across each speakers image.

This might be an issue in the format and server. Please open relevant issues in those projects.

![screenshot from 2017-02-23 20-21-10](https://cloud.githubusercontent.com/assets/1583873/23258985/cf57100e-fa05-11e6-8d48-3

[2017-02-23 12:27] mariobehling opened #1066 "Generated zip shows download location on Amazon and has cryptic name"
The email the user gets after the app is generated from the API is very long and cryptic (e.g. bebdc3d2-7134-4fe5-8c42-aff86c5717b0FOSSASIA+Summit.zip) and the download location is an AWS link.

Expected: FOSSASIA_Summit.zip and link on deployment site.

[2017-02-23 12:28] Princu7 commented on #1061
@mariobehling  The earlier event files used `long_abstract` property for their description. In the FOSSASIA 17 files, `short_abstract` is being used for the description and the `long_abstract is empty. That's why there is no session detail. Will correct and send a request soon.

[2017-02-23 12:33] mariobehling opened #1067 "Ticket link wrong on sample generated through API"
The ticket link on a sample generated for the FOSSASIA Summit 2017 is https://eventyay.com/e/45da88b7/tickets/. It leads to a page that is not working. There is no ticket subpage. The link to the event itself works though: https://eventyay.com/e/45da88b7/

If this is an error in the server, please open issue there.

[2017-02-23 12:36] Princu7 commented on #1066
@mariobehling It is related to this issue #509
We were aiming to make the download link unique and hence used the `node-uuid` module for generating cryptic hash which is guaranteed to be unique for many lifetimes.

With download link on deployment site, did you mean download link on Heroku? It is not possible since Heroku doesn't provide persistent storage and hence we had to upload the event zip

[2017-02-23 12:38] mariobehling opened #1068 "Display sponsors according to their level"
Sponsors on the open event server can get a number with the highest level number showing sponsors on the top. This is the case on the public event page on eventyay. Please ensure this is also the case on the web app: Show sponsors with the highest level number on the top.

![screenshot from 2017-02-23 20-37-03](https://cloud.githubusercontent.com/assets/1583873/23259441/10ca9ae0-fa08-11e6-9855-cc3

[2017-02-23 12:39] mariobehling opened #1069 "Design issue of icons and speaker images"
There are a number of issues with the design, that were solved before and were changed (I do not see who changed it in which PR).

* [ ] Scroll over on social icons on speaker images makes the icons red. It should not make them red.
* [ ] Some pictures of speakers in tracks do not display properly
![screenshot from 2017-02-23 19-58-06](https://cloud.githubusercontent.com/assets/1583873/23258337/be

[2017-02-23 13:12] CosmicCoder96 commented on #1069
@mariobehling I would like to work on this.

[2017-02-23 13:16] geekyd commented on #1064
@mariobehling sir I would like to work on this.

[2017-02-23 13:59] CosmicCoder96 commented on #1068
@mariobehling I would like to work on this.

[2017-02-23 14:04] AnaghHegde commented on #1068
@CosmicCoder96 I have already started working on this.

[2017-02-23 14:05] AnaghHegde commented on #1063
@mariobehling I would like to work on this.

[2017-02-23 14:08] AnaghHegde commented on #1062
@mariobehling I am interestedd in this. Can i work on this ?

[2017-02-23 14:23] aayusharora commented on #1068
@CosmicCoder96 Sure !! Please check if the server is giving the exact details for sponsors as `Platinum` , `Gold` and `Silver`. This is already configured in webapp but as it is not reflecting here it seems an error in orga-server API data.

[2017-02-23 14:24] aayusharora commented on #1062
@AnaghHegde, yes go ahead !!.

[2017-02-23 14:33] aayusharora commented on #1061
@mariobehling @Princu7 Issue opened : https://github.com/fossasia/open-event-orga-server/issues/3237

[2017-02-23 15:24] Princu7 commented on #1061
@aayusharora @mariobehling Based on the discussion in the above issue, we should implement it according to the latest changes in the server.

[2017-02-23 15:49] Princu7 commented on #1063
@AnaghHegde Please proceed :)

[2017-02-23 15:49] Princu7 commented on #1050
@aayusharora I guess this issue can be closed now :)

[2017-02-23 16:01] mariobehling commented on #1061
Ok, I think we can do like that: Implement a function: If long abstract is not available use short abstract. (Same with speakers info).

[2017-02-23 16:02] geekyd commented on #1061
@mariobehling yeah that will be good.

[2017-02-23 16:34] #1050 closed

[2017-02-23 16:35] aayusharora commented on #1054
It is done now.

[2017-02-23 16:35] #1054 closed

[2017-02-23 16:36] aayusharora commented on #1067
@Princu7 @mariobehling Issue https://github.com/fossasia/open-event-orga-server/issues/3238

[2017-02-23 16:38] aayusharora commented on #1064
@geekyd  Sure :)

[2017-02-23 16:51] Princu7 commented on #1061
Nice. On it :)

[2017-02-24 04:28] #1043 closed

[2017-02-24 06:24] geekyd commented on #1069
@mariobehling Sir the pictures of speakers in tracks is not displayed properly due to lack `"session_type" = null` of the speaker which is in the data used from API.

Due to the missing attribute `name` in the `session_type` the track is missing the type of the session which present for other tracks.

[2017-02-24 07:11] geekyd commented on #1065
@mariobehling The issue lies in the api data as the speaker data for a talk containing two people is listed together as `speaker 1 and speaker 2` which lets the app generator treat them as one.

[2017-02-24 07:45] utkarshnath commented on #990
@aayusharora can I work on this

[2017-02-24 07:52] Princu7 commented on #1069
@geekyd Thank you so much for reporting the issue :) Yeah, some of the session have their session_type property set to null which is the cause of the error. I have open an issue regarding this on the open-event-orga-server. Thanks!!

[2017-02-24 08:51] geekyd commented on #1060
@aayusharora Why are we trying to do URLencode we could simply do something like this.

<a href="#">Preview it live</a>
<a href="#">Download zip</a>

What do you suggest?

[2017-02-24 10:23] geekyd opened #1074 "Logo in header not scaled properly for Fossasia Summit"
@mariobehling @aayusharora @Princu7

I have noticed that the app generated using api, has improper scale for the logo in header

**Fossasia 2016**
![screen shot 2017-02-24 at 3 49 28 pm](https://cloud.githubusercontent.com/assets/12807846/23299864/2bf5fcbe-faa9-11e6-88c7-15a5c9460bda.png)

**Fossasia Summit**
![screen shot 2017-02-24 at 3 49 37 pm](https://cloud.githubusercontent.com/assets/128078

[2017-02-24 16:35] aayusharora commented on #1068
@CosmicCoder96 @Princu7 Here, we have to sort the sponsor levels and than have to arrange them according to their level. Please consider this https://github.com/fossasia/open-event-orga-server/issues/3245 for reference.

[2017-02-25 07:26] anu-007 commented on #1074
@geekyd I also noticed it, may I work on it.

[2017-02-25 07:54] geekyd commented on #1074
@anu-007 let @aayusharora review the issue first.
You can go ahead after that 👍

[2017-02-25 09:08] geekyd commented on #1065
@mariobehling @aayusharora I opened an issued in the orga-server please check this [issue](https://github.com/fossasia/open-event-orga-server/issues/3240) .

Seems like the organised entered two names in the speaker field which is causing the problem.
Please guide about how to handle the case.

[2017-02-25 09:14] aayusharora commented on #1065
@mariobehling Please suggest this. In that case this will belong to two separate sessions.  Thanks

[2017-02-25 09:29] aayusharora commented on #1074
@anu-007  Cool, go ahead @geekyd we are not scaling the logo now if the app is generated with endpoint. But, We have to do this, thanks for opening :)

[2017-02-25 09:35] #1064 closed

[2017-02-25 09:39] #1069 closed

[2017-02-25 10:17] aayusharora opened #1077 "Text Appending outside div"
The tracks contain some overflow of content. Please check why the content is shown without even clicking on the div.
![wrong](https://cloud.githubusercontent.com/assets/12194719/23330349/ba414d20-fb71-11e6-896b-1137360af345.png)

[2017-02-25 10:26] aayusharora commented on #1044
The correct view on hover on each speaker should be
![4](https://cloud.githubusercontent.com/assets/12194719/23330398/eff05f96-fb72-11e6-8689-e566a13a188b.png)
This is already been implemented but somehow not working @geekyd

[2017-02-25 10:30] aayusharora commented on #1061
@Princu7 What's the status?

[2017-02-25 10:43] aayusharora opened #1078 "Improvements on Speakers page"
- [ ] Remove `( ) ` if there is no data
 - [ ] change speaker social Icons color in popover to black on hover
 - [ ] On hover, Change the color of speaker session in popover to black with underline.

![67](https://cloud.githubusercontent.com/assets/12194719/23330488/ef9f9028-fb74-11e6-89fa-22ef5591b057.png)

[2017-02-25 12:39] Princu7 commented on #1061
@aayusharora It's almost done. Sorry for the delay. I have exams from Monday and haven't studied anything so :sweat_smile: I will send a PR soon. Thanks!!

[2017-02-25 13:28] SparshBansal commented on #1078
@aayusharora I can resolve this issue

[2017-02-25 13:39] mariobehling opened #1079 "Date on sample page only shows beginning but not end date of event"
The FOSSASIA sample page only shows the event start date on 17th March. It should also show the end date.

![screenshot from 2017-02-25 21-38-25](https://cloud.githubusercontent.com/assets/1583873/23331542/e866fc50-fba2-11e6-9bdd-1b7e88f90cb0.png)

[2017-02-25 13:41] mariobehling opened #1080 "Featured Speaker description is missing on new sample page"
The featured speaker description is missing on the new sample page.

![screenshot from 2017-02-25 21-40-29](https://cloud.githubusercontent.com/assets/1583873/23331553/279ba5f6-fba3-11e6-9e14-a5063f4867c8.png)

[2017-02-25 13:57] aayusharora commented on #1080
@mariobehling  Seems a copy of the issue https://github.com/fossasia/open-event-webapp/issues/1062.
Closing this :)

[2017-02-25 13:57] #1080 closed

[2017-02-25 13:57] aayusharora commented on #1078
@SparshBansal Go ahead :+1:

[2017-02-25 14:07] utkarshnath commented on #1060
@aayusharora can I work on this and whats the exact period after which the link expires here or where could I find that

[2017-02-25 14:34] geekyd commented on #1079
@mariobehling I will look into it.

[2017-02-25 14:34] geekyd commented on #1077
@aayusharora I will check it out.

[2017-02-25 14:54] aayusharora commented on #990
Sure, @utkarshnath  will be great if you can do so :)

[2017-02-25 14:56] aayusharora commented on #1061
Cool :) Best of luck.

[2017-02-25 18:50] geekyd opened #1081 "Nav bar links are Grey instead of black"
@aayusharora @mariobehling @Princu7

The colour of the nav bar links has changed
I think it got changed in #1070

Screenshot
![screen shot 2017-02-26 at 12 14 33 am](https://cloud.githubusercontent.com/assets/12807846/23333852/40b08dfc-fbb9-11e6-997e-50456b9b222a.png)

[2017-02-25 19:05] geekyd commented on #1044
@aayusharora Okay got it, I check why it is misbehaving and report asap.

[2017-02-26 03:46] geekyd commented on #1077
@aayusharora I have figured out what is happening. We are displaying `description` for every session of the track, which corresponds to the `long_abstract` from the json data.
We assume that long_abstract would be `null` but for some speakers both `long_abstract` and `short_abstract` is set. Due to the `description` for each session not being `null` is the cause of the issue.

[2017-02-26 03:58] Princu7 commented on #1077
@aayusharora @geekyd This issue will be solved with #1061 :)

[2017-02-26 04:10] geekyd commented on #1077
@Princu7 Okay 👍
Some speakers have both `long_abstract` and `short_abstract` set, so keep that in mind 😄

[2017-02-26 06:27] SparshBansal commented on #990
@aayusharora  , I can also work with @utkarshnath  on this issue

[2017-02-26 06:47] #1079 closed

[2017-02-26 06:50] #1077 closed

[2017-02-26 07:00] Princu7 commented on #1081
Go Ahead :)

[2017-02-26 07:12] geekyd opened #1085 "Schedule page: text appending outside the div"
![dc41676a-fc12-11e6-9592-040cf87bfc76](https://cloud.githubusercontent.com/assets/12807846/23337827/0205a58a-fc20-11e6-864d-f5bb15d7d3e5.png)

@aayusharora @Princu7 @mariobehling
I'm working on the fix for the issue.

[2017-02-26 07:30] Princu7 commented on #1061
Closed via #1084

[2017-02-26 07:30] #1061 closed

[2017-02-26 07:36] Princu7 commented on #1060
@geekyd Nice Idea.

@utkarshnath Go Ahead :) The preview link of the Heroku URL expires really quickly(somewhere under couple of hours). The Download Link of the zip file on the AWS has been setup to expire within 3 days from the time of upload. Please add these relevant details to the email send to the user. Also, try to implement @geekyd suggestion.

[2017-02-26 07:43] Princu7 commented on #1068
@aayusharora I will try to solve this issue. It may take some time because of the exams :sweat: If anyone else want to take up this issue, feel free to do so. @CosmicCoder96 Are you solving this issue?

[2017-02-26 12:36] #947 closed

[2017-02-26 14:48] Princu7 commented on #1062
@aayusharora @AnaghHegde This issue got solved because of #1084. Closing this.

[2017-02-26 14:48] #1062 closed

[2017-02-26 14:56] Princu7 commented on #1085
@geekyd I almost solved this issue while working on the previous PR. If you haven't started working on it or if you are busy in solving some other issues, then you can just ping me. I will quickly fix it. If you have already started, then no problem. Go ahead :smile:

[2017-02-26 15:25] geekyd commented on #1085
Sure go ahead 👍

[2017-02-26 17:12] #1085 closed

[2017-02-26 18:18] aayusharora opened #1088 "Buggy scroll bar at Featured Speakers section"
- The scrollbar disappears instantly with just 2px away from it which result in a buggy situation where a user can not scroll down.

[2017-02-26 18:22] geekyd commented on #1088
@aayusharora could you please elaborate?

[2017-02-26 18:26] aayusharora commented on #1088
# Steps to Reproduce
-  Go to HOME page featured Speakers section.
-  Hover on any speaker and try to scroll it down
- The scroll bar disappears instantly.

[2017-02-26 18:42] aayusharora opened #1089 "Schedule closes after clicking Link Icon"
# Steps to reproduce
- Go to Schedule page and click on any session.
- Click on link icon that appears in description.
### The `div` closes when the icon is clicked.

[2017-02-26 18:42] geekyd commented on #1088
@aayusharora
I works for me check this out.
Check this out

![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/12807846/23342481/108f0734-fc81-11e6-9423-adbaff31db0d.gif)

[2017-02-26 18:44] geekyd commented on #1089
@aayusharora Actually it closes on clicking the content inside the div.

[2017-02-26 18:49] aayusharora commented on #1089
Add an `if` condition in jQuery so that if the div containing the Link icon is clicked, the session does not closes.

[2017-02-26 19:06] geekyd commented on #1089
It is happening due to the `collapse class assigned to the div`

[2017-02-26 19:26] geekyd commented on #1089
@aayusharora
Wouldn't it be better if we remove the `collapse` class?
What do you suggest?

[2017-02-26 19:36] Princu7 commented on #1089
@geekyd @aayusharora Actually the div closes the clicking the contents of the div on rooms and speakers pages also. I think it has been there for quite some time. So if we decide to remove it, we should ensure that the behaviour is consistent across all the pages :)

[2017-02-26 19:40] Princu7 commented on #1078
Closing this :)

[2017-02-26 19:43] geekyd commented on #1089
@Princu7 Absolutely 👍

[2017-02-26 19:43] Princu7 commented on #1088
Yeah, Works for me too. Difficult to reproduce the error. Could you please provide a video or gif showing the problem :)

[2017-02-26 19:53] Princu7 opened #1090 "Speaker Photo bug on rooms page"
Seems like the problem which was solved earlier on the tracks page still exists on the speakers page. The thumbnail image of the speaker is displayed below its intended position leading to bad UX.
* Screenshots
![screenshot from 2017-02-27 01-19-55](https://cloud.githubusercontent.com/assets/8847265/23343060/33057b90-fc8b-11e6-90a9-a1d5d94ad301.png)
![screenshot from 2017-02-27 01-20-04](https://c

[2017-02-26 19:54] Princu7 commented on #1090
I am kind of busy right now due to exams so if anyone wants to take up this issue, feel free to do so :)

[2017-02-26 19:59] geekyd commented on #1090
@Princu7 I will take care of this :)
Best of luck for the exams 👍

[2017-02-26 20:02] #1078 closed

[2017-02-26 20:03] Princu7 commented on #1067
This issue has been fixed. Closing this :)

[2017-02-26 20:03] #1067 closed

[2017-02-27 10:27] shashanktatti commented on #1036
@aayusharora please take a look at this and suggest changes if any
[https://www.useloom.com/share/dcde924665a444a08d6fcea5c8187214](url)

[2017-02-27 14:51] aayusharora commented on #1088
@geekyd It seems you are hovering on speakers page and try to scroll the down. Instead, hover on speakers description, you will get a scrollbar that will be visible for an instant only.

[2017-02-27 17:04] #1060 closed

[2017-02-27 17:39] geekyd commented on #1089
@aayusharora What do you suggest?

[2017-02-27 18:16] geekyd commented on #1089
@aayusharora Please check this
https://www.useloom.com/share/123960c3b7d84d929fadff98a88f2b2f

[2017-02-27 18:25] #1090 closed

[2017-02-27 18:26] #1081 closed

[2017-02-27 18:29] aayusharora commented on #990
Sure @SparshBansal Please coordinate with @utkarshnath

[2017-02-27 18:32] geekyd commented on #1068
@CosmicCoder96 have you started working on this issue?
We need to solve these issues as soon as possible.
Thanks.

[2017-02-27 18:39] geekyd commented on #1088
@aayusharora Its about how the browser behaves, eg. chrome obeys the settings provided by the user in the system preferences. My preference was set to auto hide the scroll and use the track-pad, after changing the setting I was able to get this result. The scroll does not hide automatically after it.

https://www.useloom.com/share/602a665716ca43da921a818ec951b48a

[2017-02-27 18:50] aayusharora commented on #1088
@geekyd Last year, I encountered with the same issue, What happens now
- You add `overflow : overlay`.
- You are not giving the space to the user to scroll.
Please add padding-right, margins inside the speaker description content so that the scroll bar will get some space and will disappear when we are some px far away from the description.

[2017-02-27 20:25] goelrohan6 commented on #1068
@aayusharora I'm willing to contribute to the issue, can you please help me get familiar with the codebase and where exactly are the changes need to be made.

[2017-02-28 04:46] geekyd commented on #1074
@anu-007 Have you started working on the issue?
Please can you provide the status?

[2017-02-28 07:21] niharika88 commented on #909
hi,
Can I take this up?

[2017-02-28 07:22] geekyd commented on #909
@niharika88 Sure go ahead!

[2017-02-28 07:22] niharika88 commented on #1068
hi,
I can work on this asap

[2017-02-28 08:42] aayusharora commented on #1089
@geekyd Please generate a PR for this.

[2017-02-28 13:44] #1089 closed

[2017-02-28 18:39] aayusharora commented on #1068
@goelrohan6 You will find sponsors level code in fold.js file. The data from the API send us the `levels ` keyword. We have to arrange speakers in a responsive UI from high value to low level value.
@niharika88  Please coordinate with @goelrohan6

[2017-02-28 23:30] mariobehling opened #1097 "Expansion of sessions not possible when scrolling over session title"
When the user tries to expand the session scrolling and clicking on the session title itself, it is not expanding. There is no expansion link. This can be observed on http://2017.fossasia.org/rooms.html

[2017-02-28 23:32] mariobehling opened #1098 "Link to sessions not as expected"
1. The link of sessions has the name of the speaker instead of the name of the session in the URL, e.g. http://2017.fossasia.org/rooms.html#bunnie-huang2217

2. Using the link to the session shows the session itself hidden behind the top bar.

[2017-03-01 02:38] Princu7 commented on #1097
I will have a look at it :)

[2017-03-01 03:59] geekyd commented on #1098
I will check it out :)

[2017-03-01 04:24] mariobehling opened #1099 "Substitute spaces with underscore characters to avoid broken URLs"
Substitute spaces with underscore characters to avoid broken URLs.

Background: Direct links to tracks can contain spaces. Copying those URLs into other applications will result in broken URLs if the spaces are not counted as part of the URL, e.g. "http://2017.fossasia.org/tracks.html#2017-03-18-Hardware & Making".

[2017-03-01 04:31] mariobehling opened #1100 "Add a comma if several speakers are on same track"
The Artificial Intelligence panel has several speakers for example. Please add a comma after each person and its affiliation, if several speakers are in a session.

![screenshot from 2017-03-01 12-30-26](https://cloud.githubusercontent.com/assets/1583873/23446053/00dccaf0-fe7b-11e6-9e9a-5ec843ebc04b.png)

[2017-03-01 06:27] Rishabhk07 commented on #1100
Hey, Can i work on this issue ?

[2017-03-01 06:29] aayusharora commented on #1100
Sure @Rishabhk07. Go ahead 👍

[2017-03-01 06:37] Rishabhk07 commented on #1100
Thanks @aayusharora , can you please tell me api link/zip file of this generated website because this is not among sample zip files.

[2017-03-01 07:26] geekyd commented on #1100
@Rishabhk07 You can use https://eventyay.com/api/v1/events/6 for api endpoint.
For zip use this.
https://github.com/fossasia/open-event/tree/master/sample

[2017-03-01 07:32] geekyd commented on #1099
I will have a look at it.

[2017-03-01 11:45] shashanktatti commented on #1097
can i work on this?

[2017-03-01 11:46] Princu7 commented on #1097
@shashanktatti I am working on it :)

[2017-03-01 16:44] mariobehling opened #1104 "Show also end times of sessions"
Originally we decided to only show start times of sessions, but after user feedback it seems better to also include the end time of sessions as people do not know how much "space time" is between sessions otherwise.

Therefore please implement to show session end times on all schedule, tracks, room pages.

![screenshot from 2017-03-02 00-41-35](https://cloud.githubusercontent.com/assets/1583873/23

[2017-03-01 17:04] geekyd commented on #1104
@mariobehling I will make the changes, asap. Should i place the end time next to start time?

[2017-03-01 17:32] #1097 closed

[2017-03-01 17:38] #1098 closed

[2017-03-01 17:40] aayusharora commented on #1104
@geekyd Please use the format startime - endtime

[2017-03-01 17:42] geekyd commented on #1104
@aayusharora Im'm on it :) Thanks

[2017-03-01 18:03] geekyd commented on #1104
@mariobehling @aayusharora The schedule page has all the events starting at same time grouped together, they might have different end time. Should we ungroup them and make the list?

Please guide. Thanks

[2017-03-01 19:22] aayusharora commented on #1104
Hey @geekyd I guess there is a bug here too, if you see the timings for the two events on `17 March` it stated them separately `00:00`. If they have been grouped according to start time, they must be grouped together in the time without repetition of the timings.
Now, what I suggest is to ungroup them because the grouping seems already buggy and then too state the end time, be sure to sort them ac

[2017-03-01 19:50] aayusharora opened #1105 "Improving performance of Web app"
- Please see Google page insights and improve the performance of pages.
- [ ] Approaches we can adopt for RAIL model.
- [ ] Suggest and implement the ways to improve DOM and CSSOM construction, which is currently done at once.
- [ ] Remove render-blocking CSS
- [x] Add gulp to minify the JS, CSS code for production.
- [x] Compress images and scale them to 264px rather than 300px.
- [x] Add lazy lo

[2017-03-01 20:39] #1104 closed

[2017-03-01 21:09] anu-007 commented on #1105
@aayusharora checked google page insights, I think we need to do more work on web app for mobile devices as the scores are low i.e. (63/100) and the performance on desktop is also average i.e. (78/100),I like to work on it.

[2017-03-02 03:19] mariobehling commented on #1104
@geekyd Good point. Let's keep the schedule page as is for now and only change tracks and rooms page for the moment. Cheers.

[2017-03-02 04:38] geekyd commented on #1104
@mariobehling We have made changes to the schedule page please check http://fossasia.github.io/open-event-webapp/schedule.html

Please give your feedback
Thanks.

[2017-03-02 13:40] Princu7 commented on #1105
I will read up on Gulp and try to integrate it. Will also compress the images using sharp module.

[2017-03-02 14:43] mariobehling commented on #1066
@Princu7 There is a difference between a download link and the name of the download file. The download link should be unique. The download file should not be cryptic and stick to the name of the event.

![screenshot from 2017-03-02 22-42-19](https://cloud.githubusercontent.com/assets/1583873/23511888/b0473de4-ff99-11e6-8dd8-e163765bbd4b.png)

[2017-03-02 14:46] mariobehling commented on #1065
@aayusharora Not sure, what is the question: The goal of the open event project was that we can have multiple relationships, e.g. several speaker for one session.

[2017-03-02 14:53] geekyd commented on #1065
@mariobehling We can have multiple speakers for a session but in the above case the organiser has entered names of two speakers in one data cell instead of adding them separately.

Please check https://github.com/fossasia/open-event-orga-server/issues/3240

[2017-03-02 15:03] geekyd opened #1110 "Sessions in room page do not render properly"
This bug was introduced in while solving #1101.
Very sorry for the problem caused.

Screenshots :
![screen shot 2017-03-02 at 8 32 44 pm](https://cloud.githubusercontent.com/assets/12807846/23512693/79d2dcee-ff87-11e6-8007-77be75407138.png)

[2017-03-02 15:09] Princu7 commented on #1066
@mariobehling Yes. The issue is that the download link of the uploaded AWS S3 Objects are of the form of  `https://mybucket.s3.amazonaws.com/myfilename`
So, we had to vary the name of the file to keep the download link consistent and unique. Will try to see if there is any other way for this.

[2017-03-02 15:11] Princu7 commented on #1110
Please fix it ASAP. Thanks!!

[2017-03-02 15:12] geekyd commented on #1110
@Princu7 Please check PR #1109

[2017-03-02 15:20] #1099 closed

[2017-03-02 15:20] #1110 closed

[2017-03-02 15:38] Princu7 opened #1111 "Bookmark feature not working on tracks Page"
It seems that the bookmark feature is not working on tracks page currently. It works fine on schedule and rooms pages though.
**Screenshots**:

`Before Click`
![screenshot from 2017-03-02 21-06-28](https://cloud.githubusercontent.com/assets/8847265/23514091/3afb5168-ff8c-11e6-9ffe-325e6369f061.png)

`After Click`
![screenshot from 2017-03-02 21-06-33](https://cloud.githubusercontent.com/assets/884

[2017-03-02 16:28] dinesh-sirvi commented on #1068
Can I work on this?

[2017-03-02 19:53] aayusharora commented on #1100
Thanks @Rishabhk07

[2017-03-02 19:56] geekyd commented on #1100
@Rishabhk07 Great work, I think we can extend this to rooms page too.
@aayusharora what do you suggest?

[2017-03-02 20:08] aayusharora commented on #1100
Yes Exactly @geekyd

[2017-03-02 20:09] Rishabhk07 commented on #1100
@aayusharora @geekyd  cool, i will work on that and send the PR soon

[2017-03-02 20:58] geekyd commented on #1055
@mariobehling Please check the screenshots, I have implemented the "share" feature like you proposed.

Screenshot:
![screen shot 2017-03-03 at 2 26 47 am](https://cloud.githubusercontent.com/assets/12807846/23526708/19143736-ffb9-11e6-9a6d-f26e03cc1ad8.png)

[2017-03-03 04:39] mariobehling commented on #1055
@geekyd Thank you, though where is the PR? Have a live test page? Could you make the design closer to how others e.g. Youtube does it?

[2017-03-03 05:11] aayusharora commented on #1055
@mariobehling @geekyd The UX seems confusing with same two separate rows containing the same Twitter icon.

[2017-03-03 06:33] geekyd commented on #1055
@mariobehling I will improve the design and send a PR. @aayusharora The sharing buttons only appear when the user clicks the link icon.

[2017-03-03 10:32] Princu7 commented on #1066
@mariobehling @aayusharora Ok I did it using an alternative way. Now a folder having a unique `uuid` name is being created for every upload and the generated event zip file is kept under that folder. The folder name is unique so there will be no overwriting of it. The event zip file will have its original name inside that folder and only this name will be displayed while downloading the file. Both

[2017-03-03 10:35] Princu7 commented on #1100
Work Done. Thanks!!

[2017-03-03 18:43] Rishabhk07 opened #1115 "on cancelling upload of a zip file, chose file div should appear again"
**Actual Behaviour**

on generator website,on cancelling while uploading a zip(JSON files), upload box disappears but chose a file does not reappear, you cannot chose another file to upload again unless you select "upload your own check JSON files" checkbox  again

**Expected Behaviour**

on cancelling while uploading a zip , chose a file box should appear again

**Steps to reproduce it**

Step1 :

[2017-03-03 18:56] Princu7 commented on #1115
@Rishabhk07 Thanks for the issue. Actually, this is a known bug and the work is already being done on it.
See the discussions in the issue #952. Please try other existing issues :)

[2017-03-03 18:57] #1115 closed

[2017-03-03 19:37] Princu7 commented on #952
@aayusharora The uploader.destroy() function is not able to stop the file being uploaded to the server. It continues to upload even after clicking the button. The events containing data have already been created and transmitted. So they continue to go to the server even after clicking the X button.

Link to the Video:
https://www.useloom.com/share/e9dfa1bcdb96477f94789fc6036c8ee

We will have to u

[2017-03-03 19:44] Rishabhk07 commented on #1115
i am sorry, to open an existing issue but couldn't help but notice that the issue is not quite the same as issue #952 and its discussion, after cancelling the upload of a file that is before clicking generate website,  i cannot upload another file because chose file box does not reappear. i have to select api endpoint check box and then again select upload your own JSON file checkbox so that  chos

[2017-03-03 19:59] Princu7 commented on #1115
@Rishabhk07 Yeah You are right that they are not exactly the same. This issue is a by-product of that issue. The problem is that the file continues to upload to the server after clicking the X button. That's why the choose file box option does not reappear because the file doesn't get cancelled correctly. So even if we show the checkbox for uploading the second file, the second file won't start up

[2017-03-03 20:03] Rishabhk07 commented on #1115
okay cool, really sorry for opening a redundant issue

[2017-03-03 20:03] Princu7 commented on #1115
The first cancelled file continues to upload even after cancellation. Even if we select another file somehow,  it won't be uploaded until the first one is fully uploaded to the server or we refresh the page and abort the upload.
Video Demo:
https://www.useloom.com/share/ca84946367e94154a3ef5a9039f12b2a

If you want to correct the UI though, you can still go ahead

[2017-03-03 20:05] Princu7 commented on #1115
@Rishabhk07 No problem at all. This wasn't really a duplicate. As soon as the server bug is fixed, you can work on the UI part of it. Thanks for the discussion.

[2017-03-03 20:13] Rishabhk07 commented on #1115
@Princu7 ya, you are right even if the UI big is fixed, server will not be able to upload a new file until the previous file is uploaded, Thanks will fix it as soon as the server bug is fixed.

[2017-03-03 21:12] geekyd commented on #952
@Princu7 uploader.abort is a better option we can abort the upload and be done with it, it works for me check the video.

The upload gets aborted as soon as x is clicked, I have tried with several delays.
https://www.useloom.com/share/9d5e701a482b40feb5a6e06af61ae5dc

[2017-03-03 21:15] Princu7 commented on #952
@geekyd It works on localhost but not on Heroku

[2017-03-03 21:27] geekyd commented on #952
@Princu7 Sorry. You are right the upload doesn't stop on Heroku.

[2017-03-04 01:50] mariobehling commented on #1002
Sorry, but this feature should not be in the middle of the page. It is also unclear if we autotranslation should be used as this is buggy. E.g. why would I need Amenian for an event in Singapore. We need to reconsider this feature in detail.

[2017-03-04 01:56] mariobehling commented on #1002
Surely, everyone can follow his/her interest and develop what you like, but what this apps needs at the moment: To get rid of the bugs instead of adding more features, that do not immediately benefit attendees. And it is unclear if this is a suitable approach. E.g. if an event is in English, the participants need to speak in English. If it has two languages, the program needs to be in two language

[2017-03-04 02:36] mariobehling commented on #1100
The comma is not implemented according to US/GB English. There should not be a space before the comma.

![Uploading Screenshot from 2017-03-04 10-35-06.png…]()

[2017-03-04 06:35] #1066 closed

[2017-03-04 06:39] mariobehling opened #1118 "Do not show unscheduled sessions"
The sessions in the exhibition track are unscheduled, but they still show up. This is related to the API showing data that is still unscheduled. So, this issue needs to be tackled together. There is a corresponding issue here: https://github.com/fossasia/open-event-orga-server/issues/3277

[2017-03-04 06:45] geekyd commented on #1118
@mariobehling I will look into it asap.Need clearance about what attribute of the API data will have the status?

[2017-03-04 06:48] Princu7 commented on #1118
The work is still to be done in the API of the server.

[2017-03-04 06:49] geekyd commented on #1118
Okay if we change the API we also need to change the zip data format. That also needs to be done.

[2017-03-04 07:31] geekyd commented on #952
@Princu7 @aayusharora Can we check the behavior on aws server?

[2017-03-04 07:38] Princu7 commented on #952
@geekyd Yeah. We can test on the other servers. Actually, I initially thought that it was because of some error on Heroku but then I deployed the app on Digital Ocean and the error persisted. It is because of the socket-io-file-upload library. I have tried to explain the reason behind this in the earlier posts on this issue. Thanks :)

[2017-03-04 09:12] dinesh-sirvi opened #1120 "Failed generation of web app at downloading speaker photo(Source = apiEndPoint)"
While generating app using endPointApi http://eventyay.com/api/v1/events/6 , it failed on downloading speaker photo.

[2017-03-04 09:15] Princu7 commented on #1120
Please give the full error log.  It seems to work on the official deployment.

[2017-03-04 09:20] dinesh-sirvi commented on #1120
`Downloading photo : https://storage.googleapis.com/eventyay.com/events/6/speakers/2167/photo/ZFd5OHBEam/1485777076.63.png to images/speakers/1485777076.63.png
/home/dinesh/Projects/open-event-webapp/src/backend/dist.js:462
      next(photoFilePath);
      ^

TypeError: next is not a function
    at /home/dinesh/Projects/open-event-webapp/src/backend/dist.js:462:7
    at Request.<anonymous> (/home

[2017-03-04 09:21] geekyd commented on #1120
@dinesh-sirvi It seems to work, can you provide log. Thanks.

[2017-03-04 09:23] dinesh-sirvi commented on #1120
LOGS:-
INFO:Copying Jsons

INFO:Fetching Jsons from the internet

INFO:Creating json folder insde the appPath directory

SUCCESS:All jsons have been successfully downloaded

SUCCESS:SASS file compiled successfully

SUCCESS:css file was written successfully

INFO:Extracting data from the uploaded jsons

It stopped here

[2017-03-04 09:24] dinesh-sirvi commented on #1120
fold.js

`
      if (speaker.photo !== null && speaker.photo != '') {
        if (speaker.photo.substring(0, 4) === 'http') {
          distHelper.downloadSpeakerPhoto(appFolder, speaker.photo), function(result){
            speakers[key].photo = encodeURI(result);
            callback();
          };
        }
        else  if (reqOpts.datasource === 'eventapi' ) {
          distHelper.downloadSp

[2017-03-04 09:25] dinesh-sirvi commented on #1120
`
      if (speaker.photo !== null && speaker.photo != '') {
        if (speaker.photo.substring(0, 4) === 'http') {
          distHelper.downloadSpeakerPhoto(appFolder, speaker.photo), function(result){
            speakers[key].photo = encodeURI(result);
            callback();
          };
        }
        else  if (reqOpts.datasource === 'eventapi' ) {
          distHelper.downloadSpeakerPhot

[2017-03-04 09:26] dinesh-sirvi commented on #1120
if (speaker.photo !== null && speaker.photo != '') {
        if (speaker.photo.substring(0, 4) === 'http') {
          distHelper.downloadSpeakerPhoto(appFolder, speaker.photo), function(result){
            speakers[key].photo = encodeURI(result);
            callback();
          };
        }
        else  if (reqOpts.datasource === 'eventapi' ) {
          distHelper.downloadSpeakerPhoto(appFol

[2017-03-04 09:35] Princu7 commented on #1120
Weird. It works on my localhost. Is your code updated? Plese check.

[2017-03-04 09:37] geekyd commented on #1120
@dinesh-sirvi @Princu7 It seems to work on server as well as local host.

[2017-03-04 09:39] Princu7 commented on #1120
Yeah. There might be couple of reason

* The code is not updated. So the server might be crashing
* Because of the network issues(slow or behind a proxy)

[2017-03-04 13:38] CosmicCoder96 commented on #1068
@geekyd @Princu7 @aayusharora
Sorry it got delayed , because of the exams. Please go ahead.

[2017-03-04 13:44] dinesh-sirvi commented on #1120
was specific to my local repo, thanks...!! Closing this now

[2017-03-04 13:44] #1120 closed

[2017-03-04 18:37] dinesh-sirvi commented on #1068
@aayusharora plz check the result

[https://open-event-webapp1.herokuapp.com/](https://open-event-webapp1.herokuapp.com/)

[2017-03-04 23:34] geekyd commented on #1055
@mariobehling @aayusharora @championswimmer This feature was added in #1116, Please close it. Thanks

[2017-03-05 08:15] mariobehling opened #1121 "Featured Speakers: Unwanted line breaks and bold text"
The featured speakers area shows line breaks where the should not be any and bold text.

Please see screenshot below:

![screenshot from 2017-03-05 16-13-50](https://cloud.githubusercontent.com/assets/1583873/23585666/ea7b6d60-01be-11e7-8831-8e7812657499.png)

[2017-03-05 08:21] mariobehling opened #1122 "Background image as png and too large"
The header background image of start page is saved as a png and very large, e.g. the image of the FOSSASIA Summit is 1.8MB.

[2017-03-05 08:23] mariobehling opened #1123 "Speaker images saved as png and very large"
The speakers images are saved as png and they are very large. Jpg is probably better and they should be much smaller.

[2017-03-05 08:24] Princu7 commented on #1123
I will look into it :)

[2017-03-05 10:27] geekyd commented on #1121
I will look into it :)

[2017-03-05 10:29] geekyd commented on #1122
@mariobehling I will scale it down and save it as JPEG

[2017-03-05 18:39] #1121 closed

[2017-03-05 18:47] #1111 closed

[2017-03-05 19:17] geekyd opened #1129 "Missing avatar for sessions."
@mariobehling @aayusharora @Princu7
The Avatar is missing for certain sessions where the speaker photo is missing. But after clicking the session the avatar appears.

We should add an avatar for the speakers with missing photographs for all such sessions.

Screenshot :
**Sessions without Speaker photo**
![screen shot 2017-03-06 at 12 42 24 am](https://cloud.githubusercontent.com/assets/12807846/23

[2017-03-05 20:16] Princu7 commented on #1129
Yeah. Just make a thumbnail for the avatar png image file which is displayed when the image of speaker is present. And then we can use its thumbnail here.

[2017-03-05 20:38] aayusharora commented on #1129
If the image is not present use the default image as used on speakers page @geekyd

[2017-03-05 20:41] geekyd commented on #1122
@mariobehling @aayusharora We should convert all the pngs to jpg, as soon as we download them.
That would a good option, for reducing the image sizes, in the web-app

[2017-03-05 20:42] geekyd commented on #1129
@Princu7 Thanks. @aayusharora I'm on it.

[2017-03-05 21:34] Princu7 commented on #1122
@geekyd Yeah. I am already converting the speaker and sponsors images in png to jpeg. Issue #1123

[2017-03-05 21:41] geekyd commented on #1122
@Princu7 Excellent! That would be great. We should keep jpeg as standard.

[2017-03-05 21:44] Princu7 commented on #1122
Yes. I did some of the prototype work and from that it seems like, it can save up a lot of the space used on the images :)

[2017-03-05 22:10] aayusharora commented on #1122
@Princu7 @geekyd I am also working on this, if you have already started please continue. But please replace the sharp module from `jimp`https://www.npmjs.com/package/jimp. This can help us a lot.

[2017-03-05 22:11] aayusharora commented on #1088
@geekyd Can you also verify if it is working fine on Mozilla too.

[2017-03-05 22:19] Princu7 commented on #1122
@aayusharora Jimp seems to be a great library. Any particular reason over choosing this instead of sharp?  One advantage that I can think is that it is written entirely in Javascript and has no external dependencies. Sharp depends on some C++ libraries I Guess. But that feature also gives a speed boost to the sharp as it is able to quickly resize the images when compared to other libraries. Would

[2017-03-05 22:19] geekyd commented on #1088
@aayusharora I will do that.

[2017-03-05 22:31] geekyd commented on #1122
@Princu7 @aayusharora `Jimp` and `sharp` module are very similar, apart from being independent of externals , there is not much that separates these modules. I think we should stick to `sharp` it offers better performance.

[2017-03-05 22:40] aayusharora commented on #1122
@geekyd @princu7 I feel less developer support for sharp, most of the developers are not able to build app on Windows because of sharp external dependencies.
Also as we are going to JPEG format, jimp can give a a better performance boost.
I like if we can compare the performance results and than can decide which is suitable.

[2017-03-05 22:44] anu-007 opened #1130 "the detail should be closed automatically if we click on different track or schedule or room"
if we click on a different track or schedule or room the previously opened div should be closed, so as to reduce scrolling on the track, schedule and room page.

![alt text](https://github.com/anu-007/assets/blob/master/Screenshot%20from%202017-03-06%2004-10-32.png?raw=true "demo image")

if it is important I like to work on it.

[2017-03-05 22:48] geekyd commented on #1088
@aayusharora The scroll is not functional in Morzilla. I'm working on it.

[2017-03-06 08:38] geekyd commented on #1105
@aayusharora We also need to use the browser cache to cache the resources used by the app.

[2017-03-06 13:28] Princu7 commented on #1105
@geekyd Yeah, sure. Go ahead :+1:

[2017-03-07 13:40] anu-007 commented on #1123
@Princu7 I would like to know if you had started to work on this issue ??

[2017-03-07 17:08] anu-007 opened #1134 "Preloading important scripts and resources without delaying page the page's onload event"
@mariobehling @championswimmer @aayusharora
I think we should implement <link rel="preload"> declarative fetch directive so that we can convey the browser about the resources (scripts, images, styles etc) that will be needed later to start loading now without blocking the browsers onload event.
By this, the rest of the pages that need the preloaded resources will load quickly and hence the perform

[2017-03-07 17:30] aayusharora commented on #1134
@anu-007 Can you please mention the important scripts and files to load which are in your checklist. This is an important fix. Thanks :)

[2017-03-07 17:47] anu-007 commented on #1134
@aayusharora scripts that are under src>backend>assets>js folder.

[2017-03-07 17:50] aayusharora commented on #1134
Thanks @anu-007 , the crucial step is to identify which functions on client side are taking the maximum time by analysing the `timeline` in chrome console. And than to group them and load them after DOM construction if they are not much important for initial page load.
This comes under RAIL model.

[2017-03-07 17:59] anu-007 commented on #1134
@aayusharora but as mentioned using <link rel="preload"> does not affect the current on load event, but they are loaded parallelly.

[2017-03-07 18:07] anu-007 commented on #1134
@aayusharora you can refer this link ( https://www.smashingmagazine.com/2016/02/preload-what-is-it-good-for/ ) to understand what I am trying to say :)

[2017-03-07 21:15] aayusharora commented on #1134
Awesome find @anu-007. We can do this. Go ahead with this.

[2017-03-07 21:20] #1088 closed

[2017-03-08 03:57] geekyd commented on #1129
This issue was solved closing it :)

[2017-03-08 03:57] #1129 closed

[2017-03-08 04:00] geekyd commented on #1105
@aayusharora I'm working on minification of the scripts and css files using gulp, will be sending a PR for it.

[2017-03-08 05:33] Princu7 commented on #1123
@aayusharora @mariobehling I have done some work on this issue. Most of it is complete, just have to handle some of the edge cases. Here is the test server for testing purposes:
http://secure-meadow-20680.herokuapp.com/
The difference the conversion to jpeg makes to the size of the zip is astonishing. The size of the zip reduced from 32MB to just 12MB.

[2017-03-08 06:23] geekyd commented on #1123
@Princu7 Great work. The size has reduced significantly. 👍

[2017-03-08 08:31] aayusharora commented on #1123
Go to see this. This is because it's lossy compression.  Thanks @Princu7, please generate the PR.

[2017-03-08 09:19] aayusharora opened #1135 "Apply Lazy load for images to all pages"
The speakers page loads very fast on mobiles and desktop as of previous version.
- Apply lazy load to all pages as done on speakers page.
- compare the results and performance improvement, attach snapshots when submitting PR.

[2017-03-08 09:22] aayusharora opened #1136 "Text overflow on Tweeter section of Homepage"
The dynamically appended tweets sometimes exceeds the width of container and results in a horizontal scrollbar on mobiles.

[2017-03-08 09:32] geekyd commented on #1135
@aayusharora I will add it in next PR and attach the screenshots along it :)
It would significantly improve the requests for resources.

[2017-03-08 09:34] geekyd commented on #1136
Making the font size small for smaller screens would fix it.

[2017-03-08 11:39] sumedh123 opened #1137 "Suggestion : Split documentation in two parts.(i.e README.md and CONTRIBUTING.md)"
I think we should split up the documentation in two parts. Currently it is only readme which also has contribution guidelines. Separating them into two would make the documentation clean.

[2017-03-08 12:52] rolandturner opened #1138 "In schedule, search only works for Friday"
If I go to http://2017.fossasia.org/tracks.html and type Roland into the Search box, I see the 4 events that I'm in.

![correct](https://cloud.githubusercontent.com/assets/646827/23704678/0906912c-0441-11e7-93b7-46a4cfe7acb4.png)

If I go to http://2017.fossasia.org/schedule.html and do the same, I only see the Friday listing. Clicking on the Friday/Saturday/Sunday buttons doesn't change this.

![

[2017-03-08 13:09] geekyd commented on #1138
@rolandturner Great find. Would you like to work on this?

[2017-03-08 13:35] Princu7 commented on #1138
@geekyd Roland Turner is speaker of few of the sessions which are to take place in the FOSSASIA Summit. I guess he just wanted to ensure that the sessions which he was delivering were being displayed on the site properly or not when he found this bug. It is now our responsibility to correct it. Would you be willing to work on it? Thanks!!

[2017-03-08 13:44] geekyd commented on #1138
@rolandturner @Princu7 Im sorry about the confusion. 😅  I will work be working on the fix :).

[2017-03-08 13:54] aayusharora commented on #1138
@rolandturner Thanks, we will fix this.
@Princu7
 On schedule page, only the sessions name are visible, hence search box is designed to search according to session name. So, if you search your session name you will find it easily.
On tracks page both schedule name and speaker name both are visible, hence the search can be made either through schedule name or speaker name. Both will give filtered r

[2017-03-08 13:58] Princu7 commented on #1138
@aayusharora Ah. Ok. Got it. Thanks for explaining :)

[2017-03-08 14:07] geekyd commented on #1105
@aayusharora I have implemented the minification of all the css, js and html files using gulp.
Please check : https://open-event-web-appp.herokuapp.com
Also check the performance using https://developers.google.com/speed/pagespeed/insights/
The score has improved. Thanks

[2017-03-08 19:13] #1123 closed

[2017-03-08 19:40] aayusharora commented on #1105
@geekyd Thanks. Minification is working but I guess,  still there are 7 JS files which are requested as resources and same goes for 3 CSS files. When we give the app to production, we can send only 1 minified JS and CSS from Node server, Please make sure there will be no conflicts in the code when doing this. You can use IIFE in JS to remove same name variable/function conflicts.

[2017-03-08 19:43] geekyd commented on #1105
@aayusharora So i should concat all the Js files and create a master script for web-app and same with Css??

[2017-03-08 19:45] aayusharora commented on #1105
Hmm, let's leave CSS for now, planning to use `critical-css` module to only load necessary CSS on first load. JS we can minify and do.

[2017-03-08 19:47] geekyd commented on #1105
@aayusharora Okay I'm on it. Thanks :)

[2017-03-08 22:26] mariobehling opened #1140 "Space missing before company of speakers"
On the tracks and rooms page there is a space missing in front of each speakers company. It should be:
Speaker Name (Speaker Company). Right now it is: Speaker Name(Speaker Company).

![screenshot from 2017-03-09 06-24-14](https://cloud.githubusercontent.com/assets/1583873/23727006/5a120650-0491-11e7-800a-1b2ba25355d0.png)

[2017-03-09 06:56] rolandturner commented on #1138
@geekyd @Princu7 In addition to being a speaker, I'm part of the FOSSASIA organising team. Mario was showing off recent improvements and I noticed this oddity, so reported it.

I'd suggest that while it makes sense that searching for a speaker's name in a list of session names which doesn't include speaker names, it's not so clear that this is a good idea in the first place. Unless you have a stro

[2017-03-09 07:05] geekyd commented on #1138
@rolandturner Agreed. Thank you for the feedback, will make the speaker names searchable :)

[2017-03-09 08:27] sumedh123 commented on #1140
@mariobehling  I saw that the tracks.hbs and rooms.hbs has note that not to modify those files. What do I need to change in order to make changes in those templates?

[2017-03-09 10:14] geekyd commented on #1140
@sumedh123 You will have to change the tracks.hbs and rooms.hbs files. Just add a space between `{{name}}{{#if organisation}}({{organisation}})` name and if statement. :)

[2017-03-09 13:04] dinesh-sirvi commented on #1140
can I do this?

[2017-03-09 17:53] geekyd commented on #1135
@aayusharora This issue was closed.

[2017-03-09 17:54] geekyd commented on #1138
@rolandturner We have added the functionality to the application :)

[2017-03-10 00:49] rolandturner commented on #1138
@geekyd That's great, thank you. I take it that it hasn't yet been rolled out to the live site? (I'm still seeing the same behaviour.)

(Also: I had misunderstood the function of the date buttons; I thought they filtered, in fact they just jump to the date in the existing list, which is working fine.)

[2017-03-10 02:01] mariobehling opened #1143 "Schedule: Date buttons overlapping in mobile version"
The dates are overlapping in small screens on mobiles.

![screenshot_2017-03-10-09-59-08](https://cloud.githubusercontent.com/assets/1583873/23779000/85572f9c-0578-11e7-9a4a-4e13fc471a8a.png)

[2017-03-10 02:03] mariobehling opened #1144 "Schedule: Move time info to the very left instead of indenting"
The left time column is indented on mobile views. We need to make use of the whole screen. Therefore please avoid the indenting on mobile views.

![screenshot_2017-03-10-09-59-08](https://cloud.githubusercontent.com/assets/1583873/23779037/d1a05194-0578-11e7-8d35-558899a7ae58.png)

[2017-03-10 02:06] mariobehling opened #1145 "Schedule: Make search bar full width on small screens"
The search bar has its own row on mobile screen. It should make use of the full 100% width on small screens.

![screenshot_2017-03-10-09-59-08](https://cloud.githubusercontent.com/assets/1583873/23779087/258e7128-0579-11e7-82f6-37cfe59a9903.png)

[2017-03-10 02:09] mariobehling opened #1146 "Schedule: Buttons for days and "Show Starred" should have same size occupying 100% of width"
Days buttons and "Show Starred" are occupying one row, but they have different sizes. Expected: The buttons should have one size and possibly occupy 100% of the width.

![screenshot_2017-03-10-09-59-08](https://cloud.githubusercontent.com/assets/1583873/23779143/917a6be4-0579-11e7-9866-acdda3fc269d.png)

[2017-03-10 02:46] dinesh-sirvi commented on #1146
I'm on it...

[2017-03-10 02:46] dinesh-sirvi commented on #1145
will fix this...

[2017-03-10 02:47] dinesh-sirvi commented on #1143
will try to fix this...

[2017-03-10 03:58] sumedh123 commented on #1140
@mariobehling  Fixed this. PR got merged.

[2017-03-10 04:08] Princu7 commented on #1140
@sumedh123 Thanks. Closing this :)

[2017-03-10 04:08] #1140 closed

[2017-03-10 04:16] Princu7 commented on #1135
@geekyd Terrific work. Closing this :)

[2017-03-10 04:16] #1135 closed

[2017-03-10 04:24] #1055 closed

[2017-03-10 04:57] geekyd commented on #1144
I will fix it :)

[2017-03-10 05:17] Princu7 commented on #1138
@rolandturner There were some problems with deployment. We have fixed them. The changes should be reflected now on the live site. Thanks for opening this issue
And Yes, you are absolutely correct about the working of the date buttons :)

[2017-03-10 05:27] rolandturner commented on #1138
That's now working well, thanks.

I am now noticing that the date buttons on the Tracks page appear to have no effect at all after a search (but work correctly on page load, and also in Schedule and Rooms).

[2017-03-10 05:36] sumedh123 commented on #1145
@dinesh-sirvi  Already opened a PR.

[2017-03-10 05:42] geekyd commented on #1138
@rolandturner Thanks for reporting the issue, the problem is with the multiple copies of the same id of the date being generated after the search is done.

@Princu7 @aayusharora We need to change the current format for displaying the date and track name from
Track name
Date
To something like rooms page where we have a single date and the names of rooms follow, that will fix the issue.

[2017-03-10 05:53] dinesh-sirvi commented on #1145
no problem @sumedh123

[2017-03-10 08:19] #1145 closed

[2017-03-10 08:26] Princu7 commented on #1138
@geekyd Please go ahead. Thanks :)

[2017-03-10 08:40] geekyd commented on #1144
I'm busy solving other issues, if anyone wants to fix this issue please let me know. Thanks :)

[2017-03-10 12:22] dinesh-sirvi commented on #1146
Is this okay??
![screenshot_20170310-174723](https://cloud.githubusercontent.com/assets/10358362/23795203/47a45034-05ba-11e7-9e00-4e2443e6fac9.jpg)

[2017-03-10 12:40] sumedh123 commented on #1143
@mariobehling  Can I know the screen size that you tested this on ? I checked it on multiple sizes and it is working fine.

[2017-03-10 13:07] Princu7 commented on #1143
Yeah. Seems to be fine. Maybe the previous pull request fixed it? @mariobehling Could you please recheck? Thanks!!

[2017-03-10 13:09] Princu7 commented on #1146
Looks Great. Please make a PR. Thanks

[2017-03-10 14:24] geekyd commented on #1138
@Princu7 @aayusharora @mariobehling
The tracks page currently uses the following pattern for the heading of each track.
Date
track 1
Date
track 2
The date can be repeated.
And the date buttons point to the first track heading of the date. So when the user searches and uses the date buttons they don't function properly as the buttons point to something that is not visible on the viewport. To solve

[2017-03-10 15:24] geekyd commented on #1138
https://geekyd.github.io/eventApplication/tracks.html
Please check this link I have made some changes. The search is working as expected, the date buttons are functional and the navbar also seems to work.

[2017-03-10 15:28] Princu7 commented on #1138
Works good. Please make a PR. We can then review it and maybe think of better solutions, if any. Thanks

[2017-03-10 16:49] sumedh123 commented on #1136
@aayusharora @geekyd  The tweets are not loading on my heroku setup. Can you tell me what the problem would be with? There are no api configs I guess since we are using loklak.

[2017-03-10 17:05] geekyd commented on #1136
@sumedh123 The web-app uses loklak to retrieve the tweets from twitter. So heroku blocks the loklak as it uses http instead of https. You can check the tweets on gh-pages.

@aayusharora We need to acknowledge the issue of running loklak on https.

[2017-03-10 17:38] sumedh123 commented on #1130
I am on it.

[2017-03-10 17:39] sumedh123 commented on #1130
I am on it.

[2017-03-10 19:36] vatsalsura commented on #1144
@geekyd Can I try to solve this?

[2017-03-10 19:41] geekyd commented on #1144
@vatsalsura Yes go ahead.

[2017-03-11 01:05] vatsalsura commented on #1144
@geekyd May I have the link to Open-event API endpoint?

[2017-03-11 05:41] anu-007 opened #1152 "Adding a service worker for offline access of generated webapp"
@mariobehling @championswimmer @aayusharora
We should add a service worker to the generated webapp so as to-

* make the website function offline,
* increase online performance by reducing network requests for certain assets,
* provide a customized offline fallback experience.

[2017-03-11 05:58] geekyd commented on #1144
@vatsalsura Use this
https://eventyay.com/api/v1/events/6

[2017-03-11 05:58] Princu7 commented on #1152
Yes. Good idea. There are plans for doing this in future. But First, we need to focus on removing all the small bugs present in the web app before adding any features or enhancement to it. :+1:

[2017-03-11 05:59] Princu7 opened #1153 "Integrating the web-app as a microservice in the open-event server"
We can easily create an event using the open event orga server. One of the major goals is to be able to integrate the web app with the server as a microservice. That is, the user can click on the generate web app button on the server after creating an event and then receive a notification that the website generation has started and he will get a notification regarding the event site soon.  When th

[2017-03-11 06:04] geekyd commented on #1152
@anu-007 This is a great idea.

[2017-03-11 06:14] Princu7 opened #1154 "Implementing push notifications facility to the generated web-sites"
This is a feature which could benefit a lot of the attendee/speakers. Currently, there is not much interaction between the event sites and the users. Users can bookmark the sessions but this is as far as it goes. As soon as the history is cleared, all the bookmarked sessions data is gone. There is no notification regarding the bookmarked sessions when they are about to happen.

Push notifications

[2017-03-11 06:19] anu-007 commented on #1152
@Princu7 i will desing a service-worker which updates itself in background so that any changes that are done is cached by the new service-worker and When the currently open pages of the webapp are closed, the old service worker will be killed and the new service worker will take control.

[2017-03-11 06:24] Princu7 commented on #1146
Work done. Closing this

[2017-03-11 06:24] #1146 closed

[2017-03-11 06:36] Princu7 commented on #1152
Seems great. Let's wait for other's inputs. There are already many existing issues and bugs in the web-app so it would be better if we could solve them first and then move on to the other areas since adding any feature right now would inevitably bring in more bugs. It would be great if you could help with them. Thanks!

[2017-03-11 06:39] Princu7 opened #1155 "Design broken on schedule page"
It seems like due to some recent commits, the design of the schedule broke down a little.
Screenshots:
Initial
![screenshot from 2017-03-11 12-07-23](https://cloud.githubusercontent.com/assets/8847265/23821283/730724e2-0653-11e7-8030-b6969855674a.png)
Faulty Look
![screenshot from 2017-03-11 12-07-10](https://cloud.githubusercontent.com/assets/8847265/23821285/7de06342-0653-11e7-8b31-af1f25075d15.

[2017-03-11 06:41] anu-007 commented on #1152
@Princu7 ok i will keep that in mind in future.Thanks!

[2017-03-11 06:45] Princu7 commented on #1152
You can surely take this up in future when the web-app has stabilized more.

[2017-03-11 06:46] Princu7 commented on #1155
If anyone wants to take up this issue, please go ahead. Thanks!!

[2017-03-11 07:10] Princu7 opened #1156 "Searching in starred mode shifts to searching in normal mode"
When we are in starred mode looking at the bookmarked sessions and search for a session, the search is performed on all the sessions even if they are not bookmarked.

**Ideal Behaviour** :
In starred mode, the search should be performed on only the starred sessions. Not on all the global sessions.

**Screenshots**:
Initial view
![screenshot from 2017-03-11 12-37-41](https://cloud.githubusercontent

[2017-03-11 07:35] vatsalsura commented on #1144
@geekyd and where do I align the time? On the very left of to the day/date? IMHO aligning it to the very left of the screen won't look good.

[2017-03-11 07:36] geekyd commented on #1144
@vatsalsura align it to the left most of the container.

[2017-03-11 07:38] geekyd commented on #1156
@Princu7 I will take care of this :)

[2017-03-11 07:57] geekyd opened #1157 "Rooms : Missing room names for search results"
The Search results for rooms page do not have the name of the room. This makes the nav-bar buggy for the searched results.
**Current behaviour**

![screen shot 2017-03-11 at 1 24 02 pm](https://cloud.githubusercontent.com/assets/12807846/23821619/1f1cc002-065e-11e7-962c-b97e8767c597.png)

![screen shot 2017-03-11 at 1 24 24 pm](https://cloud.githubusercontent.com/assets/12807846/23821620/25a3c3e4-

[2017-03-11 08:09] Princu7 commented on #1157
Nice find. Thanks for opening the issue :)

[2017-03-11 08:17] sumedh123 commented on #1157
@Princu7  @geekyd  I did not understand what's the issue about. Can anyone explain me?

[2017-03-11 08:25] Princu7 commented on #1157
The Artificial Intelligence session should come under the room Annexe Hall after searching. As you see from the screenshots above, the visible sessions after search don't have the room name above it. So we can't use the nav-bar for navigating the session based on the rooms in which they take place. This is the issue here.

[2017-03-11 08:30] sumedh123 commented on #1155
@Princu7  Does this happen for every item? coz on my browser, it's working fine.

[2017-03-11 08:34] mariobehling commented on #1143
Good! I love it when bugs get fixed unintentionally! Cheers.

[2017-03-11 08:34] #1143 closed

[2017-03-11 08:40] Princu7 commented on #1155
@sumedh123 Nah. This is the fault. It doesn't happen on every item. It happens on only some of them. Like the one shown in the example in the screenshots. For example, the creative booth sections session doesn't display correctly but the XL Tech session shows correctly.

[2017-03-11 09:18] mariobehling opened #1159 "Create a screencast showing the main features of the Open Event Web App"
Please create a 1.5 minute screencast with the main features of the generator and app:

* Show how to import an Open Event file and generate a website.
* Show the pages of the website.
* at the end show the GitHub page of the project
* do not show any subtitles

[2017-03-11 09:43] geekyd commented on #1159
@mariobehling I'm on it :)

[2017-03-11 10:00] sumedh123 opened #1160 "Smooth scrolling of website"
Due to large content on the rooms, tracks, there is a bit laggy behaviour of scrolling leading to poor UX. I want to have everyone's inputs. :)

[2017-03-11 10:06] geekyd commented on #1160
@sumedh123 Okay. What is your suggestion ?

[2017-03-11 10:07] Princu7 commented on #1160
I am a little confused regarding this. Could you guys please upload a video or a gif showing the problem, please? Thanks!!

[2017-03-11 12:16] sumedh123 commented on #1155
@Princu7  There are too many items that it is difficult to find which one has fault. :-P

[2017-03-11 14:26] Princu7 commented on #1029
Solved. Thanks!!

[2017-03-11 14:26] Princu7 commented on #991
This issue has been solved. Closing this :)

[2017-03-11 14:28] #1029 closed

[2017-03-11 14:29] #991 closed

[2017-03-11 18:13] geekyd commented on #1159
@mariobehling Please check this
![cast](https://cloud.githubusercontent.com/assets/12807846/23825674/f851a9dc-06b3-11e7-83a4-a313a4940663.gif)

[2017-03-12 02:06] sumedh123 opened #1161 "Space between speaker images on speakers page"
Currently on the speakers page, the images of the speakers are attached to each other leading to poor UI. Maybe some space would make them look good. Opinions @Princu7  @mariobehling  @aayusharora
![speakers](https://cloud.githubusercontent.com/assets/17925669/23828440/8516dec6-06f7-11e7-92c0-593aa995b912.png)

[2017-03-12 02:47] mariobehling commented on #1159
@geekyd Looks good, but we need a video in high resolution. What is the highest video resolution you could make this?

[2017-03-12 04:45] Princu7 commented on #1161
@sumedh123 The weird thing with UI is that the experience is different for every person :smile:. There have been many detailed discussion previously leading up to the current UI of the page. That being said, there is always scope of improvement!! It would be really great if you could show a demo or a prototype of the proposed UI which you would like to have on the page. We can pick up from that po

[2017-03-12 04:53] sumedh123 commented on #1161
Its just a little fix.
![fossasia](https://cloud.githubusercontent.com/assets/17925669/23829107/e52a1d6c-070d-11e7-9e6f-29e719ec8f27.png)

[2017-03-12 04:55] Princu7 commented on #1159
Great content. The video seems to lag a bit. Would be great if you could remove it.
@mariobehling  @geekyd
Also, since the screencast is to be shown at the FOSSASIA Summit, it would be better IMO to generate that via the app. The event is big and generation through the API endpoint will take some time, but we could fast forward that part easily. Showing the generated website of the current event s

[2017-03-12 04:57] Princu7 commented on #1161
@sumedh123 Nice. It looks better than the previous in my opinion. Let's wait for other's inputs. Thanks for showing a mockup.

[2017-03-12 05:15] Princu7 commented on #1068
This has been fixed. Closing this :)

[2017-03-12 05:15] #1068 closed

[2017-03-12 06:17] geekyd commented on #1161
@sumedh123 This looks better. Thanks for pointing it out. :)

[2017-03-12 06:20] geekyd commented on #1159
@mariobehling The output i sent is a gif, I converted it to show the content. My screen resolution is 1280 X 800.

@Princu7 Thats a great idea, it would be perfect if we can fast forward the generation part and concentrate on the generated app.

[2017-03-12 11:54] Princu7 opened #1162 "Automatic deploy sometimes halts in between the upload"
It seems like images are not able to properly upload on Github currently when we are deploying FOSSASIA Summit on Github. This problem didn't exist before. Currently working on a fix.

![download 1](https://cloud.githubusercontent.com/assets/8847265/23831490/9fb1d168-0748-11e7-9dcf-28414ea0aa92.jpg)

[2017-03-12 11:58] geekyd commented on #1162
@Princu7 I was gonna open the issue, please also change the text "Press the button below to start" when the deploy is initiated to "Press the button below to abort".

[2017-03-12 13:00] geekyd commented on #1162
@Princu7 The problem occurs randomly, may be it is due to timeout. I tried the feature 3 times and did not get any error. I think increasing the time interval for requests will fix the issue.

What is your opinion on this?

[2017-03-12 13:12] Princu7 commented on #1162
@geekyd Thanks for the confirmation. I was also testing it out on Heroku and found no error. Actually, the time interval between requests is quite elastic(1 second) and shouldn't cause any problem. Sometimes, the Heroku servers are down which means they can't properly download or upload file. In this case, when the uploading and committing of a file takes time on Github, it throws a `Socket Hang U

[2017-03-12 13:22] geekyd commented on #1162
@Princu7 That's awesome the issue is solved automatically 😄 . There is one problem that still exist in the deploy functionality, the progress bar stops when an error occurs but the log says the app is successfully deployed. Can you look in to it?

[2017-03-12 13:31] Princu7 commented on #1162
@geekyd Thanks for reminding for changing the text  _Prese below button to start to Press below button to abort_ when the build is initiated. I will send a pull request regarding this soon. And could you please clarify more regarding the error point. Do you mean the errors apart from the event files upload and commit? Like failure while creating of the repository in the user's github account?

[2017-03-12 13:33] #1136 closed

[2017-03-12 15:02] geekyd commented on #1162
@Princu7 It seems the errors apart from upload errors halt the progress bar, it should get reset if such case occurs. While using deploy, the progress bar halted at 89% but the logs were updating. It logged a success message but it failed.

[2017-03-12 15:05] geekyd commented on #1159
@mariobehling @Princu7 Please check these links to the youtube videos

[Demo without deploy](https://www.youtube.com/watch?v=fuKIfpNeDrQ)
[Demo with deploy](https://www.youtube.com/watch?v=FUOxzXx9e_s)

[2017-03-12 15:08] Princu7 commented on #1159
@geekyd Content looks really good. Nice.

[2017-03-12 15:52] Princu7 commented on #1162
@geekyd Thanks for the details. I would surely look into it :)

[2017-03-12 16:31] sumedh123 commented on #1161
Shall I get it fixed? @geekyd

[2017-03-12 16:37] geekyd commented on #1161
@sumedh123 lets wait from inputs from others :)

[2017-03-12 17:53] #1160 closed

[2017-03-12 20:37] aayusharora commented on #1105
@geekyd Updates ?

[2017-03-12 20:54] geekyd commented on #1105
@aayusharora I'm almost done with this, fixing the js files as they are causing problems after using iife and uglify. I will send a PR soon.

[2017-03-13 05:23] mariobehling commented on #1105
I am totally for speed up but lazy loading is distracting the user and makes this site look slower. It also means: Once I open the page, I do not download the whole page and can go offline, but it becomes more of an online app. The goal of this app is rather to have the browser storing the app and making the images smaller than lazy loading (where I need to be online).
We achieved to make the FOSS

[2017-03-13 05:52] mariobehling opened #1164 "Images of speakers not showing up on tracks and other pages"
After the revert of the lazy loading the images do not show up anymore on a number of pages.

[2017-03-13 07:08] #1134 closed

[2017-03-13 07:46] geekyd commented on #1164
@mariobehling please revert #1141 as it adds lazy load to all the pages.

[2017-03-13 08:05] geekyd commented on #1105
@mariobehling @aayusharora @Princu7 Lazy load can be customised to provide a better user experience, please check this link https://www.appelsiini.net/projects/lazyload , we can customise the **Threshold** , to load pictures before it reaches the viewport.

[2017-03-13 08:08] anu-007 commented on #1164
@geekyd reverting #1141 may resolve the issue but leaves a console warning related to jquery.lazyload.js which is caused due to preloading of this js file so we have to remove preloading of this file also for no console warnings. I have sent a PR solving this issue ( https://github.com/fossasia/open-event-webapp/pull/1165 ) without any warning. thanks !!

[2017-03-13 08:34] Princu7 commented on #1164
This issue has been fixed. Thanks @anu-007

[2017-03-13 08:34] #1164 closed

[2017-03-13 08:55] Princu7 commented on #1105
@geekyd Yes. Increasing the threshold would be better indeed. But one more problem with the lazy loading as stated by @mariobehling is that the pages won't load fully unless we completely explore the page which means that they can't be saved and then viewed offline properly at conferences and events. We should have more detailed discussion regarding this but for the time being, let's go with the c

[2017-03-13 09:06] anu-007 opened #1166 "alignment and position of color-coded bullets on tracks,rooms and schedule pages"
the color coded divs should present above the div's of tracks,rooms and schedule pages and are aligned  with these div's will be more informative instead of present at the end.

proposed UI-
![alt text](https://github.com/anu-007/assets/blob/master/Screenshot%20from%202017-03-13%2014-33-51.png?raw=true "proposed UI")

[2017-03-13 09:11] sumedh123 commented on #1166
@anu-007  You are proposing this UI for any small screens or all?

[2017-03-13 09:13] anu-007 commented on #1166
@sumedh123 this UI is for small screens where there color coded bullets move at the bottom of the page.

[2017-03-13 10:38] mariobehling commented on #1166
This feature does not improve the functionality so much and we could discuss what is best for hours and days. We need data and we only get data when we have users. Priority is to fix the remaining bugs and integrate the app as a microservice with the Open Event Server.

One we have lots of users we can do A/B testing.

The UI you are showing here is also not the one that works on mobile small scre

[2017-03-13 10:38] #1166 closed

[2017-03-13 11:58] vatsalsura commented on #1144
@geekyd Aligned time-info to the main container.
![screenshot from 2017-03-13 17-11-05](https://cloud.githubusercontent.com/assets/10852939/23853414/71f2f7e6-0812-11e7-82e4-1c0a02745ad4.png)

[2017-03-13 12:22] vatsalsura commented on #1144
@geekyd Please review PR #1168

[2017-03-13 12:36] geekyd opened #1169 "Unsorted sessions in speakers popbox"
**Speakers page**
The sessions in the popbox are not sorted according to the start time.

eg. For speaker Alessandro Volpato
![screen shot 2017-03-13 at 6 01 34 pm](https://cloud.githubusercontent.com/assets/12807846/23854419/5a6b497a-0817-11e7-970b-7fd69554b464.png)

**Expected behaviour**
The sessions in the popbox are sorted by the start time of the session.

[2017-03-13 14:22] sumedh123 commented on #1169
@geekyd  I will work on this. Rather than using helpers in handlebars, it is beneficial to sort the data in backend and the iterate as in handlebars. Can you tell me where can I get the backend files?

[2017-03-13 15:09] Princu7 commented on #1169
@sumedh123 Look in the `generator.js` file :)

[2017-03-13 16:13] geekyd commented on #1169
@sumedh123 You need to look in `fold.js` and `generator.js` :)

[2017-03-13 17:46] Princu7 commented on #1162
@geekyd I am having a little trouble reproducing the error. Could you please mention any one specific instance when the problem related to the halting of the progress bar occurs? Would be great if we could properly catch the bug and remove it. Thanks!!

[2017-03-13 18:38] dinesh-sirvi commented on #1169
Can I take this issue..?

[2017-03-14 03:12] sumedh123 commented on #1169
@geekyd  @Princu7  Can you tell me what the foldByTrack, foldByDate, foldBySpeakers, foldByTime functions do? and how the fold.js and generator.js are linked? I am finding it quite unclear to understand.

[2017-03-14 03:49] #1122 closed

[2017-03-14 04:02] Princu7 commented on #1169
@dinesh-sirvi @sumedh123 is already working on this issue. Please take up other open issues.

An event consists of many sessions which have a theme(tracks) and the place where they take place(rooms). So all these functions `foldByTrack` or `foldByDate` do what their name suggests. They organize the sessions according to tracks and date respectively. For eg- `foldByTrack` makes a list of all the di

[2017-03-14 04:33] Princu7 commented on #1169
@sumedh123 Look for the function `getAllSessions` in `fold.js` file. It returns the list of sessions associated with a speaker. This variable is titled `speakersession`. You just need to sort this list with the start time of the session as a key. It should do the required job I guess.

[2017-03-14 05:42] Princu7 opened #1170 "Update Documentation"
In the recent times, there have been many changes in the web-app generator which haven't been added to the documentation of the project. For example - the ability to send emails using SMTP apart from using SendGrid. The upload of the generated event zip files to AWS S3 and their expiry duration. The feature of automatically deployment to Github Pages. Most of these features involve the use of Secr

[2017-03-14 06:30] Princu7 opened #1173 "Add a Home Button to the Deployment Page"
On the Github deployment page, after the user has deployed the event site on his gh-pages, there is no button available on the page to go back to the generation page. The user has to manually type the  address or press the back button to go the home page of the app.

**Expected**
The deployment page should have a home button which takes the user back to the generation page.

[2017-03-14 06:35] Princu7 commented on #1137
Thanks for opening the issue. Contribution guidelines don't seem to take up much of the README.md file. So, it would be kinda unnecessary to make a separate file for little content. But still, let's wait for more inputs from others. @aayusharora @mariobehling @geekyd What do you suggest about this issue. Would love to hear more opinions. Thanks!!

[2017-03-14 10:23] sumedh123 commented on #1169
Thanks @princu7. I ll take a look.

[2017-03-14 14:45] geekyd commented on #1162
@Princu7 I tried to reproduce the error and found that the deploy sometimes halts without any notification please check the screen shot.
![screen shot 2017-03-14 at 12 54 12 am](https://cloud.githubusercontent.com/assets/12807846/23906019/ce47e4ee-08f2-11e7-9b27-46ae82673bab.png)

[2017-03-14 14:51] geekyd commented on #1105
@aayusharora I propose not to concat all the JS files of the project as not all the JS files are used in every page. If we concat all the js it leads to error in script for the page where it is not used.
eg.
tabs.js gives error in the index.html page as it cannot resolve the classes used in the js.

We should minify all the js and use them separately.What is your opinion. Would love to know your o

[2017-03-14 18:00] sumedh123 commented on #1173
@Princu7  A button at bottom of the page?

[2017-03-14 19:34] #1170 closed

[2017-03-14 19:37] #1161 closed

[2017-03-14 19:40] aayusharora commented on #1130
This does not seem much important to me.

[2017-03-14 19:40] #1130 closed

[2017-03-14 19:41] #1100 closed

[2017-03-14 22:33] aayusharora commented on #1105
@mariobehling reverting this will load, say 1000 images at once on Network, lazy loading is always effective and efficient. Nobody wants to use a slow app.
@mariobehling @princu7 @geekyd I would suggest to resume this and make changes such that it works before the viewport.
@mariobehling The concept of lazy loading does not depend on internet, hence there is no problem for this in offline mode.

[2017-03-14 22:35] aayusharora commented on #1105
@geekyd please concatenate files using IIFE

[2017-03-15 03:55] Princu7 commented on #1162
This issue was partially solved. Hence re-opening this :)

[2017-03-15 04:00] Princu7 commented on #1162
@geekyd If the deploy halts sometimes during the upload of a file, I think it might be happening because of some Heroku server problem. It might be the case that the Heroku server might be not working properly and hence the file is not getting uploaded and committed. In that case, timeout should occur after some time and a failed message should be displayed. How long did it got stuck at that point

[2017-03-15 04:02] Princu7 commented on #1173
@sumedh123 Yeah. Just add it wherever you think it would appear good with regards to the aesthetics of the page :)

[2017-03-15 07:18] geekyd commented on #1105
@aayusharora I used IIFE to concat all the files but as i mentioned the js which are not used in the html gives error in the script, which is not desired.

[2017-03-15 07:19] aayusharora commented on #1105
Can we insert it pagewise than ?

[2017-03-15 07:57] sumedh123 commented on #1173
Okay @princu7

[2017-03-15 07:58] geekyd commented on #1105
Yes, we can make individual js for each page, that wont give any error and should work :)

[2017-03-15 18:51] aayusharora commented on #1105
@geekyd
- Can you please change the threshold and generate a new PR, we don't want the user know, that something is happening.
- Can you check the performance improving after minification via gulp.

[2017-03-16 03:28] geekyd commented on #1105
@aayusharora I'm on it.

[2017-03-16 03:47] aayusharora commented on #1105
Cool !!

On 16-Mar-2017 11:28 AM, "Dilpreet Singh" <notifications@github.com> wrote:

[2017-03-16 04:50] mariobehling commented on #1159
@geekyd Could you provide a downloadable file, please?

[2017-03-16 09:04] geekyd commented on #1159
@mariobehling Please use this link to download the video.
https://drive.google.com/open?id=0BwWgyD2HJorUdy1WY2d4WjFsck0

[2017-03-16 11:59] anamika2910 opened #1176 "Rooms : Multiple nav bars for spanning through the results"
Currently on the rooms page, there are two navigation bars available - one which navigates to a part of the results on basis of the date and the other one navigating on the basis of date and the room. Also, if no search results appear for a particular queried term in the search box, no results is shown just below the first nav bar, leading to a page like this -

![screenshot from 2017-03-16 16 57

[2017-03-16 14:45] Princu7 commented on #1176
@anamika2910 Hello. Thanks for opening the issue. The part about having two navigation bars seems understandable since the second bar containing the different tracks kind of already does the job of the first one. But we also have to ensure that the design also stays consistent on the tracks page. Also, the position of 'starred button' will have to be changed a little.

Let's wait for more inputs o

[2017-03-16 14:52] Princu7 opened #1177 "Correct a small mistake in Documentation"
There is a small mistake in the documentation of the project. One of the headings has gone wrong. Please correct it.

![fossasia-open-event-webapp- open event web app generator http---opev-webgen-dev herokuapp com](https://cloud.githubusercontent.com/assets/8847265/24002214/2957617c-0a86-11e7-97fe-530f0ddbe6f7.jpg)

[2017-03-16 15:10] Princu7 commented on #952
@aayusharora @geekyd So, I have almost completed the work on this issue. Like I said earlier, the problem was due to the `socket-io-file-upload library` which was using the `HTML5 FileReader API` for uploading of the files. This was causing problems and the downloads were continuing to being upload even after canceling.
We wanted some library which does the transfer using native `node streams` and

[2017-03-16 15:40] AnshulMalik commented on #1177
I'll do it :)

[2017-03-16 16:14] the-dagger opened #1180 "Missing Session Description in tracks"
**Actual Behaviour**

The Session Description for some sessions  is missing from the tracks

**Expected Behaviour**

 Description for all the sessions should be displayed properly

**Screenshots of the issue**

<img width="837" alt="screen shot 2017-03-16 at 9 38 15 pm" src="https://cloud.githubusercontent.com/assets/6565270/24006351/88e870bc-0a91-11e7-9972-296a02f42a28.png">

The description show

[2017-03-16 16:42] #1177 closed

[2017-03-16 18:29] mariobehling commented on #1159
Excellent job! Will play it at FOSSASIA Summit!

[2017-03-16 19:24] geekyd opened #1182 "Google map not getting loaded in the homepage"
**Actual Behaviour**
The google map is not loading properly

**Expected Behaviour**
The maps should show the location of the event.

**Screenshots of the issue**
![screen shot 2017-03-17 at 12 52 14 am](https://cloud.githubusercontent.com/assets/12807846/24014743/11f047a8-0aac-11e7-9158-6964d0aa3c9e.png)

I'm working on the fix.

[2017-03-16 19:26] Princu7 commented on #1182
@geekyd Try reloading the page. It should work after that :)

[2017-03-16 19:28] Princu7 commented on #1182
@geekyd Try reloading the page. It should work after that :)
![screenshot from 2017-03-17 00-56-48](https://cloud.githubusercontent.com/assets/8847265/24014910/ad28fe5e-0aac-11e7-8849-6b59238364ed.png)
I reloaded the page and it did work.

[2017-03-16 19:34] geekyd commented on #1182
@Princu7 Thanks, I had to reload it thrice to get it working. Closing the issue.

[2017-03-16 19:34] #1182 closed

[2017-03-16 19:37] Princu7 commented on #1182
@geekyd No problem at all. I have faced this problem before. We should actually investigate why does this behaviour happens. Any ideas?

[2017-03-16 19:39] geekyd commented on #1182
I'm working on gulp minification, I have made a window.initMap function it fixed the issue on my local machine, will deploy it on test server as soon as its done. Lets see if it help. What do you suggest ?

[2017-03-16 19:41] Princu7 commented on #1182
Sounds good. Let's wait how it runs on the test server. Thanks :)

[2017-03-17 02:11] aayusharora opened #1184 "Clicking on speaker session, do not lead to the respective session"
**Actual Behaviour**

- go to speakers page
- click on speaker photo
- click on the associated speaker session
- it should lead to the schedule page showing the sessions detail.

**Expected Behaviour**

it should lead to the schedule page showing the sessions detail.

[2017-03-17 02:12] aayusharora opened #1185 "Clicking on speaker sessions, do not lead to the respective session"
**Actual Behaviour**

- go to speakers page
- click on speaker photo
- click on the associated speaker session

**Expected Behaviour**

it should lead to the tracks page showing the sessions detail.

[2017-03-17 04:02] geekyd commented on #1185
@aayusharora Currently it leads to the respective session in tracks page.

[2017-03-17 04:37] #1184 closed

[2017-03-17 05:00] aayusharora commented on #1185
Can you please check the mobile version

[2017-03-17 07:19] utkarshnath commented on #990
"Adding repeated values like padding, margin, colors etc to config.scss "
@aayusharora do you want me to add all padding,margins used to config.scss

[2017-03-17 07:32] sumedh123 commented on #1185
@aayusharora  In mobile it does not navigate anywhere.

[2017-03-18 18:44] geekyd commented on #1105
@aayusharora Please re-open this issue. Thanks

[2017-03-19 02:24] aayusharora commented on #1176
According to users feedback, @princu7 the two bars seems confusing.
We can do the same set of functionalities by second bar only.
@anamika2910 Thanks.

[2017-03-19 04:54] Princu7 commented on #1176
@aayusharora Exactly. Thanks for the input :) @anamika2910 Would you like to work on it?

[2017-03-19 08:10] geekyd commented on #1185
@sumedh123 Are you working on this?

[2017-03-19 09:26] sumedh123 commented on #1185
@geekyd  I am taking a look. Still if you want, you can go ahead :+1:

[2017-03-19 09:29] geekyd commented on #1185
@sumedh123 Almost done with the fix. Thanks.

[2017-03-19 13:29] anamika2910 commented on #1176
Yes, I would.

[2017-03-19 14:21] sumedh123 commented on #1044
Is the fix for this done? @geekyd  or shall I work on this?

[2017-03-19 14:46] #1185 closed

[2017-03-19 14:48] #1173 closed

[2017-03-19 14:48] #1159 closed

[2017-03-19 14:49] Princu7 commented on #1156
@geekyd Have you started working on this issue? If you a bit busy with some other bugs, I can take up this one :)

[2017-03-19 15:15] vatsalsura commented on #1144
I think this issue is solved. Hence close it please...!!

[2017-03-19 15:19] #1144 closed

[2017-03-19 15:20] #1180 closed

[2017-03-19 15:21] sumedh123 commented on #1045
@geekyd Where is the cancel button to cancel the website generation process?

[2017-03-19 15:22] geekyd commented on #1044
@sumedh123 Please go ahead :)

[2017-03-19 15:25] sumedh123 commented on #1044
I am not quite clear from the above discussion that what to implement. The hover is working. Right @geekyd ? Can you explain me this issue?

[2017-03-19 15:27] geekyd commented on #1156
@princu7 Sorry about the delay was busy with my midterms, I'm almost done with the fix, will be sending a PR soon. :)

[2017-03-19 15:28] Princu7 commented on #1156
@geekyd Ok. Great. No problem :smile:

[2017-03-19 15:32] geekyd commented on #1044
@sumedh123 On hovering featured speakers on home page of the app there is an overlay that appears with the social links of the speaker.

Screenshot:
![2c90a320-fb73-11e6-9d86-310fdd4f8aee](https://cloud.githubusercontent.com/assets/12807846/24082171/17dcd5a4-0ce7-11e7-818f-8a9ea4573a33.png)

This function is also present in speakers page but it is not working currently we need to find out why it i

[2017-03-19 15:34] geekyd commented on #1045
@sumedh123 There is 'X' right next to the upload progress bar which can be used to cancel the generation of the webapp.

[2017-03-19 15:45] sumedh123 commented on #1045
What if I use API endpoint? @geekyd

[2017-03-19 15:52] geekyd commented on #1045
We currently don't have a button for cancelling the generation using API generation. But it would be great to have it for generation using API endpoint.

[2017-03-20 03:15] #1156 closed

[2017-03-20 03:26] Princu7 opened #1192 "Bookmarked sessions not synchronized on all pages"
**Actual Behaviour**

Currently, the bookmarked sessions are local to one page only. For example - a bookmarked sessions on the tracks page is not bookmarked on the schedule page.

**Expected Behaviour**

Since the sessions are same, it only makes sense that the effect of bookmarking a session on a particular page should affect the other pages also. They should work in a global scope with respect

[2017-03-20 05:44] geekyd commented on #1192
@Princu7 Great find. go ahead. :)

[2017-03-20 15:06] Princu7 opened #1193 "Add information about gulpfile to the documentation"
Recently, gulp was added to the project for concatenation and minification of js and CSS files. It has significantly reduced the no of requests for the static assets and increased the speed of loading of the pages. The google insights score has also been increased.

The task is to add information about gulpfile.js to the documentation of the project. This will help to make the documentation more c

[2017-03-20 15:38] Princu7 opened #1194 "No info message shown while deploying the event site on Github"
**Actual Behaviour**
Due to some recent changes, it seems some problem has crept on the deployment page. When a user deploys the event site on Github, there are no info or error messages displayed on the page. Only the progress bar is shown.

**Expected Behaviour**
The info message about the files uploaded and committed should be shown below the progress bar. Same with the error message. Also, sho

[2017-03-20 17:21] Princu7 opened #1196 "UI of session div becomes bad in case of many speakers"
**Actual Behaviour**
The user interface breaks down a little when there are many(4 or more) speakers presenting a single session.

**Expected Behaviour**
The user interface of multiple speakers sessions should remain consistent and similar to other sessions

**Screenshots of the issue**

Bad UI on the summit page
![screenshot from 2017-03-20 21-59-47](https://cloud.githubusercontent.com/assets/884

[2017-03-20 17:36] geekyd commented on #1193
@Princu7 I will be making the changes to the documentation :)

[2017-03-21 01:32] sumedh123 commented on #1194
@Princu7  I guess there's a problem in sockets.

[2017-03-21 05:38] Princu7 commented on #1194
@sumedh123 Might be. I reverted the recent additions that were made to the deployment page locally and deployed the site again. The info and the error messages were displaying correctly. Could you please see why this problem appeared after making changes in the deploy.html file? The change was simply related to adding a button on page. Thanks!!

[2017-03-21 05:53] sumedh123 commented on #1194
@Princu7 Looking towards the developer tools, the info and error messages are seen there....they are just not appearing on the webpage. And yes before adding the home button, I was not able to see the info and all stuff.

[2017-03-21 05:54] sumedh123 commented on #1194
@Princu7 Still I ll take a look and report asap.

[2017-03-21 06:00] Princu7 commented on #1194
@sumedh123 Thank you so much :) Since the info and error messages are showing on the browser console, then we can safely conclude that the problem is not related to the sockets. We are receiving the socket events related to the errors and the progress which are then being printed to the console. They are just not appearing on the webpage. We just have to figure out why that is happening.

[2017-03-21 11:23] rctay opened #1200 "session json for FOSSASIA 2017 contains long_abstract as "<p></p>" causes blank abstract on schedule page"
**Actual Behaviour**

The session json at https://github.com/fossasia/2017.fossasia.org/blob/gh-pages/json/sessions generated by the server contains 20 sessions where `"long_abstract": "<p></p>"`. This results in the webapp using `<p></p>` as the content of the session description instead of the `short_abstract` where the real content is.

This shows up at http://2017.fossasia.org/schedule.html fo

[2017-03-21 11:35] geekyd commented on #1200
@rctay Thank you for opening the issue, we have already tackled this issue with #1189. Please check the gh-pages of the app.

[2017-03-21 13:48] sumedh123 commented on #1169
@Princu7  I tried sorting speakersession. I don't know why but its not working.

[2017-03-21 13:58] geekyd commented on #1169
@sumedh123 Can you share what changes have you made?

[2017-03-21 14:09] geekyd commented on #1169
@sumedh123 Please add a sortKey property to the `speakersession` the value of this should be YY-MM-DD HH:MM and sort the `speakersession` before the return by this sort key. It should solve the issue. :)

[2017-03-21 14:34] sumedh123 commented on #1169
I am using the sort function in js
![fossasia](https://cloud.githubusercontent.com/assets/17925669/24152396/80951288-0e71-11e7-99a2-ae0e643d2eda.png)

[2017-03-21 14:40] geekyd commented on #1169
@sumedh123 Please use this instead `speakersession.sort(byProperty('sortKey'))` , sortKey will be same as described in the previous comment.

[2017-03-21 15:58] sumedh123 commented on #1169
I tried that also but still it's not working. @geekyd

[2017-03-21 16:06] geekyd commented on #1169
Okay let me check.

[2017-03-21 16:29] geekyd commented on #1169
@sumedh123 It seems to work please use
`sortKey: moment.utc(session.detail.start_time).local().format('YYYY-MM-DD HH:MM')`
& `speakersession.sort(byProperty('sortKey'))`

I was able to get the required results

**Before**
![screen shot 2017-03-21 at 9 52 38 pm](https://cloud.githubusercontent.com/assets/12807846/24158157/8dd180fc-0e81-11e7-9589-a7420c9d4fac.png)

**After**
![screen shot 2017-03-21

[2017-03-21 16:47] sumedh123 commented on #1169
@geekyd Got it. I was making a typo. fixed it now. Thanks.

[2017-03-23 14:47] #1193 closed

[2017-03-23 14:48] #1169 closed

[2017-03-23 14:48] #1194 closed

[2017-03-24 04:12] #1138 closed

[2017-03-24 05:50] #1192 closed

[2017-03-24 15:27] geekyd opened #1203 "Add details about partial handlebars to the documentation"
The documentation currently does not contain the information about partial handlebars used in the application like scroll,subnavbar,social etc. Please add the details to the document.

[2017-03-24 20:29] oanarosca commented on #1196
May I work on this? :smile:

[2017-03-24 21:27] geekyd commented on #1196
@oanarosca Please go ahead :)

[2017-03-24 21:56] oanarosca commented on #1196
What do you think would be the best thing to do in this situation? Increase the width of the Track card, increase the percentage occupied by the speakers' pictures (in the attached image, the pics and the names both occupy 50%) or maybe some other approach?
![screenshot from 2017-03-24 23-52-25](https://cloud.githubusercontent.com/assets/3405816/24314962/0892f7ea-10ed-11e7-82cb-1a4dc4bdb289.png)

[2017-03-25 03:27] Princu7 commented on #1196
@oanarosca Thanks. The screenshot looks good. This approach, giving the speakers photo section a maximum width of 50% and a minimum width of 50% to the speaker description should work fine in most of the cases. Actually, this is what has been implemented on the eventyay page itself. Do you have any other better alternatives in mind? If yes, then splurge :)

[2017-03-25 06:28] aayusharora opened #1204 "Center Images on mobile"
Page : Home
![designbug](https://cloud.githubusercontent.com/assets/12194719/24320029/5c528200-1152-11e7-8b3f-f92b8010bec4.png)

[2017-03-25 06:37] aayusharora opened #1205 "Apply Grid Layout option for schedule, track and rooms"
- The user should be able to view schedule, tracks and rooms in forms of horizontal table.
- Give a select box to choose layout option.
Sample :
![56](https://cloud.githubusercontent.com/assets/12194719/24320109/8866610c-1154-11e7-98f8-75e2dc8635d6.png)

[2017-03-25 06:52] aayusharora opened #1206 "Removing Redundancy from Track Page"
![67](https://cloud.githubusercontent.com/assets/12194719/24320130/fa914f4e-1154-11e7-8e93-9cc7a1f89270.png)

- The dates are REDUNDANT written two times, once in the pills and then in the track filter bar.
- Remove the pills bar and filter content on the basis of track bar only.

Process
-   Input: User clicks on 17 Jan on tracks bar.
-   Output: Tracks appear for the given dates and the page con

[2017-03-25 06:59] geekyd commented on #1206
@aayusharora We should toggle between the specific tracks container for the date when the user click the date button. By default all the dates are shown. if user clicks a specific date, only tracks of that date is shown. What is your opinion?

[2017-03-25 07:09] sumedh123 commented on #1204
@aayusharora  In my case it is displaying correctly :
![fossasiaindex](https://cloud.githubusercontent.com/assets/17925669/24320274/1e0a0864-1158-11e7-915c-23e04c3807c1.png)

[2017-03-25 07:31] sumedh123 commented on #1204
@aayusharora In my case it is displaying correctly. Can you check once again ?
![fossasia](https://cloud.githubusercontent.com/assets/17925669/24320425/0e5e017e-115b-11e7-9746-10eab1060ce1.png)

[2017-03-25 07:54] aayusharora commented on #1206
Yes, in that way we can get rid of the above date-pills bar which is confusing to users. @geekyd

[2017-03-25 07:56] aayusharora commented on #1204
Not sure, @sumedh123 I am using chrome canary. @geekyd @Princu7 can verify on browsers and we can close this then.

[2017-03-25 08:04] Princu7 commented on #1206
@aayusharora There is already an issue regarding this #1176. Please check. Thanks!!

[2017-03-25 08:06] geekyd commented on #1204
Seems to work on chrome(canary as well) and safari

**Safari**

![aa101c06-2688-442a-9c36-8e156c53d0e1](https://cloud.githubusercontent.com/assets/12807846/24320659/93749e64-115f-11e7-8b95-38ed2138fd1a.jpeg)

**Canary**

![894b44fd-0a1d-4643-85a5-9dd947d25fc7](https://cloud.githubusercontent.com/assets/12807846/24320676/e755e074-115f-11e7-83e9-2fdd596199d3.jpeg)

[2017-03-25 08:07] Princu7 commented on #1204
Yeah. Seems to work on mine too.

[2017-03-25 08:18] Princu7 commented on #1205
@aayusharora This issue is almost similar to an already existing issue #1048. Please check. Thanks!!

[2017-03-25 09:05] sumedh123 commented on #1204
@aayusharora @Princu7 @geekyd Might be something bad with canary. That's what canary is for. Testing :)

[2017-03-25 09:59] aayusharora commented on #1205
Sure Closing via #1048

[2017-03-25 09:59] #1205 closed

[2017-03-25 10:07] #1157 closed

[2017-03-25 11:27] oanarosca commented on #1196
Moved the categories to the top in order to expand the Track cards width:
![screenshot from 2017-03-25 13-26-31](https://cloud.githubusercontent.com/assets/3405816/24321835/b1168c1c-115e-11e7-84c1-267bae6e1a61.png)

[2017-03-25 11:53] Princu7 commented on #1196
Thanks. That's a good solution. Actually, there already have been discussions regarding moving the tracks information bar to the top of the page. But, it was eventually decided to not work upon and continue with the existing implementation. If we only expand the width, the div will accommodate more speakers and their description but the same issue will occur if we increase the number of speakers a

[2017-03-25 18:04] aayusharora commented on #1152
@anu-007 It would be good to know your plans about `make the website function offline`. What other functionalities we can introduce using service workers.

[2017-03-26 04:13] aayusharora commented on #1196
@onarosca @princu7 Changing width or geometry by JS always result in FSL i.e forced synchronous layout. Please avoid this.

[2017-03-26 04:42] sudheesh001 commented on #1153
Do you mean that this has to be dyanmic website generation for each event ? What exactly does a microservice do here ? Why the microservice approach ?

[2017-03-26 04:45] sudheesh001 commented on #1152
Storing the assets in the application instead of using a CDN for the assets ? Not sure if that's really a good idea, many servers hosted have bandwidth limit caps. that's why CDNs come in handy and improve speed.

If the intention is to make the webapp work offline, there should probably be a no asset approach to doing it.

[2017-03-26 04:46] sudheesh001 commented on #1154
What about other ways in which you can engage users ? Can you inform users about the sessions over facebook messenger ? Not everyone would be comfortable to use an app and enable push and so on. There might be many who would check the messenger app or such chat apps way more than opening up this app and checking. This issue probably needs to be expanded.

[2017-03-26 05:51] aayusharora commented on #1153
@sudheesh001 Thanks, this project aims to act as a plugin for open-event orga-server.
` Do you mean that this has to be dynamic website generation for each event`
The webapp generates static pages once it gets data from the API or zip.
`Why the microservice approach?`
We want this to be loosely coupled inside orga-server, hence microservice seems best.
Thanks.

[2017-03-26 06:02] aayusharora commented on #1154
The android client provides notifications to users for their bookmarks session 10 minutes before their starting time.  Our goal is to keep the user engaged.
@sudheesh001 facebook messenger can be one of the features but we can't rely on it, I have seen people in the conference who don't use fb and messenger apps.
Also, I don't think the app should be open for seeing the notification, we only need

[2017-03-26 06:49] anu-007 commented on #1152
@aayusharora @sudheesh001 the idea is to precache all the static assets in users browser cache and for dynamic assets, we should use run-time caching along with background sync so as to keep our dynamic content updated.Service worker API does support caching for all CDN resources. We can also use cacheAPI which provides a storage mechanism for request/response object pair that is cached as a part

[2017-03-26 07:02] geekyd commented on #1154
@aayusharora We can create a service worker that will check if the events are about to start. If the event is about to start say 10 minutes to go. We will create a notification for the user, as a reminder of the event.
The notification will be for the bookmarked events.

Another approach we can take is to add reminders features by letting users add the event details to there calendars. Which will

[2017-03-26 08:19] Princu7 commented on #1154
@aayusharora I have created a draft of my proposal . It contains all the technical details regarding service workers and notifications model. I have shared it on Google groups and to you on Gitter. Please review. Thanks

[2017-03-26 08:29] Princu7 commented on #1154
Ok. Just saw that reviews were added. Will improve upon it. Thanks.

[2017-03-26 08:58] sumedh123 commented on #1204
@Princu7 @geekyd @aayusharora See what I got here when I varied the screen size in developer tools :
![hello](https://cloud.githubusercontent.com/assets/17925669/24329879/750a02d0-1230-11e7-9482-ed9b50601622.png)

[2017-03-26 12:52] sumedh123 commented on #1204
I don't know why but the above problem happens sometimes only.

[2017-03-26 12:53] sumedh123 commented on #1204
The above problem happens sometimes only.

[2017-03-26 22:31] Princu7 commented on #1153
@sudheesh101
@aayusharora Explained it really well. The term microservice is used loosely here. The common definition of microservices generally relies upon each microservice providing an API endpoint, often but not always a stateless REST API which can be accessed over HTTP(S) just like a standard web page. Here, it acts more of a type of plugin into the eventyay(orga) server providing an API end

[2017-03-26 22:58] Princu7 commented on #1154
@sudheesh001 Thanks for the comment. @aayusharora @geekyd Already explained it really well.

The best part about push notifications is that they don't require the actual site to be open. The only requirement is the browser. If the browser is open, then we will directly receive the notifications from a website if we have authorized it to do so. On the android platform, the notifications feature is

[2017-03-27 04:32] sudheesh001 commented on #1154
But this means I should open the app / website on my phone and works either as push notification to android phone in case of an app or a chrome web notification. When messengers already have all of these systems built in place, why not just use them ? Any messenger app on which this is integrated should be able to use the same push notifications and features. I don't see what's new being proposed

[2017-03-27 04:36] sudheesh001 commented on #1153
I think as of now this is no where close to a microservice and cannot even be called that way loosely. What you're proposing is a web service with an HTTPS api endpoint. The reason for not using microservices over http is the transport overhead. it's better to let the individual stateless services communicate among themselves internally than make a public HTTP call.

This calls for 2 approaches
-

[2017-03-27 05:03] Princu7 commented on #1153
@sudheesh001 No problem. Thanks for the review :) You are right. I should have been more rigorous with the wording of the process. Sorry :sweat_smile:  I think we should leave it as a web service which provides an API endpoint for the orga server to use and generate an event website.

I will correct the terminology used in my proposal. Also, regarding securing the API end-point, this process shoul

[2017-03-27 05:16] Princu7 commented on #1154
@sudheesh001 Yes. What you said is correct. But we can't fully rely on the chat apps. I guess most of the people do use either the app or the event website or both during the conference for checking out the sessions and speaker details and timings and stuff multiple times during the day. So, instead of relying on other services for displaying notifications, why not introduce the functionality nati

[2017-03-27 08:28] sudheesh001 commented on #1154
Many users face app fatigue because of the number of apps. Here's a document from [fortune](http://fortune.com/2016/08/16/app-fatigue-is-taking-a-toll-on-smartphone-owners/) to back up my claim. Though I don't deny that an app should be released for this, I think having it integrate with the top apps that already exist on the app is a better way of gaining users.

People would rethink if they'd ha

[2017-03-27 15:04] Princu7 commented on #1153
@aayusharora @sudheesh001  I have updated the proposal. Please review it. Thanks

[2017-03-31 09:29] #1196 closed

[2017-03-31 10:57] geekyd opened #1208 "UI: Sessions in tracks and rooms page not displayed properly"
It seems that the session in the rooms and tracks page are not displayed properly please check the screenshots.

Link : http://fossasia.github.io/open-event-webapp/
**Actual Behaviour**
![screenshot 27](https://cloud.githubusercontent.com/assets/12807846/24547779/2c2b2bf4-162f-11e7-8cc3-761a3683bbee.png)

**Expected Behaviour**

![screenshot 28](https://cloud.githubusercontent.com/assets/12807846/

[2017-03-31 14:00] #1045 closed

[2017-04-03 01:45] Princu7 opened #1209 "Compare Performance of Jimp and Sharp Library"
**Compare performance of `Jimp` and `Sharp`**

This was originally proposed by @aayusharora. Currently, we are using `sharp` module for resizing and converting the images. The problem with `sharp` are

* It is not entirely native and depends on few C++ libraries to work correctly
* Does not work correctly on Windows
* Less Developer Support

`Jimp` is a library completely written in Javascript and

[2017-04-03 06:22] geekyd commented on #1209
@Princu7 This is a great proposal, we can also check the performance of `gulp-imagemin`. I think it can help in lowering the size of the images.

[2017-04-03 15:05] aayusharora opened #1211 "Moving towards Progressive Webapp ( Performance Report: Lighthouse )"
- We have done some great work on performance optimizations and UI on all platforms. Congo to all: +1:
- We need to provide the user, the feeling of a natural app on mobile.
[PWA ](https://developers.google.com/web/progressive-web-apps/)

- We need to follow some checkpoints for Progressive Web app, here is the report of the Webapp performance. Reference [lighthouse](https://github.com/GoogleChrom

[2017-04-03 15:17] geekyd commented on #1211
Great idea @aayusharora. Moving towards PWA will be very good for the application and the user experience. A lot of work to be done on this. Its exciting. Can not wait to get started. :)

[2017-04-03 15:17] Princu7 commented on #1211
@aayusharora Thanks for being a fantastic mentor and guide. Congo to all for the fantastic work. Thanks for generating the report. We will follow the guidelines and generate the report when implementing the features related to the service workers.

[2017-04-03 15:22] sumedh123 commented on #1211
@aayusharora @Princu7 @geekyd Congo to all! And thanks for being great mentors all the time! Lets implement this feature.

[2017-04-03 19:26] shubham-padia commented on #1063
@Princu7 @aayusharora https://github.com/fossasia/open-event-orga-server/issues/3238 has been solved. A new field `licence_details` has been added to the api. Please have a look at http://open-event-dev.herokuapp.com/api/v1/#!/events/get_event for more info.
Cheers.

[2017-04-04 01:39] Princu7 commented on #1118
@shubham-padia Has shed some light on this problem. He talks about it here:
https://github.com/fossasia/open-event-orga-server/pull/3450
If the microlocation field of the session is null, the session is unscheduled. There is no need for a redundant field in the API. We can implement the logic using it. I am looking into it. Thanks!!

[2017-04-04 01:46] Princu7 commented on #1209
@geekyd Thanks for the recommendation. I will try to check it out.

[2017-04-04 03:27] geekyd commented on #1118
@Princu7 Go ahead.

[2017-04-04 03:33] geekyd commented on #1063
@shubham-padia Thanks for the update. I will look into it. :)

[2017-04-04 06:21] championswimmer commented on #1211
Here are some of the things we had plans in last few years, and we had not implemented, and I believe are crucial to take the webapp forward -

- Having option to add themes (so organisers can select among 2-3 different themes to use)
- Progressive/deferred loading. If number of sessions/speakers is too much, we should load page wise or on scrolling.

[2017-04-04 06:38] Princu7 commented on #1211
Giving the feature to change the theme of the site by the user itself according to his/her liking would be a great thing to have on the web app.  That is, we can implement a setting page on the event site where we can give the option to change the theme and feel of the website. This way, the user will have a better experience and don't need to abide by the organizer choice of the default theme.

[2017-04-04 09:50] #1208 closed

[2017-04-04 15:19] geekyd commented on #1211
Progressive loading and adding themes sound good for the web app. We can provide the choice of themes to the organizer on the generate web app page where we can add these templates for the organizer by adding a small select template button with the themes listed, organizer can click on them to see preview and select one from the templates.

We have started moving in direction of the progressive lo

[2017-04-04 15:19] geekyd commented on #1211
Progressive loading and adding themes sound good for the web app. We can provide the choice of themes to the organizer on the generate web app page where we can add these templates for the organizer by adding a small select template button with the themes listed, organizer can click on them to see preview and select one from the templates.

We have started moving in direction of the progressive lo

[2017-04-05 02:08] sumedh123 commented on #1211
@championswimmer @aayusharora We can keep the theme selector at the webapp generator page itself. We ll let the user generate the webapp and later let him preview each theme and select one from it.

[2017-04-07 00:12] mariobehling opened #1215 "Schedule: Implement a calendar view"
Currently a proper calendar view of the schedule is missing. Please implement a view similar to the calendar view of the web app.

On each page give the option
* List View
* Calendar View

[2017-04-07 08:45] #1063 closed

[2017-04-07 15:33] sumedh123 commented on #1215
@mariobehling You mean to say that the user would be able to choose one option on the schedule page from calender and list, and display the further schedule accordingly. Is that?

[2017-04-07 18:36] sumedh123 commented on #1036
@aayusharora @Princu7 This issue now doesn't seem to be quite meaningful since now we are in a state where after generation of web app, both the buttons( for source selection ) are disabled. And if the user wants to generate the app again, he has to refresh the page. What are your opinions on this? Shall this be implemented or the current state is okay?

[2017-04-08 09:47] Princu7 opened #1217 "Using Selenium for automated testing of generated event sites"
`Selenium` is a browser automation library. Most often used for testing web applications, Selenium may be used for any task that requires automating interaction with the browser. In our case, it can be leveraged for automatic testing of the generated event sites. Currently, after every commit related to the improvement of event websites, we have to manually test the functioning and consistency of

[2017-04-08 13:03] geekyd commented on #1217
We need to add selenium in the application. It will ease the testing process and we can do Dom component testing using the browser automation.

[2017-04-09 02:35] sumedh123 commented on #1217
@geekyd @Princu7 Actually yes. We have been into a situation where merging a PR broke a part of app. Then we had to correct it again to make it working. This is good idea. :+1:

[2017-04-09 15:14] Princu7 commented on #1209
So I tried to compare the performance of the two libraries `Sharp` and `Jimp` with regards to image conversion and compression. I used both the libs on the `FOSSASIA Summit` original `png` images data set. From what I have inferred, `Sharp` seems to blow away `Jimp` by a very large margin. It takes quite low time to convert and resize all the images while Jimp takes a considerable amount of time i

[2017-04-09 15:15] Princu7 commented on #1209
I made a video to help show the comparison between the `Sharp` and `Jimp` library.

https://www.useloom.com/share/b7c4740593784f7aaacf9f809240b541

 As we can see from the video itself, `Sharp` takes quite less time to convert all the images of speakers and sponsors. `Jimp` takes a very large amount of time as well as processing power to convert the same set of images on the system.

Regarding the

[2017-04-09 18:03] sumedh123 commented on #1203
@geekyd What kind of details are needed?

[2017-04-09 21:43] #1118 closed

[2017-04-11 04:11] aayusharora commented on #1155
It's not breaking of design @Princu7, when you are having x items in a single row, and you click any of them, the content appears just below them.

[2017-04-11 04:11] #1155 closed

[2017-04-11 04:13] aayusharora commented on #1209
Nice, comparison. This is probably due to the runtime of JS, we are not going forward with jimp than @Princu7

[2017-04-11 04:13] #1209 closed

[2017-04-11 04:14] aayusharora commented on #1176
Closing via #1206

[2017-04-11 04:14] #1176 closed

[2017-04-11 04:15] #1203 closed

[2017-04-11 07:43] aayusharora commented on #1215
@sumedh123 Yes, A user should be able to switch between these two views. The Calender View is also termed as grid view as discussed earlier.
Are you willing to work for this ?

[2017-04-11 07:54] aayusharora commented on #1211
@geekyd @Princu7 @sumedh123 We are clear with the goals by seeing the report, I will suggest making them as separate issues and start working for PWA.

[2017-04-11 07:55] aayusharora commented on #1211
@geekyd @Princu7 @sumedh123 Also we already have a commented version of theme concept. We can start with that code.

[2017-04-11 07:59] sumedh123 commented on #1211
Sure @aayusharora

[2017-04-11 09:28] Princu7 opened #1218 "First step towards PWA: Installation, registration and activation of Service Workers"
Based on the discussions in the issue #1211, we have decided to move forward in the direction of `progressive web apps` to make the event site more intuitive, responsive and pleasant to the user. `Service workers` are a key component of the `PWA`. They act like a proxy which sits between the client and the server, intercepting requests and can send custom made response back without the interventio

[2017-04-11 09:39] Princu7 commented on #1211
@aayusharora I will open the issues regarding PWA and start working on some of them. Also, we should also open some issues for the theme feature in the web app. It will be good to have a central place where all the discussions regarding the themes should take place. Also, what is your opinion on where this feature should be provided? Showing it on the generator page would be a comparatively easy.

[2017-04-11 09:48] Princu7 opened #1219 "Progressive Web App: Create a web-app Manifest"
The web app manifest provides information about an application (such as name, author, icon, and description) in a JSON text file. The purpose of the manifest is to install web applications to the home screen of a device, providing users with quicker access and a richer experience. Web app manifests provide the ability to save a site bookmark to a device's home screen. Though we can use a web app m

[2017-04-11 10:01] Princu7 opened #1220 "Enable multiple theme support in the webapp"
As suggested by @championswimmer and @aayusharora, this is an integral feature for improvement of the web app which would also prove to be helpful to both the organizers and users. Most of the organizers and users will not like to create or view the event sites having the same design over and over again. To solve this problem, we can provide a multiple theme support in the web app.

We already hav

[2017-04-11 10:07] Princu7 commented on #1211
@aayusharora I also have opened an issue #1220  regarding the multiple theme support in the web app.  We can have discussions regarding the themes on that topic and keep the history clean on this issue. Please have a look at that. If something seems lacking, please make the appropriate edits and add additional details to them. Thanks!!

[2017-04-11 11:04] sumedh123 commented on #1219
@Princu7 Sure. It will also contain the icon sizes used for push messages, description, orientation etc.

[2017-04-11 14:25] sumedh123 commented on #1220
@Princu7 @aayusharora I will work on this issue. I am having my exams right now but still I will try my best to implement. :)

[2017-04-11 14:41] Princu7 commented on #1220
@sumedh123 No problem at all. There is no hurry :)

[2017-04-11 15:48] Princu7 commented on #1217
@aayusharora Please provide feedback on this issue. In my humble opinion, we should maybe proceed with this issue first instead of working on other features. There have been many times where we had to revert a commit or make another request to fix the regressions introduced due to a faulty commit.  Using Selenium could help to catch some of those regressions earlier and reduce the manual labor. Pl

[2017-04-11 20:22] aayusharora commented on #1219
Nice start @Princu7.

[2017-04-11 20:25] aayusharora commented on #1217
@Princu7 this can go parallely along with other issues. You can proceed with this, if you are willing to do so. Thanks

[2017-04-12 05:37] sumedh123 commented on #1220
@aayusharora @Princu7 Do we need to desing all new themes or just change the color scheme of the existing theme to provide a new look ?

[2017-04-12 08:49] aayusharora commented on #1220
I will be more convinced if somebody can give a design that is more simple and less confusing. That can become a separate theme.

[2017-04-12 09:37] utkarshnath commented on #990
@aayusharora do you want to add all values to config.scss or only frequently used values

[2017-04-12 16:31] aayusharora commented on #990
@utkarshnath My idea is to write mixins and call them whenever needed for padding, margin etc.

[2017-04-13 15:23] #1044 closed

[2017-04-13 23:57] anu-007 commented on #1211
@aayusharora instead of generating lighthouse report after each change we can automate this process by customizing  .travis.yml file by adding lighthouse in this file and ask it to run against the generated web app and write a script in which we open the JSON file that lighthouse is spitting out and look for the lighthouse score in that JSON file and perform a validation for a pass or a fail built

[2017-04-14 01:25] Princu7 opened #1222 "Enable HTTPS on Official Github pages of the repository"
Service workers is a great and powerful technology. Using service worker we can hijack connections, fabricate, and filter responses. These features can be exploited by a man in the middle. To avoid this, service workers are only registered on the pages which are served over HTTPS so we know the service worker the browser receives hasn't been tampered with during its journey through the network.

A

[2017-04-14 04:12] geekyd commented on #1222
@Princu7 Thanks for pointing this out. 👍
For the generated web-app to be a PWA we must use HTTPS, as the service workers will be enabled only over HTTPS. It can be a blocker for features regarding PWA.

[2017-04-14 10:06] anu-007 commented on #1152
@aayusharora making the web app to available offline is not enough, the goal is to make the web app to be **interactive** even offline for example users should be able to star a schedule, track or room when offline these activities can be stored in indexedDB  in JSON format and when the connectivity comes these are sync with the server and the user is notified with the help of a push notification

[2017-04-14 11:32] anu-007 commented on #1222
@Princu7 @aayusharora @mariobehling  for GitHub pages which have been deployed before 15 June 2016  we can manually enable HTTPS enforcement by following steps-

1.On GitHub, navigate to the main page of the repository.
2.Under your repository name, click  Settings.
3.Under "GitHub Pages", select Enforce HTTPS.

as @geekyd said PWA features like service worker works only with HTTPS enabled. Thanks

[2017-04-14 11:48] Princu7 commented on #1222
@anu-007 Yeah. That's correct :) I knew the required steps but didn't have the admin rights to the repository so was not able to do it. @aayusharora and @mariobehling can help in regards to this.

[2017-04-15 15:01] mariobehling commented on #1222
I would not tackle this. We should leave this to the owner of repositories. It is not our task to take care of it. It is out of scope and creates potential errors, that we cannot take care in future. The https set up does not work for example with custom domains. This is really not what we need to take care of. Let's keep it simple.

[2017-04-15 15:01] #1222 closed

[2017-04-15 15:20] geekyd commented on #1222
@mariobehling It's not related to the deployment feature in the application. We need to enable HTTPS to enable service workers which are important for PWA. Service workers can only operate on HTTPS, for this we need to enable HTTPS on the repo. It will make it easy to test the progress while developing the PWA features.

[2017-04-15 15:23] Princu7 commented on #1222
@mariobehling Sorry but I think that you misunderstood a bit. We only need to enable it on the official Github pages of the open-event-webapp repository.  This would not affect the repositories of other users. Github pages on all the other repositories are served over https by default unless set otherwise. Since the gh-pages of this repository was set up before a specified date, it is currently be

[2017-04-15 15:26] geekyd commented on #1215
@sumedh123 Have you started working on this issue?

[2017-04-15 15:34] Princu7 commented on #1222
Serving a custom HTTPS domain on GitHub Pages is a bit tough but can be done using Cloudfare.

[2017-04-15 16:12] sumedh123 commented on #1215
@geekyd I am having my exams now. If you want, please proceed. Thanks.

[2017-04-15 16:26] geekyd commented on #1215
@sumedh123 Thanks for the update. I will be proceeding with the issue. Best of luck for the exams 👍

[2017-04-15 16:35] geekyd commented on #1153
@niranjan94 We need your guidance regarding this issue. Please guide us with the best practices to be followed for the integration of the server and generator. Thanks.

[2017-04-15 16:50] niranjan94 commented on #1153
@Princu7 @geekyd @aayusharora

We could go for an approach similar to the one that has been implemented recently in the open event android app generator project.

What I have done there is,
- The android app generator runs on it's own standalone isolated deployment (container) on google cloud container engine.
- It exposes a HTTP API at https://droidgen.eventyay.com
- The organizer server or anyon

[2017-04-15 17:00] Princu7 commented on #1153
@niranjan94 Thanks for the guidance. Really appreciate it. Web-app is currently deployed on Heroku and its REST API is exposed on http://open-webgen-dev.herokuapp.com/api. It accepts POST request containing the details of the event.

What I originally thought to do is that we send a POST request to the generator and send an acknowledgment response back to the server. That way, the client would not

[2017-04-15 17:07] niranjan94 commented on #1153
Exactly. That's what I suggested in the second point about the callback URL ...

1. The orga-server will make a call to app generator with event data and a unique callback url.
2. The app gen will return a json response for that API call denoting the process has started
3. Once generation is done, the app gen will make a call to the provided callback url in step 1 with the generated app's download

[2017-04-15 17:07] geekyd commented on #1153
@niranjan94 Thanks for guiding.
I considered the websocket approach as it is easier to implement but it is not as flexible. We will be Implementing the REST API on the generator which will be exposed on the specified URL, where the server will trigger the generation. The generator will generate the web-app and send a notification with the links and push a mail to the organiser. This approach seems

[2017-04-15 17:18] Princu7 commented on #1153
@niranjan94 @geekyd Ok. Will work on the REST API then. I commented earlier about the authentication stuff to prevent mis-use of the generator API. Here it is. Please review and suggest improvements.

* Orga Server and Web-app server share a private key.

* Upon receiving a generation request from the client, the orga server will create a unique HMAC(hash) representing it’s request to the web-app

[2017-04-15 17:21] niranjan94 commented on #1153
@Princu7 the authentication implementation is clean. But we'll have to figure out how're we're going to properly share the private key with the server and webapp generator across deployments.

I'd say, let's finish the API implementation first and get the flow working. Authentication can be dropped in once that is done

[2017-04-15 17:26] Princu7 commented on #1153
@niranjan94 Ok. Nice. Thanks :smile_cat:

[2017-04-15 17:42] geekyd commented on #1153
Yeah. We should first get the integration working and then add the authentication once we have it working.
@niranjan94 Thank you for your guidance. 😄

[2017-04-16 04:42] sumedh123 commented on #1153
@Princu7 @geekyd Authentication using HMAC( hash ) is really a good idea. Thanks @Princu7

[2017-04-16 09:33] sumedh123 commented on #1220
@aayusharora I 'll try to show you design asap. If everybody finds it well and good, I 'll implement the same as a new theme.

[2017-04-17 10:40] abhishek71994 commented on #1219
I have started learning angular and I have tested out a basic service worker. Can I contribute? I want to be involved because I find PWA to be the next big thing and it also acts as a new challenge. Also am new to open sourcing so, yeah.

[2017-04-17 10:53] aayusharora commented on #1219
@abhishek71994 Hi, Please start contributing, You are good to go.

[2017-04-17 11:04] abhishek71994 commented on #1219
Ummm... It would be so helpful if you could tell me where to start?

[2017-04-17 11:20] aayusharora commented on #1220
Thanks @sumedh123

[2017-04-17 14:07] #909 closed

[2017-04-17 14:08] #979 closed

[2017-04-17 14:09] #1065 closed

[2017-04-17 14:12] #1162 closed

[2017-04-17 14:13] #1200 closed

[2017-04-17 14:13] #1137 closed

[2017-04-18 20:03] aayusharora commented on #1215
@geekyd Please update with any progress on this issue. This is an important to have at the moment.

[2017-04-19 16:29] mariobehling commented on #1206
I am unclear if this is a real issue.

Both navigation bars serve a different purpose and provide different actions.

1. The upper bar provides a direct link and it works in the same way on schedule, tracks and rooms page.
2. The bar below only exists on tracks and rooms page.

Now as I can see the proposed solution is to change the way the upper bar works on tracks and rooms page. We will have th

[2017-04-20 06:07] sumedh123 opened #1225 "Links of the accounts of speakers on tracks page are not directing correctly as desired."
**Actual behaviour**

![link](https://cloud.githubusercontent.com/assets/17925669/25215904/b9fcebf0-25bd-11e7-8991-a281aeedf3a4.gif)

**Expected**

The links should redirect to the correct pages.

[2017-04-20 09:06] sumedh123 commented on #1225
@aayusharora However, this problem is causing with only one speaker. Others are working fine. It might be due to the wrong data provided in json. Opinions?

[2017-04-20 09:09] Abhi2424shek commented on #1225
Can you provide a value of the href of the link, I think it's because the link lacks HTTPS added to it.

[2017-04-20 09:51] sumedh123 commented on #1225
@Abhi2424shek No, it is not because of the lack of the protocol. See the gif. The link is appending i.e  'http://fossasia.github.io/open-event-webapp/www.github.com/AkshayTiwari'. While in other cases, it's correct.

[2017-04-20 15:44] sumedh123 commented on #1220
@aaysuh

[2017-04-20 15:50] sumedh123 commented on #1220
@aayusharora Is there any restriction on using the frameworks? In our current theme we are using bootstrap. Can I make the theme with any other framework other than bootstrap?

[2017-04-20 18:44] aayusharora commented on #1220
@sumedh123 It will be better if we stick to bootstrap. We can try other options later.
Well, If you have something creative in mind, I will love to know that.
We can discuss this once you will provide the mockups.
Note: We provide the functionality to the user to download the generated website, We want the zip to be of minimum size. It would be complicated to have "bootstrap based files" for choic

[2017-04-21 11:26] geekyd commented on #1215
@aayusharora Sorry for replying so late, there was an internet ban in my city, so I had no access to the internet. I have started working on this issue I will send a PR in a couple of days. Sorry for the problem caused.

[2017-04-21 12:26] Princu7 commented on #1225
Hi. Sorry for a late reply. Been quite busy due to the academics. Thanks for opening the issue. I guess @Abhi2424shek might be right.  I checked the actual JSON by searching on the http://eventyay.com/api/v1/events/6/speakers and it seems that the format of the links, in this case, is wrong when compared to the other speakers. For this particular speaker, the links are direct of the form `www.gith

[2017-04-21 14:22] sumedh123 commented on #1225
@Princu7 Yeah I saw in developer tools that the href of the links are of the type "www.github.com/AkshayTiwari" instead of "https://github.com/AkshayTiwari". The json is incorrect then. Can we correct that json?

[2017-04-21 15:48] muskanbararia commented on #1215
Is it still open? Can I work on it?

[2017-04-21 16:25] Princu7 commented on #1225
Yes. We can correct the JSON by opening an issue on the orga-server. The details of the speaker will have to be tweaked a little and I believe that the problem would be solved then. However, I am not really sure that it would be the best solution. We can try to handle these conditions on the client side instead of making changes on the server database. What do you say?

[2017-04-21 16:35] geekyd commented on #1215
@muskanbararia I'm in the middle of solving this issue. If you want you can take up some other issue. Thanks :)

[2017-04-21 17:28] sumedh123 commented on #1225
@Princu7 According to me, we should leave it as it is since we are using the api endpoint for the test purpose only. I looked up into the speakers' json where I found that there is only one speaker with this issue. Everything is fine. Shall we keep it as it is for now? Since the JSONs for different events will be different, the data would be different.

[2017-04-22 21:48] geekyd commented on #1215
Update : @aayusharora @mariobehling I have made progress on this issue please check https://open-event-web-appp.herokuapp.com. Almost done with this issue will be sending a PR soon.

[2017-04-23 04:53] Princu7 commented on #1215
@geekyd Good work :) Looks nice. Some suggestions from my side:
* The color of the text containing the name of the event is not quite readable in some cases. Example:
![screenshot from 2017-04-23 10-21-12](https://cloud.githubusercontent.com/assets/8847265/25310903/add80398-280e-11e7-8b73-ed7b1b44e03f.png)

* It would be great if we do something like the eventyay where on clicking on a session, we

[2017-04-23 06:52] geekyd commented on #1215
@Princu7 Thank you for the feedback. Its not yet complete, I will be adding the hover to each session for displaying additional information. I will change the colour of the text as you suggested. I will be sending a PR soon. Thanks :)

[2017-04-23 12:42] sumedh123 commented on #1215
@geekyd Yeah. I agree with @Princu7 . Black color of the font would look good on every background.

[2017-04-24 10:30] aayusharora commented on #1225
@sumedh123 For JSON specific issue, You can issue open here https://github.com/fossasia/open-event

[2017-04-24 13:26] geekyd commented on #1206
@mariobehling @aayusharora If we are to abide by the proposed design principle, then we can

- Remove the date pills from rooms and tracks page and use the navbar for the dates and direct links to tracks and pages. We will be using the date pills on the schedule page though.
                                                              **OR**
- We can stick to the current UX for simplicity.

Would

[2017-04-24 18:54] mariobehling opened #1228 "Propose steps to develop app as Progressive Web App"
What is required to make the result of the app generator into a progressive web app? Please propose steps and technology changes that are necessary.

[2017-04-24 18:54] mariobehling commented on #1206
@geekyd I am unclear what is the right direction. I propose to take a general look at other sites and check out options. Some users asked to separate the session sections to become separate pages. We could also add options to the overview page. So the user can choose. Until we are clear what options there are it is hard to take a decision on details. As a goal for this summer I also see to develop

[2017-04-24 19:00] Princu7 commented on #1228
@mariobehling Sorry. Been busy due to academics. The steps for the offline capabilities and transformation into progressive web apps have already been discussed in #1218. The heart of the PWAs are the service workers which are basically javascript scripts which run in the background and intercept the requests made against the registered domain and have the ability to create a custom made response

[2017-04-24 19:08] Princu7 commented on #1228
@mariobehling
Basic steps would be as follows:
* Install, register and activate service workers on the generated sites
* Create a web-app manifest
* Add support for caching
* Make custom fallback pages in case of cache failure
* Check for cache invalidation
* Enabling push notifactions with help from server side

No major changes in technology are required. We have to enable HTTPS on the Github pa

[2017-04-24 19:20] geekyd commented on #1228
@mariobehling Service workers are the heart of the progressive web apps. Service workers will let us enable offline mode, push notifications and background sync. One important thing to consider is that service workers only work over `HTTPS `protocol.

The first step would be to enable HTTPS on the gh-pages so that the PWA features can be reflected.

Steps to PWA

**Offline mode**
1. Install and re

[2017-04-24 19:53] geekyd commented on #1225
The problem is for `FOSSASIA SUMMIT` api. I would suggest that we should add a check to make sure all links have a protocol if there is no protocol we will add it to the link. We can handle this in the generator itself.

[2017-04-24 20:28] geekyd commented on #990
@aayusharora @Princu7  The inline CSS is not removed completely from all the pages. This is partially solved. please reopen it.

[2017-04-25 10:31] mariobehling commented on #1215
The display is not yet suitable for end users.

[2017-04-25 10:38] geekyd commented on #1215
@mariobehling Thank you for the feedback. I have tried to implement a similar UX to the one we have on eventyay.com. Please elaborate what needs to be improved so that we can get it ready for the end user.

[2017-04-25 10:45] mariobehling opened #1229 "Tweet display not working anymore"
The tweet display on the generated app is not working anymore.

[2017-04-25 10:46] #952 closed

[2017-04-25 10:49] sumedh123 commented on #1229
@mariobehling I 'll get it checked.

[2017-04-25 10:51] mariobehling opened #1230 "Downloaded app to local PC does not show speaker images"
Please see below.

![screenshot from 2017-04-25 12-50-07](https://cloud.githubusercontent.com/assets/1583873/25381912/d6c28da2-29b5-11e7-9fc0-2ca45096fe7a.png)

[2017-04-25 10:54] aayusharora commented on #1215
@geekyd We need to work more here.
- Get rid of scrollbars
- Make the container full-width
- Add styles to make UI more familiar.
- Use `cursor: pointer ` on hover.

This will not work.

![scollbar](https://cloud.githubusercontent.com/assets/12194719/25382028/91e4120a-29d3-11e7-9aa1-af44cf190daf.png)

[2017-04-25 10:56] aayusharora commented on #1215
@geekyd  Can you try something like this
![123](https://cloud.githubusercontent.com/assets/12194719/25382120/f2097d46-29d3-11e7-8fec-77a8a8cec77f.png)

[2017-04-25 10:58] mariobehling opened #1231 "Recent changes resulted in missing spaces and disalignment"
E.g.

* [x] sidebar tracks are disaligned and do not have a space next to dots.

![screenshot from 2017-04-25 12-51-31](https://cloud.githubusercontent.com/assets/1583873/25382018/32a8375c-29b6-11e7-8636-b957a6fa02b1.png)

* [x] Dates and other buttons have different distance and are disaligned.

![screenshot from 2017-04-25 12-57-02](https://cloud.githubusercontent.com/assets/1583873/25382159/c0f

[2017-04-25 10:58] geekyd commented on #1215
@aayusharora Okay I will work on the points you referred to, and update you with the changes soon.

[2017-04-25 10:58] aayusharora commented on #1215
- For grid layout, you can take away the side panel tracks at the footer. Please also ensure the styles remain consistent with other pages.
- You can take popovers styling from speakers page.

[2017-04-25 11:08] mariobehling opened #1232 "Testing the OSCAL event results in list and calendar view on the same page on local host"
Please see below.

![screenshot from 2017-04-25 13-03-20](https://cloud.githubusercontent.com/assets/1583873/25382495/30e2e500-29b8-11e7-9b43-5fe189df7f14.png)

[2017-04-25 11:09] geekyd commented on #1230
@mariobehling I tried to test by using the https://eventyay.com/api/v1/events/6 for Fossasia summit. The downloaded app does not seem to have the above issue. All the speakers images are loaded properly. Can you please specify what source was used to generate the app?

[2017-04-25 11:10] geekyd commented on #1232
This will be get fixed along with #1215.

[2017-04-25 11:12] mariobehling opened #1233 "Calendar View: Improve use of space"
For calendar view:

1. Please make use of complete white area. Just keep a small space on left and right within the area to match the design.

2. Move sidebar with tracks below calendar in that view.

[2017-04-25 11:15] mariobehling opened #1234 "Calendar View: Propose and Implement Search results"
In the list view we are only showing the results of searches. How can this be implemented in calendar view? Please propose and implement a solution.

Currently it does not work.
![screenshot from 2017-04-25 13-20-40](https://cloud.githubusercontent.com/assets/1583873/25382928/0a5c160c-29ba-11e7-8eea-57119b54a2c4.png)

[2017-04-25 11:18] mariobehling opened #1235 "Testing: Test app with OSCAL event and open issues where necessary"
OSCAL is an event using Open Event. The API is here: https://eventyay.com/api/v1/events/47

Please test the app with this event and report issues.

[2017-04-25 11:25] mariobehling opened #1236 "Autoscrolling too slow"
Autscrolling to sessions or events is still too slow. It is ok to have this effect, but it should be super fast, e.g. from the following button. Users should not have the feeling that they are waiting for the effect to finish. Please make it very fast.

![screenshot from 2017-04-25 13-24-04](https://cloud.githubusercontent.com/assets/1583873/25383056/91ebcc70-29ba-11e7-9945-d642b7118440.png)

[2017-04-25 11:35] geekyd commented on #1230
@mariobehling I have tested this on local machine. The downloaded app works as expected, loads all the images, on local machine.

[2017-04-25 12:38] Princu7 commented on #1236
Working on it. Will fix it soon :)

[2017-04-26 08:24] mariobehling opened #1238 "Add documentation how to install the app generator on Google Cloud - with Kubernetes"
The setup with Kubernetes is not documented yet. Please set up the system on Google Cloud and document it. Please share the link to your installation.

@shreyasnbhat @rohanagarwal94 @Shailesh351 @arpitdec5 @mahikaw @geekyd @harshitagupta30 @anu-007 @sumedh123 @CosmicCoder96 @utkarshnath @Ronak-59 @mejariamol @iamareebjamal @LuD1161 @magdalenesuo @poush @enigmaeth @shubham-padia @Princu7 @SaptakS

[2017-04-26 18:50] #1236 closed

[2017-04-26 18:57] geekyd commented on #1215
@mariobehling @aayusharora I have made some changes to the calendar view. Its not yet complete working on optimisations and UX improvements will send a PR soon.Please check the demo server and let me know if im working in the correct direction.

Link of server:
https://open-event-web-appp.herokuapp.com/

[2017-04-26 19:05] aayusharora commented on #1215
Hi @geekyd, Good improvement, Please make it more concise so that it fits on the screen without X-axis scrollbar.
To do this, You can make the above boxes `small`  Ex : Here .. Talk1 Talk2 ... etc.
-  Also the text is not wrapping in divs `use word-wrap: break-word` in CSS for this.

[2017-04-27 08:21] geekyd commented on #1215
@aayusharora Making the columns smaller is a good solution but it wont fit the names of room which exceed the width. One solution can be to have different sizes for each column. Please let me know what you think.

[2017-04-27 08:37] aayusharora commented on #1215
`One solution can be to have different sizes for each column.`
This is a website generated from the generator, you can not specify different sizes for each column.

[2017-04-27 08:44] aayusharora commented on #1215
@geekyd Only option is to make a column a bit smaller so that they all come on screen without the scroll bar.
- If the text exceeds the max-column width, wrap it inside the box.
- If the number of columns exceeds the table width on screen, then introduce the X-axis scrollbar.
This can be done using `overlay: scroll`

[2017-04-27 09:07] anu-007 commented on #1228
@mariobehling following steps will demonstrate how to develop app as progressive web app -

**1. Adding a Web app manifest file -** this will describe meta information about a site and control how our it might look when added to a user's home screen.
**2. Adding a service worker -** It is a background script that a browser can run even while a user isn't on our page, this will provide offline supp

[2017-04-27 12:56] mariobehling commented on #1231
* [ ] Dates and other buttons still disaligned. They are not in the same exact row.

![screenshot from 2017-04-25 12-57-02](https://cloud.githubusercontent.com/assets/1583873/25382159/c0fd61d0-29b6-11e7-9b5f-4f3257b4140a.png)

[2017-04-27 17:53] geekyd opened #1241 "Navbar in rooms page not working properly"
**Actual Behaviour**

The navbar in rooms page allows the user to directly jump to the sessions of specific date. However this is not working properly.

On clicking same room in navbar, for different date the page scrolls to the same location in the page.
eg. FOSSASIA SUMMIT
On clicking Digital Design Studio (Ground Floor) for 17th march & 18th march page scrolls to the
Session of 17th march only.

[2017-04-27 18:01] #1215 closed

[2017-04-27 18:01] #1232 closed

[2017-04-27 18:04] mariobehling commented on #1233
Nice improvements of the last merge, but please also improve the following:
* Please make use of complete white area.
* Please ensure you use the exact same area. Keep the heading date e.g. "Sunday, 14th May" in the same spot as in the list view

![screenshot from 2017-04-27 20-03-13](https://cloud.githubusercontent.com/assets/1583873/25497355/92b138c2-2b84-11e7-9c65-eb0beb24f91d.png)

[2017-04-27 18:10] geekyd commented on #1233
@mariobehling I have made made the columns smaller to ensure that we try to show as much information as possible without having the scroll bars on the view. So thats why the view is small for the dates which have less number of rooms. However we can increase the width of the columns if required.

[2017-04-27 18:11] mariobehling commented on #1233
If additional session info is shown, avoid internal scroll bars and overlap following areas. Compare to implementation of open event orga server.

![screenshot from 2017-04-27 20-09-53](https://cloud.githubusercontent.com/assets/1583873/25497696/b9959770-2b85-11e7-9fa5-79a9c1b350e0.png)

[2017-04-27 18:14] mariobehling commented on #1233
If there are too many columns we need some kind of internal scroll bottom bar I guess. If there are 4 or 5 columns please use the full width.

Please make it work in a way that the columns work well if there are 3 columns, 4, 5, 6, and more. What is the best solution? Please propose a suitable solutions that makes good use of the space and which is flexible as well.

[2017-04-27 18:21] geekyd commented on #1233
One solution that will ensure a flexible view will be in Javascript

1. Calculating the width of the view and the container of the view.
2. If the width of view is less than the container we will calculate the difference by
`Difference = WidthContainer - WidthView`
and divide it by the number of columns n
`Offset = Difference/n`
3. Adding offset to the width of each column.

[2017-04-27 18:23] aayusharora commented on #1233
Thanks @mariobehling
`Please make it work in a way that the columns work well if there are 3 columns, 4, 5, 6, and more. What is the best solution? Please propose a suitable solution that makes good use of the space and which is flexible as well.`
- Because the table has dynamic data. There will be a certain maximum limit after which the scrollbar have to be introduced.
- Use max-width of the tabl

[2017-04-27 18:44] geekyd commented on #1233
@aayusharora currently
All the columns have a min-width and a max-width. The display property of the div is set to inline block.This is good if we have the width of the table more than the threshold, which will inroduce a scroll bar. However I'm not clear how will we utilise the space without using js. Please guide.

[2017-04-27 18:47] aayusharora commented on #1233
@geekyd Which space are you talking about.
Can you give a snapshot so that I can think a propose a solution, if it can be done through CSS.

[2017-04-27 18:52] #1241 closed

[2017-04-27 18:55] geekyd commented on #1233
As @mariobehling suggested we need to make use of the white space of the page.
Please check this. Thanks :)
![92b138c2-2b84-11e7-9c65-eb0beb24f91d](https://cloud.githubusercontent.com/assets/12807846/25499444/10d0229e-2ba9-11e7-8cbb-a8c364f98b5e.png)

[2017-04-27 18:57] aayusharora commented on #1233
Why can't we make this table full width below the search bar? As the tracks colors bar is intend to be near the footer in the grid view.

[2017-04-27 19:03] geekyd commented on #1233
@aayusharora If you will check the HTML we have `calendar` which has `times` which contains the time and `rooms` which contains all the rooms each of them have class 'room'. If we make the width of rooms 100% then it wont solve our purpose as in css of `room` we have specified min-width and max-width. it wont fill its parent and remain unchanged.

[2017-04-27 19:31] aayusharora commented on #1233
@geekyd  Correct, Thanks.
JS seems an only solution for this problem right now for the `table having less width than container`, please go ahead with this and we will do future improvements.
But please handle the other stuff using CSS.

[2017-04-27 20:17] geekyd opened #1243 "Changing the source of gh pages to FOSSASIA summit"
Changing the source of gh-pages from OSCAL back to FOSSASIA Summit.

[2017-04-27 20:25] geekyd opened #1245 "OSCAL : Text not clearly visible for sessions"
The text for sessions with darker background colour is not visible clearly. We can either change the colours for the event or dynamically detect if the colours used in background are dark or light and make text colour light or dark accordingly.

Please share your opinions regarding to this issue.

**SCREENSHOT**
![screen shot 2017-04-28 at 1 30 05 am](https://cloud.githubusercontent.com/assets/128

[2017-04-27 20:28] Princu7 commented on #1245
Exactly. I was thinking about it too. The colors of the tracks have been defined by the organizers themselves so it wouldn't be wise to change them. What we can do is make a function which tells whether the track color is dark or light. If it is dark, then use the white font color and if it is light, then use the black font color.

[2017-04-28 02:30] mariobehling commented on #1228
@Princu7

Push notifications are nice, but if they require a database it would mean we cannot use Github Pages anymore. Can we do without them?

@Princu7 @anu-007

Do these scripts run on Github pages?

[2017-04-28 02:59] geekyd commented on #1228
@mariobehling We will be able to use Github pages even after we introduce the notification feature for the generated webapp. We will be using the existing generator server for notifications.

High level explanation of approach:

1. We will be creating an api for push in the generator that will be triggered by the generated web app when ever a user bookmarks an event. which will trigger the api for

[2017-04-28 03:06] sumedh123 commented on #1228
@mariobehling @geekyd  We will require application server. The architecture is 3-tier, i.e Client, Push messaging server, Application Server. The service workers run on github pages but the main problem is that without application server we cannot store the subscription ids of the clients. One way is to implement API.

[2017-04-28 03:42] mariobehling commented on #1228
@geekyd @sumedh123 Our generator server is not supposed to be a reliable solution. The beauty of the web app is that it can run without any server anywhere. We already have a solution that requires a server -> the open event orga server. We can implement anything that requires a server here.

What parts can be done without a server? Does this make sense at all if we don't have a server?

[2017-04-28 04:06] geekyd commented on #1228
@mariobehling

Yes thats a great suggestion. Totally makes sense as we already have an api server at the orga server. We can implement the notification services on the orga server and keep the web app independent of it server.

We can implement offline features of PWA without any server as demoed  by @anu-007 . There shall be no problem in doing this for the generated web-app.

[2017-04-28 04:10] mariobehling commented on #1228
Ok, thanks for clearing up the question. Please open issues to get this going. Cheers.

[2017-04-28 06:23] Princu7 commented on #1228
@geekyd @sumedh123 Thanks for the explanations.

@mariobehling Yes, we do require a server for push notifications since we would need a server to store the details of the future event sessions and send them at the appropriate time.

Yes, we can use the orga-server for sending the notifications. But, that would be kinda putting additional load on the server. It is already used for a variety of task

[2017-04-28 07:00] geekyd commented on #1228
We need to evaluate the pros and cons of using orga-server and generator-server for implementation of the notification services. I have made some points please have a look.

**Orga-server**
Pros:

- We will have a centralised notification service that can be extended to other apps like android application of the event.
- We already have a structured framework for designing the api.

Cons:
- The se

[2017-04-28 07:56] mariobehling commented on #1228
@Princu7 My question was mainly intended to understand how we can make the app work offline. I don't worry so much about push notifications at the moment. Nice feature, but not essential at this point. We have more basic stuff to worry about, e.g. loklak/Twitter integration is not working right now.

So, I understand: We can have offline functionalities without an additional server. This is all th

[2017-04-28 07:59] mariobehling opened #1247 "Implement offline features as PWA"
Please implement offline features of app as a PWA as discussed in https://github.com/fossasia/open-event-webapp/issues/1228.

The PWA functionality should be implemented without any requirement of a server at this point of time.

[2017-04-28 08:00] Princu7 commented on #1228
@mariobehling Ah. No problem at all. We can have more detailed discussions later on it. The first step is to make the app work offline. I created some issues regarding the offline features #1218 and #1219 . Will start working on it soon.

[2017-04-28 08:01] mariobehling commented on #1228
Please follow up on the implementation of offline functionalities here https://github.com/fossasia/open-event-webapp/issues/1247

Thanks everyone. Excellent discussion!

[2017-04-28 08:03] mariobehling commented on #1228
@Princu7 Ok, if any issue are duplicate, please close. Only thing, I would like to ask you, please ensure we don't need to store a DB of data of events on the server. This would mean we need to take care of migrations etc. Keep it lean, please. Avoid any dependency of the app on the server. Thanks.

[2017-04-28 08:04] #1228 closed

[2017-04-28 09:26] geekyd commented on #1245
A corresponding issue was opened on orga-server please check [#3554](https://github.com/fossasia/open-event-orga-server/issues/3554)

[2017-04-28 09:26] #1245 closed

[2017-04-28 09:29] geekyd commented on #1229
@sumedh123 Any updates? This is an important issue.

[2017-04-28 09:51] sumedh123 commented on #1231
@mariobehling Please review.
Screenshots for the change :
![alignment](https://cloud.githubusercontent.com/assets/17925669/25523929/1e7f06da-2c26-11e7-9c35-0a84e8c68ddd.png)
![pills](https://cloud.githubusercontent.com/assets/17925669/25524006/6036d530-2c26-11e7-9107-994e8fbc6d40.png)

[2017-04-28 09:54] sumedh123 commented on #1229
@geekyd Please proceed if you can.

[2017-04-28 15:07] geekyd commented on #1229
@mariobehling @sumedh123 It seems that the query for loklak api is not returning any result, this is causing the issues. please have a look at this link http://api.loklak.org/api/search.json?q=fossasia%20from:fossasia it does not return anything.

[2017-04-28 15:40] sumedh123 commented on #1229
@geekyd Yes, you are correct. Look at the developer tools console. There is no data fetched and it shows the error that "cannot read the property 'text' of undefined."

[2017-04-29 06:01] geekyd commented on #1229
@mariobehling @sumedh123 I contacted loklak on gitter, the loklak server due to recent changes only stores tweets that are one month old. Fossasia twitter handle has no new tweets for the specific time frame,  that's why we are not seeing any tweets on the web app.

[2017-04-29 11:03] anu-007 commented on #1247
@mariobehling  first of all, sorry for the late response as my exams are currently going on.

I like to add more on push notifications that we do not need any external database or server for notifications we can store relevant data in browser's indexedDB (like sessions alerts and bookmarked sessions information etc.) also there is no need of any server for this purpose we should use notifications

[2017-04-29 11:17] mariobehling commented on #1247
@anu-007 Thanks for the input. We can come back to it once we have a need for notifications. For now we mainly need offline features. So, let's close the discussion on PWA now and get back to the code. We need  offline features. Cheers.

[2017-04-29 11:20] anu-007 commented on #1247
@mariobehling sure we will first concentrate on offline feature first. Thanks...!!

[2017-04-29 11:34] mariobehling opened #1249 "Ensure consistency across pages - Improve schedule and other pages"
We need to ensure consistency across pages. The schedule page has items located differently to other pages.

* Location of list/calendar view date heading is different to tracks/rooms page.
* Areas are not aligned in one left line. Indent is varying.
![screenshot from 2017-04-29 13-21-42](https://cloud.githubusercontent.com/assets/1583873/25555166/6935ef22-2cdf-11e7-83f6-173cc6b316ed.png)
![screen

[2017-04-29 11:47] anu-007 commented on #1249
@mariobehling I would like to work on this issue.

[2017-04-29 11:48] geekyd commented on #1249
@anu-007 Go ahead 👍

[2017-04-29 11:53] mariobehling commented on #1229
@geekyd What about the OSCALconf? It was neither working as far as I could see. There are tweets. Did you try this out with another twitter account?

http://loklak.org/api/search.json?timezoneOffset=-120&q=from%3AOSCALconf

[2017-04-29 12:06] geekyd commented on #1229
@mariobehling I think the problem is with the change of query structure of loklak api. The client that we are using in the web app has outdated query syntax. I contacted loklak and they provided the new syntax will be sending a PR soon.

[2017-04-29 12:37] mariobehling commented on #1229
Good job. As you understand the issue now, please help to solve the same issue here:
* https://github.com/fossasia/loklak-webtweets
* https://github.com/fossasia/fossasia.org

Please always use api.loklak.org instead of loklak.org.
Thanks!

[2017-04-29 12:40] geekyd commented on #1229
@mariobehling Okay I will solve the issues for the required applications. I have updated the PR changed the url to api.loklak.org. Thanks

[2017-04-29 12:47] #1229 closed

[2017-04-30 08:49] aayusharora commented on #1243
For testing purposes of oscal, it was changed to oscal end point. Any reasons for changing back to this @geekyd @Princu7.

[2017-04-30 09:47] mariobehling opened #1251 "Add full screen pop-out option of calendar view similar to orga server"
Add pop-out option of calendar view next to the date heading similar to orga server.

![screenshot from 2017-04-30 11-46-00](https://cloud.githubusercontent.com/assets/1583873/25563336/a82e55b4-2d9a-11e7-8596-a56a2ee0cc47.png)

[2017-04-30 09:49] mariobehling commented on #1231
Search bar also still disaligned on all pages.

![screenshot from 2017-04-30 11-48-36](https://cloud.githubusercontent.com/assets/1583873/25563348/0427c864-2d9b-11e7-836a-3541847df909.png)

[2017-04-30 09:51] mariobehling opened #1252 "Implement pdf download of schedule, especially the calendar view"
Implement a pdf download of the schedule similar to the orga server.

[2017-04-30 09:53] mariobehling opened #1253 "Implement ics/ical to sync calendars with schedule"
Propose and implement ics/ical to sync with calendars.

[2017-04-30 09:57] mariobehling opened #1254 "Merge dev to master"
Please merge development to master branch. Ensure the branches are even.

[2017-04-30 10:51] geekyd commented on #1253
@mariobehling This is a great feature for the webapp. The speakers and users can add the sessions to their calendars. I have proposed something similar in my GSOC proposal letter. The idea is to create a calendar, and provide a button for sessions which will let them save the sessions directly to their calendar. I have proposed to use google calendar api, for creating a public calendar with all se

[2017-04-30 10:53] geekyd commented on #1243
@aayusharora
@mariobehling Suggested that we should only use FOSSASIA Summit for the gh-pages. Also the auto deployment was not working after the change of the source for gh-pages.

[2017-04-30 15:25] aayusharora commented on #1243
Where is it suggested @geekyd. Can you please relate this to that issue.

[2017-04-30 15:34] mariobehling opened #1255 "Footer: Use local license button and provide correct link"
* [ ] Please use the small Creative Commons buttons instead of large buttons.
* [ ] Store buttons on the itself. Do not embed external buttons.
* [ ] Use the correct link to the actual license
* [ ] There is a link to the organizer, e.g. "© 2017 FOSSASIA and Science Centre Singapore." with a wrong link. Take out that link.
* [ ] Behind "The website and it's contents are licensed under Creative Com

[2017-04-30 15:35] #1243 closed

[2017-04-30 16:12] geekyd commented on #1243
@aayusharora Please check the chat on gitter.

[2017-04-30 20:01] mariobehling commented on #1243
@aayusharora You have changed the source without any info or issue. That is why it is changed back.

[2017-05-01 06:44] aayusharora commented on #1235
@geekyd  @Princu7  @mariobehling would you suggest generating an app for OSCAL for each PR merge so that we can test better. What are your suggestions?

[2017-05-01 08:02] aayusharora commented on #1233
Please check the comment and the scope of improvement for web performance.
https://github.com/fossasia/open-event-webapp/pull/1246/files

[2017-05-01 08:31] aayusharora opened #1256 "Performance Improvement in Table view"
Hey, @geekyd @Princu7 This is not the right approach to set width and current width every time the page loads with JS.
I hope you guys understand the effects of this on the performance of the app.
Proposed approach with some reasoning:

Can we do this calculation on the server calculation of offset we already know the column width and we already know the number of columns?
After getting the offset

[2017-05-01 08:34] aayusharora commented on #1256
## How to calculate column width on Server?
Assuming we have a full-width container that will be 100vw ( 100% of the viewport ) which is generally 1280px.
I doubt why we need anything from frontend, we can structure the table like this.

Calculate the width the table needs from server => It will be calculated as
container width = no. of columns * width per column
Assuming we always want to give a

[2017-05-01 08:36] geekyd commented on #1256
@aayusharora We can go with what you are suggesting, But I'm not quite sure that would have any influence over the load speeds of the page. The function adjustCalendar() is only triggered when the user is in the calendar view and not onLoad of the page. If we really want to improve the load time of the page we should

- Not execute the display() function onload. That would significantly help as on

[2017-05-01 08:38] geekyd commented on #1233
Closing this. as further discussion is on #1256

[2017-05-01 08:38] #1233 closed

[2017-05-01 08:42] aayusharora commented on #1256
@geekyd I always suggest measuring the improvements.
Wherever a JS is involved making a CSS change, most importantly Layouting which is changing here, the whole cycle of `Layout => Paint => Composite` takes place which affects the performance.
Also if it contributes to performance increment of say 1ms ( which is very small ) but it will vary linearly with the data.

[2017-05-01 08:48] aayusharora commented on #1256
@geekyd Can you please comment the file here that uses `display()` function code, I will see if that can be optimized and will create a separate issue.

[2017-05-01 08:50] geekyd commented on #1256
@aayusharora `display()` is used in schedule, tracks and rooms page.

[2017-05-01 11:52] mariobehling opened #1258 "Move search to top bar in mobile view"
In the mobile the search bar should be moved to the main menu bar similar to the Android app.

Please show a search button and expand this search button into a search field on click.

![screenshot_2017-05-01-13-02-37](https://cloud.githubusercontent.com/assets/1583873/25579226/41c8a220-2e76-11e7-864f-14fdf8bd60e5.png)

[2017-05-01 12:16] mariobehling opened #1259 "Change behavior of gray day buttons and related changes on tracks and rooms page"
This is a follow up to earlier discussions about the date buttons on the different pages. There are two kinds of buttons for dates on the pages. The question is: How can the functionality of these two buttons be united. The idea of this issue is: The dark gray buttons should act in a way like the date buttons in the calendar view.

The desired functionality is:

* On click
  * a) expand to show tr

[2017-05-01 12:41] geekyd commented on #1259
@mariobehling Nice solution. I did something similar to the issue #1206 in the PR #1123, but used the upper date buttons for implementing the functionality. I will make the changes according to the specification.

[2017-05-01 13:07] sumedh123 commented on #1259
@mariobehling @geekyd I think we should change the colors of the buttons. They are quite confusing. I mean in they are not highlighted in current state and it might misguide the user in which view is he using the app. i.e List view or calender one. An active button would prove helpful with some colors. Opinions?

[2017-05-01 13:15] mariobehling commented on #1259
@sumedh123 One thing is functionality. We can go step by step. You can propose other colors in a separate issue. Surely the colors are related, but let's fix one thing at a time. If we focus on one thing at a time in issue, I hope to speed up our development process. Honestly, I think we need to improve here, but I am not sure, how to achieve this - less discussion and faster code production. Mayb

[2017-05-01 13:27] sumedh123 commented on #1259
Sure @mariobehling .

[2017-05-01 13:55] mariobehling opened #1260 "Mobile View: Move in (slide on top) menu from right instead from top down"
In mobile view, please change the menu dropdown to be a slide on top menu moving in from the ride side. Occupy the whole height of the screen.

![screenshot from 2017-05-01 15-53-16](https://cloud.githubusercontent.com/assets/1583873/25581156/534743ca-2e86-11e7-899e-db9449d7aeab.png)

Ensure to slide "on top" from the right side of the screen. This way we make it more similar to our Android app. A